{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	

-->
{% block stylesheets %}
{{ block.super }}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

{%endblock%}
{% block content %}

<!-- Content
	================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Leave a Review</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li>Reviews</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <div id="add-listing">

                <!-- Section -->
                <div class="add-listing-section">
                    <form id="reviewForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Headline -->
                        <div class="add-listing-headline">
                            <h3>
                                <i class="sl sl-icon-doc"></i> {{business_review}}</h3>
                        </div>

                        <!-- Title -->
                        <div class="row with-forms">

                            <h5>Your Rating</h5>
                            <div class="form-group">
                                {{ form.rating }}

                                <div class="clearfix"></div>
                                <div class="leave-rating margin-bottom-30">
                                    <input type="radio" name="rating" id="rating-5" value="5"/>
                                    <label for="rating-5" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-4" value="4"/>
                                    <label for="rating-4" class="fa fa-star"></label>
                                    <input checked type="radio" name="rating" id="rating-3" value="3"/>
                                    <label for="rating-3" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-2" value="2"/>
                                    <label for="rating-2" class="fa fa-star"></label>
                                    <input type="radio" name="rating" id="rating-1" value="1"/>
                                    <label for="rating-1" class="fa fa-star"></label>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                            <h5>Title</h5>
                            <div class="form-group">
                                {{ form.title.errors }} {{ form.title }}
                            </div>

                            <h5>Description</h5>
                            <div class="form-group">
                                {{ form.content_positive.errors }} {{ form.content_positive }}
                            </div>


                        </div>


                        <!-- Section / End -->

                        <input type="submit" id="submitReview" name="submit-submission" value="Continue"
                               class="button margin-top-30"/>

                    </form>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- Content / End -->

{% endblock content %}

{% block javascripts %}
{{ block.super }}

<script>
    $('.leave-rating input').change(function () {
        var radio = $(this).val();
        $('#rating').val(radio);
    });

</script>
{% endblock javascripts %}