{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	

-->
{% block content %}

<!-- Content
	================================================== -->
	<div class="dashboard-content">

	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Reviews</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
						<li>Reviews</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">

			{% if messages %}
				{% for message in messages %}
					{% ifequal message.tags "review_added success" %}
						<div class="col-md-12">
							<div class="notification success closeable">
								<p> {{message}}</p>
								<a class="close"></a>
							</div>
						</div>
					{% endifequal %}
				{% endfor %}
			{% endif %}

		<!-- Listings -->
		<div class="col-lg-12 col-md-12">

			{% if bookings_to_review %}
				<div class="dashboard-list-box margin-top-0 margin-bottom-20">
					<h4>Reviews to leave</h4>
					<ul>
						{% for booking in bookings_to_review %}

							{% comment %} <li><a href="{% url "booking_detail" pk=booking.pk %}">{{ booking }}</a></li> {% endcomment %}

							<li class="pending-booking">
								<div class="list-box-listing bookings">

									<div class="list-box-listing-content">
										<div class="inner">
											<h3>
												{{booking.get_booked_activity}} at {{ booking.business }}
											</h3>

											<div class="inner-booking-list">
													<h5>Date:</h5>
													<ul class="booking-list">
														<li class="">{{booking.date_from|date:"d F y"}}</li>
													</ul>
												</div>

											<a href="{% url 'reviews:create' pk=booking.pk %}" class="rate-review ">
												<i class="sl sl-icon-envelope-open"></i> Leave a Review</a>

										</div>
									</div>
								</div>
								{% comment %} <div class="buttons-to-right">
									<a href="#" class="button gray reject">
										<i class="sl sl-icon-close"></i> Cancel</a>
									<a href="#" class="button gray approve">
										<i class="sl sl-icon-check"></i> Approve</a>
								</div> {% endcomment %}
							</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}


			<div class="dashboard-list-box margin-top-0">

				<!-- Sort by -->
				<!-- <div class="sort-by">
					<div class="sort-by-select">
						<select data-placeholder="Default order" class="chosen-select-no-single">
							<option>Any Status</option>
							<option>Approved</option>
							<option>Pending</option>
							<option>Canceled</option>
						</select>
					</div>
				</div> -->

				<h4>Reviews List</h4>
				<ul>
					{% for review in reviews %}

						{% comment %} <li><a href="{% url "booking_detail" pk=booking.pk %}">{{ booking }}</a></li> {% endcomment %}

						<li class="pending-booking">
							<div class="list-box-listing bookings">

								<div class="list-box-listing-content">
									<div class="inner">
										<h3>
											{{review.title}}
										</h3>

										<div class="inner-booking-list">
											<h5>Business:</h5>
											<ul class="booking-list">
												<li class="highlighted">{{ review.business }}</li>
											</ul>
										</div>

										<div class="inner-booking-list">
												<h5>Date:</h5>
												<ul class="booking-list">
													<li class="highlighted">{{review.created|date:"d F y"}}</li>
												</ul>
											</div>

										<div class="inner-booking-list">
											<h5>Rating:</h5>
											<div class="star-rating" style="display: inline-flex" data-rating="{{review.rating}}">
											</div>

										</div>

										{% comment %} <a href="#small-dialog" class="rate-review popup-with-zoom-anim">
											<i class="sl sl-icon-envelope-open"></i> Send Message</a> {% endcomment %}

									</div>
								</div>
							</div>
							{% comment %} <div class="buttons-to-right">
								<a href="#" class="button gray reject">
									<i class="sl sl-icon-close"></i> Cancel</a>
								<a href="#" class="button gray approve">
									<i class="sl sl-icon-check"></i> Approve</a>
							</div> {% endcomment %}
						</li>
					{% endfor %}





				</ul>
			</div>
		</div>

	</div>

	</div>
	<!-- Content / End -->

{% endblock content %}