{% extends "base.html" %} {% load i18n %} {% load account %} 

{% block head_title %} 
    {% trans "Confirm E-mail Address" %}
{% endblock %} 

{% block content %}

<div class="container ">
    <div class="row" style="min-height: 400px;padding-top:50px">
        <div class="col-md-7 col-md-offset-3">

            <h1>{% trans "Social Network Login Failure" %}</h1>

            <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

            <p>Code: {{ auth_error.code }}, Error: {{ auth_error.exception }}</p>

        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
</div>

{% endblock %}