{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {% load static %} 

{% comment %} === TO DO === 

- Rework the text
- mobile 
- Fix odd looking between 991px and 1024px width 
{% endcomment %} 

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" /> 
{{ block.super }} 
{% endblock %} 

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <h3 class="title-border-bottom" style="text-align: center;">{% trans "Sign In" %}</h3>
            
            {% providers_media_js %}
            <p>
                <a class="btn btn-block btn-social btn-lg btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">
                    <span class="fa fa-facebook"></span>
                    Sign in with Facebook
                </a>

                <a class="btn btn-block btn-social btn-lg btn-google" href="{% provider_login_url "google"  %}">
                    <span class="fa fa-google"></span>
                    Sign in with Google
                </a>
            </p>

            <form class="login-form" method="post" action="{% url 'account_login' %}">
                {% csrf_token %} {{ form.non_field_errors }}
                <div class="form-group">
                    {{ form.login.errors }} {{ form.login.label_tag }} {{ form.login }}
                </div>

                <div class="form-group">
                    {{ form.password.errors }} {{ form.password.label_tag }} {{ form.password }}
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}

                <div class="form-group">
                    <button type="submit" class="button btn-block">
                        <i class="fa fa-sign-in"></i> {% trans "Sign In" %}
                    </button>
                </div>
                
                
                <div class="extra-actions">
                    <hr />
                    {% comment %}
                    <p>{% trans "Not a member?" %}
                        <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
                    {% endcomment %} 

                    {% comment %} {% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
                    <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third
                        party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account
                        and sign in below:{% endblocktrans %}</p> -->

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <!-- <div class="login-or">{% trans 'or' %}</div> -->

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %} {% else %}
                    
                    {% endif %} {% endcomment %}
                    <p>
                        {% blocktrans %}
                        
                        Don't have an account yet? Please 
                            <a style="font-weight: bold;color: #f26f28;text-decoration: underline;" href="{{ signup_url }}">Sign Up</a>
                        {% endblocktrans %}
                    </p>
                    <br>
                    <br>
                </div>
            </form>
        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
</div>

{% endblock %}
<!-- Scripts ================================================== -->

{% block javascripts %} 
{{ block.super }} 
{% endblock javascripts %}