{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {% load static %} 

{% block head_title %}{% trans "Signup" %}{% endblock %} 

{% block stylesheets %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}" /> 
{{ block.super }} 
{% endblock %} 

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">


            <h3 class="title-border-bottom centered-content">{% trans "Sign Up" %}</h3>
            <p class="center">{% blocktrans %}Already have an account? Then please
                <a style="font-weight: bold;color: #f26f28;text-decoration: underline;" href="{{ login_url }}">Sign In</a>.{% endblocktrans %}
                
                {% providers_media_js %}
                
                    <a class="btn btn-block btn-social btn-lg btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">
                        <span class="fa fa-facebook"></span>
                        Continue with Facebook
                    </a>
    
                    <a class="btn btn-block btn-social btn-lg btn-google" href="{% provider_login_url "google"  %}">
                        <span class="fa fa-google"></span>
                        Continue with Google
                    </a>
                </p>

            <form class="register-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <p>
                    <button type="submit" class="button btn-block">{% trans "Sign Up" %} &raquo;</button>
                </p>
                <hr />
                <p>
                    By signing up, you agree to our 
                    <a style="font-weight: bold;color: #f26f28;text-decoration: underline;" href="{% url 'tandc' %}">Terms of Use</a>
                </p>
            </form>
            
                    
        </div>
        <!-- /.col-* -->
    </div>
    <!-- /.row -->
</div>
{% endblock %}