<div class="row fs-switcher">
    <div class="col-md-6">
        <!-- Showing Results -->
        <p class="showing-results">{{ activities_count }} Results Found </p>
    </div>
</div>

<div class="row fs-listings list-container">
    <div class="inner-row">
        {% for activity in object_list %}
            <div class="col-lg-6 col-md-12 ">
                <a href="{{ activity.get_absolute_url }}" class="listing-item-container"
                   data-marker-id="{{ forloop.counter }}">
                    <div class="listing-item">
                        <img src="{{ activity.get_image_url }}" alt="">
                        {% if activity.check_status == True %}
                            {% for hours in activity.opening_hours.all %}
                                {% if hours.get_weekday_display == day and hours.from_hour <= hour and hours.to_hour >= hour %}
                                    <div class="listing-badge now-open">Now Open</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="listing-item-content">
                    <span class="tag">
                        {{ activity.get_first_category }}
                    </span>
                            <h3>{{ activity.name }}</h3>
                            <span>{{ activity.city }}</span>
                        </div>
                        <!-- <span class="like-icon"></span> -->
                    </div>
                    <div class="star-rating" data-rating="{{ activity.get_rating }}">
                        <div class="rating-counter">({{ activity.get_reviews_count }} reviews)</div>
                    </div>
                    <ul class="listing-details">
                        <!-- Activity Details -->
                        {% for act in get_activities %}
                            <li>Cooking class</li>
                        {% endfor %}
                    </ul>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pagee">
    {% include 'ajax/pagination.html' %}
</div>



