{% if page_obj.has_next %}
    <div data-attr="{{ page_obj.next_page_number }}" class="nex paginate_by text-center" style="display:none;">
        <a class=" button border text-center">View More</a>
    </div>
{% else %}
    <!--<div class="visited text-center">-->
    <!--<a class="button border">View More</a>-->
    <!--</div>-->
{% endif %}
