.detail-banner {
    background-position: center 60%;
    background-size: 100% auto;
    height: 500px;
    position: relative;
    overflow: hidden;
    &:before {
        background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
        background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 70%, white 90%);
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2; }
    @media (max-width: $screen-md-max) {
        &:before {
        background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 50%, white 90%);
        background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 50%, white 90%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.9) 50%, white 90%); } }
    @media (max-width: 991px) {
        &:before {
        background: rgba(255, 255, 255, 0.9); } }

    @media (max-width: $screen-xs-max) {
        background-size: cover;
        height: auto;
        padding: 30px 0;
    }
    @media (min-width: 768px) {
         .detail-banner-wrapper {
          bottom: 0;
          left: 0;
          padding-left: 15px;
          padding-right: 15px;
          position: absolute;
          right: 0; } }

    &.detail-banner-simple {
        height: 350px;
        background-color: darken($color-primary, 10%);

        @media (max-width: $screen-xs-max) {
            height: auto;
        }
    }

    video {
        height: auto;
        width: 100%;
        position: absolute;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        top: 50%;

        @media (max-width: $screen-xs-max) {
            display:none;
        }
    }

    iframe {
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }

 

    .container {
        height: 100%;
        position: relative;
        z-index: 100;
    }



    .detail-banner-meta-info, .detail-banner-actions a {
            pointer-events: auto; 
          
    }

    .detail-banner-price.reduced-price {
        background-color: $color-orange; }

    .detail-banner-price {        
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
        background-color: $color-green;
        color: #fff;
        display: inline-block;
        font-size: 21px;
        font-weight: 300;
        pointer-events: auto;
        vertical-align: -1px;
        transition: all ease .3s; 
        @media (max-width: $screen-xs-max) {
            margin-top: 30px; } 


        span.detail-banner-price-label {
            display: inline-block;
            padding: 6px 2px 6px 18px; 
            @media (max-width: $screen-xs-max) {
                display: none; } }

        span.detail-banner-price-value {
            display: inline-block;
            font-size: 24px;
            font-weight: 500;
            padding: 6px 18px 6px 2px;
            vertical-align: 0; 
            @media (max-width: $screen-xs-max) {
                padding-left: 18px; } }

        .inventor-shop-wrapper {
            border-left: solid 1px rgba(255, 255, 255, 0.5);
            float: right; 
            button {
              background-color: rgba(255, 255, 255, 0.2);
              font-size: 0;
              height: 46px;
              opacity: 0.7;
              transition: opacity .15s linear; 
              &:before {
                color: #fff;
                content: "\f07a";
                display: inline-block;
                font-family: fontawesome;
                font-size: 23px;
                -webkit-font-smoothing: antialiased;
                height: 20px;
                line-height: 20px;
                margin-right: 5px;
                text-align: center;
                width: 20px; }
              &:after {
                height: 0; }
              &:hover, &:active, &:focus {
                background-color: rgba(255, 255, 255, 0.3) !important;
                opacity: 1; }
              }
              }
            }

    h1, h2 {
        color: #444d56;
        font-family: "Montserrat", "Roboto", "Arial", "sans-serif";
        font-size: 55px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 14px;
        text-transform: uppercase;

        @media (max-width: $screen-xs-max) {
            font-size: 25px;
        }

        .listing-title-logo {
            max-height: 65px;
            max-width: 130px;
        }

        .listing-verified {
            color: #fff;
            font-size: 0;

            &:before {
                background-color: $color-green;
                border: solid 1px #fff;
                border-radius: 50%;
                content: "\f00c";
                display: inline-block;
                font-family: fontawesome;
                font-size: 10px;
                -webkit-font-smoothing: antialiased;
                height: 20px;
                line-height: 18px;
                margin-left: 7px;
                text-align: center;
                vertical-align: 14px;
                width: 20px;

                @media (max-width: $screen-xs-max) {
                    vertical-align: 4px;
                }
            }
        }

        .claim-listing {
            color: rgba(68, 77, 86, 0.8);
            font-size: 12px;
            font-weight: normal;
            pointer-events: auto;
            opacity: .7;
            text-transform: none;
            transition: opacity .15s linear;
            vertical-align: 12px;

            @media (max-width: $screen-xs-max) {
                vertical-align: 4px;
            }

            &:before {
                border: dashed 1px rgba(68, 77, 86, 0.8);
                border-radius: 50%;
                color: rgba(68, 77, 86, 0.8);
                content: "\f00c";
                display: inline-block;
                font-family: fontawesome;
                font-size: 10px;
                -webkit-font-smoothing: antialiased;
                height: 20px;
                line-height: 18px;
                margin-left: 7px;
                margin-right: 5px;
                text-align: center;
                vertical-align: 1px;
                width: 20px;
            }

            &:hover {
                opacity: 1;

                &:before {
                    //    border: solid 1px #fff;
                    //    background-color: #fff;
                    //    color: transparent;
                }
            }
        }
    }

    .detail-banner-meta {
        clear:left;
        float:left;
        margin-bottom:40px;
        width:30%;
        @media (max-width: $screen-md-max) {
            width: 100%;
            margin-bottom: 0;
        }

        @media (max-width: $screen-sm-max) {
            width: 50%;
            margin-bottom: 0;
        }
        @media (max-width: $screen-xs-max) {
            margin-bottom: 20px;
            width: 100%; 
        }
    }
    .detail-banner-meta-info {
        color: #444d56;
        font-family: Lato;
        opacity: 0.9;
        padding: 5px 0; 
        @media (max-width: $screen-sm-max) {
            padding: 15px 0; } 
        @media (max-width: $screen-xs-max) {
            padding: 5px 0; } 
        &:first-child {
          padding-top: 0; }
        @media (max-width: $screen-sm-max) {
            &:first-child {
            padding-top: 10px; } }
            a {
            color: #444d56; 
                &:hover {
                    text-decoration: underline; }
                }
            i {
              margin-right: 8px;
              opacity: 0.2; }
             .inventor-shop-wrapper {
              display: inline-block; }
             .inventor-shop-wrapper button {
                margin-left: 10px;
                margin-top: -4px;
                min-height: 24px;
                padding: 5px 10px; } 
    }
    .detail-banner-actions {
        float: right;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: right;
        width: 70%; 
        @media (max-width: $screen-md-max) {
              margin-top: 20px;
              margin-bottom: 20px;
              text-align: left;
              width: 100%; }
          @media (max-width: $screen-sm-max) {
              margin-top: 0;
              width: 50%; }
          @media (max-width: $screen-xs-max) {
              margin-bottom: 0;
              width: 100%; }
            }

    .detail-banner-btn {
        background-color: transparent;
        color: #444d56;
        cursor: pointer;
        display: inline-block;
        margin-left: 60px;
        opacity: 0.9;
        padding: 15px 0;
        transition: all linear .15s;
        @media (max-width: $screen-sm-max) {
              margin-left: 0;
              padding: 8px 0;
              width: 100%; } 
        i {
            color: $color-primary;
            font-size: 16px;
            margin-right: 5px;
        }
        &:first-child{
            margin-left: 0;
        }

        &:hover {
            opacity: 1;
            text-decoration: none;
        }

        &:focus, &:active {
            text-decoration: none;
        }

        &.heart.marked {
            color: $color-black-light;
            text-shadow: none;

            i:before {
                content: "\f004";
                color: $color-red;
            }
        }

        &.bookmark.marked {
            color: $color-black-light;
            text-shadow: none;

            i:before {
                content: "\f02e";
                color: $color-primary;
            }
        }
    }
    .inventor-reviews-rating {
        color: $color-yellow;
        float: left;
        font-size: 21px;
        margin-bottom: 15px;
        margin-top: -5px; }

    .inventor-reviews-rating.not-rated i {
          color: $color-yellow; 
        }
    
          .detail-label {
        background-color: $color-primary;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        padding: 3px 15px; 
        i {
          padding-right: 8px; }
        a {
          color: #fff; }
        a:hover {
            color: #fff;
            text-decoration: none; }
        }

    .inventor-favorites-btn-toggle,
    .inventor-compare-btn-toggle,
    .inventor-jobs-apply-btn,
    .print-listing,
    .share-listing {
        @extend .detail-banner-btn;
    }

    .detail-banner-slogan {
        color: rgba(68, 77, 86, 0.8);
        font-size: 16px;
        font-weight: 600;
        margin-top: -4px;
        margin-bottom: 15px;
    }

    iframe {
        width: 100%;
        transform: translateY(-50%);
        top: 50%;
        position: absolute;
    }
}