#primary {
    .widget_filter {
        form {
            @extend .clearfix;
            padding: 20px 5px 5px 5px;
        }

        button {
            display: block;
            margin: 0;
            width: 100%;
        }

        .form-group {
            @extend .col-sm-6;
            @extend .col-md-4;
            @extend .col-lg-3;
            margin-bottom: 20px;
        }

        .has-labels {
            .checkbox {
                padding-top: 22px;
            }

            button[type=submit] {
                margin-top: 23px;
            }
        }
    }
}

.widget {
    .widgettitle {
        color: $color-black;
        font-family: "Montserrat", "Roboto", "Arial", "sans-serif";
        font-size: 36px;
        font-weight: 300;
        margin: 0 0 60px;
        padding: 0;
        text-align: center;

        &:after {
            content: '';
            background-color: $color-primary;
            display: block;
            margin: 17px auto 24px;
            width: 40px;
            height: 2px;
        }
    }

    .description {
        font-size: 15px;
        line-height: 24px;
        margin: -45px 0 40px;
        padding: 0 20%;
        text-align: center;

        @media (max-width: $screen-xs-max) {
            padding: 0;
        }
    }

    .widget-inner {
        @extend .fullwidth;
        background-size: cover;
        background-position: center center;
    }

    .widget-pt {
        padding-top: 60px;
    }

    .widget-pb {
        padding-bottom: 60px;
    }

    .widget-border-top {
        border-top: solid 1px $color-gray-medium;
    }

    .widget-border-bottom {
        border-bottom: solid 1px $color-gray-medium;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px dashed rgba(black, .1);
            padding: 8px 0;
        }
    }

    .dropdown-menu li {
        border-bottom: none;
        padding: 0;
    }

    &.widget_archive, &.widget_categories {
        li {
            font-size: 0;

            a {
                font-size: 13px;
            }
        }
    }

    &.widget_archive, &.widget_categories, &.widget_pages, &.widget_nav_menu, &.widget_recent_entries, &.widget_meta {
        ul {
            li {
                border-bottom: none;
                padding-bottom: 0;

                a {
                    border-bottom: 1px dashed rgba(black, .1);
                    color: $color-gray-darker;
                    line-height: 26px;
                    display: block;
                    padding-bottom: 8px;
                    transition: all .15s linear;

                    &:hover {
                        color: $color-primary;
                        padding-left: 5px;
                    }

                    strong {
                        color: $color-primary;
                        font-size: 11px;
                    }

                    i {
                        color: $color-black;
                        margin-right: 5px;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: 0;
                    }
                }

                li {
                    padding-left: 20px;

                    &:last-child {
                        a {
                            border-bottom: 1px dashed rgba(black, .1);
                        }
                    }
                }
            }
        }
    }

    .textwidget {
        line-height: 24px;

        .footer & {
            color: transparentize(#fff, 0.4);
        }
    }

    .tagcloud {
        background-color: #fff;
        clear: both;
        display: inline-block;
        font-size: 13px;
        margin: 0;
        padding: 20px 20px 10px;
        position: relative;
        width: 100%;
        z-index: 0;

        a {
            background-color: $color-primary;
            border-radius: 3px;
            color: #fff;
            display: inline-block;
            font-size: 13px !important;
            font-weight: 300;
            margin-left: 9px;
            margin-right: 4px;
            margin-bottom: 10px;
            padding: 2px 6px 2px 8px;
            position: relative;
            transition: all linear .15s;
            z-index: 3;

            &:before {
                background-color: $color-primary;
                border-radius: 3px;
                content: "";
                display: block;
                height: 16px;
                left: -7px;
                position: absolute;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transition: all linear .15s;
                width: 17px;
                margin-top: 1px;
                z-index: -1;
            }

            &:after {
                background-color: #fff;
                border-radius: 50%;
                content: "";
                display: block;
                height: 5px;
                left: -2px;
                position: absolute;
                top: 8px;
                width: 5px;
            }

            &:hover {
                background-color: darken($color-primary, 10%);

                &:before {
                    background-color: darken($color-primary, 10%);
                }
            }
        }
    }

    &.widget_filter {
        form {
            @extend .box-shadow;
            background-color: #fff;
            padding: 20px;
        }

        .form-group:last-of-type {
            margin-bottom: 0;
        }

        button[type=submit] {
            @extend .btn-block;
            margin-bottom: 0;
        }
    }

    &.widget_google-map {
        .has-labels {
            .checkbox {
                padding-top: 22px;
            }

            button[type=submit] {
                margin-top: 23px !important;
            }
        }
    }

    &.widget_booking_form {
        form {
            @extend .box-shadow;
            background-color: #fff;
            padding: 20px;
        }

        .form-group:last-of-type {
            margin-bottom: 0;
        }

        button[type=submit] {
            @extend .btn-block;
            margin-bottom: 0;
        }

        .booking-restrictions {
            dl {
                float: left;
                width: 50%;
            }
        }
    }

    &.widget_call_to_action {
        color: #fff;
        font-size: 28px;
        font-weight: 300;

        .background-white {
            color: $color-black;
        }

        i {
            color: $color-primary;
            float: left;
            font-size: 44px;
            margin: 11px 35px 0 0;

            @media (max-width: $screen-xs-max) {
                float: none;
                margin: 0 0 20px 0;
            }
        }

        .btn {
            float: right;
            line-height: 24px;
            margin: 10px 0 0 0;
            padding-left: 30px;
            padding-right: 30px;

            @media (max-width: $screen-xs-max) {
                float: none;
            }
        }

        span, strong {
            display: block;
        }

        span {
            @media (max-width: $screen-xs-max) {
                margin: 0 0 20px 0;
            }
        }

        strong {
            color: $color-gray-darker;
            font-size: 17px;
            font-weight: 400;

            @media (max-width: $screen-xs-max) {
                float: none;
                margin: 0 0 20px 0;
            }
        }
    }
}

.header-content {
    .widget_nav_menu {
        float: right;

        a {
            border-bottom: 0 !important;
            padding-bottom: 0 !important;

            &:hover {
                padding-left: 0 !important;
            }
        }

        li {
            float: left;
            padding: 0 15px;
        }
    }
}

.footer-top .widget, .footer-bottom .widget, .sidebar .widget, #primary .widget {
    .widget-inner {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.footer-top .widget, .footer-bottom .widget, .sidebar .widget {
    .widgettitle {
        border-bottom: 1px solid $color-gray-medium;
        color: $color-gray-darker;
        font-size: 20px;
        line-height: 60px;
        margin: 0 0 30px 0;
        text-align: left;

        &:after {
            display: none;
        }
    }

    .description {
        font-size: 14px;
        margin: -10px 0 30px;
        padding: 0;
        text-align: left;
    }
}

.sidebar .widget {
    margin-bottom: 30px;
}

#primary .widget {
    .widgettitle {
        margin: 0 0 40px;
        text-align: left;
    }

    .description {
        margin: -30px 0 40px;
        text-align: left;
        padding: 0 20%;
    }
}

.footer-top .widget, .footer-bottom .widget {
    .widgettitle {
        border-bottom: none;
        line-height: 1.1;
        font-weight: 400;
        padding-left: 9px;

        &:before {
            content: '';
            background-color: $color-primary;
            display: inline-block;
            height: 18px;
            width: 2px;
            position: relative;
            top: 2px;
            left: -9px;
        }
    }

    &.widget_nav_menu {
        ul {
            @extend .nav;
            @extend .nav-pills;

            li {
                padding: 0;

                a {
                    border-bottom: none;
                    line-height: 1.9;
                    padding: 0 20px;

                    &:hover {
                        background-color: transparent;
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}

.footer-area .widget {
    &.widget_nav_menu {
        ul {
            li {
                display: block;
                float: none;
                margin: 0;

                a {
                    color: transparentize(#fff, 0.4) !important;
                    border-bottom: 1px solid rgba(white, .06);

                    &:hover {
                        color: $color-primary !important;
                    }
                }

                &:last-child {
                    a {
                        border: 0;
                    }
                }
            }
        }
    }
}

.footer-top .widget {
    &.widget_nav_menu .menu li a {
        padding: 0;
        margin-right: 30px;

        &:hover {
            color: $color-primary;
        }

        &:active, &:focus, &:hover {
            background-color: transparent;
        }

        i {
            background-color: $color-primary;
            border-radius: 50%;
            font-size: 12px;
            height: 24px;
            line-height: 25px;
            margin-right: -15px;
            text-align: center;
            width: 24px;
        }
    }

    @media (max-width: $screen-xs-max) {
        padding: 8px 0;

        &:active, &:focus, &:hover {
            background-color: transparent;
        }
    }
}

.sidebar_dashboard {
    ul {
        &.menu {
            @extend .box-shadow;

            background-color: #fff;
            padding: 10px 20px;

            li {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}

#secondary.sidebar {
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.87);
        -webkit-transform:scale(0.87);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

#secondary.sidebar .widget_booking_form {
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.74);
        -webkit-transform:scale(0.74);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}

.widget_listings .listing-carousel.owl-carousel {
    .owl-prev, .owl-next {
        @extend .box-shadow;

        background-color: #fff;
        color: transparent;
        font-size: 12px;
        font-weight: 500;
        left: -10px;
        line-height: 1;
        padding: 13px 13px 13px 15px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: background-color .15s linear;
        width: 40px;
        z-index: 10;

        &:hover {
            background-color: $color-gray;
        }

        &:before {
            color: $color-black;
            content: '\f053';
            font-family: FontAwesome;
        }
    }

    .owl-next {
        left: initial;
        right: -10px;
        top: 50%;

        &:before {
            content: '\f054';
        }
    }
}

.widget_packages {
    .packages {
        @extend .box-shadow;
    }
}

.listing-categories-cards,
.listing-types-cards,
.locations-posters {
    @extend .row;
}

.listing-categories-card,
.listing-types-card {
    @extend .box-shadow;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    padding-bottom: 15px;
    transition: all .15s ease;
}

.location-poster {
    @extend .box-shadow;
    background-color: #fff;
    border: 0;
    border-radius: 3px;
    transition: all .15s ease;
}

.listing-categories-card-image,
.listing-types-card-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    height: 220px;
    position: relative;

    a {
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: solid 4px $color-primary;
        border-radius: 3px 3px 0 0;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    i {
        @extend .box-shadow;

        background-color: $color-primary;
        color: #fff;
        height: 58px;
        font-size: 29px;
        left: 50%;
        line-height: 58px;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: all linear .15s;
        opacity: 1;
        width: 58px;
        z-index: 2;

        transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
    }

    &:hover {
        a {
            background-color: transparent;
        }

        i {
            opacity: 0;
        }
    }
}

.listing-categories-card-title,
.listing-types-card-title {
    text-align: center;
    margin: 10px 10px 0 10px;

    a {
        color: $color-black;
        font-size: 16px;
        font-weight: 600;
    }
}

.listing-categories-card-bottom,
.listing-types-card-bottom {
    color: $color-gray-dark;
    font-size: 14px;
    padding-top: 5px;
    text-align: center;
}


.location-poster-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px 3px 0 0;
    height: 220px;
    position: relative;

    a {
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 3px;
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

    &:hover {
        a {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

.location-poster-details {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    z-index: 1;
}

.location-poster-title {
    margin: 5px 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .4);

    a {
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }
}

.location-poster-bottom {
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .4);
}