{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}Spotimist{% endblock %}</title>

    {% block stylesheets %}

    <link rel="stylesheet" id="roboto-css" href="//fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C500%2C700&#038;subset=latin%2Clatin-ext&#038;ver=4.5.3" type="text/css" media="all" />
    <link rel="stylesheet" id="font-awesome-css" href="{% static 'libraries/font-awesome/css/font-awesome.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="superlist-font-css" href="{% static 'libraries/superlist-font/style.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" id="colorbox-css" href="{% static 'libraries/colorbox/example1/colorbox.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" id="owl-carousel-css" href="{% static 'libraries/owl.carousel/owl.carousel.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="bootstrap-select-css" href="{% static 'libraries/bootstrap-select/bootstrap-select.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="cmb-google-maps-css" href="{% static 'libraries/plugins/inventor/libraries/cmb_field_map/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="cmb-google-street-view-css" href="{% static 'libraries/plugins/inventor/libraries/cmb_field_street_view/css/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="cmb-google-street-view-css" href="{% static 'libraries/plugins/inventor/assets/fonts/inventor-poi/style.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="mediaelement-css" href="{% static 'js/mediaelement/mediaelementplayer.min.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" id="media-views-css" href="{% static 'css/media-views.min.css' %}" type="text/css" media="all" />
     <link rel="stylesheet" id="imgareaselect-css" href="{% static 'js/imgareaselect/imgareaselect.css' %}" type="text/css" media="all" />

    <script type="text/javascript" src="{% static 'js/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/colorbox/jquery.colorbox-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libraries/scrollto/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/spotimist.js' %}"></script>
    <script type="text/javascript" src='//maps.googleapis.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&#038;libraries=weather%2Cgeometry%2Cvisualization%2Cplaces%2Cdrawing&#038;ver=4.5.3'></script>

    <!--[if lt IE 8]>
            <script type="text/javascript" src="{% static 'js/json2.min.js' %}"></script>
            <![endif]-->

    <link rel="stylesheet" href="{% static 'css/spotimist.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" /> {% endblock %}
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />

</head>

<body class="cover-widget-append-top header-sticky">
    <div class="page-wrapper">
        {% block header %}
        <header class="header header-regular">
            <div class="header-bar">
                <div class="container">
                    <div class="header-bar-inner">
                        <div class="header-bar-left">
                            <div id="text-8" class="widget widget_text">
                                <div class="textwidget">
                                    {% comment %}
                                    <ul class="currency-switch">
                                        <li class="active">
                                            <a href="?currency_code=USD">
                                                <span class="currency-symbol">$</span>
                                                <span class="currency-code">USD</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="?currency_code=EUR">
                                                <span class="currency-symbol">€</span>
                                                <span class="currency-code">EUR</span>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="?currency_code=GBP">
                                                <span class="currency-symbol">£</span>
                                                <span class="currency-code">GBP</span>
                                            </a>
                                        </li>{% endcomment %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.header-bar-left, currency -->

                        <div class="header-bar-right">
                            <div id="nav_menu-5" class="widget widget_nav_menu">
                                <div class="menu-header-topbar-anonymous-container">
                                    {% if not user.is_authenticated %}
                                    <ul class="menu" id="menu-header-topbar-anonymous">
                                        <li>
                                            <a href="{% url 'business:create' %}">
                                                Add Listing
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'account_login' %}">
                                                Login
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'account_signup' %}">
                                                Register
                                            </a>
                                        </li>
                                    </ul>
                                    {% endif %} {% if user.is_authenticated %}

                                    <ul class="menu" id="menu-header-topbar-anonymous">
                                        <!-- <li>
                                            <a href="#">
                                                <dt><i class="fa fa-bell"></i>Notifications</dt>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <dt><i class="fa fa-envelope"></i>Messages</dt>
                                            </a>
                                        </li>-->
                                        {% if not user.has_business %}
                                        <li>
                                            <a href="{% url 'business:create' %}">
                                                    Add Listing
                                                </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url 'account_logout' %}">
                                                <i class="fa fa-sign-out"></i> Logout
                                            </a>
                                        </li>
                                    </ul>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <!-- /.header-bar-right -->
                    </div>
                    <!-- /.header-bar-inner -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.header-bar -->
            <div class="header-wrapper affix-top">
                <div class="container">
                    <div class="header-inner">
                        <div class="header-logo">
                            <a href="{% url 'home' %}" rel="home">
                                {% comment %}<img src="{% static 'img/spotimist.png' %}" style="max-height: 100%;" />{% endcomment %}
                                <img src="{% static 'img/spotimist-v2.png' %}" style="max-height: 65%;" />
                            </a>
                        </div>
                        <!-- /.header-logo -->
                        <div class="header-navigation-wrapper">
                            {% if not user.is_authenticated %}
                            <div class="header-user-menu ">
                                <div class="btn-group">
                                    <span class="nav-link dropdown-toggle">
                                            <div class="header-user-menu-avatar" style="background-image: url('static/img/img_placeholder_avatar.jpg');"> <!-- Need to be fixed -->
                                            </div>
                                            <span class="header-user-menu-name">
                                            <a href="{% url 'account_login' %}">Log in</a>
                                            </span>
                                    </span>
                                </div>
                            </div>
                            {% endif %} {% if user.is_authenticated %}
                            <div class="header-user-menu ">
                                <div class="btn-group">
                                    <span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="header-user-menu-avatar" style="background-image: url('static/img/img_placeholder_avatar.jpg');"><!-- Need to be fixed -->
                                        </div>
                                        <span class="header-user-menu-name">
                                            <a href="#">{{request.user.first_name}}</a>
                                        </span>
                                    </span>
                                    <div class="dropdown-menu">
                                        <ul id="menu-user-menu" class="menu">
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url 'profile:user-detail' %}"><i class="fa fa-fw fa-user"></i> My Profile</a></li>
                                            {% if user.is_authenticated %}
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url 'activities:my-list' %}"><i class="fa fa-fw fa-list"></i> My Listings</a></li>
                                            {% endif %}
                                            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{% url 'account_logout' %}"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            <div class="header-navigation">
                                <ul id="menu-main-menu" class="header-nav-primary nav nav-pills navbar-collapse collapse">
                                    <li>
                                        <a href="{% url 'businesses-list' %}">LISTINGS</a>
                                    </li>
                                </ul>
                            </div>
                            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /.header -->
        {% endblock header %} {% block banner %} {% endblock banner %}

        <div class="main">
            {% block map %} {% endblock map %}
            <div class="main-inner ">

                {% block content %} {% endblock content %}
            </div>
        </div>

        {% block footer %}
        <footer class="footer">
            <div class="footer-top">
                <div class="footer-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3 ">
                                <img src="{% static 'img/SpotimistGray.png' %}" style="max-height: 45%;" />
                                <p>Spotimist is a marketplace to offer fun things to do, meet new people, and share experiences.
                                    Anyone can use Spotimist to list an activity. Try something different today!. <br><br>
                                    <strong>Spotimist</strong><br> Dublin, Ireland<br>
                                    <a href="mailto:info@spotimist.com">info@spotimist.com</a>
                                </p>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <div>
                                    <h2><strong>RESOURCES</strong></h2>
                                    <p><a href="#">About Us</a></p><br>
                                    <p><a href="#">Blog</a></p><br>
                                    <p><a href="#">FAQ</a></p><br>
                                    <p><a href="#">Career</a></p>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div>
                                    <h2><strong>LEGAL</strong></h2>
                                    <p><a href="{% url 'tandc' %}">User Terms and Conditions</a></p><br>
                                    <p><a href="{% url 'tandc' %}">Terms and Conditions</a></p><br>
                                    <p><a href="{% url 'privacy' %}">Privacy Policy</a></p><br>
                                    <p><a href="#">Cookies</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container -->
                </div>
                <!-- .footer-area -->

                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9">
                                <p>© 2017 Spotimist. All rights reserved.</p>
                            </div>
                            <div class="col-sm-3 ">
                                <div id="nav_menu-2" class="widget widget_nav_menu">
                                    <div class="menu-social-menu-container">
                                        <ul class="menu ">
                                            <li><a href="https://twitter.com/spotimist"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/spotimist"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.footer-top -->
    </div>
    <!-- /.container -->
</div>
<!-- /.footer-bottom -->


</footer>
{% endblock footer %} {% block javascripts %} {#
<script type="text/javascript" src="{% static 'js/comment-reply.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/owl.carousel/owl.carousel.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'libraries/plugins/inventor/assets/js/inventor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/masonry.min.js' %}"></script>
{#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/infobox.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/markerclusterer.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-google-map/libraries/js-cookie.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/jquery-google-map.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-google-map/assets/js/inventor-google-map.js' %}"></script>#} {#
<script type="text/javascript" async defer src="{% static 'libraries/plugins/inventor-recaptcha/assets/js/inventor-recaptcha.js' %}"></script>#} {#
<script type="text/javascript" async defer src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&#038;render=explicit&#038;'></script>#}

<script type="text/javascript" src="{% static 'libraries/plugins/inventor-reviews/libraries/raty/jquery.raty.js' %}"></script>
{#
<script type="text/javascript" src="{% static 'js/underscore.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/shortcode.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/backbone.min.js' %}"></script>#} {#

<script type="text/javascript" src="{% static 'js/wp-util.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/wp-backbone.min.js' %}"></script>#} {#

<script type="text/javascript" src="{% static 'js/media-models.min.js' %}"></script>#} {#

<script type="text/javascript" src="{% static 'js/mediaelement/mediaelement-and-player.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/mediaelement/wp-mediaelement.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/media-views.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'js/media-editor.min.js' %}"></script>#} {#
<script type="text/javascript" src="{% static 'libraries/plugins/inventor-testimonials/assets/js/script.js' %}"></script>#}
<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/collapse.js' %}" type="text/javascript"></script>
{#<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/carousel.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/transition.js' %}" type="text/javascript"></script>#}
<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/dropdown.js' %}" type="text/javascript"></script>
<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/tooltip.js' %}" type="text/javascript"></script>
<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/tab.js' %}" type="text/javascript"></script>
{#<script src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/alert.js' %}" type="text/javascript"></script>#}
<script type="text/javascript" src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/affix.js' %}"></script>
<script type="text/javascript" src="{% static 'libraries/bootstrap-sass/javascripts/bootstrap/scrollspy.js' %}"></script>
{#<script src="{% static 'libraries/colorbox/jquery.colorbox-min.js' %}" type="text/javascript"></script>#} 
{#<script src="{% static 'libraries/flot/jquery.flot.min.js' %}" type="text/javascript"></script>#} 
{#<script src="{% static 'libraries/flot/jquery.flot.spline.js' %}" type="text/javascript"></script>#}
<script src="{% static 'libraries/bootstrap-select/bootstrap-select.min.js' %}" type="text/javascript"></script>

{% endblock %}
</div>
</body>
</html>