{% extends "base.html" %} {% load static %} {% block map %}

<div id="inventor_cover-2" class="widget widget_inventor_cover">
    <div id="video-outer-wrap" class="inventor-cover" style="background-image: url('static/img/city9.jpeg');height: 700px">
        <div id="video-wrap">
        </div>
        <!-- /#video-wrap -->
        <div class="video-wrapper-overlay" style="opacity:0.5;background-color:#242424;"></div>
        <!-- /.video-wrapper-overlay -->
    </div>
    <!-- /#video-outer-cover -->

    <div class="inventor-cover-title">
        <h1>Things to do in your city</h1>
        <h2>Learn, Experience and Discover anything, anywhere.</h2>
        <div class="inventor-cover-filter items-per-row-3">
            <form method="get" action="{% url 'businesses-list' %}" class="filter-form ">
                <div class="form-group form-group-geolocation">
                    <input type="text" name="geolocation" placeholder="Location" class="form-control form-control-geolocation" value="" id="inventor_cover-2_geolocation">
                    <input type="hidden" name="latitude" value="">
                    <input type="hidden" name="longitude" value="">
                </div>
                <!-- /.form-group -->
                <div class="form-group form-group-listing-categories">
                    <select class="form-control" name="listing_categories" data-size="10" data-live-search="true" id="inventor_cover-2_listing_categories">
                        <option value="">Category</option>
                        {% for cat in categories %}
                        <option value="{{cat.slug}}"> {{cat.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /.form-group -->

                <div class="form-group form-group-button">
                    <button class="button" type="submit">Search</button>
                </div>
                <!-- /.form-group -->

            </form>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.inventor-cover-title -->
</div>
<script>
    var videoCanvas = jQuery('#inventor-cover');
</script>
{% endblock map %} {% block content %} {{ block.super }}
<div class="container ">
    {% comment %}

    <div class="inventor-cover-filter">
        <form action="#" class="filter-form" method="get">
            <div class="form-group form-group-geolocation">
                <input autocomplete="off" class="form-control form-control-geolocation" id="inventor_cover-2_geolocation" name="geolocation"
                    placeholder="Location" type="text" value="">
                <input name="latitude" type="hidden" value="">
                <input name="longitude" type="hidden" value="">
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-listing-categories">
                <select class="form-control bs-select-hidden" data-live-search="true" data-size="10" id="inventor_cover-2_listing_categories"
                    name="listing_categories">
                <option value="">
                    Category
                </option>
                <option value="automotive">
                    Automotive
                </option>
                <option value="test">
                    test
                </option>
            </select>
            </div>
            <!-- /.form-group -->
            <div class="form-group form-group-button">
                <button class="button" type="submit">Search</button>
            </div>
            <!-- /.form-group -->
        </form>
    </div>{% endcomment %}
    <div class="widget widget_listings" id="listings-2">
        <div class="widget-inner widget-border-top widget-pt widget-pb">
            <h2 class="widgettitle"><strong>FEATURED</strong> LISTINGS</h2>
            <div class="description">
                Check what's going on around here now.
            </div>
            <!-- /.description -->
            <div class="type-box items-per-row-4">
                <div class="listings-row">
                    {% for activity in object_list %}
                    <div class="listing-container">
                        <div class="listing-box" style="background-image: url('{{ activity.get_image_url}}');">
                            <a href="{{ activity.get_absolute_url }}" class="listing-box-content-link"></a>
                            <div class="listing-box-background">
                                <div class="listing-box-content">
                                    <div class="listing-box-rating ">
                                        <span class="review-rating" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o"
                                            data-path="static/libraries/plugins/inventor-reviews/libraries/raty/images" data-score="4.00"></span>
                                        <span class="review-rating-number">5.00 <span class="separator">/</span> 5</span>
                                        <!-- /.review-rating-number -->
                                    </div>
                                    <div class="listing-box-actions">
                                        <a href="#" class="share-listing">
                                                <i class="fa fa-share-alt"></i>
                                                <span>Share</span>
                                            </a>
                                        <div class="modal-inner">
                                            <h2>Share "{{ activity.name }}"</h2>
                                            <ul>
                                                <li>
                                                    <a class="mail" href="#">
                                                            <i class="fa fa-envelope"></i>
                                                        </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                            <i class="fa fa-facebook"></i>
                                                        </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                            <i class="fa fa-google"></i>
                                                        </a>
                                                </li>
                                                <li>
                                                    <a class="twitter" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <a href="#" class="inventor-favorites-btn-toggle heart" data-listing-id="969" data-ajax-url="#">
                                                <i class="fa fa-heart-o"></i>
                                                <span data-toggle="I Love It">Add to favorites</span>
                                            </a>
                                        <!-- /.listing-box-actions -->
                                    </div>
                                    <!-- /.listing-box-content -->
                                </div>
                                <div class="listing-box-label-top">
                                    <i class="inventor-poi inventor-poi-bookcase"></i>
                                    <a href="#">Category</a>
                                </div>
                                <div class="listing-box-label-bottom">
                                    <a href="#">{{ activity.city }}</a>
                                </div>
                            </div>
                            <!-- /.listing-box-background -->
                            <span class="listing-box-title">
                                    <a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a>
                                </span>
                            <!-- /.listing-box-title -->
                        </div>
                        <!-- /.listing-box -->
                    </div>
                    {% endfor %}
                    <!-- /.listing-container -->
                </div>
            </div>
            <!-- /.type-* -->
        </div>
        <!-- /.widget-inner -->
    </div>

    <div id="inventor_boxes-2" class="widget widget_inventor_boxes">
        <div class="widget-inner background-dark	widget-pt	widget-pb" style=" background-color: #212121;">
            <div class="row">
                <div class="boxes-title-description col-md-4">
                    <h2 class="widgettitle">WHAT IS <strong>SPOTIMIST</strong></h2>
                    <!-- /.widgettitle -->

                    <div class="description">
                        Spotimist is a marketplace to offer fun things to do, meet new people, and share experiences. Anyone can use Spotimist to
                        list an activity. Try something different today!
                    </div>
                    <!-- /.description -->

                </div>
                <div class="boxes-condensed col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <div class="box box-number-1 ">
                                <div class="box-inner">
                                    <div class="box-icon">
                                        <i class="fa fa-life-ring"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-body">
                                        <h4 class="box-title">For Everyone </h4>
                                        <!-- /.box-title -->

                                        <div class="box-content">
                                            An easy access to discover things to do, anywhere you are.
                                        </div>
                                        <!-- /.box-content -->

                                        <a href="" class="box-read-more">Search now</a>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box-inner -->

                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col-* -->
                        <div class="col-sm-12 col-md-4">
                            <div class="box box-number-2 ">
                                <div class="box-inner">
                                    <div class="box-icon">
                                        <i class="fa fa-flask"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-body">
                                        <h4 class="box-title">For Your Business </h4>
                                        <!-- /.box-title -->

                                        <div class="box-content">
                                            Unleash your business potential by being discovered by a wider public.
                                        </div>
                                        <!-- /.box-content -->

                                        <a href="" class="box-read-more">List for free now</a>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box-inner -->

                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col-* -->
                        <div class="col-sm-12 col-md-4">
                            <div class="box box-number-3 ">
                                <div class="box-inner">
                                    <div class="box-icon">
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-body">
                                        <h4 class="box-title">Best Experience </h4>
                                        <!-- /.box-title -->

                                        <div class="box-content">
                                            We do our best to follow trends, making it easier and faster to book or manage any service. Either you are experiencing it
                                            or providing it
                                        </div>
                                        <!-- /.box-content -->

                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box-inner -->

                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col-* -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-inner -->
    </div>

    <div id="testimonials-3" class="widget widget_testimonials">
        <div class="widget-inner widget-pt widget-pb" style="background-color: #ffffff;">
            <h2 class="widgettitle"> HAPPY <strong>CUSTOMERS</strong> </h2>
            <div class="description">
                Read testimonials about our directory services and products. </div>
            <!-- /.description -->

            <div class="testimonials">
                <div class="testimonial">
                    <div class="testimonial-image" style="background-image: url('#');"></div>
                    <!-- /.testimonial-image -->

                    <div class="testimonial-inner">
                        <div class="testimonial-title">
                            <h2>Exactly What I Need</h2>

                            <div class="testimonial-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- /.testimonial-rating -->

                        </div>
                        <!-- /.testimonial-title -->

                        <div class="testimonial-content">
                            <p>Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse
                                ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum. Duis et magna vel est
                                tempus vehicula vitae sit amet enim. Sed vitae ligula congue, luctus mauris eu, scelerisque
                                felis.</p>
                        </div>

                        <div class="testimonial-sign">
                            - Fiona Wilson
                        </div>
                        <!-- /.testimonial-sign -->
                    </div>
                    <!-- /.testimonial-inner -->
                </div>
                <!-- /.testimonial -->

                <div class="testimonial">

                    <div class="testimonial-image" style="background-image: url('#');"></div>
                    <!-- /.testimonial-image -->

                    <div class="testimonial-inner">
                        <div class="testimonial-title">
                            <h2>Totally Impressed</h2>

                            <div class="testimonial-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <!-- /.testimonial-rating -->

                        </div>
                        <!-- /.testimonial-title -->

                        <div class="testimonial-content">
                            <p>Curabitur scelerisque nulla consequat elit semper, vitae lobortis velit tempor. Sed purus eros,
                                pellentesque non maximus scelerisque, aliquam id magna. Integer in metus ante. Integer faucibus
                                mi quis rhoncus cursus.</p>
                        </div>

                        <div class="testimonial-sign">
                            - Richard Peterson
                        </div>
                        <!-- /.testimonial-sign -->
                    </div>
                    <!-- /.testimonial-inner -->
                </div>
                <!-- /.testimonial -->
            </div>
            <!-- /.faq -->
        </div>
        <!-- /.widget-inner -->
    </div>

    <div id="inventor_boxes-4" class="widget widget_inventor_boxes">
        <div class="widget-inner boxes-centered background-primary background-dark boxes-numbers background-semitransparent	widget-pt	widget-pb">
            <div class="row">
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="box box-number-1 ">
                        <div class="box-inner">
                            <div class="box-icon">
                                <i class="fa fa-file"></i>
                            </div>
                            <!-- /.box-icon -->

                            <div class="box-body">
                                <h4 class="box-title"> LISTINGS </h4>
                                <!-- /.box-title -->

                                <div class="box-number" data-value="108"> 108 </div>
                                <!-- /.box-number -->

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-inner -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="box box-number-2 ">
                        <div class="box-inner">
                            <div class="box-icon">
                                <i class="fa fa-user"></i> </div>
                            <!-- /.box-icon -->

                            <div class="box-body">
                                <h4 class="box-title">USERS</h4>
                                <!-- /.box-title -->

                                <div class="box-number" data-value="626">626</div>
                                <!-- /.box-number -->

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-inner -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="box box-number-3 ">
                        <div class="box-inner">
                            <div class="box-icon">
                                <i class="fa fa-list"></i> </div>
                            <!-- /.box-icon -->

                            <div class="box-body">
                                <h4 class="box-title">LISTING TYPES</h4>
                                <!-- /.box-title -->

                                <div class="box-number" data-value="13">13</div>
                                <!-- /.box-number -->

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-inner -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col-* -->
                <div class="col-sm-12 col-lg-3 col-md-6">
                    <div class="box box-number-4 ">
                        <div class="box-inner">
                            <div class="box-icon">
                                <i class="fa fa-folder-open"></i> </div>
                            <!-- /.box-icon -->

                            <div class="box-body">
                                <h4 class="box-title">CATEGORIES</h4>
                                <!-- /.box-title -->

                                <div class="box-number" data-value="77">77</div>
                                <!-- /.box-number -->

                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-inner -->

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col-* -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.widget-inner -->
    </div>
</div>

{% endblock content %}