{% extends "base-dashboard.html" %} {% load static %}
{% block content %}

<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Add an activity</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li>Add an activity</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% if form.description.errors %}
    <div class="notification error closeable">
        <p>{{ form.description.errors }}</p>
        <a class="close"></a>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">

            <div id="add-listing">

                <!-- Section -->
                <div class="add-listing-section">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Headline -->
                        <div class="add-listing-headline">
                            <h3>
                                <i class="sl sl-icon-doc"></i> Basic Information</h3>
                        </div>

                        <!-- Title -->
                        <div class="row with-forms">
                            <div class="col-md-12">
                                <h5>Activity Name<i class="tip"
                                       data-tip-content="The activity name should reflect the main activity of your business (e.g.'Cooking class', 'Dance class', 'City tour')"></i><i class="info-required">*</i>
                                </h5>
                                <div class="form-group">
                                    {{ form.name.errors }} {{ form.name }}
                                </div>
                            </div>
                            <!-- Type -->
                            {% comment %} <div class="col-md-6">
                                <h5>Keywords
                                    <i class="tip"
                                       data-tip-content="Maximum of 15 keywords related with your activity"></i>
                                </h5>
                                <input type="text" placeholder="Keywords should be separated by commas">
                            </div> {% endcomment %}

                        </div>


                        <!-- Checkboxes -->
                        <h5 class="margin-top-30 margin-bottom-10">Categories<i class="tip"
                            data-tip-content="Choose relevant categories, they are used as guidance to refine researches"></i><i class="info-required">*</i>
                    </h5>

                        <div class="checkboxes in-row margin-bottom-20">

                            {% for category in form.categories %}

                            {{ category.tag }}
                            <label for="{{ category.id_for_label }}">{{ category.choice_label }}</label>

                            {% endfor %}

                        </div>
                        <!-- Checkboxes / End -->

                </div>
                <!-- Section / End -->

                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-docs"></i> Details</h3>
                    </div>

                    <!-- Description -->
                    <div class="form">
                        <div class="form-group">
                             {{ form.description.label_tag }} {{ form.description }}
                        </div>
                    </div>

                </div>


                <input type="submit" name="submit-submission" value="Continue" class="button margin-top-30"/>

                </form>
            </div>
        </div>


    </div>

</div>
<!-- Content / End -->


{% endblock content %}


<!-- Scripts
================================================== -->

{% block javascripts %} {{ block.super }}

{% endblock javascripts %}