{% extends "base-dashboard.html" %}
<!-- 

TODO:

-Add profile picture link available all pages ( So far only on "My Profile" page)
-test access from non authenticated uers
-Fill data dynamically

-->
{% block content %}
<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboard</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Dashboard</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <span>User Panel Dashboard</span>
            </div>
        </div>
    </div>


    <!-- Content -->
    <div class="row">

        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-1">
                <div class="dashboard-stat-content">
                    <h4>{{bookings_count}}</h4>
                    <span>Activity planned</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Map2"></i>
                </div>
            </div>
        </div>

        <!-- Item -->
        <!-- <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-2">
                <div class="dashboard-stat-content">
                    <h4>0</h4>
                    <span>Subscription</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Calendar-4"></i>
                </div>
            </div>
        </div> -->


        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-3">
                <div class="dashboard-stat-content">
                    <h4>{{reviews_count}}</h4>
                    <span>Reviews</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Add-UserStar"></i>
                </div>
            </div>
        </div>

        <!-- Item -->
        <!-- <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-4">
                <div class="dashboard-stat-content">
                    <h4>0</h4>
                    <span>Bookmarked</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Heart"></i>
                </div>
            </div>
        </div> -->
    </div>


    <div class="row">

        <!-- Recent Activity -->
        <div class="col-lg-6 col-md-12">
            <div class="dashboard-list-box with-icons margin-top-20">
                <h4>Upcoming Activities</h4>
                <ul>
                    {% for booking in bookings %}
                    <li>
                        <i class="list-box-icon sl sl-icon-layers"></i>
                        {{booking.get_booked_activity}} at
                        <strong>
                            <a href="#">{{booking.business}}</a>
                        </strong>
                        - {{booking.date_from|date:"d F y"}}
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>

</div>
<!-- Content / End -->

{% endblock content %}

<!-- Scripts
================================================== -->

{% block javascripts %} {{ block.super }}

{% endblock javascripts %}