{% extends "base-dashboard.html" %} {% load static %}
<!-- 

TODO:

-List activities
-List upcoming bookings

-->
{% block content %}


<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Dashboard</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>Dashboard</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--Alert-->
    {% if alert_service %}
    <div class="notification error" role="alert">
        <strong>
            {% for alert in alert_service %}
                    {{alert}}
            {% if not forloop.last %} , {% endif %}
            {% endfor %}
        </strong> Service date expired, please reset your service date...
    </div>
    {% endif %}

    {% if activities_count == 0 %}
    <div class="notification error" role="alert">
        You haven't created any activity yet, click <a style="text-decoration: underline;" href="{% url 'activities:create' %}">here</a> to add one.
    </div>
    {% endif %}

    {% for activity in activities %}
        {% if activity.has_services == False %}
        <div class="notification error" role="alert">
            <strong>{{activity}}</strong> has no service yet, click <a style="text-decoration: underline;" href="{% url 'services-add' activity.slug %}">here</a> to add one.
        </div>
        {% endif %}
    {% endfor %}

    {% if user.has_business %}
    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12 margin-top-30">
                <span>Business Panel Dashboard</span>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row">

        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-1">
                <div class="dashboard-stat-content">
                    <h4>{{activities_count}}</h4>
                    <span>Active Listings</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Map2"></i>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-2">
                <div class="dashboard-stat-content">
                    <h4>{{bookings_count}}</h4>
                    <span>Bookings</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Calendar-4"></i>
                </div>
            </div>
        </div>


        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-3">
                <div class="dashboard-stat-content">
                    <h4>{{reviews_count}}</h4>
                    <span>Total Reviews</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Add-UserStar"></i>
                </div>
            </div>
        </div>

        <!-- Item -->
        <div class="col-lg-3 col-md-6">
            <div class="dashboard-stat color-4">
                <div class="dashboard-stat-content">
                    <h4>0</h4>
                    <span>Times Bookmarked</span>
                </div>
                <div class="dashboard-stat-icon">
                    <i class="im im-icon-Heart"></i>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <!-- Active Listings -->
        <div class="col-lg-6 col-md-12">
            <div class="dashboard-list-box with-icons margin-top-20">
                <!-- <h4>Active Listings</h4>
                <ul>
                    <li>
                        <i class="list-box-icon sl sl-icon-star"></i> Jack Perry left a review
                        <div class="numerical-rating" data-rating="2.5"></div> on
                        <strong>
                            <a href="#">Tom's Restaurant</a>
                        </strong>
                        <a href="#" class="close-list-item">
                            <i class="fa fa-close"></i>
                        </a>
                    </li>
                </ul> -->
            </div>
        </div>

        <!-- Invoices --><!--
                <div class="col-lg-6 col-md-12">
                    <div class="dashboard-list-box invoices with-icons margin-top-20">
                        <h4>Invoices</h4>
                        <ul>

                            <li>
                                <i class="list-box-icon sl sl-icon-doc"></i>
                                <strong>Professional Plan</strong>
                                <ul>
                                    <li class="unpaid">Unpaid</li>
                                    <li>Order: #00124</li>
                                    <li>Date: 20/07/2017</li>
                                </ul>
                                <div class="buttons-to-right">
                                    <a href="dashboard-invoice.html" class="button gray">View Invoice</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            

        -->
    {% endif %}
    </div>

</div>
<!-- Content / End -->

{% endblock content %}


<!-- Scripts
================================================== -->

{% block javascripts %} {{ block.super }} {% endblock javascripts %}