{% extends "base-dashboard.html" %} {% load static %}
{% block content %}
<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit Activity "{{ activity.name }}"</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="{% url 'activities:my-list' %}">My Listings</a>
                        </li>
                        <li>{{ activity.name }}</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% if form.description.errors %}
    <div class="notification error closeable">
        <p>{{ form.description.errors }}</p>
        <a class="close"></a>
    </div>
    {% endif %}

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                <div id="add-listing">
                    <div class="add-listing-section">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>
                                    <i class="sl sl-icon-doc"></i> Basic Information</h3>
                            </div>

                            <!-- Title -->
                            <div class="row with-forms">
                                <div class="col-md-12">
                                    <h5>Activity Title
                                        <i class="tip" data-tip-content="This is the main name of your activity (e.g.'Cooking class', 'Salsa class', 'City tour'"></i>
                                    </h5>
                                    <div class="form-group">
                                        {{ form.name.errors }} {{ form.name }}
                                    </div>
                                </div>

                                <!-- Type -->
                                {% comment %} <div class="col-md-6">
                                    <h5>Keywords
                                        <i class="tip"
                                           data-tip-content="Maximum of 15 keywords related with your activity"></i>
                                    </h5>
                                    <input type="text" placeholder="Keywords should be separated by commas">
                                </div> {% endcomment %}
                            </div>

                            <!-- Checkboxes -->
                            <h5 class="margin-top-30 margin-bottom-10">Categories<i class="tip"
                                data-tip-content="Choose relevant categories, they are used as guidance to refine researches"></i><i class="info-required">*</i>
                            </h5>
                            <div class="checkboxes in-row margin-bottom-20">

                                {% for category in form.categories %}

                                {{ category.tag }}
                                <label for="{{ category.id_for_label }}">{{ category.choice_label }}</label>

                                {% endfor %}

                            </div>
                            <!-- Checkboxes / End -->
                            <button type="submit" name="submit-submission" value="Edit" class="button margin-top-30">
                                Valid Change
                                <i class="fa fa-arrow-circle-right"></i>
                            </button>

                    </div>
                </div>
                <!-- Section / End -->

                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-docs"></i> Details</h3>
                    </div>

                    <!-- Description -->
                    <div class="form">
                        <h5>{{ form.description.label_tag }}</h5>

                        {{ form.description }}

                    </div>

                </div>
                <!-- Section / End -->
                </form>
            </div>

        </div>
        <!-- Content / End -->

    </div>
</div>
{% endblock content %}


<!-- Scripts
================================================== -->

{% block javascripts %} {{ block.super }}
<script type="text/javascript"
        src="http://maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&#038;?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>

<!-- Opening hours added via JS (this is only for demo purpose) -->
<script>
    $(".opening-day.js-demo-hours .chosen-select").each(function () {
        $(this).append('' +
            '<option></option>' +
            '<option>Closed</option>' +
            '<option>1 AM</option>' +
            '<option>2 AM</option>' +
            '<option>3 AM</option>' +
            '<option>4 AM</option>' +
            '<option>5 AM</option>' +
            '<option>6 AM</option>' +
            '<option>7 AM</option>' +
            '<option>8 AM</option>' +
            '<option>9 AM</option>' +
            '<option>10 AM</option>' +
            '<option>11 AM</option>' +
            '<option>12 AM</option>' +
            '<option>1 PM</option>' +
            '<option>2 PM</option>' +
            '<option>3 PM</option>' +
            '<option>4 PM</option>' +
            '<option>5 PM</option>' +
            '<option>6 PM</option>' +
            '<option>7 PM</option>' +
            '<option>8 PM</option>' +
            '<option>9 PM</option>' +
            '<option>10 PM</option>' +
            '<option>11 PM</option>' +
            '<option>12 PM</option>');
    });



</script>

<!-- DropZone | Documentation: http://dropzonejs.com -->
<script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>

{% endblock javascripts %}