{% extends "base-dashboard.html" %} {% load static %}
<!-- TODO

	-SHOW QR Code
-->

{% block content %}
<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>My Listings</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li>My Listings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">

                <!-- Sort by -->
                <div class="sort-by">
                    <div class="sort-by-select">
                        <select id="ddlSort" data-placeholder="Default order" class="chosen-select-no-single">
                            <option value="upcoming">Upcoming</option>
                            <option value="past">Past</option>
                            <option value="all">All</option>

                        </select>
                    </div>
                </div>

                <h4>Bookings List</h4>
                {% if bookings %}

                <ul>
                    {% for booking in bookings %}

                    {% comment %}
                    <li><a href="{% url " booking_detail" pk=booking.pk %}">{{ booking }}</a></li>
                    {% endcomment %}

                    <li class="pending-booking">
                        <div class="list-box-listing bookings">

                            <div class="list-box-listing-content">
                                <div class="inner col-md-5">
                                    <h3>
                                        {{booking.get_booked_activity}} at {{booking.business}}
                                    </h3>

                                    <div class="inner-booking-list">
                                        <h5>Booking ID:</h5>
                                        <ul class="booking-list">
                                            <li class="highlighted">#{{ booking.booking_id }}</li>
                                        </ul>
                                    </div>

                                    <div class="inner-booking-list">
                                        <h5>Booking Date:</h5>
                                        <ul class="booking-list">
                                            <li class="highlighted">{{booking.date_from|date:"d F y"}} - {{booking.date_from|date:"H:i"}}</li>
                                        </ul>
                                    </div>

                                    <div class="inner-booking-list">
                                        <h5>Booking Details:</h5>
                                        <ul class="booking-list">
                                            {% for item in booking.get_booking_items %}
                                            {{item.booked_item}}
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </div>
                                <div class="inner col-md-4">
                                    <img src="{{booking.qrcode.url}}"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                {% else %}

                <p class="margin-top-55">No activities booked</p>

                {% endif %}
            </div>
        </div>

    </div>

</div>
<!-- Content / End -->


{% endblock content %}

<!-- Scripts
================================================== -->

{% block javascripts %} 
{{ block.super }} 


<script type="text/javascript">


        
    

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

var default_sort_param = getParameterByName("sort", window.location.href);

if (default_sort_param != null)
{
    $('#ddlSort').val(default_sort_param);
    $('#ddlSort').trigger("chosen:updated");
}

$('#ddlSort').change(function() {

    var url = window.location.href;
    
    var sort_param = getParameterByName("sort", url);
    
    if (sort_param == null)
    {
        url = url + "?sort=" + this.value;
        window.location.replace(url);
    }
    else 
    {
        new_url = url.replace("?sort=" + sort_param, "?sort=" + this.value);
        window.location.replace(new_url);
    }

    });



</script>
{% endblock javascripts %}