{% extends "base-dashboard.html" %} {% load static %}
<!-- TODO

	-Have service button to always show up
	-Red delete button

-->

{% block content %}
<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>My Listings</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li>My Listings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">
                
                <ul>
                    {% for activity in object_list %}


                    <!-- Remove activity popup -->
                    <div id="small-dialog" class="zoom-anim-dialog mfp-hide alert-boxes">
                        <div class="small-dialog-header">
                            <h3>Are You Sure ?</h3>
                        </div>
                        <div class="message-reply text-center margin-top-0">
                            <a href="{{ activity.get_delete_url }}" class="button"> Remove</a>
                            <a class="button cancel"> Cancel</a>
                        </div>
                    </div>


                    <li>
                        <div class="list-box-listing">
                            {% comment %} <div class="list-box-listing-img"><a href="{{ activity.get_edit_url }}"><img
                                    src="{% static 'images/listing-item-01.jpg' %}" alt=""></a></div> {% endcomment %}
                            <div class="list-box-listing-content">
                                <div class="inner">
                                    <h3 style="bottom:15px;"><a href="{{ activity.get_edit_url }}"><i class="fa fa-edit"></i> {{ activity.name }} </a></h3>
                                    {% comment %} <span>blabla</span>
                                    <div class="star-rating" data-rating="3.5">
                                        <div class="rating-counter">(12 reviews)</div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>

                        <div class="buttons-to-right no-opacity">
                            <a href="{{ activity.get_services_url }}" class="button gray"><i
                                    class="sl sl-icon-list"></i> Services</a>
                            <a href="#small-dialog" class="button red popup-with-zoom-anim">
                                <i class="sl sl-icon-close"></i>
                                Remove
                            </a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


    </div>

</div>
<!-- Content / End -->


{% endblock content %}

<!-- Scripts
================================================== -->

{% block javascripts %}
{{ block.super }}
<script>
    $(document).on("click", '.cancel', function(){
        $('.mfp-close').trigger("click");
    })
</script>
{% endblock javascripts %}