/* ------------------------------------------------------------------- */
/* Color #495d7f
---------------------------------------------------------------------- */
div.datedropper:before,
div.datedropper .pick-submit,
div.datedropper .pick-lg-b .pick-sl:before,
div.datedropper .pick-m,
div.datedropper .pick-lg-h {
  background-color: #495d7f !important;
}

div.datedropper .pick-y.pick-jump,
div.datedropper .pick li span,
div.datedropper .pick-lg-b .pick-wke,
div.datedropper .pick-btn {
  color: #495d7f !important;
}

.comment-by-listing a:hover,
.browse-all-user-listings a i,
.hosted-by-title h4 a:hover,
.style-2 .trigger.active a,
.style-2 .ui-accordion .ui-accordion-header-active:hover,
.style-2 .ui-accordion .ui-accordion-header-active,
#posts-nav li a:hover,
.plan.featured .listing-badge,
.post-content h3 a:hover,
.add-review-photos i,
.show-more-button i,
.listing-details-sidebar li a,
.star-rating .rating-counter a:hover,
.more-search-options-trigger:after,
.header-widget .sign-in:hover,
#footer a,
#footer .footer-links li a:hover,
#navigation.style-1 .current,
#navigation.style-1 ul li:hover a,
.user-menu.active .user-name:after,
.user-menu:hover .user-name:after,
.user-menu.active .user-name,
.user-menu:hover .user-name,
.main-search-input-item.location a:hover,
.chosen-container .chosen-results li.highlighted,
.input-with-icon.location a i:hover,
.sort-by .chosen-container-single .chosen-single div:after,
.sort-by .chosen-container-single .chosen-default,
.panel-dropdown a:after,
.post-content a.read-more,
.post-meta li a:hover,
.widget-text h5 a:hover,
.about-author a,
a.button.border.white:hover,
.icon-box-2 i,
a.button.border,
.style-2 .ui-accordion .ui-accordion-header:hover,
.style-2 .trigger a:hover ,
.plan.featured .listing-badges .featured,
.list-4 li:before,
.list-3 li:before,
.list-2 li:before,
.list-1 li:before,
.info-box h4,
.testimonial-carousel .slick-slide.slick-active .testimonial:before,
.sign-in-form .tabs-nav li a:hover,
.sign-in-form .tabs-nav li.active a,
.lost_password:hover a,
#top-bar .social-icons li a:hover i,
.listing-share .social-icons li a:hover i,
.agent .social-icons li a:hover i,
#footer .social-icons li a:hover i,
.headline span i {
    color: #495d7f;
}


.mm-menu em.mm-counter,
.category-small-box:hover,
.pricing-list-container h4:after,
#backtotop a,
.chosen-container-multi .chosen-choices li.search-choice,
.select-options li:hover,
button.panel-apply,
.layout-switcher a:hover,
.listing-features.checkboxes li:before,
.comment-by a.reply:hover,
.add-review-photos:hover,
.office-address h3:after,
.post-img:before,
button.button,
input[type="button"],
input[type="submit"],
a.button,
a.button.border:hover,
table.basic-table th,
.plan.featured .plan-price,
mark.color,
.style-4 .tabs-nav li.active a,
.style-5 .tabs-nav li.active a,
.dashboard-list-box .button.gray:hover,
.change-photo-btn:hover,
.dashboard-list-box  a.rate-review:hover,
input:checked + .slider,
.add-pricing-submenu.button:hover,
.add-pricing-list-item.button:hover,
.custom-zoom-in:hover,
.custom-zoom-out:hover,
#geoLocation:hover,
#streetView:hover,
#scrollEnabling:hover,
#scrollEnabling.enabled,
#mapnav-buttons a:hover,
#sign-in-dialog .mfp-close:hover,
#small-dialog .mfp-close:hover {
    background-color: #495d7f;
}


.rangeslider__fill,
span.blog-item-tag ,
.testimonial-carousel .slick-slide.slick-active .testimonial-box,
.listing-item-container.list-layout span.tag,
.tip,
.mfp-arrow:hover {
    background: #495d7f;
}


.rangeslider__handle { border-color: #495d7f; }

.layout-switcher a.active {
    color: #495d7f;
    border-color: #495d7f;
}

#titlebar.listing-titlebar span.listing-tag {
    border-color: #495d7f;
    color: #495d7f;
}


.listing-slider .slick-next:hover,
.listing-slider .slick-prev:hover {
    background-color: #495d7f;
}


.listing-nav-container.cloned .listing-nav li:first-child a.active,
.listing-nav-container.cloned .listing-nav li:first-child a:hover,
.listing-nav li:first-child a,
.listing-nav li a.active,
.listing-nav li a:hover {
    border-color: #495d7f;
    color: #495d7f;
}

.pricing-list-container h4 {
    color: #495d7f;
    border-color: #495d7f;
}

.sidebar-textbox ul.contact-details li a { color: #495d7f; }

a.button.border {
    color: #495d7f;
    border-color: #495d7f;
}

.trigger.active a,
.ui-accordion .ui-accordion-header-active:hover,
.ui-accordion .ui-accordion-header-active {
    background-color: #495d7f;
    border-color: #495d7f;
}

.numbered.color ol > li::before {
    border-color: #495d7f;;
    color: #495d7f;
}

.numbered.color.filled ol > li::before {
    border-color: #495d7f;
    background-color: #495d7f;
}

.info-box {
    border-top: 2px solid #495d7f;
    background: linear-gradient(to bottom, rgba(255,255,255,0.98), rgba(255,255,255,0.95));
    background-color: #495d7f;
    color: #495d7f;
}

.info-box.no-border {
    background: linear-gradient(to bottom, rgba(255,255,255,0.96), rgba(255,255,255,0.93));
    background-color: #495d7f;
}

.tabs-nav li a:hover { border-color: #495d7f; }

.tabs-nav li a:hover,
.tabs-nav li.active a {
    border-color: #495d7f;
    color: #495d7f;
}

.style-3 .tabs-nav li a:hover,
.style-3 .tabs-nav li.active a {
    border-color: #495d7f;
    background-color: #495d7f;
}

.checkboxes input[type=checkbox]:checked + label:before {
    background-color: #495d7f;
    border-color: #495d7f;
}

.listing-item-container.compact .listing-item-content span.tag { background-color: #495d7f; }

.dashboard-nav ul li.active,
.dashboard-nav ul li:hover { border-color: #495d7f; }

.dashboard-list-box .comment-by-listing a:hover { color: #495d7f; }

.opening-day:hover h5 { color: #495d7f !important; }

.map-box h4 a:hover { color: #495d7f; }
.infoBox-close:hover {
    background-color: #495d7f;
    -webkit-text-stroke: 1px #495d7f;
}

.cluster-visible {
    background-color: #495d7f;
}

.cluster-visible:before {
    border: 7px solid #495d7f;
    box-shadow: inset 0 0 0 4px #495d7f;
}

.marker-arrow {
    border-color: #495d7f transparent transparent;
}

.face.front {
    border-color: #495d7f;
    color: #495d7f;
}

.face.back {
    background: #495d7f;
    border-color: #495d7f;
}

.custom-zoom-in:hover:before,
.custom-zoom-out:hover:before  { -webkit-text-stroke: 1px #495d7f;  }

.category-box-btn:hover {
    background-color: #495d7f;
    border-color: #495d7f;
} 

.message-bubble.me .message-text {
    color: #495d7f;
    background-color: rgba(73,93,127,0.05);
}

.message-bubble.me .message-text:before {
    color: rgba(73,93,127,0.05);
}

.opening-hours.summary li:hover,
.opening-hours.summary li.total-costs span { color: #495d7f; }
.payment-tab-trigger > input:checked ~ label::before { border-color: #495d7f; }
.payment-tab-trigger > input:checked ~ label::after { background-color: #495d7f; }