{% extends "base.html" %} {% load static %} {% block content %} {{ block.super }}
<div class="container ">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <div id="primary">
                <div class="document-title">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Profile</li>
                    </ol>
                    <h1>Profile</h1>
                </div>
                <div class="posts post-detail">
                    <div class="post-content">

                        <form method="POST" class="cmb-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="cmb2-wrap form-table">
                                <div class="cmb2-wrap form-table">
                                    <div class="cmb2-metabox cmb-field-list">
                                        <div class="cmb-row cmb-type-title cmb2-id-user-general-title" data-fieldtype="title">
                                            <div class="cmb-td">
                                                <h3 class="cmb2-metabox-title">General</h3>
                                            </div>
                                        </div>
                                        {% for field in uform %} {{ field.errors }} {{ field.label_tag }} {{ field }} {% endfor %} {% for field in pform %} {{ field.errors
                                        }} {{ field.label_tag }} {% if field.name == "image" and field.value != "" %}
                                        <img src="/uploads/{{field.value}}" /> {% endif %} {{ field }} {% endfor %}
                                    </div>
                                </div>

                            </div>

                            {% comment %}
                            <div class="cmb2-wrap form-table">
                                <div class="cmb2-metabox cmb-field-list">
                                    <div class="cmb-row cmb-type-title cmb2-id-user-general-title" data-fieldtype="title">
                                        <div class="cmb-td">
                                            <h3 class="cmb2-metabox-title" id="user-general-title">General</h3>
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-file cmb2-id-user-general-image" data-fieldtype="file">
                                        <div class="cmb-th">
                                            <label for="user_general_image">Photo</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input class="cmb2-upload-button button" type="button" value="Upload File" />

                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-general-first-name" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_general_first_name">First name</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" value="{{user.first_name}}" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-general-last-name" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_general_last_name">Last name</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" value="{{user.last_name}}" />
                                        </div>
                                    </div>
                                    <div class="cmb-row" data-fieldtype="text_unique_user_email">
                                        <div class="cmb-th">
                                            <label for="user_general_email">E-mail</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="email" class="cmb2-text-medium" name="user_general_email" id="user_general_email" value="{{user.email}}" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-url cmb2-id-user-general-website table-layout" data-fieldtype="text_url">
                                        <div class="cmb-th">
                                            <label for="user_general_website">Website</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-url cmb2-text-medium regular-text" name="user_general_website" id="user_general_website"
                                                value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-general-phone" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_general_phone">Phone</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_general_phone" id="user_general_phone" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-title cmb2-id-user-address-title" data-fieldtype="title">
                                        <div class="cmb-td">
                                            <h3 class="cmb2-metabox-title" id="user-address-title">Address</h3>
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-address-street-and-number" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_address_street_and_number">Street and number</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_address_street_and_number" id="user_address_street_and_number" value=""
                                            />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-address-postal-code" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_address_postal_code">Postal code</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_address_postal_code" id="user_address_postal_code" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-address-city" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_address_city">City</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_address_city" id="user_address_city" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-address-country" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_address_country">Country</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_address_country" id="user_address_country" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-address-county" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_address_county">State / County</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_address_county" id="user_address_county" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-title cmb2-id-user-social-title" data-fieldtype="title">
                                        <div class="cmb-td">
                                            <h3 class="cmb2-metabox-title" id="user-social-title">Social Connections</h3>
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-facebook" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_facebook">Facebook</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_facebook" id="user_social_facebook" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-twitter" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_twitter">Twitter</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_twitter" id="user_social_twitter" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-google" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_google">Google+</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_google" id="user_social_google" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-instagram" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_instagram">Instagram</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_instagram" id="user_social_instagram" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-vimeo" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_vimeo">Vimeo</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_vimeo" id="user_social_vimeo" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-youtube" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_youtube">YouTube</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_youtube" id="user_social_youtube" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-linkedin" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_linkedin">LinkedIn</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_linkedin" id="user_social_linkedin" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-dribbble" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_dribbble">Dribbble</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_dribbble" id="user_social_dribbble" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-skype" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_skype">Skype</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_skype" id="user_social_skype" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-foursquare" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_foursquare">Foursquare</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_foursquare" id="user_social_foursquare" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-social-behance" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_social_behance">Behance</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_social_behance" id="user_social_behance" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-title cmb2-id-user-billing-title" data-fieldtype="title">
                                        <div class="cmb-td">
                                            <h3 class="cmb2-metabox-title" id="user-billing-title">Billing details</h3>
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-name" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_name">Name</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_name" id="user_billing_name" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-registration-number" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_registration_number">Reg. No.</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_registration_number" id="user_billing_registration_number"
                                                value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-vat-number" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_vat_number">VAT No.</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_vat_number" id="user_billing_vat_number" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-street-and-number" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_street_and_number">Street and number</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_street_and_number" id="user_billing_street_and_number" value=""
                                            />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-postal-code" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_postal_code">Postal code</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_postal_code" id="user_billing_postal_code" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-city" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_city">City</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_city" id="user_billing_city" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-country" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_country">Country</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_country" id="user_billing_country" value="" />
                                        </div>
                                    </div>
                                    <div class="cmb-row cmb-type-text-medium cmb2-id-user-billing-county" data-fieldtype="text_medium">
                                        <div class="cmb-th">
                                            <label for="user_billing_county">State / County</label>
                                        </div>
                                        <div class="cmb-td">
                                            <input type="text" class="cmb2-text-medium" name="user_billing_county" id="user_billing_county" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>{% endcomment %}
                            <input type="submit" name="submit-profile" value="Save profile" class="button">
                        </form>
                    </div>
                    <!-- /.post-content -->
                </div>
                <!-- /.post -->
            </div>
            <!-- /#primary -->
        </div>
        <!-- /.col-* -->
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar sidebar_dashboard">
                <div class="widget widget_nav_menu" id="nav_menu-7">
                    <h2 class="widgettitle">Navigation</h2>
                    <div class="menu-dashboard-menu-container">
                        <ul class="menu" id="menu-dashboard-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-674 current_page_item menu-item-3445"
                                id="menu-item-3445">
                                <a href=""><i class="fa fa-fw fa-user"></i>My Profile</a>
                            </li>

                            {% if user.has_business %}
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-674 current_page_item menu-item-3445"
                                id="menu-item-3445">
                                <a href="{% url 'business:profile-edit' %}"><i class="fa fa-fw fa-user"></i>My Business</a>
                            </li>
                            {% endif %}

                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3447" id="menu-item-3447">
                                <a href="#"><i class="fa fa-fw fa-heart"></i>My Favorites</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449" id="menu-item-3449">
                                <a href="#"><i class="fa fa-fw fa-file-text-o"></i>My Invoices</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450" id="menu-item-3450">
                                <a href="#"><i class="fa fa-fw fa-money"></i> Transactions</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451" id="menu-item-3451">
                                <a href="#"><i class="fa fa-fw fa-key"></i>Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.sidebar -->
        </div>
        <!-- /.col-* -->
        <!-- /.col-* -->
    </div>

    {% comment %}
    <div class="pagination">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ contaobject_listcts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span> {% if object_list.has_next %}
        <a href="?{{page_request_var}}={{ object_list.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
    {% endcomment %}
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}

<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/infobox.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/markerclusterer.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/js-cookie.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/jquery-google-map.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/assets/js/inventor-google-map.js' %}"></script>

{% endblock javascripts %}