{% extends "base-dashboard.html" %} {% load static %}

<!-->

=== TO DO ===

-Get the forms to work
-clean notes
-->

 {% block content %}

		<!-- Content
	================================================== -->
		<div class="dashboard-content">

			<!-- Titlebar -->
			<div id="titlebar">
				<div class="row">
					<div class="col-md-12">
						<h2>My Profile</h2>
						<!-- Breadcrumbs -->
						<nav id="breadcrumbs">
							<ul><li><a href="{% url 'home' %}">Home</a></li>
								<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
								<li>My Profile</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			
			<div class="row">

				{% if messages %}
            
                {% for message in messages %}
					{% ifequal message.tags "password_changed success" %}
					<div class="col-md-12">
						<div class="notification success closeable">
							<p> {{message}}</p>
							<a class="close"></a>
						</div>
					</div>
					
					{% endifequal %}
					
					{% endfor %}
				{% endif %}
				
				

				<!-- Profile -->
				<div class="{% if request.user.is_social %} col-lg-12 {% else %}col-md-12 col-lg-6 {% endif %}">
					<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="dashboard-list-box margin-top-0">
							<h4 class="gray">Profile Details</h4>
							<div class="dashboard-list-box-static">

								<!-- Avatar -->

								<!-- Dropzone -->
								<div id="galleryDrop" class="dropzone">
									{% comment %} <input type="hidden" name="business" value="{{business.id}}"/> {% endcomment %}
									<!-- <form id="id_dropzone" action="{% url 'business:profile-edit' %}" class="dropzone"></form> -->
								</div>

								<!-- <div class="edit-profile-photo">
									<img src="/uploads/{{profile.image}}" alt="">
									<div class="change-photo-btn">
										<div class="photoUpload">
											<span>
												<i class="fa fa-upload"></i> Upload Photo</span>
											<input type="file" class="upload" />
										</div>
									</div>
								</div> -->

								<!-- Details -->
								<div class="my-profile">
									<div class="col-md-6">
										<label>First Name</label>
										<!-- <input value="{{request.user.first_name}}" type="text"> -->
										{{user_form.first_name}}
									</div>
									<div class="col-md-6">
										<label>Last Name</label>
										{{user_form.last_name}}
									</div>
									<div class="col-md-12">
										<label>Email</label>
										{{user_form.email}}
									
									<label>
										<i class="fa fa-twitter"></i> Twitter</label>
									<input placeholder="https://www.twitter.com/" type="text">

									<label>
										<i class="fa fa-facebook-square"></i> Facebook</label>
									<input placeholder="https://www.facebook.com/" type="text">

									<label>
										<i class="fa fa-google-plus"></i> Google+</label>
									<input placeholder="https://www.google.com/" type="text">
									</div>
								</div>

								<button type="submit" class="button margin-top-15 margin-left-20">Save Changes</button>

							</div>
						</div>
					</form>
				</div>

				{% if not request.user.is_social %}
					<!-- Change Password -->
					<div class="col-lg-6 col-md-12">
						<div class="dashboard-list-box margin-top-0">
							<h4 class="gray">Change Password</h4>
							<div class="dashboard-list-box-static">
								<form method="POST" action="{% url 'profile:change-psw' %}">
									{% csrf_token %}
									{{psw_form.old_password.label_tag }}
									{{psw_form.old_password }}
									{{psw_form.old_password.errors }}
									
									{{psw_form.new_password1.label_tag }}
									{{psw_form.new_password1 }}
									{{psw_form.new_password1.errors }}
									
									{{psw_form.new_password2.label_tag }}
									{{psw_form.new_password2 }}
									{{psw_form.new_password2.errors }}
									

									<!-- Change Password -->
									<!-- <div class="my-profile">
										<label class="margin-top-0">Current Password</label>
										<input type="password">

										<label>New Password</label>
										<input type="password">

										<label>Confirm New Password</label>
										<input type="password">

										<button type="submit" class="button margin-top-15">Change Password</button>
									</div> -->
								<button type="submit" class="button margin-top-15">Change Password</button>
							</form>
							</div>
						</div>
					</div>
				{% endif %}

				
				<!-- Copyrights -->
				<div class="col-md-12 margin-bottom-75">
					
				</div>

			</div>

		</div>
		<!-- Content / End -->
		{% endblock content %}




	<!-- Scripts
================================================== -->

	{% block javascripts %} 
	{{ block.super }} 
	<script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>
	
	

	<script type="text/javascript">

	function getCookie(name) {

		var cookieValue = null;
		if (document.cookie && document.cookie != '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) == (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}

		return cookieValue;

	}
	
	Dropzone.autoDiscover = false;
	var myDropzone = new Dropzone("div#galleryDrop", 
	{ 
		autoProcessQueue: true,
		clickable: true,
		resizeWidth: 400,
		headers: {
			'X-CSRFToken': getCookie('csrftoken')
		},
		url: "{% url 'profile:upload-profile-image' %}",
	});

	
	
	</script>
	{% endblock javascripts %}