#branding {
    width: 600px;
}

#logo{
    max-width: 30%;
    margin-top: -5px;
}

#header {
    background-color:#424242;
}

.module h2, .module caption, .inline-group h2{
    background-color: #424242;
}

div.breadcrumbs {
    background-color: #9E9E9E;
    color: #424242;
}

.button.default, input[type=submit].default, .submit-row input.default{
    background-color: #424242;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #9E9E9E;
}
.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background-color: #212121;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover{
    background-color: #757575;
}
a:link, a:visited {
    color: #616161;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #BDBDBD;
}