
.calander-cover{
    width: 100%;
    float: left;
}

.fc-day-grid-container.fc-scroller {
    height: auto !important;
}

.fc-basic-view tbody .fc-row {
    height: 52px !important;

}

.fc-basic-view td.fc-week-number span, .fc-basicWeek-view .fc-content-skeleton td {
    line-height: 52px;
    height: 52px;
    text-align: center;
    max-height: 52px !important;
}

.fc-basic-view td.fc-day-number {
    line-height: 52px;
    height: 52px;
    max-height: 52px !important;

}

.fc-widget-content.fc-state-highlight:before {
    content: '\00a0';
    border: 2px solid #f26122;
    height: 48px;
    width: calc(100% - 3px);
    display: block;
    position: relative;
    background: rgba(242, 111, 39, 0.45) !important;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: 0;
}

td.fc-day-number.fc-sat.fc-today.fc-state-highlight.avlble-evnt {
    border: none !important;
}

.fc-state-highlight {
    background: none !important;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: center;
    min-height: 52px;
    max-height: 52px !important;
    padding: 0 !important;
    border: 0 !important;
}

th.fc-week-number.fc-widget-header, td.fc-week-number {
    display: none !important;
}

.calender-otr {
    position: relative;
}

button.fc-prev-button {
    position: absolute;
    top: calc(50% + 48px);
    left: 0px;
    background: #f26f27;
    border: none;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    font-size: 12px;
    width: 33px;
    height: 29px
}

button.fc-next-button {
    position: absolute;
    top: calc(50% + 48px);
    right: 0px;
    background: #f26f27;
    border: none;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    font-size: 12px;
    width: 33px;
    height: 29px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

button.fc-month-button {
    background: none;
    box-shadow: none;
    border: none;
    margin-left: 8px;
    color: #9293a2;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;

}

.fc-toolbar .fc-state-active {
    /*    background: #feefe8 !important;*/
    border-radius: 6px;
    color: #f26f27 !important;

}

button.fc-basicWeek-button.fc-button.fc-state-default.fc-corner-right {
    background: none;
    box-shadow: none;
    border: none;
    margin-left: 8px;

    color: #9293a2;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.fc-toolbar {
    margin-top: 5px;
    margin-bottom: 15px;

    padding: 14px 35px 12px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.05);
}

.fc-view-container {
    padding: 0px 40px 10px;

}

.fc th, .fc thead tr td {
    border: transparent;
}

.fc-unthemed .fc-row.fc-widget-header {
    margin-bottom: 10px;
}

.fc-unthemed td {
    border-color: #ebebeb;
    line-height: 52px;
    height: 52px;
    max-height: 52px !important;
    overflow: hidden;

}

.fc-toolbar h2 {
    color: #f26f28;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.fc th {
    font-size: 14px;
    font-weight: 600;
    color: #656363;
    text-transform: uppercase;
}

.fc td {
    margin: 0;
    font-size: 14px;
    height: 52px !important;
    overflow: visible !important;
    max-height: 52px !important;
}

.fc-highlight {
    background: transparent !important;
    opacity: 0.7 !important;
}

.fc-highlight:before {
    border: 2px solid #f26122;
    opacity: 1 !important;
    height: 52px;
    max-height: 52px !important;
    width: calc(100% - 3px);
    display: block;
    position: relative;
    background: transparent;
    content: "";
}

.fc-bgevent {
    background: rgb(255, 255, 255) !important;

}

.slctd-dte {
    color: #f26f27 !important;
    font-weight: 600 !important;
}

.fc-day-number, .week-cls {
    pointer-events: none !important;
    color: #dadada !important;
}

.fc-past {
    pointer-events: none !important;
}

td.week-cls.avlble-evnt {
    pointer-events: auto !important;
    color: #3b3b3c !important;
    background: #f26f274a;
    cursor: pointer;
}

td.fc-day-number.avlble-evnt {
    background: #f26f274a;
}

td.fc-day-number.avlble-evnt {
    pointer-events: auto !important;
    color: #3b3b3c !important;
    cursor: pointer;

}

.fc-basicWeek-view.fc-content-skeleton, .fc-basicDay-view.fc-content-skeleton {
    padding-top: 0px !important;
    padding-bottom: 0;
}

td.week-cls.avlble-evnt.td_clicked {
    content: '\00a0';
    border: 2px solid #f26122 !important;
    height: 48px !important;
    width: calc(100% - 4px);
    display: block;
    position: relative;
    background: transparent;
}
td.fc-day-number.avlble-evnt.td_clicked {
    /* content: '\00a0'; */
    /* border: 2px solid #f26122; */
    display: block;
    position: relative;
    background: transparent;
    padding: 0 !important;
    border: 0 !important;
}

td.fc-day-number.avlble-evnt.td_clicked:before {
    position: absolute;
    width: 95% !important;
    height: 93% !important;
    right: -1px;
    left: 0;
    bottom: 0;
    top: 1px !important;
    margin: auto;
    content: '';
    border: 2px solid #f26122;
}

td.fc-day.fc-widget-content.fc-sat.fc-today.fc-state-highlight {
    position: relative;
}
td.fc-today.fc-state-highlight{
	background: rgba(242, 111, 39, 0.45) !important;
    	color: #fff !important;
}
.fc-widget-content.fc-state-highlight:before {
    border: 2px solid rgba(242, 111, 39, 0.45);
}