/*
* Author: Spotimist
* 
*/


/*
* General
* 
*/

.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .display-3 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

/*
* Fix: User menu length
* 
*/
  @media (min-width: 1025px) and (max-width: 1239px)  {
    .right-side {
        width: auto;
        display: inline-block;
        margin-top: -126px;
        position: relative;
    }

    .left-side {
        width: 100%;
        display: inline-block;
    }
}

/*
* Listings footer to add activities
* 
*/

.listing-footer {
  color: #909090;
  padding: 15px 30px;
}
.listing-footer i {
  padding-right: 3px;
}
.listing-footer a {
  color: #909090;
}
.listing-footer a:hover {
  color: #707070;
}
.listing-footer span {
  float: right;
}

.listing-title {
  padding: 15px 30px;
  padding-top: 12px;
}
.listing-title h4 a {
  font-size: 20px;
  color: #333;
  line-height: 31px;
}
.listing-title h4 a:hover {
  color: #66676b;
}

ul.listing-details {
  background-color: #f7f7f7;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  padding: 3px 30px 3px 0;
}
ul.listing-details li {
  width: auto;
  box-sizing: border-box;
  margin: 0;
  color: #868686;
  padding: 3px 0 3px 30px;
  display: inline-block;
  line-height: 26px;
}

/*
* Things to do icons
* 
*/
.right-side-icon {
	float:right;
}

/*
* Remove opacity on button to right
* 
*/
.no-opacity
{ opacity: 1; }

.errorlist li {
  color:red;
}

.tandclink {
  text-decoration: underline;
}

.info-required{
  content:"*";
  color:red;
  font-weight: 900; 
}

/*
*fix top
*/
#top0 { top: 0px; }