{% extends "base.html" %} {% load i18n %} {% load static %}

{% block content %}

    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container margin-top-50">
        <div class="row">

            <!-- Content
            ================================================== -->
            <div class="col-lg-8 col-md-8 padding-right-30">

                <h3 class="margin-top-0 margin-bottom-30">

                    Order Confirmed</h3>

                <div class="row">
                    <div class="notification success closeable">
                        <p><span>Success!</span> Thank you for submitting your order.</p>
                        <a class="close"></a>
                    </div>

                    <div class="col-md-6">
                        <label>Name: {{ booking.forename }} {{ booking.surname }}</label>
                        <label>Email: {{ booking.email }}</label>
                        <label>Booking Reference: {{ booking.booking_id }}</label>

                    </div>

                    <div class="col-md-6">
                        <div class="qr-img">
                            <img src="{{ qr_image }}"/>
                        </div>
                    </div>

                </div>

            </div>


            <!-- Sidebar
            ================================================== -->
            <div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

                <!-- Booking Summary -->
                <div class="listing-item-container compact order-summary-widget">
                    <div class="listing-item">
                        <img src="{{ business.get_image_url }}" alt="">

                        <div class="listing-item-content">
                            <div class="numerical-rating" data-rating="5.0"></div>
                            <h3>{{ business.name }}</h3>
                            <span>{{ business.address }}</span>
                        </div>
                    </div>
                </div>
                <div class="boxed-widget opening-hours summary margin-top-0">
                    <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
                    <ul>
                        <li>Activity <span>{{ activity.name }}</span></li>
                        <li>Service <span>{{ service.name }}</span></li>
                        <li>Date <span>{{ date }} - {{ time }}</span></li>
                        <li>Total Guest <span>{{ guest }}</span></li>

                        <li class="total-costs">Total Cost
                            <span>
                            {% if price == 0 %}
                                FREE
                            {% else %}
                                €{{ price|stringformat:'g' }}
                            {% endif %}
                        </span>
                        </li>
                    </ul>
                </div>
                <!-- Booking Summary / End -->

            </div>

        </div>
    </div>
    <!-- Container / End -->

{% endblock content %}