{% extends "base.html" %} {% load i18n %} {% load static %}

{% block content %}

    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="spinner-cover" style="display:none;">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="container margin-top-50">
        <div class="row">

            <!-- Content
            ================================================== -->
            <div class="col-lg-8 col-md-8 padding-right-30">
                {% if messages %}

                    {% for message in messages %}
                        {% ifequal message.tags "card_error error" %}
                            <div class="notification error closeable">
                                <p>
                                    {{ message }}
                                </p>
                                <a class="close"></a>
                            </div>
                        {% endifequal %}
                    {% endfor %}

                {% endif %}
                <form method="POST" action="{% url 'bookings:booking_create' %}" id="formCheckout">
                    {% csrf_token %}

                    <h3 class="margin-top-0 margin-bottom-30">Personal Details</h3>

                    <div class="row">

                        <div class="col-md-6">
                            <label>First Name</label>
                            {{ form.forename }}
                        </div>

                        <div class="col-md-6">
                            <label>Last Name</label>
                            {{ form.surname }}
                        </div>

                        <div class="col-md-6">
                            <div class="input-with-icon medium-icons">
                                <label>E-Mail Address</label>
                                {{ form.email }}
                                <i class="im im-icon-Mail"></i>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-with-icon medium-icons">
                                <label>Phone</label>
                                <input type="text" value="">
                                <i class="im im-icon-Phone-2"></i>
                            </div>
                        </div>

                    </div>

                    <!-- if price is 0 remove the payment block -->

                    {% if price != 0 %}
                        <h3 class="margin-top-55 margin-bottom-30">Payment Method</h3>

                        <!-- Payment Methods Accordion -->
                        <div class="payment">

                            <div class="payment-tab payment-tab-active">
                                <div class="payment-tab-trigger">
                                    <input type="radio" checked name="cardType" id="creditCart" value="creditCard">
                                    <label for="creditCart">Credit / Debit Card</label>
                                    <img class="payment-logo" src="https://i.imgur.com/IHEKLgm.png" alt="">
                                </div>

                                <div class="payment-tab-content">
                                    <div class="row">

                                        <div class="form-row">
                                            <label for="card-element">
                                                Credit or debit card
                                            </label>
                                            <div id="card-element">
                                                <!-- A Stripe Element will be inserted here. -->
                                            </div>

                                            <!-- Used to display Element errors. -->
                                            <div id="card-errors" role="alert"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}



                    <!-- Payment Methods Accordion / End -->
                    <button id="bookNow" class="progress-button button margin-top-20" type="submit">Book Now</button>
                    <!-- <a href="pages-booking-confirmation.html" class="button booking-confirmation-btn margin-top-40 margin-bottom-65">Confirm and Pay</a> -->
                </form>

            </div>


            <!-- Sidebar
            ================================================== -->
            <div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

                <!-- Booking Summary -->
                <div class="listing-item-container compact order-summary-widget">
                    <div class="listing-item">
                        <img src="{{ business.get_image_url }}" alt="">

                        <div class="listing-item-content">
                            <div class="numerical-rating" data-rating="5.0"></div>
                            <h3>{{ business.name }}</h3>
                            <span>{{ business.address }}</span>
                        </div>
                    </div>
                </div>
                <div class="boxed-widget opening-hours summary margin-top-0">
                    <h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
                    <ul>
                        <li>Activity <span>{{ activity.name }}</span></li>
                        <li>Service <span>{{ service.name }}</span></li>
                        <li>Date <span>{{ date }} - {{ time }}</span></li>
                        <li>Total Guest <span>{{ guest }}</span></li>

                        <li class="total-costs">Total Cost
                            <span>

                            {% if price == 0 %}
                                FREE
                            {% else %}
                                €{{ price }}
                            {% endif %}
                        </span>
                        </li>
                    </ul>
                </div>
                <!-- Booking Summary / End -->

            </div>

        </div>
    </div>

    <!-- Container / End -->

{% endblock content %}

{% block javascripts %}

    {{ block.super }}
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">

        // Create a Stripe client.
        var stripe = Stripe('{{stripe_api_key}}');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                lineHeight: '18px',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'

            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = $("#formCheckout"); // document.getElementById('payment-form');

        $("#formCheckout").submit(function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    $("#bookNow").attr("disabled", "disabled");
                    $(".spinner-cover").show();
                    stripeTokenHandler(result.token);

                }
            });

        });

        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('formCheckout');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();

        }

    </script>
{% endblock javascripts %}