{% extends "admin/base.html" %}
{% load static %}



{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<style type="text/css">
    body:before {
        display: block;
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        content: "{{ ENVIRONMENT_NAME }}";
        background-color: {{ ENVIRONMENT_COLOR }};
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static "css/admin-extra.css" %}" />
{% endblock %}

{% block branding %}

<h1 id="site-name"><a href="{% url 'admin:index' %}">
    <img id="logo" src="{% static 'images/spotimist-v2-white.png' %}" />
     - Administration</a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}