{% extends "registration/registration_base.html" %} 
{% load i18n %} 

{% block title %}
    {% trans "Log in" %}
{% endblock title %} 

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div id="primary">
            <div class="posts post-detail">
                <div class="post-content">

                    <h1 class="title-border-bottom" style="text-align: center;">Login</h1>
                    <p style="text-align: center;"></p>

                    <form class="login-form" method="post">
                        {% csrf_token %} 
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.username.errors }}
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>

                        <div class="form-group">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>

                        <button type="submit" class="button">
                            <i class="fa fa-sign-in"></i> Sign in
                        </button>
                        <div class="extra-actions">
                            
                            <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
                        </div>
                    </form>
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.post -->
        </div>
        <!-- #primary -->
    </div>
    <!-- /.col-* -->
</div>
<!-- /.row -->

{% endblock content %}