{% extends "registration/registration_base.html" %} 
{% load i18n %} {% block title %} {% trans "Register for an account"%} 
{% endblock title %} 

{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<br>
<div class="row">
    <div class="col-sm-12">
        <div id="primary">
            <div class="posts post-detail">
                <div class="post-content">
                    <div class="row registration-page">
                        <div class="col-sm-4 col-sm-offset-1">
                            <h1 class="title-border-bottom center">Registration</h1>
                            <form method="post" action="">
                                {% csrf_token %} 
                                {{ form.as_p }}
                                <input type="submit" value="{% trans 'Submit' %}" />
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <div class="registration-note">
                                <div class="registration-icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="registration-content">
                                    <h3 class="registration-title">Start by using our free package</h3>
                                    <p>Aliquam in lacus vel erat gravida malesuada nec at ante. Nunc sed pellentesque sem. Suspendisse
                                        diam quam, posuere eget nulla at, pretium iaculis augue.</p>
                                    <p></p>
                                </div>
                                <p></p>
                            </div>
                            <div class="registration-note">
                                <div class="registration-icon">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="registration-content">
                                    <h3 class="registration-title">14 days money back guarantee</h3>
                                    <p>Aliquam in lacus vel erat gravida malesuada nec at ante. Nunc sed pellentesque sem. Suspendisse
                                        diam quam, posuere eget nulla at, pretium iaculis augue.</p>
                                    <p></p>
                                </div>
                                <p></p>
                            </div>
                            <div class="registration-note">
                                <div class="registration-icon">
                                    <i class="fa fa-tachometer"></i>
                                </div>
                                <div class="registration-content">
                                    <h3 class="registration-title">Advanced user dashboard</h3>
                                    <p>Aliquam in lacus vel erat gravida malesuada nec at ante. Nunc sed pellentesque sem. Suspendisse
                                        diam quam, posuere eget nulla at, pretium iaculis augue.</p>
                                    <p></p>
                                </div>
                                <p></p>
                            </div>
                            <div class="registration-note">
                                <div class="registration-icon">
                                    <i class="fa fa-support"></i>
                                </div>
                                <div class="registration-content">
                                    <h3 class="registration-title">24/7 online support ready to help</h3>
                                    <p>Aliquam in lacus vel erat gravida malesuada nec at ante. Nunc sed pellentesque sem. Suspendisse
                                        diam quam, posuere eget nulla at, pretium iaculis augue.</p>
                                    <p></p>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.post -->
        </div>
        <!-- #primary -->
    </div>
    <!-- /.col-* -->
</div>
<!-- /.row -->


{% endblock content %}