{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	

-->
{% block content %}

<!-- Content
	================================================== -->
	<div class="dashboard-content">
			
	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Support Requests</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><a href="{% url 'support_list' %}">Support Requests</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">

        {% if messages %}
            {% for message in messages %}
                {% ifequal message.tags "reply_added success" %}
                    <div class="col-md-12">
                        <div class="notification success closeable">
                            <p> {{message}}</p>
                            <a class="close"></a>
                        </div>
                    </div>
                {% endifequal %}
            {% endfor %}
        {% endif %}
		
		<!-- Listings -->
		<div class="col-lg-12 col-md-12">

			<div class="messages-container margin-top-0">
				<div class="messages-headline">
					<h4>{{support_request.subject}}</h4>
				</div>
				
				<div class="messages-inbox">
					<ul>
                        <li>
                            <a href="#">
                                <div class="message-by" style="margin-left:0px;">
                                    <div class="message-by-headline">
                                        <h5>{{support_request.name}} - {{support_request.email}}</h5>
                                        <span>{{support_request.created|date:"d F y"}}</span>
                                    </div>
                                    <p>{{support_request.message}}</p>
                                </div>
                            </a>
                        </li>

                        {% if support_request_replies %}
                            {% for support_request_reply in support_request_replies %}
                                <li>
                                    <a href="#">
                                        <div class="message-by" style="margin-left:0px;">
                                            <div class="message-by-headline">
                                                <h5>{{support_request_reply.user.get_full_name}} - {{support_request_reply.user.email}}</h5>
                                                <span>{{support_request_reply.created|date:"d F y"}}</span>
                                            </div>
                                            <p>{{support_request_reply.message}}</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}

                        <li>
                            <div class="message-by" >
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{form.message}}
                                <input type="submit" value="Reply" />
                                </form>
                            </div>
                        </li>
					</ul>
				</div>
			</div>
	    </div>
	</div>
	<!-- Content / End -->

{% endblock content %}