{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	

-->
{% block content %}

<!-- Content
	================================================== -->
	<div class="dashboard-content">
			
	<!-- Titlebar -->
	<div id="titlebar">
		<div class="row">
			<div class="col-md-12">
				<h2>Support Requests</h2>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li>Support Requests</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="row">

			{% if messages %}
            
			{% for message in messages %}
				{% ifequal message.tags "review_added success" %}
				<div class="col-md-12">
					<div class="notification success closeable">
						<p> {{message}}</p>
						<a class="close"></a>
					</div>
				</div>
				
				{% endifequal %}
				
				{% endfor %}
			{% endif %}
		
		<!-- Listings -->
		<div class="col-lg-12 col-md-12">

			<div class="messages-container margin-top-0">
				<div class="messages-headline">
					<h4>Support Requests</h4>
				</div>
				
				<div class="messages-inbox">

					<ul>
						{% for support_request in support_requests %}
							<li>
								<a href="{% url 'support_detail' pk=support_request.id %}">
									<div class="message-avatar"><img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt="" /></div>

									<div class="message-by">
										<div class="message-by-headline">
											<h5>{{support_request.name}} - {{support_request.subject}}</h5>
											<span>{{support_request.created|date:"d F y"}}</span>
										</div>
										<p>{{support_request.message|truncatechars:150}}</p>
									</div>
								</a>
							</li>
						{%endfor %}
					</ul>
					
				</div>
			</div>

			<!-- Pagination -->
			{% comment %} <div class="clearfix"></div>
			<div class="pagination-container margin-top-30 margin-bottom-0">
				<nav class="pagination">
					<ul>
						<li><a href="#" class="current-page">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
					</ul>
				</nav>
			</div> {% endcomment %}
			<!-- Pagination / End -->

	</div>

	</div>
	<!-- Content / End -->

{% endblock content %}