{% extends "base-dashboard.html" %} {% load static %}

<!-- comment 

=== TO DO ===

- Opening hours

 -->

{% block content %}

    <!-- Content
    ================================================== -->
    <div class="dashboard-content">
        <!-- Titlebar -->
        <div id="titlebar">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Business</h2>
                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li>My Business</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Section -->
        {% if form.description.errors %}
            <div class="notification error closeable">
                <p> {{ form.description.errors }}</p>
                <a class="close"></a>
            </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                {% ifequal message.tags "business_created success" %}
                    <div class="notification success closeable">
                        <p>
                            Your business has been created successfully! <br/>
                            Complete your profile by uploading pictures of your business (for best result upload at
                            least 3 photos), description, contact details and opening hours.
                        </p>
                        <a class="close"></a>
                    </div>
                {% endifequal %}
            {% endfor %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data" id="edit-form">
            {% csrf_token %}
            <div id="add-listing">
                <div class="add-listing-section">
                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-doc"></i> Basic Information</h3>
                    </div>

                    <!-- Title -->
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <h5>Business name <i class="info-required">*</i>
                            </h5>
                            {{ form.name }}

                        </div>

                    </div>

                    {% comment %}
            <!-- Checkboxes -->
            <h5 class="margin-top-30 margin-bottom-10">Categories
            </h5>
            <div class="checkboxes in-row margin-bottom-20">

                {% for category in form.categories %}

                {{ category.tag }}
                <label for="{{ category.id_for_label }}">{{ category.choice_label }}</label>

                {% endfor %}
                {{form.categories.errors}}


            </div>
            <!-- Checkboxes / End -->
            {% endcomment %}
                </div>
                <!-- Section / End -->

                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-location"></i> Location</h3>
                    </div>

                    <div class="submit-section">

                        <!-- Row -->
                        <div class="row with-forms">

                            <!-- Address -->
                            <div class="col-md-6">
                                <p>
                                <h5 for="autocomplete">Address <i class="info-required">*</i></h5>
                                {% comment %} <input id="pac-input" type="text"
                                             placeholder="Enter a location"> {% endcomment %}
                                {{ form.addressGmap }}
                                {% comment %} <input class="form-control" id="autocomplete" maxlength="250" name="addressGmap"
                                             onfocus="geolocate()" type="text" required="">
                        <input id="id_latitude" maxlength="120" name="latitude" type="hidden">
                        <input id="id_longitude" maxlength="120" name="longitude" type="hidden">
                        <input id="id_address" maxlength="250" name="address" type="hidden">
                        <input id="id_postCode" maxlength="120" name="postCode" type="hidden">
                        <input id="id_city" maxlength="120" name="city" type="hidden">
                        <input id="id_country" maxlength="120" name="country" type="hidden"> {% endcomment %}
                                </p>
                            </div>
                        </div>
                        <!-- Row / End -->

                        <!-- Location -->
                        <div id="listing-location" class="listing-section">
                            <h5 class="listing-desc-headline margin-top-30 margin-bottom-15">Location<i class="tip"
                                                                                                        data-tip-content="Slide the marker to adjust position"></i>
                            </h5>

                            <div id="singleListingMap-container">
                                <div id="singleListingMap" data-map-type="edit" data-latitude="{{ business.latitude }}"
                                     data-longitude="{{ business.longitude }}"
                                     data-map-icon="im im-icon-Map-Marker2"></div>
                                <!-- <a href="#" id="streetView">Street View</a> -->
                            </div>

                            {{ form.latitude }}
                            {{ form.longitude }}
                            {{ form.address }}
                            {{ form.city }}
                            {{ form.postCode }}
                            {{ form.country }}
                            {{ form.check_status }}


                        </div>

                    </div>
                </div>
                <!-- Section / End -->

                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-picture"></i> Gallery
                            <i class="tip" style="top:-4px"
                               data-tip-content="Upload at least 3 pictures, first picture will show up as thumbnail"></i>
                            <i class="info-required">*</i></h3>
                    </div>

                    <!-- Dropzone -->
                    <div id="galleryDrop" class="dropzone">
                        {% comment %} <input type="hidden" name="business" value="{{business.id}}"/> {% endcomment %}
                        <!-- <form id="id_dropzone" action="{% url 'business:profile-edit' %}" class="dropzone"></form> -->
                    </div>

                    <div id="drop-preview" class="dropzone dropzone-previews">

                    </div>
                </div>
                <!-- Section / End -->


                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3>
                            <i class="sl sl-icon-docs"></i> Details</h3>
                    </div>

                    <!-- Description -->
                    <div class="form">
                        <h5>Description<i class="tip"
                                          data-tip-content="Description should be a minimum of 150 characters"></i> <i
                                class="info-required">*</i></h5>
                        {{ form.description }}

                    </div>

                    <!-- Row -->
                    <div class="row with-forms">

                        <!-- Phone -->
                        <div class="col-md-4">
                            <h5>Phone
                                <span>(optional)</span>
                            </h5>
                            {{ form.phone.errors }} {{ form.phone }}
                        </div>

                        <!-- Website -->
                        <div class="col-md-4">
                            <h5>Website
                                <span>(optional)</span>
                            </h5>
                            {{ form.website.errors }} {{ form.website }}
                        </div>

                        <!-- Email Address -->
                        <div class="col-md-4">
                            <h5>E-mail
                                <span>(optional)</span>
                            </h5>
                            {{ form.business_email.errors }} {{ form.business_email }}
                        </div>

                    </div>
                    <!-- Row / End -->


                    <!-- Row -->
                    <div class="row with-forms">

                        <!-- Phone -->
                        <div class="col-md-4">
                            <h5 class="fb-input">
                                <i class="fa fa-facebook-square"></i> Facebook
                                <span>(optional)</span>
                            </h5>
                            {{ form.facebookUrl.errors }} {{ form.facebookUrl }}
                        </div>

                        <!-- Website -->
                        <div class="col-md-4">
                            <h5 class="twitter-input">
                                <i class="fa fa-twitter"></i> Twitter
                                <span>(optional)</span>
                            </h5>
                            {{ form.twitterUrl.errors }} {{ form.twitterUrl }}
                        </div>

                        <!-- Email Address -->
                        <div class="col-md-4">
                            <h5 class="instagram-input">
                                <i class="fa fa-instagram"></i> Instagram
                                <span>(optional)</span>
                            </h5>
                            {{ form.instagramUrl.errors }} {{ form.instagramUrl }}
                        </div>

                    </div>
                    <!-- Row / End -->


                    <!-- Checkboxes -->
                    <!-- <h5 class="margin-top-30 margin-bottom-10">Amenities
                        <span>(optional)</span>
                    </h5>
                    <div class="checkboxes in-row margin-bottom-20">

                        <input id="check-a" type="checkbox" name="check">
                        <label for="check-a">Elevator in building</label>

                        <input id="check-b" type="checkbox" name="check">
                        <label for="check-b">Friendly workspace</label>

                        <input id="check-d" type="checkbox" name="check">
                        <label for="check-d">Wireless Internet</label>

                        <input id="check-e" type="checkbox" name="check">
                        <label for="check-e">Free parking on premises</label>

                        <input id="check-f" type="checkbox" name="check">
                        <label for="check-f">Free parking on street</label>

                        <input id="check-g" type="checkbox" name="check">
                        <label for="check-g">Smoking allowed</label>

                        <input id="check-h" type="checkbox" name="check">
                        <label for="check-h">Events</label>

                    </div> -->
                    <!-- Checkboxes / End -->

                </div>
                <!-- Section / End -->


                <!-- Section -->
                <div class="add-listing-section margin-top-45">

                    <!-- Headline -->
                    <div class="add-listing-headline">
                        <h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
                        <!-- Switcher -->
                        <label class="switch"><input id="check" type="checkbox" checked><span
                                class="slider round"></span></label>
                    </div>

                    <!-- Switcher ON-OFF Content -->
                    <div class="switcher-content">

                        <!-- Day -->
                        <div class="row opening-day">
                            <div class="col-md-2"><h5>Monday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="monday_opening" data-placeholder="Opening Time">
                                    {% for choice in opening_hours_form.monday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == monday_opn|date:"h:i A" %}
                                                selected {% endif %} >{{ choice.1 }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                            <div class="col-md-5">
                                <select class="chosen-select" name="monday_closing" data-placeholder="Closing Time">
                                    {% for choice in opening_hours_form.monday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == monday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}

                                </select>
                            </div>

                        </div>
                        {{ opening_hours_form.monday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Tuesday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="tuesday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.tuesday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == tuesday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="tuesday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.tuesday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == tuesday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ opening_hours_form.tuesday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Wednesday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="wednesday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.wednesday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == wednesday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="wednesday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.wednesday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == wednesday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ opening_hours_form.wednesday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Thursday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="thursday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.thursday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == thursday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="thursday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.thursday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == thursday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ opening_hours_form.thursday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Friday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="friday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.friday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == friday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="friday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.friday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == friday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ opening_hours_form.friday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Saturday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="saturday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.saturday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == saturday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="saturday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.saturday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == saturday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {{ opening_hours_form.saturday_closing.errors }}
                        <!-- Day / End -->

                        <!-- Day -->
                        <div class="row opening-day js-demo-hours">
                            <div class="col-md-2"><h5>Sunday</h5></div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="sunday_opening" data-placeholder="Opening Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.sunday_opening.field.choices %}
                                        <option value="{{ choice.0 }}" data-attr="{{ forloop.counter0 }}"
                                                {% if choice.1 == sunday_opn|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-5">
                                <select class="chosen-select" name="sunday_closing" data-placeholder="Closing Time">
                                    <!-- Hours added via JS (this is only for demo purpose) -->
                                    {% for choice in opening_hours_form.sunday_closing.field.choices %}
                                        <option value="{{ choice.0 }}" {% if choice.1 == sunday_cls|date:"h:i A" %}
                                                selected {% endif %}>{{ choice.1 }}</option>

                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        {{ opening_hours_form.sunday_closing.errors }}
                        <!-- Day / End -->

                    </div>
                    <!-- Switcher ON-OFF Content / End -->

                </div>
                <!-- Section / End -->


                <button type="submit" id="submitForm" name="submit-submission" value="Edit"
                        class="button margin-top-30 margin-bottom-30">Save Changes
                    <i class="fa fa-arrow-circle"></i>
                </button>
                {% comment %}
        <!-- Section -->
        <div class="add-listing-section margin-top-45 ">

            <!-- Headline -->
            <div class="add-listing-headline">
                <h3>
                    <i class="sl sl-icon-book-open"></i> Activities
                    <i class="tip" data-tip-content="To quickly create activities, can be done later on."></i>
                </h3>
                <!-- Switcher -->
                <label class="switch">
                    <input type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
            </div>

            <!-- Switcher ON-OFF Content -->
            <div class="switcher-content">

                <div class="row">
                    <div class="col-md-12">
                        <table id="pricing-list-container">
                            <tr class="pricing-list-item pattern">
                                <td>
                                    <div class="fm-move">
                                        <i class="sl sl-icon-cursor-move"></i>
                                    </div>
                                    <div class="fm-input pricing-name">
                                        <input type="text" placeholder="Title"/>
                                    </div>
                                    <div class="fm-input pricing-ingredients">
                                        <input type="text" placeholder="Description"/>
                                    </div>
                                    <div class="fm-close">
                                        <a class="delete" href="#">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <a href="#" class="button add-pricing-list-item">Add Item</a>
                    </div>
                </div>

            </div>
            <!-- Switcher ON-OFF Content / End -->

        </div>
        <!-- Section / End -->
        {% endcomment %}
            </div>
        </form>
    </div>
    <!-- Content / End -->
{% endblock content %}
<!-- Dashboard / End -->
<!-- Wrapper / End -->
<!-- Scripts
================================================== -->


{% block extra_js %}
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&libraries=places"></script>
    <script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>

    <!-- DropZone | Documentation: http://dropzonejs.com -->
    <script type="text/javascript" src="{% static 'scripts/dropzone.js' %}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            if (localStorage['check-val'] == "checked") {
                $('#check').prop('checked', true);
                $('#id_check_status').val('checked');
            } else {
                $('#check').prop('checked', false);
                $('#id_check_status').val('unchecked');
            }

        });
        $(document).on('change', function () {
            checkBox()
        });

        function checkBox() {

            if ($('#check').is(":checked")) {
                localStorage['check-val'] = "checked";
                $('#check').prop('checked', true);
                $('#id_check_status').val('checked');

            } else {
                localStorage['check-val'] = "unchecked";
                $('#check').prop('checked', false);
                $('#id_check_status').val('unchecked');
            }
        }

        function getCookie(name) {

            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;

        }

        var response = {{json_images|safe}};
        var business = {{business.id}};
        var deletedFiles = [];

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone(
            "div#galleryDrop",
            {
                autoProcessQueue: true,
                maxFiles: 10,
                clickable: true,
                addRemoveLinks: true,
                resizeWidth: 800,
                acceptedFiles: "image/*",
                previewsContainer: "#drop-preview",
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                url: "{% url 'business:business-image-upload' %}",
                init: function () {
                    for (var i = 0; i < response.length; i++) {
                        var obj = response[i];

                        //This will be neede to display existing images
                        var mockFile = {
                            name: obj.name,
                            size: obj.size,
                        };
                        this.emit("addedfile", mockFile);
                        this.emit("thumbnail", mockFile, obj.url);
                        //this.createThumbnailFromUrl(mockFile, obj.url);
                        this.emit("complete", mockFile);

                    }

                    var submitButton = document.querySelector("#submitForm");
                    myDropzone = this;

                    submitButton.addEventListener("click", function (data, xhr, formData) {

                        myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                    });

                    $(".dz-remove").html("<div style='margin-top:5px;'><span class='fa fa-remove text-danger' style='font-size: 1.5em'></span></div>");

                    /*this.on("addedfile", function(e) {
                        e._removeLink.innerHTML = "<div style='margin-top:5px;'><span class='fa fa-ban text-warning' style='font-size: 1.5em'></span></div>";

                    });*/

                    this.on("complete", function (file) {
                        //myDropzone.options.autoProcessQueue = true;
                        $(".dz-remove").html("<div style='margin-top:5px;'><span class='fa fa-remove text-danger' style='font-size: 1.5em'></span></div>");
                    });

                    // On removing file
                    this.on("removedfile", function (file) {

                        $.ajaxSetup({
                            beforeSend: function (xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                                }
                            }
                        });
                        //deletedFiles.push(file.name);
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'business:business-image-delete' %}",
                            data: {command: 'delete', business: business, file_d: file.name},
                            dataType: 'html'
                        });
                    });


                    this.on("processing", function (e) {
                        /*alert(myDropzone.options.autoProcessQueue);*/
                        //myDropzone.options.autoProcessQueue = true;
                        /*alert(myDropzone.options.autoProcessQueue);*/
                        //alert("processing");
                    });

                }
            });

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }


    </script>

{% endblock extra_js %}