{% extends "base.html" %}
{% load static %}
{% load tags %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/plugins/bootstrap-datepicker3.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar.css' %}?v=1.0.0"/>
    <link rel="stylesheet" href="{% static 'css/fullcalendar-css.css' %}?v=1.0.0"/>
{% endblock stylesheets %}
<!-- 

=== TO DO ===
-Select multiple bookings
-Display opening hours
-Make contacts work
-Work on reviews and stars
-Display only active activities

-->

{% block headerStyle %}
    <header id="header-container">
        <!-- Header -->
        <div id="header" class="not-sticky"></div>
    </header>
{% endblock headerStyle %}
{% block content %}
    <!-- Slider
    ================================================== -->

    <div class="listing-slider mfp-gallery-container margin-bottom-0">
        {% for image in images %}
            <a href="{{ image.image.url }}" data-background-image="{{ image.image.url }}" class="item mfp-gallery"></a>
        {% endfor %}
    </div>

    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row sticky-wrapper activity_outer">
            <div class="col-lg-8 col-md-8 padding-right-30 detail_outer" id="element-out">
                <!-- Titlebar -->
                <div id="titlebar" class="listing-titlebar section_out tit_bar_sec">
                    <div class="listing-titlebar-title">
                        <h2>{{ business.name }}
                            <span class="listing-tag">
                                    {{ business.get_first_category }}
                                </span>
                        </h2>
                        <span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							{{ business.city }}, {{ business.country }}
						</a>
					</span>
                        <div class="star-rating" data-rating="{{ business.get_rating }} ">
                            <div class="rating-counter"><a href="#listing-reviews">({{ business.get_reviews_count }}
                                reviews)</a></div>
                        </div>
                    </div>
                </div>
                <!-- Listing Nav -->
                <div id="listing-nav" class="listing-nav-container section_out list_nav">
                    <ul class="listing-nav">
                        <li><a href="#listing-overview" class="active">Overview</a></li>
                        <li><a href="#listing-pricing-list">Activities</a></li>
                        <li><a href="#listing-location">Location</a></li>
                        <li><a href="#listing-reviews">Reviews</a></li>
                    </ul>
                </div>
                <!-- Overview -->
                <div id="listing-overview" class="listing-section section_out list_nav">
                    <!-- Description -->
                    <p>
                        {{ business.description|linebreaks }}
                    </p>
                </div>
                <!-- Activities List -->
                <div id="listing-pricing-list" class="listing-section section_out list_nav">
                    <h3 class="listing-desc-headline margin-top-70 margin-bottom-30">Activities</h3>
                    {#                    <div class="show-mores">#}
                    <div class="pricing-list-container toggle-wrap">
                        {% for activity in activities %}
                            <!-- Activity Details -->
                            <div class="trigger-otr">
                                <h4 class="trigger">
                                    {{ activity.name }}<i class="sl sl-icon-arrow-up"></i>
                                    <i class="sl sl-icon-arrow-down" style="display:none;"></i>

                                    <!-- Activity Description -->
                                </h4>
                                <ul class="toggle-container" style="display: none;">
                                    {% for service in activity.get_services_list %}
                                        <li>
                                            <h5>
                                                {{ service.name }}
                                                <p class="date-servce">{{ service.get_next_occurrence|date:"j M y" }}</p>
                                            </h5>
                                            <div class="otr-right">
                                                <span class="time-servce">{{ service.start_time }}</span>
                                                {#                                            <span class="price-servce">FREE</span>#}
                                                {% if service.price == 0 %}
                                                    <span class="price-servce">FREE</span>
                                                {% else %}
                                                    <span class="price-servce">€{{ service.price }}</span>
                                                {% endif %}
                                                {% avail_service service as tag_service %}
                                                {% if tag_service == 'not-available' %}
                                                    <span class="btn-no-book-now "
                                                          data-toggle="modal">Not Available</span>
                                                {% else %}
                                                    <span class="btn-book-now" data-toggle="modal"
                                                          onclick="openBooking({{ service.id }})">Book Now</span>
                                                {% endif %}
                                            </div>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    {#                    </div>#}
                    {#                    <a href="#" class="show-more-button" data-more-title="Show More" data-less-title="Show Less"><i#}
                    {#                            class="fa fa-angle-down"></i></a>#}
                </div>
                <!-- Activities List / End -->
                <div id="listing-location" class="listing-section section_out list_nav">
                    <h3 class="listing-desc-headline margin-top-60 margin-bottom-30">Location</h3>

                    <div id="singleListingMap-container">
                        <div id="singleListingMap" data-latitude="{{ business.latitude }}"
                             data-longitude="{{ business.longitude }}" data-map-icon="im im-icon-Map"></div>
                        <a href="#" id="streetView">Street View</a>
                    </div>
                </div>
                <!-- Reviews -->
                <div id="listing-reviews" class="listing-section section_out list_nav">
                    <h3 class="listing-desc-headline margin-top-75 margin-bottom-20">Reviews
                        <span>({{ business.get_reviews_count }})</span>
                    </h3>

                    <div class="clearfix"></div>

                    <!-- Reviews -->
                    <section class="comments listing-reviews">
                        <ul>

                            {% for review in reviews %}
                                <li>
                                    <div class="avatar"><img
                                            src="//www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                                            alt=""/></div>
                                    <div class="comment-content">
                                        <div class="arrow-comment"></div>
                                        <div class="comment-by">{{ review.title }}
                                            - {{ review.user.get_full_name }}<span
                                                    class="date">{{ review.created|date:"d F y" }}</span>
                                            <div class="star-rating" data-rating="{{ review.rating }}"></div>
                                        </div>
                                        <p>
                                            {{ review.content_positive }}
                                        </p>

                                        <!--<div class="review-images mfp-gallery-container">-->
                                        <!--<a href="images/review-image-01.jpg" class="mfp-gallery"><img-->
                                        <!--src="/static/images/review-image-01.jpg" alt=""></a>-->
                                        <!--</div>-->
                                        {% comment %}
                                        <a href="#" class="rate-review"><i class="sl sl-icon-like"></i> Helpful Review
                                            <span>12</span></a> {% endcomment %}
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </section>

                    <!-- Pagination -->
                    {% comment %}
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Pagination -->
                                <div class="pagination-container margin-top-30">
                                    <nav class="pagination">
                                        <ul>
                                            <li><a href="#" class="current-page">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        {% endcomment %}
                    <!-- Pagination / End -->
                </div>
            </div>
            <!-- Sidebar
            ================================================== -->
            <div class="col-lg-4 col-md-4 margin-top-75 sticky sticky-cover" id="element">
                <!-- Book Now -->
                {% if activity_service %}
                    <div class="boxed-widget booking-widget book_activity margin_out">
                        <h3><i class="fa fa-calendar-check-o "></i> Book an Activity</h3>

                        <!--{#                                            <div class="row with-forms  margin-top-0">#}-->
                        <!--{#                                                <div class="col-md-12 activity-ddl">#}-->
                        <!--{#                                                    <select id="ddlActivities" data-placeholder="Select Activity" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Select Activity"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-md-12 service-ddl" style="display: none;">#}-->
                        <!--{#                                                    <select id="ddlServices" data-placeholder="Select Service" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Select Service"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-lg-6 col-md-12 date-ddl" style="display: none;">#}-->
                        <!--{#                                                    &lt;!&ndash;<input type="text" id="booking-date" data-lang="en" data-large-mode="true" data-min-year="2017" data-max-year="2020">&ndash;&gt;#}-->
                        <!--{#                                                    <input type="text" readonly="true" name="booking-date" id="booking-date"#}-->
                        <!--{#                                                           data-attr="">#}-->
                        <!--{#                                                    &lt;!&ndash;<input type="text" readonly="true" name="booking-date" id="booking-datec" data-lang="en" data-large-mode="true"&ndash;&gt;#}-->
                        <!--{#                                                    &lt;!&ndash;data-large-default="true" data-min-year="2017" data-max-year="2020"  placeholder="{% now " m/d/Y" %}">&ndash;&gt;#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-lg-6 col-md-12 time-ddl" style="display: none;">#}-->
                        <!--{#                                                    <select id="ddlTime" data-placeholder="Time" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Time"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                &lt;!&ndash; Panel Dropdown &ndash;&gt;#}-->
                        <!--{#                                                <div class="col-lg-12 qty-ddl" style="display: none;">#}-->
                        <!--{#                                                    <div class="panel-dropdown guest-count">#}-->
                        <!--{#                                                        <a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>#}-->
                        <!--{#                                                        <div class="panel-dropdown-content">#}-->
                        <!--{#                                                            &lt;!&ndash; Quantity Buttons &ndash;&gt;#}-->
                        <!--{#                                                            <div class="qtyButtons">#}-->
                        <!--{#                                                                <div class="qtyTitle">Adults</div>#}-->
                        <!--{#                                                                <input type="text" name="qtyInput" value="1">#}-->
                        <!--{#                                                            </div>#}-->
                        <!--{#                                                            &lt;!&ndash;<div class="qtyButtons">&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;<div class="qtyTitle">Childrens</div>&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;<input type="text" name="qtyInput" value="0">&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;</div>&ndash;&gt;#}-->
                        <!--{#                                                        </div>#}-->
                        <!--{#                                                    </div>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                &lt;!&ndash; Panel Dropdown / End &ndash;&gt;#}-->
                        <!--{#                                            </div>#}-->
                        <!--{#                                            <input type="hidden" name="hdActivity" id="hdActivity"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdService" id="hdService"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdDate" id="hdDate"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdTime" id="hdTime"/>#}-->
                        <!--{#                                            <input type="hidden" name="qtyTotal" id="qtyTotal"/>#}-->
                        <!--&lt;!&ndash; progress button animation handled via custom.js &ndash;&gt;-->
                        <!--{#                                            <button id="bookNow" type="button" class="progress-button button fullwidth margin-top-5" data-toggle="modal"#}-->
                        <!--{#                                data-target="#serviceModal">#}-->
                        <!--{#                                                <span>Book Now</span></button>#}-->
                        <button type="button" class="btn btn-info btn-lg bk-nw" data-toggle="modal"
                                data-target="#serviceModal">Book Now
                        </button>
                    </div>
                {% endif %}
                <!-- Book Now / End -->

                <!-- Contact -->
                {% if business.phone or business.website or business.business_email %}
                    <div class="boxed-widget margin-top-35 margin_out rev_bot contact-widget">
                        <h3><i class="sl sl-icon-pin"></i> Contact</h3>
                        <ul class="listing-details-sidebar">
                            <!-- Need to add If exist condition -->

                            {% if business.phone %}
                                <li><i class="sl sl-icon-phone"></i> {{ business.phone }}</li>
                            {% endif %}
                            {% if business.website %}

                                <li><i class="sl sl-icon-globe"></i> <a target="_blank"
                                                                        href="{{ business.website }}">{{ business.website }}</a>
                                </li>
                            {% endif %}
                            {% if business.business_email %}
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <a href=" mailto:{{ business.business_email }} ">{{ business.business_email }}</a>
                                </li>
                            {% endif %}
                        </ul>

                        <ul class="listing-details-sidebar social-profiles">
                            <li><a href="{{ business.facebookUrl }}" class="facebook-profile" target="_blank"><i
                                    class="fa fa-facebook-square"></i> Facebook</a>
                            </li>
                            <li><a href="{{ business.twitterUrl }}" class="twitter-profile" target="_blank"><i
                                    class="fa fa-twitter"></i> Twitter</a></li>
                            <!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
                        </ul>
                        <!-- Reply to review popup -->
                        <!-- <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <div class="small-dialog-header">
                                <h3>Send Message</h3>
                            </div>
                            <div class="message-reply margin-top-0">
                                <textarea cols="40" rows="3" placeholder="Your message to Burger House"></textarea>
                                <button class="button">Send Message</button>
                            </div>
                        </div>

                        <a href="#small-dialog" class="send-message-to-owner button popup-with-zoom-anim"><i
                                class="sl sl-icon-envelope-open"></i> Send Message</a> -->
                    </div>
                {% endif %}
                <!-- Contact / End-->

                <!-- Opening Hours -->
                {#                {% if business.check_status == True %}#}
                {% if opening_hours %}
                    <!-- Opening Hours -->
                    <div class="boxed-widget get_width opening-hours margin-top-35 margin_out rev_bot">
                        <div class="listing-badge now-open">{% spot_time opening_hours day hour %}</div>
                        <!--<div class="listing-badge now-open">Closed</div>-->
                        <h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
                        <ul>
                            {% for hours in opening_hours %}
                                <li>{{ hours.get_weekday_display }}
                                    <span>{{ hours.from_hour|date:"g:i a" }} - {{ hours.to_hour|date:"g:i a" }}</span>
                                </li>
                            {% endfor %}
                        </ul>


                    </div>
                {% endif %}
                {#                {% endif %}#}
                <!-- Opening Hours / End -->

                <!-- Share / Like -->
                <div class="listing-share margin-top-40 margin-bottom-40 no-border margin_out rev_bot share-widget">
                    <!--<button class="like-button"><span class="like-icon"></span> Bookmark this listing</button>-->
                    <!--<span>159 people bookmarked this place</span>-->
                    <!-- Share Buttons -->
                    <ul class="share-buttons margin-top-40 margin-bottom-0">
                        <li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
                        <li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
                        <li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
                        <!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Share / Like / End -->

                {% if activity_service %}
                    <div class="boxed-widget booking-widget widget-booking book_activity margin_out">
                        <h3><i class="fa fa-calendar-check-o "></i> Book an Activity</h3>

                        <!--{#                                            <div class="row with-forms  margin-top-0">#}-->
                        <!--{#                                                <div class="col-md-12 activity-ddl">#}-->
                        <!--{#                                                    <select id="ddlActivities" data-placeholder="Select Activity" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Select Activity"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-md-12 service-ddl" style="display: none;">#}-->
                        <!--{#                                                    <select id="ddlServices" data-placeholder="Select Service" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Select Service"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-lg-6 col-md-12 date-ddl" style="display: none;">#}-->
                        <!--{#                                                    &lt;!&ndash;<input type="text" id="booking-date" data-lang="en" data-large-mode="true" data-min-year="2017" data-max-year="2020">&ndash;&gt;#}-->
                        <!--{#                                                    <input type="text" readonly="true" name="booking-date" id="booking-date"#}-->
                        <!--{#                                                           data-attr="">#}-->
                        <!--{#                                                    &lt;!&ndash;<input type="text" readonly="true" name="booking-date" id="booking-datec" data-lang="en" data-large-mode="true"&ndash;&gt;#}-->
                        <!--{#                                                    &lt;!&ndash;data-large-default="true" data-min-year="2017" data-max-year="2020"  placeholder="{% now " m/d/Y" %}">&ndash;&gt;#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                <div class="col-lg-6 col-md-12 time-ddl" style="display: none;">#}-->
                        <!--{#                                                    <select id="ddlTime" data-placeholder="Time" class="chosen-select">#}-->
                        <!--{#                                                        <option label="Time"></option>#}-->
                        <!--{#                                                    </select>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                &lt;!&ndash; Panel Dropdown &ndash;&gt;#}-->
                        <!--{#                                                <div class="col-lg-12 qty-ddl" style="display: none;">#}-->
                        <!--{#                                                    <div class="panel-dropdown guest-count">#}-->
                        <!--{#                                                        <a href="#">Guests <span class="qtyTotal" name="qtyTotal">1</span></a>#}-->
                        <!--{#                                                        <div class="panel-dropdown-content">#}-->
                        <!--{#                                                            &lt;!&ndash; Quantity Buttons &ndash;&gt;#}-->
                        <!--{#                                                            <div class="qtyButtons">#}-->
                        <!--{#                                                                <div class="qtyTitle">Adults</div>#}-->
                        <!--{#                                                                <input type="text" name="qtyInput" value="1">#}-->
                        <!--{#                                                            </div>#}-->
                        <!--{#                                                            &lt;!&ndash;<div class="qtyButtons">&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;<div class="qtyTitle">Childrens</div>&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;<input type="text" name="qtyInput" value="0">&ndash;&gt;#}-->
                        <!--{#                                                            &lt;!&ndash;</div>&ndash;&gt;#}-->
                        <!--{#                                                        </div>#}-->
                        <!--{#                                                    </div>#}-->
                        <!--{#                                                </div>#}-->
                        <!--{#                                                &lt;!&ndash; Panel Dropdown / End &ndash;&gt;#}-->
                        <!--{#                                            </div>#}-->
                        <!--{#                                            <input type="hidden" name="hdActivity" id="hdActivity"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdService" id="hdService"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdDate" id="hdDate"/>#}-->
                        <!--{#                                            <input type="hidden" name="hdTime" id="hdTime"/>#}-->
                        <!--{#                                            <input type="hidden" name="qtyTotal" id="qtyTotal"/>#}-->
                        <!--&lt;!&ndash; progress button animation handled via custom.js &ndash;&gt;-->
                        <!--{#                                            <button id="bookNow" type="button" class="progress-button button fullwidth margin-top-5" data-toggle="modal"#}-->
                        <!--{#                                data-target="#serviceModal">#}-->
                        <!--{#                                                <span>Book Now</span></button>#}-->
                        <button type="button" class="btn btn-info btn-lg bk-nw" data-toggle="modal"
                                data-target="#serviceModal">Book Now
                        </button>
                    </div>
                {% endif %}

            </div>
            <!-- Sidebar / End -->
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    {#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" type="text/css">#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins/timedropper.css' %}">#}

    <script type="text/javascript" src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/spotimist.js' %}"></script>
    {#    <script src="{% static 'scripts/bootstrap-datepicker.min.js' %}"></script>#}

    <!--Maps -->
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&#038;?sensor=false&amp;language=en"></script>
    <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>

    <!--Datepicker -->
    {#    <link href="{% static 'css/plugins/datedropper.css' %}" rel="stylesheet" type="text/css">#}
    {#    <script src="{% static 'scripts/datedropper.js' %}"></script>#}
    <!--<script>$('#booking-date').dateDropper();</script>-->

    <script type="text/javascript" src="/static/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/static/scripts/fullcalendar.min.js"></script>
    <script>
        var height_result = 0;

        $(document).on('scroll', function () {
            var scroll_height = $(window).scrollTop();
            if (scroll_height >= height_result) {
                $('.widget-booking').fadeIn(300);
                $('.widget-booking').css('display','block');
            }
            else{
                $('.widget-booking').fadeOut(300);
                $('.widget-booking').css('display','none');
            }
        });

        $(document).on('click', '.btn-book-now', function () {
            $('#bookingModal').modal('show');
        });
        var calendarDates = [];

        function openBooking(id) {
            var availableDates = [];
            var business_json;
            $.getJSON("{% url 'business-detail' pk=business.id %}", function (obj) {
                business_json = obj;
                $.each(obj.activities, function (key, value) {

                    $.each(value.recurringservice_set, function (i, obj) {
                        if (obj.id === id) {
                            $.each(obj.occurrences_list, function (i, obj) {
                                availableDates.push({
                                    "start": obj.split('T')[0],
                                    'rendering': 'background',
                                    'title': 'available'
                                });
                                calendarDates.push(obj.split('T')[0]);
                            });
                            var price = '';
                            if (obj.price === "0.00") {
                                price = "FREE"
                            } else {
                                price = "€" + obj.price
                            }
                            var c_time = obj.start_time.split(':');
                            var time = '';
                            if (c_time[0] > 12) {
                                c_time[0] = c_time[0] - 12;
                                time = c_time[0] + ':' + c_time[1] + 'PM'
                            }
                            else {
                                time = c_time[0] + ':' + c_time[1] + 'AM'
                            }
                            $('.rs-otr').text(price);
                            $('.ser-nme').text(obj.name);
                            $('.time-text').text(time);
                            $('.time-otr').text(time);
                            $('#hdActivity').val(value.id);
                            $('#hdService').val(obj.id);
                            $('#hdTime').val(obj.start_time);
                            $('#calendar').fullCalendar('destroy');
                            var curr_date = new Date();
                            var curr_month = curr_date.getMonth() + 1;
                            var curr_day = curr_date.getDate();
                            var today = curr_date.getFullYear() + '-' + (curr_month < 10 ? '0' : '') + curr_month + '-' + (curr_day < 10 ? '0' : '') + curr_day;

                            $('#calendar').fullCalendar({
                                viewRender: function (view) {
                                    var minDate = moment(),
                                        maxDate = moment().add(2, 'weeks');
                                    // Past
                                    if (minDate >= view.start && minDate <= view.end) {
                                        $(".fc-prev-button").css('display', 'none');
                                        $(".fc-prev-button").addClass('fc-state-disabled');
                                    }
                                    else {
                                        $(".fc-prev-button").removeClass('fc-state-disabled');
                                        $(".fc-prev-button").css('display', 'block');
                                    }
                                    if (view.type === "basicWeek") {
                                        var i = 0;
                                        var viewStart = $('#calendar').fullCalendar('getView').intervalStart;
                                        $("#calendar").find('.fc-content-skeleton thead td:not(:nth-child(1))').empty().each(function () {
                                            $(this).addClass('week-cls');
                                            $(this).attr('week-date', moment(viewStart).add(i, 'days').format('YYYY-MM-DD'));
                                            $(this).append(moment(viewStart).add(i, 'days').format("D"));
                                            var cal_date = $(this).attr('week-date', moment(viewStart).add(i, 'days').format('YYYY-MM-DD')).attr('week-date')
                                            if (cal_date === today){
                                                $(this).addClass('fc-today fc-state-highlight');
                                            }
                                            i = i + 1;
                                        });
                                        window.setTimeout(function () {
                                            var viewMth = $('#calendar').fullCalendar('getDate');
                                            $("#calendar").find('.fc-toolbar > div > h2').empty().append(
                                                "<span>" + viewMth.format('MMMM') + "&nbsp;</span>" +
                                                "<span>" + viewMth.format('YYYY') + "</span>"
                                            );
                                        }, 0);
                                    }
                                },
                                eventRender: function (event, eventElement) {

                                    if (event.title === "available" && event.start._i >=today) {
                                        eventElement.addClass("pointer-evnt");
                                        $(".fc-row").find(".fc-content-skeleton").find("td[week-date=" + event.start._i + "]").addClass("avlble-evnt");
                                        $(".fc-row").find(".fc-content-skeleton").find("td[data-date=" + event.start._i + "]").addClass("avlble-evnt");
                                        if (today === event.start._i){
                                            $(".fc-row").find(".fc-content-skeleton").find("td[week-date=" + event.start._i + "]").addClass("fc-today fc-state-highlight");
                                        }
                                    }
                                },
                                select: function (start, end, allDay) {
                                    if (start.isBefore(moment())) {
                                        $(this).addClass('pointer-evnt')
                                    } else {
                                        // event ok

                                    }
                                },
                                events: availableDates,
                                header: {
                                    left: 'title,prev',
                                    right: 'next,month,basicWeek'
                                },
                                defaultView: 'basicWeek',
                                editable: false,
                                firstDay: 1,
                                views: {
                                    week: {
                                        columnFormat: 'ddd',
                                        titleFormat: 'MMMM D , YYYY',
                                        titleRangeSeparator: ' - ',
                                        weekNumbers: true
                                    }
                                }
                            });
                        }

                    });
                });
            });

        }

        $(document).on('click', '.avlble-evnt', function () {
            $('.avlble-evnt').removeClass('td_clicked');
            $(this).addClass('td_clicked');

        });

        $(document).on('click', '.fc-day-number', function () {
            var d_date = $(this).attr('data-date');

            if ($.inArray(d_date, calendarDates) === -1) {
            } else {
                var date = new Date(d_date),
                    month = date.getMonth() + 1;
                day = date.getDate();
                var newDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + date.getFullYear();
                $('#hdDate').val(newDate);
            }
        });

        $(document).on('click', '.week-cls', function () {
            var d_date = $(this).attr('week-date');
            if ($.inArray(d_date, calendarDates) === -1) {
            } else {
                var date = new Date(d_date),
                    month = date.getMonth() + 1;
                day = date.getDate();
                var newDate = (day < 10 ? '0' : '') + day + '/' + (month < 10 ? '0' : '') + month + '/' + date.getFullYear();
                $('#hdDate').val(newDate);
            }
        });

        $(document).on("click", '#bookNow', function () {
            activity_value = $('#hdActivity').val()
            service_value = $('#hdService').val();
            date_value = $('#hdDate').val();
            time_value = $('#hdTime').val();
            total_guest = $('.qtyTotal').html();
            $('#qtyTotal').val(total_guest);

            var curr_date = new Date();
            var curr_month = curr_date.getMonth() + 1;
            var curr_day = curr_date.getDate();
            var today = (curr_day < 10 ? '0' : '') + curr_day + '/' + (curr_month < 10 ? '0' : '') + curr_month + '/' + curr_date.getFullYear();

            if (date_value === "" || (new Date(date_value) < new Date(today))) {
                $('.alert').html("Please select an available date");
                $('.alert').slideDown("show");
                setTimeout(function () {
                    $('.alert').slideUp("hide");
                }, 3000);
                return false;
            } else if (total_guest === 0) {
                $('.alert').html("Please select a valid guest count");
                $('.alert').slideDown("show");
                setTimeout(function () {
                    $('.alert').slideUp("hide");
                }, 3000);
                return false;
            }

            createCookie("activity", activity_value, 30);
            createCookie("service", service_value, 30);
            createCookie("date", date_value, 30);
            createCookie("time", time_value, 30);
            createCookie("guest", total_guest, 30);

            {#$('#hdActivity').val(activity_value);#}
            {#$('#hdService').val(service_value);#}
            {#$('#hdDate').val(date_value);#}
            {#$('#hdTime').val(time_value);#}
            {#$('#qtyTotal').val(total_guest);#}
            //}
        });
    </script>
    <script>
        //Modal in a Modal
        function modalInModal() {
            $('.calender-modal').on('hidden.bs.modal', function () {
                $('body').addClass('modal-open');
            });

            //Keeping modal-open class in body if any modal is open
            $(document).on('hidden.bs.modal', function (event) {
                if ($('.modal:visible').length > 0) {
                    $('body').addClass('modal-open');
                }
                else {
                    $('body').removeClass('modal-open');
                }
            });
        }

        modalInModal();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            var slider_height = $('.slick-slider').height();
            var booking_height = $('.booking-widget').height();
            var contact_height = $('.contact-widget').height();
            var hours_height = $('.opening-hours').height();
            var share_height = $('.share-widget').height();
            height_result = slider_height + booking_height + contact_height + hours_height + share_height + 280;



            $('.toggle-wrap ul').show();
            $('.btn-book-now').click(function () {
                window.setTimeout(clickToday, 200);
            });

            function clickToday() {
                $('.fc-basicWeek-button').click();
            }

            $('#bookingModal').on('shown.bs.modal', function () {
                $("#calendar").fullCalendar('render');

            });
        });
    </script>
    <script>

        function qtySum() {
            var arr = document.getElementsByName('qtyInput');
            var tot = 0;
            for (var i = 0; i < arr.length; i++) {
                if (parseInt(arr[i].value))
                    tot += parseInt(arr[i].value);
            }
            var cardQty = document.querySelector(".qtyTotal");
            cardQty.innerHTML = tot;
        }
        qtySum();

        $(function () {
            $(".qtyButtons input").after('<div class="qtyInc"></div>');
            $(".qtyButtons input").before('<div class="qtyDec"></div>');
            $(".qtyDec, .qtyInc").on("click", function () {
                var $button = $(this);
                var oldValue = $button.parent().find("input").val();
                if ($button.hasClass('qtyInc')) {
                    var newVal = parseFloat(oldValue) + 1;
                } else {
                    if (oldValue > 0) {
                        var newVal = parseFloat(oldValue) - 1;
                    } else {
                        newVal = 0;
                    }
                }
                $button.parent().find("input").val(newVal);
                qtySum();
                $(".qtyTotal").addClass("rotate-x");
            });

            function removeAnimation() {
                $(".qtyTotal").removeClass("rotate-x");
            }

            const counter = document.querySelector(".qtyTotal");
            counter.addEventListener("animationend", removeAnimation);
        });

        $(window).on('load resize', function () {
            var panelTrigger = $('.booking-widget .panel-dropdown a');
            $('.booking-widget .panel-dropdown .panel-dropdown-content').css({'width': panelTrigger.outerWidth()});
        });
    </script>
    <script type="text/javascript">

        $(document).ready(function () {
            unWrap();
        });

        $(window).resize(function () {
            $('#element-out').contents().unwrap();
            $('#element').contents().unwrap();
            wrap();
        });

        function unWrap() {
            if ($(window).width() <= 991) {
                $('#element-out').contents().unwrap();
                $('#element').contents().unwrap();
            }
        }

        function wrap() {
            if ($(window).width() >= 991) {
                $('.activity_outer .section_out').wrapAll(' <div class="col-lg-8 col-md-8 padding-right-30 detail_outer" id="element-out"></div>');
                $('.margin_out').wrapAll('<div class="col-lg-4 col-md-4 margin-top-75 sticky" id="element"></div>');
            }
        }
    </script>
    <script>
        jQuery(function ($) {
            $(".trigger").click(function () {
                $(this).find(".sl-icon-arrow-down, .sl.sl-icon-arrow-up").toggle();
            });
        });
    </script>
    <!--{#    <script>#}-->
    <!--{##}-->
    <!--{#        var availableDates = [];#}-->
    <!--{#        var todayDate = new Date();#}-->
    <!--{#        var day = todayDate.getDate();#}-->
    <!--{#        var month = todayDate.getMonth() + 1;#}-->
    <!--{#        var year = todayDate.getFullYear();#}-->
    <!--{#        var today_formatted = day + "-" + month + "-" + year;#}-->
    <!--{##}-->
    <!--{#        function available(date) {#}-->
    <!--{#            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();#}-->
    <!--{#            if ($.inArray(dmy, availableDates) != -1) {#}-->
    <!--{#                return "orange";#}-->
    <!--{#            } else {#}-->
    <!--{#                return {#}-->
    <!--{#                    tooltip: 'Date not available',#}-->
    <!--{#                    classes: 'disabled'#}-->
    <!--{#                };#}-->
    <!--{#            }#}-->
    <!--{#        }#}-->
    <!--{##}-->
    <!--{#        /*&lt;!&ndash;this.$('#booking-time').timeDropper({&ndash;&gt;#}-->
    <!--{#            &lt;!&ndash;setCurrentTime: false,&ndash;&gt;#}-->
    <!--{#            &lt;!&ndash;meridians: true,&ndash;&gt;#}-->
    <!--{#            &lt;!&ndash;primaryColor: "#f91942",&ndash;&gt;#}-->
    <!--{#            &lt;!&ndash;borderColor: "#f91942",&ndash;&gt;#}-->
    <!--{#            &lt;!&ndash;minutesInterval: '15'&ndash;&gt;#}-->
    <!--{#        &lt;!&ndash;});&ndash;&gt;*/#}-->
    <!--{##}-->
    <!--{#        /*var $clocks = $('.td-input');#}-->
    <!--{#            _.each($clocks, function(clock){#}-->
    <!--{#            clock.value = null;#}-->
    <!--{#        });*/#}-->
    <!--{##}-->
    <!--{#        var business_json;#}-->
    <!--{#        $(document).ready(function () {#}-->
    <!--{#            $.getJSON("{% url 'business-detail' pk=business.id %}", function (obj) {#}-->
    <!--{#                business_json = obj;#}-->
    <!--{#                if (obj.activities == '') {#}-->
    <!--{#                    $('.activity-ddl').slideUp();#}-->
    <!--{#                    $('.alert').html("No activities available");#}-->
    <!--{#                    $('.alert').slideDown("show");#}-->
    <!--{#                    $('#bookNow').hide();#}-->
    <!--{#                }#}-->
    <!--{#                else {#}-->
    <!--{#                    $.each(obj.activities, function (key, value) {#}-->
    <!--{#                        date_array = [];#}-->
    <!--{#                        $.each(value.recurringservice_set, function (i, obj) {#}-->
    <!--{#                            var date_obj = obj.end_repeat.split(',');#}-->
    <!--{#                            for (i = 0; i < date_obj.length; i++) {#}-->
    <!--{#                                var in_array = false;#}-->
    <!--{#                                var from = date_obj[i].split('/');#}-->
    <!--{#                                var userdt = new Date(from[2], from[1] - 1, from[0]);#}-->
    <!--{#                                var currdt = new Date();#}-->
    <!--{#                                if (userdt < currdt) {#}-->
    <!--{##}-->
    <!--{#                                } else {#}-->
    <!--{##}-->
    <!--{#                                    if ($.inArray(value.id, date_array) == -1) {#}-->
    <!--{#                                        date_array.push(value.id)#}-->
    <!--{#                                    }#}-->
    <!--{#                                    else {#}-->
    <!--{#                                        in_array = true#}-->
    <!--{#                                    }#}-->
    <!--{#                                    if (obj.is_archived == false && in_array == false) {#}-->
    <!--{#                                        $("#ddlActivities").append("<option value='" + value.id + "'>" + value.name + "</option>");#}-->
    <!--{#                                    }#}-->
    <!--{#                                }#}-->
    <!--{#                            }#}-->
    <!--{#                        });#}-->
    <!--{##}-->
    <!--{#                    });#}-->
    <!--{#                    $("#ddlActivities").trigger("chosen:updated");#}-->
    <!--{#                }#}-->
    <!--{#            });#}-->
    <!--{##}-->
    <!--{#            $('#ddlActivities').change(function () {#}-->
    <!--{#                availableDates = [];#}-->
    <!--{#                selected_value = this.value;#}-->
    <!--{#                $("#ddlServices").empty();#}-->
    <!--{#                $("#ddlServices").trigger("chosen:updated");#}-->
    <!--{#                $.each(business_json.activities, function (i, obj) {#}-->
    <!--{#                    if (obj.id == selected_value) {#}-->
    <!--{#                        // needed to re-initialize default option "select service"#}-->
    <!--{#                        $("#ddlServices").append("<option></option>");#}-->
    <!--{#                        if (obj.recurringservice_set == '') {#}-->
    <!--{#                            $('.service-ddl').slideUp();#}-->
    <!--{#                            $('.alert').html("No sevice available for this activity");#}-->
    <!--{#                            $('.alert').slideDown("show");#}-->
    <!--{#                            setTimeout(function () {#}-->
    <!--{#                                $('.alert').slideUp("hide");#}-->
    <!--{#                            }, 3000);#}-->
    <!--{#                        }#}-->
    <!--{#                        else {#}-->
    <!--{#                            date_array = [];#}-->
    <!--{#                            $.each(obj.recurringservice_set, function (i, obj) {#}-->
    <!--{#                                var date_obj = obj.end_repeat.split(',');#}-->
    <!--{#                                for (i = 0; i < date_obj.length; i++) {#}-->
    <!--{#                                    var in_array = false;#}-->
    <!--{#                                    var from = date_obj[i].split('/');#}-->
    <!--{#                                    var userdt = new Date(from[2], from[1] - 1, from[0]);#}-->
    <!--{#                                    var currdt = new Date();#}-->
    <!--{#                                    if (userdt < currdt) {#}-->
    <!--{##}-->
    <!--{#                                    } else {#}-->
    <!--{##}-->
    <!--{#                                        if ($.inArray(obj.id, date_array) == -1) {#}-->
    <!--{#                                            date_array.push(obj.id)#}-->
    <!--{#                                        }#}-->
    <!--{#                                        else {#}-->
    <!--{#                                            in_array = true#}-->
    <!--{#                                        }#}-->
    <!--{#                                        if (obj.is_archived == false && in_array == false) {#}-->
    <!--{#                                            if (obj.price != 0)#}-->
    <!--{#                                                if (obj.price.split('.')[1] == 0)#}-->
    <!--{#                                                    $("#ddlServices").append("<option value='" + obj.id + "'>" + obj.name + " - €" + obj.price.split('.')[0] + "</option>");#}-->
    <!--{#                                                else#}-->
    <!--{#                                                    $("#ddlServices").append("<option value='" + obj.id + "'>" + obj.name + " - €" + obj.price + "</option>");#}-->
    <!--{#                                            else#}-->
    <!--{#                                                $("#ddlServices").append("<option value='" + obj.id + "'>" + obj.name + " - FREE </option>");#}-->
    <!--{#                                        }#}-->
    <!--{#                                    }#}-->
    <!--{#                                }#}-->
    <!--{#                            });#}-->
    <!--{#                            $("#ddlServices").trigger("chosen:updated");#}-->
    <!--{#                            $('.service-ddl').slideDown();#}-->
    <!--{#                        }#}-->
    <!--{#                    }#}-->
    <!--{#                });#}-->
    <!--{#            });#}-->
    <!--{##}-->
    <!--{#            $('#ddlServices').change(function () {#}-->
    <!--{#                $("#ddlTime").empty();#}-->
    <!--{#                $("#ddlTime").trigger("chosen:updated");#}-->
    <!--{#                service_value = this.value;#}-->
    <!--{#                activity_value = $('#ddlActivities').val();#}-->
    <!--{#                availableDates = [];#}-->
    <!--{#                currentAvailableDates = [];#}-->
    <!--{#                $.each(business_json.activities, function (i, obj) {#}-->
    <!--{#                    if (obj.id == activity_value) {#}-->
    <!--{#                        $.each(obj.recurringservice_set, function (i, obj) {#}-->
    <!--{#                            if (obj.id == service_value) {#}-->
    <!--{#                                $.each(obj.occurrences_list, function (i, obj) {#}-->
    <!--{#                                    var date = new Date(obj);#}-->
    <!--{#                                    var day = date.getDate();#}-->
    <!--{#                                    var month = date.getMonth() + 1;#}-->
    <!--{#                                    var year = date.getFullYear();#}-->
    <!--{#                                    availableDates.push(day + "-" + month + "-" + year);#}-->
    <!--{#                                });#}-->
    <!--{#                                var date = new Date(obj.start_date + " " + obj.start_time);#}-->
    <!--{#                                var time = date.getHours() + ":" + ('0' + date.getMinutes()).slice(-2);#}-->
    <!--{#                                $("#ddlTime").append("<option value='" + time + "'>" + time + "</option>");#}-->
    <!--{#                                $("#ddlTime").trigger("chosen:updated");#}-->
    <!--{##}-->
    <!--{#                                var last_date = availableDates[availableDates.length - 1];#}-->
    <!--{#                                var from = last_date.split("-");#}-->
    <!--{#                                var date_last = new Date(from[2], from[1] - 1, from[0]);#}-->
    <!--{#                                var to = today_formatted.split("-");#}-->
    <!--{#                                var date_today = new Date(to[2], to[1] - 1, to[0]);#}-->
    <!--{#                                if (date_last < date_today) {#}-->
    <!--{#                                    $('.date-ddl').slideUp();#}-->
    <!--{#                                    $('.time-ddl').slideUp();#}-->
    <!--{#                                    $('.qty-ddl').slideUp();#}-->
    <!--{#                                    $('.alert').html("No dates available for this session");#}-->
    <!--{#                                    $('.alert').slideDown("show");#}-->
    <!--{#                                    setTimeout(function () {#}-->
    <!--{#                                        $('.alert').slideUp("hide");#}-->
    <!--{#                                    }, 3000);#}-->
    <!--{#                                } else {#}-->
    <!--{#                                    $.each(availableDates, function (i, obj) {#}-->
    <!--{#                                        var from = obj.split("-");#}-->
    <!--{#                                        var date_obj = new Date(from[2], from[1] - 1, from[0]);#}-->
    <!--{#                                        var to = today_formatted.split("-");#}-->
    <!--{#                                        var day_today = new Date(to[2], to[1] - 1, to[0]);#}-->
    <!--{#                                        if (date_obj >= day_today) {#}-->
    <!--{#                                            currentAvailableDates.push(date_obj);#}-->
    <!--{#                                        }#}-->
    <!--{#                                    });#}-->
    <!--{#                                    var new_date = new Date(currentAvailableDates[0]);#}-->
    <!--{#                                    if (new_date) {#}-->
    <!--{#                                        var curr_date = ("0" + new_date.getDate()).slice(-2);#}-->
    <!--{#                                        var curr_month = ("0" + (new_date.getMonth() + 1)).slice(-2);#}-->
    <!--{#                                        var curr_year = new_date.getFullYear().toString().substr(-2);#}-->
    <!--{#                                        now_date = curr_date + "/" + curr_month + "/" + curr_year;#}-->
    <!--{#                                        $('#booking-date').val(now_date);#}-->
    <!--{#                                        $('#booking-date').data('attr', now_date);#}-->
    <!--{#                                    }#}-->
    <!--{#                                    $(document).on("blur", '#booking-date', function () {#}-->
    <!--{#                                        $(this).val($(this).data('attr'));#}-->
    <!--{#                                    });#}-->
    <!--{#                                    $('.date-ddl').slideDown();#}-->
    <!--{#                                    $('.time-ddl').slideDown();#}-->
    <!--{#                                    $('.qty-ddl').slideDown();#}-->
    <!--{#                                }#}-->
    <!--{#                            }#}-->
    <!--{#                        });#}-->
    <!--{#                    }#}-->
    <!--{#                });#}-->
    <!--{##}-->
    <!--{#                $('#booking-date').datepicker({#}-->
    <!--{#                    format: "dd/mm/yy",#}-->
    <!--{#                    startDate: today_formatted,#}-->
    <!--{#                    autoclose: true,#}-->
    <!--{#                    beforeShowDay: function (date) {#}-->
    <!--{#                        return available(date)#}-->
    <!--{#                    }#}-->
    <!--{#                });#}-->
    <!--{##}-->
    <!--{#                $('#booking-date').datepicker('update');#}-->
    <!--{##}-->
    <!--{#            });#}-->
    <!--{##}-->
    <!--{#            $('#bookNow').click(function () {#}-->
    <!--{##}-->
    <!--{#                activity_value = $('#ddlActivities').val();#}-->
    <!--{#                service_value = $('#ddlServices').val();#}-->
    <!--{#                date_value = $('#booking-date').val();#}-->
    <!--{#                time_value = $('#ddlTime').val();#}-->
    <!--{#                total_guest = $(".qtyTotal").html();#}-->
    <!--{##}-->
    <!--{##}-->
    <!--{#                if (activity_value == "") {#}-->
    <!--{#                    $('.alert').html("Please select an activity");#}-->
    <!--{#                    $('.alert').slideDown("show");#}-->
    <!--{#                    setTimeout(function () {#}-->
    <!--{#                        $('.alert').slideUp("hide");#}-->
    <!--{#                    }, 3000);#}-->
    <!--{##}-->
    <!--{#                    return false;#}-->
    <!--{#                } else if (service_value == "") {#}-->
    <!--{#                    $('.alert').html("Please select a sevice");#}-->
    <!--{#                    $('.alert').slideDown("show");#}-->
    <!--{#                    setTimeout(function () {#}-->
    <!--{#                        $('.alert').slideUp("hide");#}-->
    <!--{#                    }, 3000);#}-->
    <!--{#                    return false;#}-->
    <!--{#                } else if (date_value == "") {#}-->
    <!--{#                    $('.alert').html("Please select an available date");#}-->
    <!--{#                    $('.alert').slideDown("show");#}-->
    <!--{#                    setTimeout(function () {#}-->
    <!--{#                        $('.alert').slideUp("hide");#}-->
    <!--{#                    }, 3000);#}-->
    <!--{#                    return false;#}-->
    <!--{#                } else if (total_guest == 0) {#}-->
    <!--{#                    $('.alert').html("Please select a valid guest count");#}-->
    <!--{#                    $('.alert').slideDown("show");#}-->
    <!--{#                    setTimeout(function () {#}-->
    <!--{#                        $('.alert').slideUp("hide");#}-->
    <!--{#                    }, 3000);#}-->
    <!--{#                    return false;#}-->
    <!--{#                }#}-->
    <!--{##}-->
    <!--{#                createCookie("activity", activity_value, 30);#}-->
    <!--{#                createCookie("service", service_value, 30);#}-->
    <!--{#                createCookie("date", date_value, 30);#}-->
    <!--{#                createCookie("time", time_value, 30);#}-->
    <!--{#                createCookie("guest", total_guest, 30);#}-->
    <!--{##}-->
    <!--{#                $('#hdActivity').val(activity_value);#}-->
    <!--{#                $('#hdService').val(service_value);#}-->
    <!--{#                $('#hdDate').val(date_value);#}-->
    <!--{#                $('#hdTime').val(time_value);#}-->
    <!--{#                $('#qtyTotal').val(total_guest);#}-->
    <!--{#            });#}-->
    <!--{#        });#}-->
    <!--{#    </script>#}-->


{% endblock javascripts %}
