{% extends "base-search.html" %} {% load static %}

<!-- TO DO
	-Refine location with address bar
	-Refine search with components

	-List activities below business
	-Link reviews to actual count
	-get the multi page to work or infinite scrolling

	-Hide bookmark until bookmark feature available
	-Hide green stuff on image until feature available
-->

{% block content %}
    <!-- Content
    ================================================== -->
    <div class="fs-container">
        <div class="fs-inner-container content">
            <div class="fs-content">
                <!-- Search -->
                <section class="search">
                    {% csrf_token %}
                    <form method="post" id="filterForm">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- Row With Forms -->
                                <div class="row with-forms">
                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon">
                                            <i class="sl sl-icon-magnifier"></i>
                                            <input type="text" id="title" name="title"
                                                   placeholder="What are you looking for?" value=""/>
                                        </div>
                                    </div>
                                    <!-- Main Search Input -->
                                    <div class="col-fs-6">
                                        <div class="input-with-icon location">

                                            <input type="text" id="geocomplete" placeholder="Destination, city, address"
                                                   value=""/>
                                            <a>
                                                <i class="fa fa-dot-circle-o"></i>
                                            </a>
                                        </div>
                                        <input type="hidden" id="curr_lat" name="curr_lat" value="">
                                        <input type="hidden" id="curr_lng" name="curr_lng" value="">
                                    </div>
                                    <!-- Filters -->
                                    <div class="col-fs-12">
                                        <!-- Panel Dropdown / End -->
                                        <div class="panel-dropdown filter-list-drop ">
                                            <a>Categories</a>
                                            <div class="panel-dropdown-content checkboxes categories ">

                                                <!-- Checkboxes -->
                                                <div class="row">
                                                    <!--<div class="col-md-6 xx">-->
                                                    <!--<input id="check-0" type="checkbox" name="check" class="all" value="{{categories}}">-->
                                                    <!--<label for="check-0">All Categories</label>-->
                                                    <!--</div>-->

                                                    {% for i in categories %}
                                                        <div class="col-md-6">
                                                            <input id="check-{{ i.id }}" type="checkbox" name="check"
                                                                   value="{{ i }}">
                                                            <label for="check-{{ i.id }}">{{ i }}</label></div>
                                                    {% endfor %}

                                                </div>

                                                <!-- Buttons -->
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel" type="button">Cancel</button>
                                                    <button class="panel-apply category_apply" type="button">Apply
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        {% comment %}
                                    <div class="panel-dropdown wide">
                                        <a href="#">More Filters</a>
                                        <div class="panel-dropdown-content checkboxes">

                                            <!-- Checkboxes -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input id="check-a" type="checkbox" name="check">
                                                    <label for="check-a">Elevator in building</label>

                                                    <input id="check-b" type="checkbox" name="check">
                                                    <label for="check-b">Friendly workspace</label>

                                                    <input id="check-c" type="checkbox" name="check">
                                                    <label for="check-c">Instant Book</label>

                                                    <input id="check-d" type="checkbox" name="check">
                                                    <label for="check-d">Wireless Internet</label>
                                                </div>

                                                <div class="col-md-6">
                                                    <input id="check-e" type="checkbox" name="check">
                                                    <label for="check-e">Free parking on premises</label>

                                                    <input id="check-f" type="checkbox" name="check">
                                                    <label for="check-f">Free parking on street</label>

                                                    <input id="check-g" type="checkbox" name="check">
                                                    <label for="check-g">Smoking allowed</label>

                                                    <input id="check-h" type="checkbox" name="check">
                                                    <label for="check-h">Events</label>
                                                </div>
                                            </div>

                                            <!-- Buttons -->
                                            <div class="panel-buttons">
                                                <button class="panel-cancel">Cancel</button>
                                                <button class="panel-apply">Apply</button>
                                            </div>

                                        </div>
                                    </div>
                                    {% endcomment %}
                                        <!-- Panel Dropdown / End -->

                                        <!-- Panel Dropdown -->
                                        <div class="panel-dropdown filter-list-drop ">
                                            <a>Distance Radius</a>
                                            <div class="panel-dropdown-content">
                                                <input class="distance-radius" type="range" min="1" max="100" step="1"
                                                       value="50" data-title="Radius around selected destination">
                                                <div class="panel-buttons">
                                                    <button class="panel-cancel" type="button">Disable</button>
                                                    <button class="panel-apply apply" type="button">Apply</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Panel Dropdown / End -->
                                        <div class="location_data">
                                            <input name="lat" class="lat" id="lat" type="hidden" value="">
                                            <input name="lng" class="lng" id="lng" type="hidden" value="">
                                            <input name="formatted_address" class="formatted_address" type="hidden"
                                                   value="">
                                        </div>
                                    </div>
                                    <!-- Filters / End -->
                                </div>
                                <!-- Row With Forms / End -->
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Search / End -->
                <section class="listings-container margin-top-30 business_listings display-container"
                         style="display:none">

                    <div class="row fs-listings list-container">
                        {% include "ajax/business_list.html" %}
                    </div>
                </section>
                <!--<section class="listings-container margin-top-30">-->
                <!--Pagination Container -->
                <!--<div class="row fs-listings">-->
                <!--<div class="col-md-12">-->

                <!--Pagination -->
                <!--<div class="clearfix"></div>-->
                <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                <!-- Pagination -->
                <!--<div class="pagination-container margin-top-15 margin-bottom-40">-->
                <!--<nav class="pagination">-->
                <!--<ul>-->
                <!--<li> <a href="#" class="current-page">1</a> </li>-->
                <!--<li> <a href="#">2</a> </li>-->
                <!--<li> <a href="#">3</a> </li>-->
                <!--<li> <a href="#"> <i class="sl sl-icon-arrow-right"></i> </a> </li>-->
                <!--</ul>-->
                <!--</nav>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
                <!-- Pagination / End -->
                <!-- Copyrights -->
                <!--{% block copyrights %}{% endblock copyrights %}-->
                <!--</div>-->
                <!--</div>-->
                <!-- Pagination Container / End -->
                <!--</section>-->

            </div>
        </div>
        <div class="fs-inner-container map-fixed">
            <!-- Map -->
            <div id="map-container">
                <div id="map" data-map-zoom="13" data-map-scroll="true" data-attr="{{ category }}"
                     data-address="{{ destination }}" data-title="{{ search }}" data-api-url="{{ api_url }}"
                     data-latitude="{{ home_lat }}" data-longitude="{{ home_lng }}" data-target="{{ ajax_key }}">
                    <!-- map goes here -->
                </div>

            </div>

        </div>
    </div>
{% endblock content %}
{% block footer %} {% endblock footer %}
{% block extra_js %}
    <!-- Maps -->
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&libraries=places"></script>
    <script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
    <script src="/static/scripts/jquery.geocomplete.js"></script>
    <script>

        $(document).ready(function () {
            var lat = localStorage['c_lat'];
            var lng = localStorage['c_lng'];
            if (lat && lng) {
                console.log("In-location")
            }
            else {
                $('.display-container').show()
            }
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                $(".paginate_by").trigger("click");
                $('html, body').animate({
                    scrollTop: $(".fs-inner-container .content").prop("scrollHeight")
                }, 100);
                $(".content").scrollTop(300);
            }
        });

        $(document).on('click', '.paginate_by', function () {
            pagination($(this).attr("data-attr"));
        });

        function pagination(page_by) {
            var curr_lat = $('#curr_lat').val();
            var curr_lng = $('#curr_lng').val();
            var search = $('#title').val();
            var location = $('.formatted_address').val();
            var category = new Array();
            var dist = $('.range-output').html();
            $('input[name="check"]:checked').each(function () {
                category.push(this.value);
            });
            var latitude = $('.lat').val();
            var longitude = $('.lng').val();

            $.ajax({
                type: "POST",
                url: "{% url 'businesses-list' %}",
                async: true,
                data: {
                    "ajax_key": 'page_key',
                    "page_by": page_by,
                    "csrfmiddlewaretoken": "{{csrf_token}}",
                    "search": search,
                    "location": location,
                    "category": category,
                    "dist": dist,
                    "curr_lat": curr_lat,
                    "curr_lng": curr_lng,
                    "latitude": latitude,
                    "longitude": longitude
                },
                success: function (data) {

                    $('.list-container').append(data.business_list_data);
                    $('.pagee').html(data.page_data)
                    mainMap();
                    $('.star-rating').each(function (i, obj) {
                        $('span.star').remove();
                    });
                    starRating('.star-rating');
                }
            });
        }

        function currentLocation() {
            var curr_lat = $('#curr_lat').val()
            var curr_lng = $('#curr_lng').val()
            localStorage['latitude'] = curr_lat;
            localStorage['longitude'] = curr_lng;
            localStorage['ajax_key'] = 'location_key';

            var search = $('#title').val();
            var location = $('.formatted_address').val();
            var category = new Array();
            $('input[name="check"]:checked').each(function () {
                category.push(this.value);
            });
            if (search == '' & category == '' & location == '') {
                search = $('#map').attr('data-title');
                category = $('#map').attr('data-attr');
                location = $('#map').attr('data-address');

                curr_lat = $('#map').attr('data-latitude');
                curr_lng = $('#map').attr('data-longitude');
                latitude = $('#map').attr('data-latitude');
                longitude = $('#map').attr('data-longitude');
                localStorage['ajax_key'] = $('#map').attr('data-target');

                if (location) {
                    localStorage['latitude'] = latitude;
                    localStorage['longitude'] = longitude;
                }
                else {
                    curr_lat = $('#curr_lat').val()
                    curr_lng = $('#curr_lng').val()
                    localStorage['latitude'] = $('#curr_lat').val();
                    localStorage['longitude'] = $('#curr_lng').val();
                }
            }
            var data = {
                "ajax_key": 'location_key',
                "curr_lat": curr_lat,
                "curr_lng": curr_lng,
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'search': search,
                'category': category,
                'location': location
            };
            $.ajax({
                type: "POST",
                url: "{% url 'businesses-list' %}",
                async: true,
                data: data,
                success: function (data) {
                    $('.list-container').replaceWith(data.business_data);
                    $('.display-container').show()
                    mainMap();
                    starRating('.star-rating');
                }
            });
        }

        function noLocation() {
            localStorage['ajax_key'] = 'nolocation_key';
            $.ajax({
                type: "POST",
                url: "{% url 'businesses-list' %}",
                async: true,
                data: {"ajax_key": 'nolocation_key', 'csrfmiddlewaretoken': '{{csrf_token}}'},
                success: function (data) {
                    localStorage['latitude'] = 53.3498053;
                    localStorage['longitude'] = -6.2603097;
                    $('.list-container').replaceWith(data.business_data);
                    mainMap();
                    starRating('.star-rating');
                }
            });
        }

        $('#geocomplete').geocomplete({details: '.location_data'})
            .bind("geocode:result", function (event, result) {
                var latitude = $('.lat').val()
                var longitude = $('.lng').val()
                localStorage['latitude'] = latitude;
                localStorage['longitude'] = longitude;
                localStorage['ajax_key'] = 'filter_key';
                $('.list-container').html('');
                pagination();
            });

        $(document).on("click", '.apply', function () {
            localStorage['ajax_key'] = 'filter_key';
            $('.list-container').html('');
            pagination();
        });

        $(document).on("click", '.category_apply', function () {
            localStorage['ajax_key'] = 'filter_key';
            $('.list-container').html('');
            pagination();
        });

        $(document).on("change", '#title', function () {
            localStorage['ajax_key'] = 'filter_key';
            $('.list-container').html('');
            pagination();
        });

        function mainMap() {
            var ib = new InfoBox();

            // Infobox Output
            function locationData(locationURL, locationImg, locationTitle, locationAddress, locationRating, locationRatingCounter) {

                return ('' +
                    '<a href="' + locationURL + '" class="listing-img-container">' +
                    '<div class="infoBox-close"><i class="fa fa-times"></i></div>' +
                    '<img src="' + locationImg + '" alt="">' +

                    '<div class="listing-item-content">' +
                    '<h3>' + locationTitle + '</h3>' +
                    '<span>' + locationAddress + '</span>' +
                    '</div>' +

                    '</a>' +

                    '<div class="listing-content">' +
                    '<div class="listing-title">' +
                    '<div class="' + infoBox_ratingType + '" data-rating="' + locationRating + '"><div class="rating-counter">(' + locationRatingCounter + ' reviews)</div></div>' +
                    '</div>' +
                    '</div>')
            }

            // Chosen Rating Type
            google.maps.event.addListener(ib, 'domready', function () {
                if (infoBox_ratingType = 'numerical-rating') {
                    numericalRating('.infoBox .' + infoBox_ratingType + '');
                }
                if (infoBox_ratingType = 'star-rating') {
                    starRating('.infoBox .' + infoBox_ratingType + '');
                }
            });

            var mapZoomAttr = $('#map').attr('data-map-zoom');
            var mapScrollAttr = $('#map').attr('data-map-scroll');

            if (typeof mapZoomAttr !== typeof undefined && mapZoomAttr !== false) {
                var zoomLevel = parseInt(mapZoomAttr);
            } else {
                var zoomLevel = 5;
            }

            if (typeof mapScrollAttr !== typeof undefined && mapScrollAttr !== false) {
                var scrollEnabled = parseInt(mapScrollAttr);
            } else {
                var scrollEnabled = false;
            }

            // Main Map
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: zoomLevel,
                scrollwheel: scrollEnabled,
                center: new google.maps.LatLng(localStorage['latitude'], localStorage['longitude']),
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControl: false,
                mapTypeControl: false,
                scaleControl: false,
                panControl: false,
                navigationControl: false,
                streetViewControl: false,
                clickableIcons: false,
                gestureHandling: 'cooperative',

                // Google Map Style
                styles: [{
                    "featureType": "poi",
                    "elementType": "labels.text.fill",
                    "stylers": [{"color": "#747474"}, {"lightness": "23"}]
                }, {
                    "featureType": "poi.attraction",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#f38eb0"}]
                }, {
                    "featureType": "poi.government",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#ced7db"}]
                }, {
                    "featureType": "poi.medical",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#ffa5a8"}]
                }, {
                    "featureType": "poi.park",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#c7e5c8"}]
                }, {
                    "featureType": "poi.place_of_worship",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#d6cbc7"}]
                }, {
                    "featureType": "poi.school",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#c4c9e8"}]
                }, {
                    "featureType": "poi.sports_complex",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#b1eaf1"}]
                }, {
                    "featureType": "road",
                    "elementType": "geometry",
                    "stylers": [{"lightness": "100"}]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [{"visibility": "off"}, {"lightness": "100"}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#ffd4a5"}]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry.fill",
                    "stylers": [{"color": "#ffe9d2"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [{"visibility": "simplified"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry.fill",
                    "stylers": [{"weight": "3.00"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry.stroke",
                    "stylers": [{"weight": "0.30"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text",
                    "stylers": [{"visibility": "on"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text.fill",
                    "stylers": [{"color": "#747474"}, {"lightness": "36"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels.text.stroke",
                    "stylers": [{"color": "#e9e5dc"}, {"lightness": "30"}]
                }, {
                    "featureType": "transit.line",
                    "elementType": "geometry",
                    "stylers": [{"visibility": "on"}, {"lightness": "100"}]
                }, {"featureType": "water", "elementType": "all", "stylers": [{"color": "#d2e7f7"}]}]
            });

            // Marker highlighting when hovering listing item
            $('.listing-item-container').on('mouseover', function () {
                var listingAttr = $(this).data('marker-id');
                if (listingAttr !== undefined) {
                    var listing_id = $(this).data('marker-id') - 1;
                    var marker_div = allMarkers[listing_id].div;
                    $(marker_div).addClass('clicked');
                    $(this).on('mouseout', function () {
                        if ($(marker_div).is(":not(.infoBox-opened)")) {
                            $(marker_div).removeClass('clicked');
                        }
                    });
                }
            });

            // Infobox
            // ----------------------------------------------- //

            var boxText = document.createElement("div");
            boxText.className = 'map-box'
            var currentInfobox;
            var boxOptions = {
                content: boxText,
                disableAutoPan: false,
                alignBottom: true,
                maxWidth: 0,
                pixelOffset: new google.maps.Size(-134, -55),
                zIndex: null,
                boxStyle: {
                    width: "270px"
                },
                closeBoxMargin: "0",
                closeBoxURL: "",
                infoBoxClearance: new google.maps.Size(25, 25),
                isHidden: false,
                pane: "floatPane",
                enableEventPropagation: false,
            };

            var markerCluster, overlay, i;
            var allMarkers = [];
            var clusterStyles = [
                {
                    textColor: 'white',
                    url: '',
                    height: 50,
                    width: 50
                }
            ];

            var markerIco;

            // Locations
            var locations = [];
            var business_api_url = $('#map').attr('data-api-url');
            var url = window.location.href;

            var curr_lat = $('#curr_lat').val()
            var curr_lng = $('#curr_lng').val()
            var search = $('#title').val();
            var location = $('.formatted_address').val();
            var category = new Array();
            var dist = $('.range-output').html();
            $('input[name="check"]:checked').each(function () {
                category.push(this.value);
            });
            var latitude = $('.lat').val()
            var longitude = $('.lng').val()

            if (search == '' & category == '' & location == '') {
                search = $('#map').attr('data-title');
                category = $('#map').attr('data-attr');
                location = $('#map').attr('data-address');
                curr_lat = $('#map').attr('data-latitude');
                curr_lng = $('#map').attr('data-longitude');
                latitude = $('#map').attr('data-latitude');
                longitude = $('#map').attr('data-longitude');
                now_key = localStorage['ajax_key']
                attr_ajax_key = $('#map').attr('data-target');
                if (attr_ajax_key != '') {
                    localStorage['ajax_key'] = $('#map').attr('data-target');
                } else {
                    localStorage['ajax_key'] = now_key
                }
                if (location) {
                    curr_lat = $('#map').attr('data-latitude');
                    curr_lng = $('#map').attr('data-longitude');
                    localStorage['latitude'] = latitude;
                    localStorage['longitude'] = longitude;
                }
                else {
                    curr_lat = $('#curr_lat').val();
                    curr_lng = $('#curr_lng').val();
                    localStorage['latitude'] = $('#curr_lat').val();
                    localStorage['longitude'] = $('#curr_lng').val();
                }
            }

            var page_by = $('.paginate_by').attr("data-attr");

            if (localStorage['ajax_key'] == 'nolocation_key') {
                curr_lat = 53.3498053;
                curr_lng = -6.2603097;
            }
            business_api_url += '?category=' + category + '&curr_lat=' + curr_lat + '&curr_lng=' + curr_lng + '&search=' + search + '&location=' + location + '&dist=' + dist + '&latitude=' + latitude + '&longitude=' + longitude + '&page_by=' + page_by + '&ajax_key=' + localStorage['ajax_key']
            $.getJSON(business_api_url, function (data) {
                var id = 1;
                $.each(data, function (key, val) {
                    var business = [locationData(val.absolute_url, val.image, val.name, val.addressGmap, val.get_rating, val.get_reviews_count), parseFloat(val.latitude), parseFloat(val.longitude), id, '<i class="im im-icon-Map-Marker2"></i>']
                    locations.push(business);
                    id++;
                });
            }).done(function (data) {
                for (i = 0; i < locations.length; i++) {
                    markerIco = locations[i][4];
                    var overlaypositions = new google.maps.LatLng(locations[i][1], locations[i][2]),
                        overlay = new CustomMarker(
                            overlaypositions,
                            map,
                            {
                                marker_id: i
                            },
                            markerIco
                        );
                    allMarkers.push(overlay);
                    google.maps.event.addDomListener(overlay, 'click', (function (overlay, i) {
                        return function () {
                            ib.setOptions(boxOptions);
                            boxText.innerHTML = locations[i][0];
                            ib.open(map, overlay);
                            // var latLng = new google.maps.LatLng(locations[i][1], locations[i][2]);
                            // map.panTo(latLng);
                            // map.panBy(0,-90);

                            google.maps.event.addListener(ib, 'domready', function () {
                                $('.infoBox-close').click(function (e) {
                                    e.preventDefault();
                                    ib.close();
                                    $('.map-marker-container').removeClass('clicked infoBox-opened');
                                });
                            });
                        }

                    })(overlay, i));
                }

                // Marker Clusterer Init
                // ----------------------------------------------- //

                var options = {
                    imagePath: 'images/',
                    styles: clusterStyles,
                    minClusterSize: 2
                };
                markerCluster = new MarkerClusterer(map, allMarkers, options);

                google.maps.event.addDomListener(window, "resize", function () {
                    var center = map.getCenter();
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(center);
                });
            });

            // Custom User Interface Elements
            // ----------------------------------------------- //

            // Custom Zoom-In and Zoom-Out Buttons
            var zoomControlDiv = document.createElement('div');
            var zoomControl = new ZoomControl(zoomControlDiv, map);

            function ZoomControl(controlDiv, map) {

                zoomControlDiv.index = 1;
                map.controls[google.maps.ControlPosition.RIGHT_CENTER].push(zoomControlDiv);
                // Creating divs & styles for custom zoom control
                controlDiv.style.padding = '5px';
                controlDiv.className = "zoomControlWrapper";

                // Set CSS for the control wrapper
                var controlWrapper = document.createElement('div');
                controlDiv.appendChild(controlWrapper);

                // Set CSS for the zoomIn
                var zoomInButton = document.createElement('div');
                zoomInButton.className = "custom-zoom-in";
                controlWrapper.appendChild(zoomInButton);

                // Set CSS for the zoomOut
                var zoomOutButton = document.createElement('div');
                zoomOutButton.className = "custom-zoom-out";
                controlWrapper.appendChild(zoomOutButton);

                // Setup the click event listener - zoomIn
                google.maps.event.addDomListener(zoomInButton, 'click', function () {
                    map.setZoom(map.getZoom() + 1);
                });

                // Setup the click event listener - zoomOut
                google.maps.event.addDomListener(zoomOutButton, 'click', function () {
                    map.setZoom(map.getZoom() - 1);
                });

            }

            // Scroll enabling button
            var scrollEnabling = $('#scrollEnabling');
            $(scrollEnabling).click(function (e) {
                e.preventDefault();
                $(this).toggleClass("enabled");
                if ($(this).is(".enabled")) {
                    map.setOptions({'scrollwheel': true});
                } else {
                    map.setOptions({'scrollwheel': false});
                }
            })

            $(document).on("click", ".input-with-icon.location a", function (e) {
                e.preventDefault();
                geolocation();
                var page_by = 1;
                pagination(page_by)
            });

            function geolocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(currPos, showError);
                }
            }

            function currPos(position) {
                var lat = position.coords.latitude;
                var lng = position.coords.longitude;
                var pos = new google.maps.LatLng(lat, lng);
                var geocoder = new google.maps.Geocoder();
                if (geocoder) {
                    geocoder.geocode({'latLng': pos}, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            $('#geocomplete').val(results[0].formatted_address);
                            location_now(lat, lng);
                        } else {
                            $('#geocomplete').val('');
                            noLocation();
                        }
                    });
                }
            }

            function showError(error) {
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        noLocation();
                        break;
                    case error.POSITION_UNAVAILABLE:
                        noLocation();
                        break;
                    case error.TIMEOUT:
                        noLocation();
                        break;
                    case error.UNKNOWN_ERROR:
                        noLocation();
                        break;
                }
            }
        }

        function location_now(lat, lng) {
            var curr_lat = lat;
            var curr_lng = lng;
            localStorage['latitude'] = curr_lat;
            localStorage['longitude'] = curr_lng;
            var search = $('#title').val();
            var location = $('.formatted_address').val();
            var category = new Array();
            var dist = $('.range-output').html();
            $('input[name="check"]:checked').each(function () {
                category.push(this.value);
            });
            var latitude = localStorage['latitude']
            var longitude = localStorage['longitude']

            $.ajax({
                type: "POST",
                data: {
                    "ajax_key": 'filter_key',
                    "curr_lat": curr_lat,
                    "curr_lng": curr_lng,
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    "search": search,
                    "location": location,
                    "category": category,
                    "dist": dist,
                    "latitude": latitude,
                    "longitude": longitude
                },

                success: function (data) {
                    $('.business_listings').replaceWith(data.business_data);
                    mainMap();
                    pagination();
                }
            });
        }

        // Custom Map Marker
        // ----------------------------------------------- //

        function CustomMarker(latlng, map, args, markerIco) {

            this.latlng = latlng;
            this.args = args;
            this.markerIco = markerIco;
            this.setMap(map);
        }

        CustomMarker.prototype = new google.maps.OverlayView();

        CustomMarker.prototype.draw = function () {

            var self = this;
            var div = this.div;
            if (!div) {
                div = this.div = document.createElement('div');
                div.className = 'map-marker-container';
                div.innerHTML = '<div class="marker-container">' +
                    '<div class="marker-card">' +
                    '<div class="front face">' + self.markerIco + '</div>' +
                    '<div class="back face">' + self.markerIco + '</div>' +
                    '<div class="marker-arrow"></div>' +
                    '</div>' +
                    '</div>'

                // Clicked marker highlight
                google.maps.event.addDomListener(div, "click", function (event) {
                    $('.map-marker-container').removeClass('clicked infoBox-opened');
                    $('.map-marker-container').not($(this)).removeAttr('data-attr-clicked');
                    if (!$(this).attr('data-attr-clicked')) {
                        google.maps.event.trigger(self, "click");
                        $(this).addClass('clicked infoBox-opened');
                        $(this).attr('data-attr-clicked', '1');
                        starRating('.infoBox .star-rating');
                        googleEvent();
                    }
                    else {
                        $(".infoBox-close").trigger("click");
                        $(this).removeAttr('data-attr-clicked');
                    }
                });


                if (typeof(self.args.marker_id) !== 'undefined') {
                    div.dataset.marker_id = self.args.marker_id;
                }

                var panes = this.getPanes();
                panes.overlayImage.appendChild(div);

                function googleEvent() {
                    google.maps.event.trigger(self, "click");
                    starRating('.infoBox .star-rating');
                    $('.infoBox-close').click(function (e) {
                        e.preventDefault();
                        $('.infoBox').hide();
                        $('.map-marker-container').removeClass('clicked infoBox-opened');
                    });
                }

            }

            var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

            if (point) {
                div.style.left = (point.x) + 'px';
                div.style.top = (point.y) + 'px';
            }
        };

        CustomMarker.prototype.remove = function () {
            if (this.div) {
                this.div.parentNode.removeChild(this.div);
                this.div = null;
                $(this).removeClass('clicked');
            }
        };

        CustomMarker.prototype.getPosition = function () {
            return this.latlng;
        };

        // -------------- Custom Map Marker / End -------------- //

        function locationData(locationURL, locationImg, locationTitle, locationAddress, locationRating, locationRatingCounter) {
            return ('' +
                '<a href="' + locationURL + '" class="listing-img-container">' +
                '<div class="infoBox-close"><i class="fa fa-times"></i></div>' +
                '<img src="' + locationImg + '" alt="">' +

                '<div class="listing-item-content">' +
                '<h3>' + locationTitle + '</h3>' +
                '<span>' + locationAddress + '</span>' +
                '</div>' +

                '</a>' +

                '<div class="listing-content">' +
                '<div class="listing-title">' +
                '<div class="' + infoBox_ratingType + '" data-rating="' + locationRating + '"><div class="rating-counter">(' + locationRatingCounter + ' reviews)</div></div>' +
                '</div>' +
                '</div>')
        }


    </script>
{% endblock %}