{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block headerStyle %}
    <header id="header-container">
    <!-- Header -->
    <div id="header" class="not-sticky">
{% endblock headerStyle %}
{% block content %}
    <!-- Content ================================================== -->
    <div class="container">
        <!-- Titlebar -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="centered-content">Register your Business</h2>
                <!-- Breadcrumbs -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="add-listing">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="add-listing-section">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>
                                    <i class="sl sl-icon-doc"></i> Basic Information</h3>
                            </div>
                            <!-- Title -->
                            <div class="row with-forms">
                                <div class="col-md-12">
                                    <h5>Business name <i class="info-required">*</i>

                                    </h5>
                                    {{ form.name }}
                                </div>
                            </div>
                            <!-- Checkboxes -->
                            {% comment %} <h5 class="margin-top-30 margin-bottom-10">Categories
                                </h5>
                                <div class="checkboxes in-row margin-bottom-20">
                                    {% for category in form.categories %}
                                    {{ category.tag }}
                                    <label for="{{ category.id_for_label }}">{{ category.choice_label }}</label>
                                    {% endfor %}
                                    {{form.categories.errors}}
                                </div> {% endcomment %}
                            <!-- Checkboxes / End -->
                        </div>
                        <!-- Section / End -->
                        <!-- Section -->
                        <div class="add-listing-section margin-top-45">
                            <!-- Headline -->
                            <div class="add-listing-headline">
                                <h3>
                                    <i class="sl sl-icon-location"></i> Location</h3>
                            </div>
                            <div class="submit-section">
                                <!-- Row -->
                                <div class="row with-forms">

                                    <!-- Address -->
                                    <div class="col-md-6">
                                        <p>
                                        <h5 for="autocomplete">Address <i class="info-required">*</i></h5>
                                        {{ form.addressGmap }}
                                        </p>
                                    </div>
                                </div>
                                <!-- Row / End -->
                                <!--Location-->
                                <div id="listing-location" class="listing-section">
                                    <h3 class="listing-desc-headline margin-top-30 margin-bottom-30">Location <i
                                            class="tip" data-tip-content="Slide the marker to adjust position"></i></h3>

                                    <div id="singleListingMap-container">
                                        <div id="singleListingMap" data-map-type="edit"
                                             data-map-icon="im im-icon-Map-Marker2">
                                        </div>
                                        <!-- <a href="#" id="streetView">Street View</a> -->
                                    </div>

                                    {{ form.latitude }}
                                    {{ form.longitude }}
                                    {{ form.address }}
                                    {{ form.city }}
                                    {{ form.postCode }}
                                    {{ form.country }}

                                </div>
                            </div>

                            <div class="checkboxes in-row margin-bottom-20">
                                {{ form.accept_tc }}
                                {{ form.accept_tc.errors }}
                                <label id="lbltc" for="id_accept_tc">

                                    I agree to the <a target="_blank"
                                                      style="font-weight: bold;color: #f26f28;text-decoration: underline;"
                                                      href="{% url 'tandc' %}">Terms of Service</a>
                                </label>

                            </div>

                            <!-- Section / End -->
                            <button type="submit" id="submitForm" name="submit-submission" value="Edit"
                                    class="button margin-top-30">Save Changes
                                <i class="fa fa-arrow-circle"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content / End -->
{% endblock content %}
</div>
<!-- Dashboard / End -->
</header>
<!-- Wrapper / End -->
{% block footer %}
    <!-- No Footer
    ================================================== -->
{% endblock footer %}
<!-- Scripts
================================================== -->
{% block extra_js %}
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&libraries=places"></script>
    <script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>
    <script>
        $(document).on('keypress', 'input[type=text]', function (e) {
            if (e.which == 13) e.preventDefault();
        });
    </script>
    <script type="text/javascript">

        $("#submitForm").click(function () {
            //alert( "Handler for .click() called." );
            if ($("#id_accept_tc").prop('checked') == false) {
                $("#lbltc").css({color: "red"});
            }
        });

        function getCookie(name) {

            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }

            return cookieValue;

        }

        var business = 1;

        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone(
            "div#galleryDrop",
            {
                autoProcessQueue: false,
                uploadMultiple: false,
                maxFiles: 10,
                clickable: true,
                addRemoveLinks: true,
                previewsContainer: "#drop-preview",
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                url: "{% url 'business:business-image-upload' %}",
                init: function () {
                    var submitButton = document.querySelector("#submitForm");
                    myDropzone = this;

                    submitButton.addEventListener("click", function (data, xhr, formData) {
                        myDropzone.processQueue(); // Tell Dropzone to process all queued files.
                    });

                    // You might want to show the submit button only when
                    // files are dropped here:
                    this.on("addedfile", function (e) {
                        e._removeLink.innerHTML = "<div style='margin-top:5px;'><span class='fa fa-ban text-warning' style='font-size: 1.5em'></span></div>";
                        // Show submit button here and/or inform user to click it.

                    });

                    this.on("complete", function (file) {
                        //alert("complete")
                        myDropzone.options.autoProcessQueue = true;
                        //myDropzone.processQueue();
                    });

                    // On removing file
                    this.on("removedfile", function (file) {

                    });

                    this.on("sendingmultiple", function (data, xhr, formData) {
                        formData.append("business", 3);

                    });

                }
            });

    </script>

{% endblock %}