{% extends "base.html" %} {% load static %} 
 {% block content %}


<!-- Content
================================================== -->


<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-md-12">

			<section id="not-found" class="center">
				<h2><i class="fa fa-question-circle"></i></h2>
				<p>An error has occurred. Please try again or contact our support <a href="{% url 'contact' %}">here</a></p>

			</section>

		</div>
	</div>

</div>
<!-- Container / End -->

{% endblock content %}



