{% load static %} {% load i18n %} {% load account socialaccount %}{% load tags %}

<!--

=== TO DO === 
-Footer 
	-Make sure all links have a purpose -Social media links

-Dashboard menu
	-Add class active on current page
	-Fix My listing dropdown closing after click
	-Get number of Active - Pending - incomplete listing
	-Link to Active - Pending - incomplete listing
	-Get number of new message

-->

<!DOCTYPE html>

<head>

    <!-- Basic Page Needs
================================================== -->

	<title>{% block title %}Spotimist | Find all you can do in your city{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Spotimist is a marketplace which offer fun things to do, meet new people, and share experiences. Try something different today!" />
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	{% block stylesheets %}
	<!-- CSS ================================================== -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.0.1" />
	<link rel="stylesheet" href="{% static 'css/spotimist.css' %}?v=1.0.0" />
	<link rel="stylesheet" href="{% static 'css/colors/main.css' %}" />
	{% endblock stylesheets %}
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    {% block header %}
        {% include "header.html" %}
    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}


</div>

<!-- Modal Booking-->
<div class="modal fade calender-modal" id="bookingModal" role="dialog" style="display: none">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="text-center-sm">Pick a Date & Time</h3>

            </div>
            <form method="post" action="/bookings/book/" id="bookForm">
                {% csrf_token %}
                <div class="notification error alert" role="alert" style="display:none"></div>
                <input type="hidden" name="hdActivity" id="hdActivity"/>
                <input type="hidden" name="hdService" id="hdService"/>
                <input type="hidden" name="hdDate" id="hdDate"/>
                <input type="hidden" name="hdTime" id="hdTime"/>
                <input type="hidden" name="qtyTotal" id="qtyTotal"/>
                <div class="modal-body">
                    {#                        <div class="small-dialog-body">#}
                    <div class="container-otr calander-cover">
                        <div id='calendar' class="calender-otr "></div>
                    </div>

                    <div class="titl"> Available Slot</div>
                    <div class="text-right avial-slot text-center-sm">
                        <div class="pull-left sub-otr dis-inline-sm f_n_sm">
                            {% comment %}<span class="clock-icn">
                                <i class="fa fa-clock-o"></i>Available Slot</span>{% endcomment %}
                            <span class="time-text">3.30pm</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12 days-otr">
                        <div class="pull-left row with-forms">
                            <div class="col-lg-12 ser-nme">
                                Coffee
                            </div>
                            <!-- Panel Dropdown -->
                            <div class="col-lg-12 qty-ddl">
                                <div class="panel-dropdown guest-count cstm-panel">
                                    <a href="#" class="pls-btn">Guests <span class="qtyTotal "
                                                                             name="qtyTotal">1</span></a>
                                    <div class="panel-dropdown-content">
                                        <!-- Quantity Buttons -->
                                        <div class="qtyButtons">
                                            <div class="qtyTitle">Adults</div>
                                            <input type="text" name="qtyInput" value="1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Panel Dropdown / End -->
                        </div>
                        <div class="pull-right tpr-otr">
                            <div class="col-lg-12 rs-otr text-right">

                            </div>
                            <div class="col-lg-12 time-otr text-right">
                                2.20pm-3.20pm
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 text-center margin-top-0 fl-bt">
                        <button id="bookNow" type="submit" class="progress-button button fullwidth margin-top-5">
                            <span>Book Now</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Service-->
<div class="modal fade serv-modal" id="serviceModal" role="dialog" style="display: none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Service</h4>
            </div>
            <div class="modal-body">
                <div class="mdl-cont">
                    <div class="pull-left">
                        <h3>{{ business.name }}</h3>
                        <div class="star-rating" data-rating="{{ business.get_rating }} ">
                            <div class="rating-counter"><a href="#listing-reviews">({{ business.get_reviews_count }}
                                reviews)</a></div>
                        </div>
                        <h4>{{ business.description }}</h4>
                    </div>
                </div>
                <div id="listing-pricing-list" class="overflw-cls listing-section section_out list_nav">
                    <div class="">
                        <div class="pricing-list-container toggle-wrap">
                            {% for activity in activities %}
                                <!-- Activity Details -->
                                <div class="trigger-otr">
                                    <h4>
                                        {{ activity.name }}
                                    </h4>
                                    <ul>
                                        {% for service in activity.get_services_list %}
                                            <li>
                                                <h5>
                                                    {{ service.name }}
                                                    <p class="date-servce">{{ service.start_date }}</p>
                                                </h5>
                                                <div class="otr-right">
                                                    <span class="time-servce">{{ service.start_time }}</span>
                                                    {#                                            <span class="price-servce">FREE</span>#}
                                                    {% if service.price == 0 %}
                                                        <span class="price-servce">FREE</span>
                                                    {% else %}
                                                        <span class="price-servce">€{{ service.price }}</span>
                                                    {% endif %}
                                                    {% avail_service service as tag_service %}
                                                    {% if tag_service == 'not-available' %}
                                                        <span class="btn-no-book-now " data-dismiss="modal"
                                                              data-toggle="modal">Not Available</span>
                                                    {% else %}
                                                        <span class="btn-book-now" data-toggle="modal"
                                                              data-dismiss="modal"
                                                              onclick="openBooking({{ service.id }})">Book Now</span>
                                                    {% endif %}

                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>

<!-- Wrapper / End -->
{#</div>#}
{% block javascripts %}
    <!-- Scripts
================================================== -->
    <script type="text/javascript" src="{% static 'scripts/jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/rangeslider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}?v=1.0.1"></script>
{% endblock javascripts %}
{% block extra_js %}{% endblock %}

</body>

{#</html>#}