<!DOCTYPE html>
{% load static %} {% load i18n %} {% load account socialaccount %}

{% comment %}

=== TO DO ===
-Footer
-Make sure all links have a purpose -Social media links

-Dashboard menu
-Add class active on current page
-Fix My listing dropdown closing after click
-Get number of Active - Pending - incomplete listing
-Link to Active - Pending - incomplete listing
-Get number of new message

- Update log out to correct method

{% endcomment %}


<head>

    <!-- Basic Page Needs
================================================== -->
    <title>{% block title %}Spotimist | Find all you can do in your city{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="Spotimist is a marketplace which offer fun things to do, meet new people, and share experiences. Try something different today!" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    {% block stylesheets %}
        <!-- CSS
    ================================================== -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/spotimist.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/colors/main.css' %}"/>
    {% endblock stylesheets %}
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    {% block header %}
        {% include "header-search.html" %}
    {% endblock header %}

    {% block content %}

    {% endblock content %}

    <!--<div class="spinner-cover">-->
    <!--<div class="spinner">-->
    <!--<div class="bounce1"></div>-->
    <!--<div class="bounce2"></div>-->
    <!--<div class="bounce3"></div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!-- Wrapper / End -->
{% block copyrights %}
    <div class="copyrights margin-top-0">© 2018 Spotimist. All Rights Reserved.</div>
{% endblock copyrights %}

{% block javascripts %}
    <!-- Scripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'scripts/jquery-2.2.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/rangeslider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/counterup.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>
{% endblock javascripts %}
{% block extra_js %}{% endblock %}

</body>

