{% extends "base.html" %} {% load static %}
{% block content %}


    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Blog</h2>
                    <span>Latest News</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>Blog</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
        ================================================== -->
    <div class="container">

        <!-- Blog Posts -->
        <div class="blog-page">
            <div class="row">
                <div class="col-lg-9 col-md-8 padding-right-30">

                    <!-- Blog Post -->
                    <div class="blog-post">

                        <!-- Img -->
                        <a href="{% url 'blog_post' %}" class="post-img">
                            <img src="{% static 'images/Spotimist.jpg' %}" alt="">
                        </a>

                        <!-- Content -->
                        <div class="post-content">
                            <h3>
                                <a href="{% url 'blog_post' %}">Spotimist first steps</a>
                            </h3>

                            <ul class="post-meta">
                                <li>August 2018</li>
                            </ul>

                            <p>After years of thinking and months of development, Spotimist is now ready to take its
                                first steps!
                                This is a highly exciting moment for us to get the platform live and unlish its power.
                                Well, here is what you need to know
                                and expect before the lift off...
                            </p>

                            <a href="{% url 'blog_post' %}" class="read-more">Read More
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <!-- Blog Post / End -->

                    {% comment %}
                <!-- Pagination -->
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Pagination -->
                        <div class="pagination-container margin-bottom-40">
                            <nav class="pagination">
                                <ul>
                                    <li>
                                        <a href="#" class="current-page">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="sl sl-icon-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Pagination / End -->
                {% endcomment %}
                </div>

                <!-- Blog Posts / End -->


                <!-- Widgets -->
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar right">

                        <!-- Widget --><!--
                    <div class="widget">
                        <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                        <div class="search-blog-input">
                            <div class="input">
                                <input class="search-field" type="text" placeholder="Type and hit enter" value="" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>-->
                        <!-- Widget / End -->


                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3>Got any questions?</h3>
                            <div class="info-box margin-bottom-10">
                                <p>Having any questions? Feel free to ask!</p>
                                <a href="{% url 'contact' %}" class="button fullwidth margin-top-20">
                                    <i class="fa fa-envelope-o"></i> Drop Us a Line</a>
                            </div>
                        </div>
                        <!-- Widget / End -->

                        {% comment %}
                    <!-- Widget -->
                    <div class="widget margin-top-40">

                        <h3>Popular Posts</h3>
                        <ul class="widget-tabs">

                            <!-- Post #1 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="pages-blog-post.html">
                                            <img src="images/blog-widget-03.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="widget-text">
                                        <h5>
                                            <a href="pages-blog-post.html">Hotels for All Budgets </a>
                                        </h5>
                                        <span>October 26, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                            <!-- Post #2 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="pages-blog-post.html">
                                            <img src="images/blog-widget-02.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="widget-text">
                                        <h5>
                                            <a href="pages-blog-post.html">The 50 Greatest Street Arts In London</a>
                                        </h5>
                                        <span>November 9, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                            <!-- Post #3 -->
                            <li>
                                <div class="widget-content">
                                    <div class="widget-thumb">
                                        <a href="pages-blog-post.html">
                                            <img src="images/blog-widget-01.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="widget-text">
                                        <h5>
                                            <a href="pages-blog-post.html">The Best Cofee Shops In Sydney Neighborhoods</a>
                                        </h5>
                                        <span>November 12, 2016</span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <!-- Widget / End-->
                    {% endcomment %}

                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3 class="margin-bottom-25">Social</h3>
                            <ul class="social-icons rounded">
                                <li>
                                    <a class="facebook" href="{{ facebook_url }}">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="gplus" href="#">
                                        <i class="icon-gplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="{{ linkedin_url }}">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- Widget / End-->

                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </div>
                </div>
            </div>
            <!-- Sidebar / End -->


        </div>
    </div>



{% endblock content %}

<!-- Scripts
    ================================================== -->

{% block javascripts %} {{ block.super }} {% endblock javascripts %}