{% extends "base.html" %} {% load static %} {% block content %}



    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>Blog</h2>
                    <span>Latest News</span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'blog' %}">Blog</a>
                            </li>
                            <li>
                                Spotimist first steps
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Blog Posts -->
        <div class="blog-page">
            <div class="row">


                <!-- Post Content -->
                <div class="col-lg-9 col-md-8 padding-right-30">


                    <!-- Blog Post -->
                    <div class="blog-post single-post">

                        <!-- Img -->
                        <img class="post-img" src="{% static 'images/Spotimist.jpg' %}" alt="">


                        <!-- Content -->
                        <div class="post-content">

                            <h3>Spotimist first steps</h3>

                        <ul class="post-meta">
                            <li>August, 2018</li>
                        </ul>

                            <p>After years of thinking and months of development, Spotimist is now ready to take its
                                first steps! This is a highly
                                exciting moment for us to get the platform live and unleash its power. Well, here is
                                what you need to know and expect before lift off!</p>

                            <div class="post-quote">
                                <span class="icon"></span>
                                <blockquote>
                                    It does not matter how slowly you go, so long as you do not stop.
                                    <small>Confucius</small>
                                </blockquote>
                            </div>

                            <p>It took time, a lot of it! But we are very proud to finally be able to release the first
                                workable version of Spotimist.
                                You might not yet be acquainted with it so let us tell you a little bit more about the
                                purpose of all the time behind this work.
                                <br>
                            </p>

                            <h3>Why this platform? Why Spotimist?</h3>

                            <p> We are a bunch of people who enjoy discovering new activities when we have some free
                                time and feel like it!
                                Learning some latin moves after work, going for a surf lesson for a weekend once in a
                                while,
                                learning an instrument or even joining a bike tour while travelling. Everywhere is full
                                of people or small businesses,
                                keeping the locals or travellers entertained and active. And that is great!</p>
                            <p>
                                But sometimes it can be overwhelming to find a new thing to do or keep up with current
                                activities...
                                The choice is wide, the changes are frequent and the resources are limited... What new
                                things can I discover?
                                What do I google? Is this place still open? Who's that guy? With some experience on
                                enjoying an active life, this can be frustrating.
                                Sometimes we'd miss the update of a last-minute change of a venue we regularly go to for
                                a dance class.
                                Or spend half an hour on the phone wandering small Donegal roads to go sea kayaking,
                                talking to that guy from the flyer guiding us to some remote beach.
                                Or start that 7.30pm class at 8pm because people are still queueing to pay for a
                                class for the last 30 minutes! (All true stories)
                            </p>
                            <p> This is the reason we built Spotimist! In today's world, we have everything within reach
                                thanks to our phone and Internet.
                                People have more time than ever to enjoy themselves outside of work and discover new
                                things to do. On the other hand,
                                businesses do not have the resources or budget to reach out to new people, keep them
                                updated, communicate and provide services around the clock.
                            </p>

                            <p>Because of that, we decided not to charge a monthly fee and keep it free for businesses
                                to register and list their activities
                                on Spotimist - if we don't bring you customers, we don't get paid! We also intend to
                                keep online payment fees as low as
                                possible by choosing the best providers to keep the overall fees as cheap as if you were
                                using PayPal.
                            </p>

                            <h3>Our vision for the platform</h3>
                            <p>
                                Spotimist has the potential to offer the best tools for businesses to reach their
                                audience so they can focus on what
                                they do best - taking care of their customers and providing them with the best
                                experience possible!
                                Spotimist is not just a ticketing marketplace. It is a platform for anybody to provide
                                <b style="font-weight: bold;color: #f26f28;">Booking</b>,
                                <b style="font-weight: bold;color: #f26f28;">Subscription</b> or <b
                                    style="font-weight: bold;color: #f26f28;">Pass access</b> to their services. Will
                                the listed activity be free? Then, so will be listing it!
                                But listing activities is only one part of Spotimist. We want businesses to connect with
                                their customers,
                                get feedback from them, let them know of the latest deals or activities they are
                                providing, etc.
                                We want businesses to get the added value of listing their activities online and in the
                                simplest of ways.<br>
                                OK, and because we design it the way we would use it, we also want the good stuff for
                                us, as consumers.
                                We want to find something new to do, whenever and wherever we wish to, we want to know
                                when and where our next planned activity is.
                                We want easy access to the places we regularly go to.
                            </p>

                            <h3>Work in progress!</h3>

                            <p>
                                These are our first steps! We have worked very hard to get the best foundation possible
                                and it is now time to build.
                                If you are organizing activities, start registering yourself and organizing your
                                business on Spotimist. Some features
                                are missing but if you feel that there is something you really need now, drop us a line
                                and we will do our best to get it
                                online as soon as possible.
                            </p>
                            <p>
                                For the moment, here is what you can do on Spotimist. <br>
                                You can register your business, for <b
                                    style="font-weight: bold;color: #f26f28;">free</b>. There is no cost to register and
                                there is no plan at all to do so in the future.<br>
                                You can start creating your activities and managing the services linked to them. For the
                                moment only, services requiring a
                                date and a time can be created but soon,
                                subscription and drop-in activities with Pass access will be added.
                            </p>
                            <p>
                                The mobile app is currently limited only to businesses for them to be able to scan QR
                                codes, but we intend to make it an all-in-one application for customers and businesses,
                                with notifications and all the good stuff we can get from using a mobile app.
                            </p>

                            <p>
                                Finally, we will be focusing on features like messaging support, more advanced
                                calendars, multi-user businesses and multi-location activities.
                            </p>

                            <h3>Then what?</h3>
                            <p>
                                This is only to give you a taste of the potential we intend to develop Spotimist. We are
                                full of ideas to implement,
                                and the more we grow, the more resources we will get to make it better.
                            </p>
                            <p>
                                To end this introductory note, we want to thank everybody that has accompanied us and
                                helped us start this journey.
                                We are now in deep need of your feedback! Please let us know your thoughts, troubles,
                                or things you want to see in Spotimist. Now is the most flexible time we will ever have
                                to implement new things and shape it to its best. Drop us a line by e-mail or soon on
                                the available social channel.
                            </p>
                            <p>
                                Florent SERRA and Fabio RADWAN - Founders of Spotimist
                            </p>


                            <!-- Share Buttons -->
                            <ul class="share-buttons margin-top-40 margin-bottom-0">
                                <li>
                                    <a class="fb-share" href="#">
                                        <i class="fa fa-facebook"></i> Share</a>
                                </li>
                                <li>
                                    <a class="twitter-share" href="#">
                                        <i class="fa fa-twitter"></i> Tweet</a>
                                </li>
                                <li>
                                    <a class="gplus-share" href="#">
                                        <i class="fa fa-google-plus"></i> Share</a>
                                </li>
                                <li>
                                    <a class="pinterest-share" href="#">
                                        <i class="fa fa-pinterest-p"></i> Pin</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <!-- Blog Post / End -->


                    <!-- Post Navigation -->
                    <!--
                    <ul id="posts-nav" class="margin-top-0 margin-bottom-45">
                        <li class="next-post">
                            <a href="#">
                                <span>Next Post</span>
                                The Best Cofee Shops In Sydney Neighborhoods</a>
                        </li>
                        <li class="prev-post">
                            <a href="#">
                                <span>Previous Post</span>
                                Hotels for All Budgets</a>
                        </li>
                    </ul>-->


                    <!-- About Author -->
                    <!--
                    <div class="about-author">
                        <img src="images/user-avatar.jpg" alt="" />
                        <div class="about-description">
                            <h4>Tom Perrin</h4>
                            <a href="#">tom@example.com</a>
                            <p>Nullam ultricies, velit ut varius molestie, ante metus condimentum nisi, dignissim facilisis turpis
                                ex in libero. Sed porta ante tortor, a pulvinar mi facilisis nec. Proin finibus dolor ac convallis
                                congue.</p>
                        </div>
                    </div>-->


                </div>
                <!-- Content / End -->


                <!-- Widgets -->
                <div class="col-lg-3 col-md-4">
                    <div class="sidebar right">

                        <!-- Widget -->
                        <!--
                <div class="widget">
                    <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                    <div class="search-blog-input">
                        <div class="input"><input class="search-field" type="text" placeholder="Type and hit enter" value=""/></div>
                    </div>
                    <div class="clearfix"></div>
                </div>-->
                        <!-- Widget / End -->


                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3>Got any questions?</h3>
                            <div class="info-box margin-bottom-10">
                                <p>Having any questions? Feel free to ask!</p>
                                <a href="{% url 'contact' %}" class="button fullwidth margin-top-20">
                                    <i class="fa fa-envelope-o"></i> Drop Us a Line</a>
                            </div>
                        </div>
                        <!-- Widget / End -->

                        <!-- Widget -->
                        <!--
                <div class="widget margin-top-40">

                    <h3>Popular Posts</h3>
                    <ul class="widget-tabs">
                    -->
                        <!-- Post #1 -->
                        <!--
                        <li>
                            <div class="widget-content">
                                    <div class="widget-thumb">
                                    <a href="pages-blog-post.html"><img src="images/blog-widget-03.jpg" alt=""></a>
                                </div>

                                <div class="widget-text">
                                    <h5><a href="pages-blog-post.html">Hotels for All Budgets </a></h5>
                                    <span>October 26, 2016</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                    </ul>

                </div>-->
                        <!-- Widget / End-->


                        <!-- Widget -->
                        <div class="widget margin-top-40">
                            <h3 class="margin-bottom-25">Social</h3>
                            <ul class="social-icons rounded">
                                <li>
                                    <a class="facebook" href="{{ facebook_url }}">
                                        <i class="icon-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="icon-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="gplus" href="#">
                                        <i class="icon-gplus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="{{ linkedin_url }}">
                                        <i class="icon-linkedin"></i>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <!-- Widget / End-->

                        <div class="clearfix"></div>
                        <div class="margin-bottom-40"></div>
                    </div>
                </div>
            </div>
            <!-- Sidebar / End -->


        </div>
    </div>




    <!-- Back To Top Button -->
    <div id="backtotop">
        <a href="#"></a>
    </div>

    <!-- Wrapper / End -->


{% endblock content %}

<!-- Scripts
    ================================================== -->

{% block javascripts %} {{ block.super }} {% endblock javascripts %}