{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}{% endblock %}
{% block content %}
    <div id="container" class="container">
        <div>
            <h1 class="page-title ui-title" role="heading" aria-level="1">Booking Terms and Conditions</h1>
        </div>
        <div class="info-title">
            <span class="last_update">Last updated March 2017</span>
            <div class="info-policy">
                <p>
                    <b>This is a summary of our key Booking Terms and Conditions. It should
                        <u>not</u> be a substitute for reading the full version below.</b>
                </p>
                <ul>
                    <li>The Services you can buy or book via Spotimist are sold by our Partners and not by us. We are
                        only responsible for arranging and concluding your booking and we have been appointed by
                        our Partners to act as their commercial agent to do so.
                    </li>
                    <li>If you pay for Services from our Partners through our Website or our App, we may collect and
                        receive your payment on behalf of the relevant Partner in our capacity as their commercial
                        agent. In this event, our successful receipt of your payment will discharge your debt to
                        the Partner for the Services.
                    </li>
                    <li>The contract for the Services is directly between you and the relevant Partner. We are
                        <u>not</u> liable for the Services you receive from our Partners. However, please do let us
                        know if you encounter a problem or if the Service you receive at a venue falls short of your
                        expectations and we’ll do our best to help.
                    </li>
                    <li>Please check all details and any restrictions relating to a Service thoroughly
                        <u>before</u> booking.
                    </li>
                    <li>Please ensure that any medical or other allergy/health information is disclosed to Partners
                        <u>before</u> your appointment or stay.
                    </li>
                    <li>If you want to reschedule or cancel a Dated Booking (and provided that rescheduling or
                        cancellation
                        (as applicable) is not prohibited by these Booking Terms and Conditions) this must be requested
                        and completed by either:
                    </li>
                </ul>
                <dl>
                    <dd>
                        <ul>
                            <li>using your Spotimist account via the Website or the App;</li>
                            <li>following the link in your Order Confirmation email; or</li>
                            <li>emailing our Customer Care team
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Support">here</a>.
                            </li>
                            <li>If you want to cancel an order for an eVoucher (and provided that cancellation is not
                                prohibited by these Booking Terms and Conditions) you must email our Customer Care
                                team <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                                        title="Support">here</a>.
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul>
                    <li>If you want to cancel a Spotimist Gift Card (and provided that cancellation is not prohibited
                        by these Booking Terms and Conditions) this must be requested and completed by either:
                    </li>
                </ul>
                <dl>
                    <dd>
                        <ul>
                            <li>using your Spotimist account via the Website or the App;</li>
                            <li>following the link in your Order Confirmation email; or</li>
                            <li>emailing our Customer Care team
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Support">here</a>.
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul>
                    <li>Rules regarding cancellation vary depending on whether you have purchased a Dated Booking, a
                        Subscription, a Pass, an eVoucher or a Spotimist Gift Card:
                    </li>
                </ul>
                <dl>
                    <dd>
                        <ul>
                            <li>You may cancel a Spotimist Gift Card or eVoucher within 14 days of receiving your Order
                                Confirmation and we can offer you a full refund, unless you have already used it
                                to book an appointment or Pass or have redeemed it against another purchase.
                            </li>
                            <li>If you wish to cancel an eVoucher more than 14 days after receiving your Order
                                Confirmation
                                (but prior to its expiry), we can offer you a credit note for the amount paid, unless
                                you have already booked an appointment or stay or have redeemed it against another
                                purchase.
                            </li>
                            <li>You may cancel a Dated Booking within 24 hours of receiving
                                your Order Confirmation provided the appointment is not due to take place in the
                                next 24 hours. In such cases we can offer you a full refund. If however the appointment
                                is due to take place within the next 24 hours, you will not be entitled to a refund
                                or a credit note.
                            </li>
                            <li>If you wish to cancel a Dated Booking more than 24
                                hours after receiving your Order Confirmation, and provided the applicable appointment
                                is not due to take place within the next 24 hours, we can offer you a credit note
                                for the applicable amount. If however the appointment is due to take place within
                                the next 24 hours, you will not be entitled to a refund or a credit note.
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul>
                    <li>If you want to talk to us, please get in touch with our team and we’d be happy to help:</li>
                </ul>
                <dl>
                    <dd>
                        <dl>
                            <dd>Email:
                                <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                                   title="Support">Support</a>
                            </dd>
                            <dd>Post: Spotimist, Castle gate, Lord Edward Street, Dublin, Ireland</dd>
                        </dl>
                    </dd>
                </dl>
                <a name="full-policy" class="section-header">Full version</a>
                <p>
                    <b>Please read these Booking Terms and Conditions carefully before you complete any transactions
                        via the Website or our App as these Booking Terms and Conditions will apply to your transaction.
                        We recommend that you print a copy of these Booking Terms and Conditions for future reference.
                        If you do not agree with these Booking Terms and Conditions, you must not use our Website
                        or our App to make a booking.</b>
                </p>
                <ol>
                    <li>
                        <b>Defined Terms</b>
                        <ol>
                            <li>For ease of reference the following terms shall have the following meanings in these
                                Booking Terms and Conditions:
                                <ol>
                                    <li>“
                                        <b>App</b>” means the Spotimist Customer mobile application software available
                                        for download from iTunes and Google Play;
                                    </li>
                                    <li>"
                                        <b>Customer</b>", "you" and "your" means you, the buyer of any Services;
                                    </li>
                                    <li>“
                                        <b>Dated Booking</b>” means an appointment at a specific time/date with a
                                        particular
                                        Partner for the provision of Services;
                                    </li>
                                    <li>"
                                        <b>eVoucher</b>" means an eVoucher sold by a Partner on the Website or via our
                                        App which can be used for the purchase of Services from a particular Partner
                                        selected at the time of purchasing the eVoucher;
                                    </li>
                                    <li>“
                                        <b>Order</b>” has the meaning given in section 3.1 below;
                                    </li>
                                    <li>“
                                        <b>Order Confirmation</b>” has the meaning given in section 3.4 below;
                                    </li>
                                    <li>“
                                        <b>Partner(s)</b>" means our selected third party providers of goods and
                                        services
                                        who offer their goods and services for sale via our Website or our App;
                                    </li>
                                    <li>“
                                        <b>Partner Contract</b>” has the meaning given in section 2.3(b) below;
                                    </li>
                                    <li>"
                                        <b>Services</b>" means any products, goods and/or services of a Partner offered
                                        for purchase or booking via the Website or our App;
                                    </li>
                                    <li>“
                                        <b>Spotimist Contract</b>” has the meaning given in section 2.3(a) below; and
                                    </li>
                                    <li>"
                                        <b>Spotimist Gift Card</b>" means any gift card issued by Spotimist and which
                                        may be redeemed on the Website or the App to discount the purchase price
                                        of Services, in accordance with clause 9. Spotimist Gift Cards are available
                                        for purchase in the following denominations: €10, €25, €50, €100, €125, €150,
                                        €200 and €250.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Introduction and relationship between you, us and third party partners</b>
                        <ol>
                            <li>This Website and our App is operated by KMZero Limited, a company registered
                                in Ireland under company number ############# Fix number here ########## and whose
                                registered office is at Castle gate, Lord edward Street,
                                Dublin, Ireland, with VAT registration number ############# Fix Number here ##########
                                ("
                                <b>Spotimist</b>", "
                                <b>us</b>", "
                                <b>we</b>" or "
                                <b>our</b>" for short).
                            </li>
                            <li>The Website and our App allow you to book and pay for a broad range of activities, class
                                and
                                entertainment services from a variety of providers (our Partners). Those Services are
                                provided
                                by our various Partners and not by us. Spotimist is responsible for taking and
                                concluding
                                your bookings as the commercial agent of the relevant Partners. The provision of
                                the Services booked via our Website or our App is the responsibility of the Partner
                                which provides them. In the event you pay for Services via the Website or App, your
                                payment will either be paid directly to the relevant Partner or will be received
                                by us acting as commercial agent on behalf of the Partner. If we receive payment
                                as commercial agent on behalf of the relevant Partner, our receipt of the correct
                                payment will discharge your debt to that Partner.
                            </li>
                            <li>The legal implication of this is that when you purchase Services, it will create two
                                binding legal contracts:
                                <ol>
                                    <li>contract between you and Spotimist (under which Spotimist has certain
                                        responsibilities
                                        to you in relation to the purchase or booking) (the “
                                        <b>Spotimist Contract</b>”). That contract is made based on these Booking Terms
                                        and Conditions; and
                                    </li>
                                    <li>contract between you and the relevant Partner in respect of the provision or
                                        supply of the Services which you book through the Website or our App (the
                                        “
                                        <b>Partner Contract</b>”). That contract is subject to certain provisions of
                                        these Booking Terms and Conditions including the cancellation period as defined
                                        herein, which we will notify you of before you make a booking either on the
                                        relevant Partner's page on the Website or via our App.
                                    </li>
                                </ol>
                            </li>
                            <li>All Services available for purchase on the Website or via our App are offered by
                                Spotimist
                                on behalf of its Partners. That is, Spotimist takes and concludes your bookings as
                                a commercial agent for its Partners. Therefore, we are not responsible or liable
                                to you for the actual Services that are booked through the Website or our App (including
                                those Services purchased using Spotimist Gift Cards).
                            </li>
                            <li>We amend these Booking Terms and Conditions from time to time as set out in clause 12.
                                Every time you wish to make an Order on the Website or via our App, please check
                                these Booking Terms and Conditions to ensure you understand the terms which will
                                apply at that time.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Orders and how the contract is formed between you and us</b>
                        <ol>
                            <li>There are two types of orders ("
                                <b>Order</b>") you can make on the Website or via our App: (a) Orders for Services and
                                (b) Orders for Spotimist Gift Cards.
                            </li>
                            <li>In respect of Orders for Services, there are two ways you can place your Order:
                                <ol>
                                    <li>Dated Booking; or</li>
                                    <li>the purchase of an eVoucher for a Service of a particular Partner.</li>
                                </ol>
                            </li>
                            <li>The Order process allows you to check and amend any errors before submitting your Order
                                to us. Please take the time to read and check your Order at each stage of the Order
                                process and before finally submitting your Order.
                            </li>
                            <li>We are appointed as the commercial agent of the Partner to conclude bookings on its
                                behalf
                                and the Partner Contract will be formed when we send you a written confirmation (usually
                                by email) ("
                                <b>Order Confirmation</b>"). In respect of Orders for Spotimist Gift Cards and
                                eVouchers,
                                receipt of an electronic voucher (if earlier) will count as an Order Confirmation.
                            </li>
                            <li>For Dated Booking Orders, if you wish to reschedule your appointment details (time/date)
                                (in whole or in part) after you have received an Order Confirmation, provided your
                                appointment is not due to take place within the next 24 hours, then please contact
                                us and we will endeavour to offer you a suitable alternative time and/or date. If
                                we are unable to accommodate your request to reschedule your appointment:
                                <ol>
                                    <li>if you contacted us to do so
                                        <u>within 24 hours</u> of receiving your Order Confirmation (and provided the
                                        appointment was not due to take place within the next 24 hours from the time
                                        you asked to reschedule (such timeframe as notified to you on making your
                                        Order)), we will offer you a
                                        <u>refund</u> in respect of the part of your Order which we are unable to
                                        reschedule;
                                        or
                                    </li>
                                    <li>if you contacted us to do so
                                        <u>24 hours or more</u> from receiving your Order Confirmation, provided the
                                        appointment was not due to take place within the next 24 hours from the time
                                        you asked to reschedule (such timeframe as notified to you on making your
                                        Order), we will offer you a
                                        <u>credit note</u> in respect of the part of your Order which we are unable
                                        to reschedule.
                                    </li>
                                </ol>
                            </li>
                            <li>You can contact us to reschedule an appointment
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Support">here</a>, via the Website or the App or by following
                                the link
                                in your Order Confirmation. Please note that our ability to accommodate your request
                                will be subject to the Partner’s availability during the time you wish to reschedule.
                            </li>
                            <li>If you wish to cancel an Order before you have received an Order Confirmation, please
                                notify us immediately through te
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Contact Form">contact form</a>. If you wish to cancel a Partner
                                Contract (i.e. if
                                you wish to cancel an Order after you have received an Order Confirmation), please
                                refer to our cancellation policy in clause 5 below.
                            </li>
                            <li>Please note, as set out in our Website &amp; App Terms of Use, we reserve the right to
                                withdraw access to our Website and/or App and/or cancel any Order in the event that
                                you fail any credit or fraud prevention check or where we reasonably suspect fraud
                                or money laundering by you or someone using your account.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Services</b>
                        <ol>
                            <li>Our Partners are under a legal duty to provide Services that are in conformity with the
                                relevant Partner Contract.
                            </li>
                            <li>All Services shown on the Website and our App are subject to availability and the images
                                and/or descriptions of the Services on the Website and our App are for illustrative
                                purposes only and actual Services may vary from those images and/or descriptions.
                                We require our Partners to ensure that all information provided by them for display
                                on their page of the Website or via our App is accurate, complete and not misleading
                                in any way but we cannot verify the information which they provide to us. It will
                                be each Partner's responsibility to ensure that all of its Services listed on the
                                Website or via our App are available and accurately described.
                            </li>
                            <li>If you are a consumer, you have legal rights in relation to Services that are faulty
                                or not as described. Advice about your legal rights is available from your local
                                Citizens Information. Nothing in these Booking Terms and Conditions will affect these
                                legal rights.
                            </li>
                            <li>It is your (or the person receiving the Services) sole responsibility to communicate
                                in advance any medical or health-related conditions and/or special needs to the Partner
                                that might affect or be affected by any Services (for example without limitation,
                                allergy information and health issues). Subject to clause 11.3, if you (or the relevant
                                recipient of the Services) fail to disclose any such information to the applicable
                                Partner, neither Spotimist nor the relevant Partner shall be liable to you (or the
                                recipient of the Services) for any injury, loss or damages resulting from the Services
                                that could reasonably have been avoided if you (or the recipient of the Services)
                                had disclosed that information prior to receiving the Services.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Cancellations</b>
                        <ol>
                            <li>In addition to your other legal rights, you may in certain circumstances have the right
                                to cancel a Partner Contract and/or Spotimist Contract (as applicable) and receive
                                a refund or a credit note in accordance with the terms set out in this clause 5.
                            </li>
                            <li>If you change your mind about an Order for a Dated Booking, a Subscription, a Pass, an
                                eVoucher or a Spotimist Gift Card and wish to cancel it, the following cancellation
                                terms apply:
                                <ol>
                                    <li>
                                        <u>Dated Bookings </u>
                                        <ol>
                                            <li>If you cancel (in whole or in part) a Dated Booking
                                                <u>within</u> 24 hours of receiving your Order Confirmation, provided
                                                the applicable appointment is
                                                <u>not</u> due to take place within the next 24 hours, you will be
                                                entitled
                                                to a refund of the applicable amount via the original method of payment.
                                                If the appointment is due to take place within the next 24 hours,
                                                you will not be entitled to any refund or credit note.
                                            </li>
                                            <li>If you cancel (in whole or in part) a Dated Booking
                                                <u>more than</u> 24 hours after receiving your Order Confirmation
                                                provided
                                                the applicable appointment is
                                                <u>not</u> due to take place within the next 24 hours, you will be
                                                entitled
                                                to a credit note for the applicable amount which must be redeemed
                                                on the Website or the App within
                                                <u>six months</u> of receipt by you of such credit note. If the
                                                appointment
                                                is due to take place within the next 24 hours, you will
                                                <u>not</u> be entitled to any refund or credit note.
                                            </li>
                                            <li>If permitted by these Booking Terms and Conditions and the relevant
                                                Partner,
                                                cancellations of Dated Bookings must be made by one of the following
                                                methods:using your Spotimist account via the Website or by using
                                                the App;
                                                <ol>
                                                    <li>following the link in your Order Confirmation; or</li>
                                                    <li>contacting our Customer Care team
                                                        <a class="tandclink" href="{% url 'contact' %}"
                                                           rel="nofollow" title="Support">here</a>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>PLEASE NOTE THAT IN A SMALL NUMBER OF CIRCUMSTANCES IT MAY NOT BE
                                                POSSIBLE
                                                TO CANCEL A DATED BOOKING BUT WE WILL DRAW THIS TO YOUR ATTENTION
                                                BEFORE YOU PLACE YOUR ORDER SO THAT YOU CAN DECIDE WHETHER OR NOT
                                                YOU ARE PREPARED TO PROCEED WITH ENTERING INTO THE CONTRACT ON THAT
                                                BASIS.
                                            </li>
                                            <li>PLEASE NOTE THAT NO REFUND OR CREDIT NOTE WILL BE GIVEN WHERE A
                                                CANCELLATION
                                                IS ATTEMPTED 24 HOURS OR LESS FROM THE TIME OF THE SCHEDULED APPOINTMENT
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <u>eVoucher and Pass</u>
                                        <ol>
                                            <li>A refund of the applicable amount via the original method of payment
                                                is possible if you cancel (in whole or in part) an eVoucher
                                                <u>within</u> 14 days of receiving your Order Confirmation, provided
                                                you have not yet redeemed the applicable eVoucher by making an
                                                appointment
                                                for the Services with the relevant Partner or by using the eVoucher
                                                as credit for another purchase. We will grant any refund within 14
                                                days of agreeing such refund with you in accordance with this clause
                                                5.
                                            </li>
                                            <li>If you cancel (in whole or in part) an eVoucher
                                                <u>more than</u> 14 days after purchasing it, provided you have not
                                                yet redeemed the applicable eVoucher by making an appointment for
                                                the Service with the relevant Partner or by using the eVoucher to
                                                redeem against another purchase, and provided the eVoucher has not
                                                yet expired, you will be eligible for a credit note for the applicable
                                                amount, which must be redeemed on the Website or the App
                                                <u>within six months</u> of the date of issue of such credit note.
                                            </li>
                                            <li>If permitted by these Booking Terms and Conditions and the relevant
                                                Partner,
                                                cancellations of eVouchers must be made by contacting our Customer
                                                Care team
                                                <a class="tandclink" href="{% url 'contact' %}"
                                                   rel="nofollow" title="Support">here</a>.
                                            </li>
                                            <li>PLEASE NOTE THAT NO REFUND OR CREDIT NOTE WILL BE GIVEN WHERE A
                                                CANCELLATION
                                                IS ATTEMPTED ONCE AN EVOUCHER HAS BEEN FULLY REDEEMED, EITHER VIA
                                                AN APPOINTMENT WITH THE RELEVANT PARTNER BEING BOOKED OR BY BEING
                                                REDEEMED AGAINST ANOTHER PURCHASE.
                                            </li>
                                            <li>PLEASE ALSO NOTE THAT WHERE A CANCELLATION IS ATTEMPTED ONCE AN EVOUCHER
                                                HAS BEEN REDEEMED IN PART, EITHER VIA AN APPOINTMENT WITH THE RELEVANT
                                                PARTNER BEING BOOKED OR BY BEING REDEEMED AGAINST ANOTHER PURCHASE,
                                                NO REFUND OR CREDIT NOTE WILL BE GIVEN IN RESPECT OF THE REDEEMED
                                                PART OF THE EVOUCHER.
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <u>Spotimist Gift Cards</u>
                                        <ol>
                                            <li>A refund of the applicable amount via the original method of payment
                                                is possible if you cancel (in whole or in part) a Spotimist Gift
                                                Card
                                                <u>within 14 days</u> of receiving your Order Confirmation, provided
                                                you have not already used it to book an appointment or stay or redeemed
                                                it against another purchase. We will grant any refund due within
                                                14 days of agreeing such refund with you in accordance with this
                                                clause 5.
                                            </li>
                                            <li>If permitted by these Booking Terms and Conditions, cancellations of
                                                Spotimist Gift Cards must be made by one of the following methods:
                                                <ol>
                                                    <li>using your Spotimist account via the Website or by using the
                                                        App;
                                                    </li>
                                                    <li>following the link in your Order Confirmation; or</li>
                                                    <li>contacting our Customer Care team
                                                        <a class="tandclink" href="{% url 'contact' %}"
                                                           rel="nofollow" title="Support">here</a>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li>PLEASE NOTE THAT NO REFUND WILL BE GIVEN WHERE A CANCELLATION IS
                                                ATTEMPTED
                                                ONCE A Spotimist GIFT CARD HAS BEEN FULLY REDEEMED, EITHER VIA AN
                                                APPOINTMENT WITH A PARTNER BEING BOOKED OR BY BEING REDEEMED AGAINST
                                                ANOTHER PURCHASE.
                                            </li>
                                            <li>PLEASE ALSO NOTE THAT WHERE A CANCELLATION IS ATTEMPTED ONCE A Spotimist
                                                GIFT CARD HAS BEEN REDEEMED IN PART, EITHER VIA AN APPOINTMENT WITH
                                                A PARTNER BEING BOOKED OR BY BEING REDEEMED AGAINST ANOTHER PURCHASE,
                                                NO REFUND WILL BE GIVEN IN RESPECT OF THE REDEEMED PART OF THE Spotimist
                                                GIFT CARD
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Resolving Issues</b>
                        <ol>
                            <li>We care about your experience and want to ensure we maintain the highest standards
                                possible
                                and so if you would like to make a complaint about one of our Partners or their
                                Services,
                                please contact us
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Support">here</a>, write to us at Spotimist, Castle
                                Gate, lord Edward Street, Dublin 2, Ireland, and we’ll do our best to help.
                            </li>
                            <li>Following receipt of a complaint we will contact the Partner to try and resolve the
                                issue
                                on your behalf. If we are unable to resolve the issue following contact with the
                                Partner, if we consider it to be fair in all the circumstances, we may
                                <u>at our sole discretion</u> elect to:
                                <ol>
                                    <li>give you a credit note for the disputed/complained about amount of your Order
                                        (to be redeemed on the Website or the App to reduce the purchase price of
                                        any Services); or
                                    </li>
                                    <li>as a last resort or in extreme circumstances and always at our sole discretion
                                        refund the disputed/complained about amount directly to you via the original
                                        method of payment. Please note that it might take up to 30 days to receive
                                        a full refund in such cases.
                                    </li>
                                </ol>
                            </li>
                            <li>Further or alternatively, if you are unhappy with the Services received from a Partner
                                pursuant to an Order you can also:
                                <ol>
                                    <li>speak to the Partner yourself to try and resolve the issue; and/or</li>
                                    <li>leave an honest review on the Website or via the App to reflect your
                                        experience.
                                    </li>
                                </ol>
                            </li>
                            <li>IMPORTANT NOTE: PLEASE DO BEAR IN MIND THAT WHILE WE TAKE ALL COMPLAINTS ABOUT OUR
                                PARTNERS
                                VERY SERIOUSLY AND WILL ALWAYS DO WHAT WE CAN TO HELP TO RESOLVE THEM, WE ARE NOT
                                RESPONSIBLE TO YOU FOR THE SERVICE(S) WHICH THE PARTNERS PROVIDE AND ARE UNDER NO
                                OBLIGATION TO PROVIDE YOU WITH A REFUND OR CREDIT NOTE IN THE EVENT YOU ARE DISSATISFIED
                                WITH SERVICES WHICH YOU HAVE RECEIVED FROM OUR PARTNERS.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>eVouchers</b>
                        <ol>
                            <li>When you order an eVoucher for a particular Service with a particular Partner, you will
                                need to contact the relevant Partner yourself in order to set the time/date of the
                                appointment.
                            </li>
                            <li>eVouchers are cancellable in accordance with the cancellation terms set out in clause
                                5.
                            </li>
                            <li>The expiry date of an eVoucher will be set by the relevant Partner and can range from
                                one month to 24 months. The expiry date can be found on the eVoucher itself.
                                <b>Please check this carefully and if you are unclear as to the expiry date of your
                                    eVoucher please contact us
                                    <a class="tandclink" href="{% url 'contact' %}"
                                       rel="nofollow" title="Support">here</a>.</b>
                            </li>
                            <li>An eVoucher can only be redeemed with the relevant Partner identified in the Order. If
                                you want to change the Partner with whom your eVoucher can be redeemed, you will
                                need to contact Spotimist
                                <a class="tandclink" href="{% url 'contact' %}"
                                   rel="nofollow" title="Support">here</a> and Spotimist may
                                <u>at its discretion</u> arrange for the reallocation of the eVoucher to an alternative
                                Partner. Please note however that Spotimist is
                                <u>not</u> obliged to do so in these circumstances.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Spotimist Gift Vouchers</b>
                        <ol>
                            <li>Spotimist no longer issues Spotimist gift vouchers, which have been replaced by the
                                Spotimist
                                Gift Card. If you have any queries regarding expired gift vouchers, please contact us
                                <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                                   title="Support">here</a>.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Spotimist Gift Cards</b>
                        <ol>
                            <li>Spotimist Gift Cards are issued by Spotimist and delivered electronically in accordance
                                with your Order. You may only redeem a Spotimist Gift Card through the Website or
                                App for Services or eVouchers. This means that we will reduce the purchase price
                                payable for the Services or eVoucher(s) by the equivalent value on your Spotimist
                                Gift Card. If the purchase price of Services is less than the value of your Spotimist
                                Gift Card, any remaining balance on your Spotimist Gift Card will be shown in the
                                “My Wallet” section of your profile on the Website and/or App (you will be required
                                to create such a profile in order to use your Spotimist Gift Card for the first time).
                            </li>
                            <li>Spotimist Gift Cards are only cancellable in accordance with clause 5. You cannot use
                                a Spotimist Gift Card to:
                                <ol>
                                    <li>pay for Services at a Partner's own venue or on their own website;</li>
                                    <li>purchase additional Spotimist Gift Cards; or</li>
                                    <li>exchange the balance on a Spotimist Gift Card for cash.</li>
                                </ol>
                            </li>
                            <li>All Spotimist Gift Cards are only valid for the period of twelve months after the date
                                of their purchase. The expiry date of your Spotimist Gift Card will be included in
                                the Spotimist Gift Card email itself. If you have added the Spotimist Gift Card to
                                an account, you will also be able to see when your Spotimist Gift Card balance is
                                due to expire when you log in and visit the “My Wallet” section of your profile.
                            </li>
                            <li>If you or the recipient do not receive your Spotimist Gift Card, you should contact us
                                immediately <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                                               title="Support">here</a> and, provided the Spotimist Gift Card has not
                                already been
                                redeemed, we will cancel the Spotimist Gift Card and issue you with a new one.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Price and payment</b>
                        <ol>
                            <li>Prices and any applicable delivery and/or processing charges will be as quoted on the
                                Website or via the App from time to time, but may be subject to change by Spotimist
                                or Partners at any time (in which case the Website and the App will be updated
                                accordingly,
                                but changes will not affect Orders in respect of which you have already been sent
                                an Order Confirmation prior to the date the change is published on the Website and
                                the App).
                            </li>
                            <li>Prices include VAT where applicable unless it is stated otherwise on the relevant page
                                in relation to the relevant Services.
                            </li>
                            <li>The Website and our App contain details of a number of Services and it is possible that,
                                despite Spotimist’s best efforts, some of the pricing and other information shown
                                for certain Services is incorrect.
                            </li>
                            <li>Payment for all Services must be made at the time of booking in euros by credit or
                                debit card, or via a third party payment processor such as PayPal or by using the
                                online payment facility ("
                                <b>Payment Facility</b>"). If you do choose to pay via a third party payment processor,
                                you will be redirected to their site to make payment and will be subject to their
                                terms and conditions, privacy policy and other terms of use. Please check those
                                carefully
                                before confirming your Order. You will be responsible for protecting the confidentiality
                                of your Website or App user ID and any password or other security information used
                                by you to access your account on the Payment Facility. Any currency conversion costs
                                or other charges incurred by you in making a payment will be borne by you in addition
                                to the price due to us.
                            </li>
                            <li>Payments made through the Payment Facility are processed by third party payment services
                                providers. Spotimist takes reasonable care to ensure that the Payment Facility is
                                available and functioning at all times, but cannot guarantee continuous, uninterrupted
                                or secure access to such Payment Facility, nor can we guarantee that the facility
                                is virus or error free. We use third party payment service providers to process payments
                                and because there are many factors beyond our control (such as delays in the banking
                                system or in card networks), we cannot predict or guarantee the amount of time needed
                                to complete the processing of your payment. Access to the Payment Facility may be
                                occasionally restricted to allow for repairs, maintenance or the introduction of
                                new facilities or services. We will attempt to provide reasonable notice of any
                                scheduled
                                interruptions to such Payment Facility and will do what we can to restore the facility
                                as soon as reasonably possible.
                            </li>
                            <li>If you pay for Services via the Payment Facility, Spotimist will collect the payment
                                in its capacity as the commercial agent of the relevant Partner. Once Spotimist has
                                successfully received your payment for the Services, this will discharge your debt
                                to the Partner on whose behalf Spotimist has collected the payment.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Liability</b>
                        <ol>
                            <li>Where we have been negligent and/or breached a contractual obligation to you, we will
                                be liable for any loss or damage you suffer as a result, provided that loss and/or
                                damage is foreseeable. Loss or damage is foreseeable if it is an obvious consequence
                                of our negligence or breach of contract, or would have been considered by you and
                                us to be a likely consequence of it at the time we entered into the Spotimist Contract.
                            </li>
                            <li>We do not accept any liability for the following types of loss, whether caused by breach
                                of contract, tort (including negligence) or otherwise, even if the loss is foreseeable:
                                loss of income or revenue; loss of business; loss of profits; loss of anticipated
                                savings; or waste of management or office time.
                            </li>
                            <li>We do not exclude or limit our liability for death or personal injury arising from our
                                negligence, for fraud or fraudulent misrepresentation, or for any other liability
                                which cannot be excluded or limited under Irish law.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>Our right to vary these Booking Terms and Conditions</b>
                        <ol>
                            <li>We may revise these Booking Terms and Conditions from time to time in the following
                                circumstances:
                                <ol>
                                    <li>if we change the process for accepting payment from you;</li>
                                    <li>if there are changes in relevant laws and regulatory requirements; and/or</li>
                                    <li>if there are any other changes to our business that reasonably mean we need to
                                        amend these Booking Terms and Conditions.
                                    </li>
                                </ol>
                            </li>
                            <li>Every time you order Services or Spotimist Gift Cards via the Website or our App, the
                                Booking Terms and Conditions in force at that time (and available for view on the
                                Website and our App) will apply to the Spotimist Contract between you and us and
                                the Partner Contract between you and the Partner. You can find the date on which
                                these Booking Terms and Conditions were last updated at the top of this page.
                            </li>
                        </ol>
                    </li>
                    <li>
                        <b>General</b>
                        <ol>
                            <li>All communications and notices from you must be sent to Spotimist by contacting us
                                <a class="tandclink"
                                   href="{% url 'contact' %}" rel="nofollow" title="Support">
                                    here</a> or by post to Spotimist, Castle gate, lord Edward street, Dublin 2,
                                Ireland. Spotimist may communicate and give notice to you via post,
                                email or by posting notices on the Website or via our App.
                            </li>
                            <li>Please note our customer support hours are: 8am-8pm Monday to Saturday and 10am-6pm on
                                Sundays and Bank Holidays in Ireland (closed Christmas Day and New Years’ Day).
                            </li>
                            <li>If any of these Booking Terms and Conditions are determined by a competent authority
                                to be invalid, unlawful or unenforceable to any extent, such term, condition or
                                provision
                                will to that extent be severed from the remaining terms, conditions and provisions
                                which will continue to be valid to the fullest extent permitted by law.
                            </li>
                            <li>These Booking Terms and Conditions will be governed by and construed in accordance with
                                the laws of Ireland. You and we each agree that the Irish courts will have non-exclusive
                                jurisdiction over any claim or dispute or non-contractual obligation arising from,
                                or related to, the ordering and/or supply of Services via the Website or our App.
                            </li>
                        </ol>
                    </li>
                </ol>
                <!-- <div class="columns small-12 medium-4 sidebar-wrapper">
                    <div class="info-navbox">
                        <h2>Related information</h2>
                        <ul class="links">############# FIX LINKS here ##########
                            <li>
                                <a href="https://www.spotimist.com/info/privacy-policy/">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="https://www.spotimist.com/info/terms-of-use/">Spotimist's Website Terms</a>
                            </li>
                            <li>
                                <a href="https://www.spotimist.com/info/user-generated-content-policy/">User Generated Content Policy</a>
                            </li>
                            <li>
                                <a href="https://www.spotimist.com/info/supplier-terms-and-conditions/">Partner Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
{% endblock content %}