{% load static %} {% load i18n %}
<!-- TO DO

	-My activities
	-My Reviews
	-Business reviews
	

-->
<!-- Dashboard -->
<div id="dashboard">
    <!-- Navigation
================================================== -->

    <!-- Responsive Navigation Trigger -->
    <a href="#" class="dashboard-responsive-nav-trigger">
        <i class="fa fa-reorder"></i> Dashboard Navigation</a>

    <div class="dashboard-nav">
        <div class="dashboard-nav-inner">

            {% if user.is_staff %}

                <ul data-submenu-title="Spotimist Admin">
                    <li class="">
                        <a href="{% url 'support_list' %}">
                            <i class="sl sl-icon-support"></i> Support Requests</a>
                    </li>
                </ul>
            {% endif %}

            <ul data-submenu-title="Account">
                <li class="">
                    <a href="{% url 'dashboard' %}">
                        <i class="sl sl-icon-settings"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'profile:user-detail' %}">
                        <i class="sl sl-icon-user"></i> My Profile</a>
                </li>
                <!-- hidden until feature available.
                <li>
                    <a href="#">
                        <i class="sl sl-icon-envelope-open"></i> Messages
                        <span class="nav-tag messages">2</span>
                    </a>
                </li>
                -->
                <li>
                    <a href="{% url 'dashboard_user_activities' %}">
                        <i class="fa fa-calendar-check-o"></i> My activities
                    </a>
                </li>
                <li>
                    <a href="{% url 'reviews:list_my_reviews' %}">
                        <i class="sl sl-icon-star"></i>My reviews</a>
                </li>
                <!-- hidden until feature available.
                <li>
                    <a href="#">
                        <i class="sl sl-icon-heart"></i> Bookmarks</a>
                </li>
            -->
            </ul>

            {% if user.has_business %}
                <ul data-submenu-title="Business">

                    <li class="">
                        <a href="{% url 'dashboard-business' %}">
                            <i class="sl sl-icon-settings"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'business:profile-edit' %}">
                            <i class="sl sl-icon-home"></i> My Business</a>
                    </li>
                    <li>
                        <a href="{{ request.user.get_business_url }}" target="_blank">
                            <i class="sl sl-icon-eye"></i> Preview your Business</a>
                    </li>
                    <li>
                        <a href="{% url 'bookings:booking_list' %}">
                            <i class="fa fa-calendar-check-o"></i> Bookings</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="sl sl-icon-star"></i> Reviews</a>
                    </li>
                    <li>
                        <a href="{% url 'bookings:booking_transaction' %}">
                            <i class="sl sl-icon-credit-card"></i> Payment History</a>
                    </li>
                    <li>
                            <a href="{% url 'dashboard-get-app' %}">
                                <i class="im im-icon-Smartphone-4"></i> Get Mobile App</a>
                        </li>
                </ul>
                <ul data-submenu-title="Listings">
                    <li>
                        <a href="{% url 'activities:my-list' %}">
                            <i class="sl sl-icon-layers"></i> My Listings</a>
                        {% comment %}
					<ul>
						<li>
							<a href="{% url 'activities:my-list' %}">Active
								<span class="nav-tag green">6</span>
							</a>
						</li>
						<li>
							<a href="{% url 'activities:my-list' %}">Pending
								<span class="nav-tag yellow">1</span>
							</a>
						</li>
						<li>
							<a href="{% url 'activities:my-list' %}">Incomplete
								<span class="nav-tag red">2</span>
							</a>
						</li>
					</ul> {% endcomment %}
                    </li>
                    <li>
                        <a href="{% url 'activities:create' %}">
                            <i class="sl sl-icon-plus"></i> Add Listing</a>
                    </li>
                </ul>
            {% endif %}

            <ul data-submenu-title="Logout">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="button margin-left-25 margin-top-10" type="submit">
                        <i class="sl sl-icon-power"></i> Logout
                    </button>
                </form>
            </ul>

        </div>
    </div>
    <!-- Navigation / End -->
