{% load static %}{% load i18n %}
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <img class="footer-logo" src="{% static 'images/spotimist-v2-light.png' %}" alt="">
                <br>
                <br>
                <p>Spotimist is a marketplace which offer fun things to do, meet new people, and share experiences.
                    Anyone can use Spotimist
                    to list an activity. Try something different today!</p>
            </div>

            <div class="col-md-4 col-sm-6 ">
                <h4>Helpful Links</h4>
                <ul class="footer-links">
                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{% url 'account_login' %}">Login</a>
                        </li>
                        <li>
                            <a href="#">Sign Up</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'profile:user-detail' %}">My Profile</a>
                        </li>
                        {% if user.has_business %}
                            <li>
                                <a href="{% url 'activities:create' %}">Add activity</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    <li>
                        <a href="{% url 'tandc' %}">Terms and Conditions</a>
                    </li>
                </ul>

                <ul class="footer-links">
                    <!--
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    -->
                    <li>
                        <a href="{% url 'blog' %}">Blog</a>
                    </li>

                    <!--
                    <li>
                        <a href="#">Our Partners</a>
                    </li>
                    <li>
                        <a href="#">How It Works</a>
                    </li>
                    -->
                    <li>
                        <a href="{% url 'contact' %}">Contact / Support</a>
                    </li>

                    <li>
                        <a href="{% url 'privacy' %}">Privacy Policy</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-3  col-sm-12">
                <h4>Contact Us</h4>
                <div class="text-widget">
                    <span>Spotimist</span>
                    <br>
                    <span>Dublin</span>
                    <br> E-Mail:
                    <span>
						<a href="mailto:info@spotimist.com">info@spotimist.com</a>
					</span>
                    <br>
                </div>

                <ul class="social-icons margin-top-20">
                    <li>
                        <a class="facebook" href="https://www.facebook.com/spotimist/">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a class="twitter" href="#">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a class="gplus" href="#">
                            <i class="icon-gplus"></i>
                        </a>
                    </li>
                    <li>
                        <a class="vimeo" href="#">
                            <i class="icon-vimeo"></i>
                        </a>
                    </li>
                     -->
                </ul>

            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyrights">© 2018 Spotimist. All Rights Reserved.</div>
            </div>
        </div>
    </div>
    <!-- Copyright -->

</div>
<!-- Footer / End -->

<!-- Back To Top Button -->
<div id="backtotop">
    <a href="#"></a>
</div>