{% extends "base.html" %} {% load static %}

{% comment %}

=== TO DO ===

-Work on text

{% endcomment %}


{% block content %}

    <!-- Banner
    ================================================== -->
    <div class="main-search-container dark-overlay" data-background-image="{% static 'images/slider-bg-01.jpg' %}">
        <div class="main-search-inner">

            <div class="container">
                <div class="row ">
                    <div class="col-md-12">
                        <h1 class="display-2 centered-content white-text"><strong>Add your activities to Spotimist in
                            minutes</strong></h1>
                        <h1 class="centered-content white-text"><i class="im im-icon-Arrow-RightinCircle"></i> Reach new
                            customers <i class="im im-icon-Arrow-RightinCircle"></i> Easy
                            and Free setup <i class="im im-icon-Arrow-RightinCircle"></i> Expand your brand</h1>
                        <div class="margin-top-50 centered-content">
                            <button class="button" onclick="window.location.href='{% url 'business:create' %}'">Register
                                for Free
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container  margin-top-50">

        <div class="row">
            <div class="col-lg-4 col-sm-4 margin-top-100 margin-bottom-50">
                <h2>Reach new customers</h2>
                <p>We are offering you full-service opening your business to new capabilities, empowered by tailored,
                    powerful and easy to use tools.</p>
            </div>


            <div class="col-lg-8 col-sm-8  margin-bottom-50">
                <img src="{% static 'images/slider-bg-customer.jpg' %}"/>
            </div>
        </div>

    </div>



    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-sm-4 right-side-icon margin-top-100 margin-bottom-50">
                <h2>Easy, Free Setup</h2>
                <p>Manage your own activity listings, timetables, pricing and more</p>
            </div>
            <div class="col-lg-7 col-sm-8  margin-bottom-100">
                <img src="{% static 'images/browser_2x.png' %}"/>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-sm-6 margin-bottom-50">
                <h1>What are the guidelines for Spotimist listings?</h1>
                <p>
                    We want to list every activity, but there are a couple of guidelines we would like for you to
                    follow:
                </p>
                <ul>
                    <li>
                        We want the app to be a really useful resource for people so we require complete information
                        about dates, timings, location and pricing.
                    </li>
                    <li>
                        We are not currently listing activities if there are any extra costs like membership,
                        insurance or a charge to gain access to a venue (‘free with admission’).
                        We are working to have this information visible on the app and so we will be able to list these
                        activities soon.
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-6 margin-bottom-50">

                <h1>What makes a good activity listing?</h1>
                <ul>
                    <li>
                        Attach few pictures. A great image can attract attention of people who are looking to try
                        something new for the first time.
                        The best images are colourful and give a snapshot of what people could expect from attending
                        your activity.
                    </li>
                    <li>
                        Include as much information as you can.
                        People are put off attending if they can’t tell how long an activity will run for or how much it
                        will cost them.
                    </li>
                    <li>
                        Keep your listings up to date. If the date or time of your activity changes,
                        it is important to sign in and update this to avoid disappointing attendees.
                        Any edits you make will update on the app straight away.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 margin-bottom-50">
                <h4 class="headline margin-top-70 margin-bottom-30">FAQ</h4>
                <div class="toggle-wrap">
                    <span class="trigger"><a href="#">Why Spotimist?<i class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            At Spotimist, we want to make it easier for any activity organiser to be seen online.
                            No matter how big your business is, we will provide you with the tools to get listed and
                            manage every activity that you provide.
                            We intend to handle any type of activities. Event - Booking - Subscription or even drop in
                            classes.
                        </p>
                    </div>
                    <span class="trigger"><a href="#">What are the advantages of using Spotimist?<i
                            class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            When using Spotimist, you get all the advantages of using a market place.
                            You can reach an audience that otherwise would be costly in online advertisement.
                            You can sell activities in advance, manage subscriptions for barely any cost,
                            be paid whether your customer shows up or not and most importantly manage your regular
                            customers.
                            We provide you with the tools to get in touch with your customers, let them know when you
                            organise a new activity,
                            change of the location or change of time as well as options to provide discounts and other
                            perks for regular customers.

                        </p>
                    </div>
                    <span class="trigger"><a href="#">How much does it cost to list my activities?<i
                            class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>
                            Registration and listings are totally free. That way it is only valuable for us if we bring
                            you the business.
                            If you are holding a charity event we will wave out or fees,
                            just drop us an <span><a class="text-widget" style="color: #f26f28"
                                                     href="mailto:info@Spotimist.com">email</a> to let us know.
                        </p>
                    </div>
                    <span class="trigger"><a href="#">Can I list free activities/events?<i class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>Absolutely! As long as there is no further cost for your audience you are free to use
                            Spotimist and all its tools to promote your activities.</p>
                    </div>
                    <span class="trigger"><a href="#">I don't have a business but I wish to organize activities.<i
                            class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>As for now, only users with a registered business are able to manage activities.
                            However, in the future we plan to let users being able to organise and manage activities as
                            well.
                        </p>
                    </div>
                    <span class="trigger"><a href="#">How much are the fees on Spotimist?<i class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>Events and bookings start from 3.5%, subcription and passes 2.5%. Note that an additional
                            payment transfer fee is applied on online transfers.</p>
                    </div>
                    <span class="trigger"><a href="#">When will I have access to the money?<i
                            class="sl sl-icon-plus"></i></a></span>
                    <div class="toggle-container" style="display: none;">
                        <p>For events and bookings, the money will be available 48hrs after the event takes place.
                            For subscriptions, and drop in sales the money will be available immediately.
                            Note that we do not keep the money in case of a no show from the customer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <h2 class="centered-content">Add your activities to Spotimist in&nbsp;minutes</h2>
        <div class="margin-top-30 margin-bottom-50 centered-content">
            <button class="button" onclick="window.location.href='{% url 'business:create' %}'">List your activities for
                Free
            </button>
        </div>

    </div>

{% endblock content %}

<!-- Scripts
    ================================================== -->

{% block javascripts %} {{ block.super }} {% endblock javascripts %}