{% load static %} {% load i18n %}
<!-- Header Container
================================================== -->

{% block headerStyle %}
    <header id="header-container" class="fixed fullwidth dashboard">

    <!-- Header -->
    <div id="header" class="not-sticky">
{% endblock headerStyle %}
<div class="container">

    <!-- Left Side Content -->
    <div class="left-side">

        {% block logo %}
            <!-- Logo -->
            <div id="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/spotimist-beta.png' %}" alt="">
                </a>

                <a href="{% url 'home' %}" class="dashboard-logo">
                    <img src="{% static 'images/spotimist-v2-white.png' %}" alt="">
                </a>
            </div>
        {% endblock logo %}

        <!-- Mobile Navigation -->
        <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
            </button>
        </div>

        <div class="clearfix"></div>
        <!-- Main Navigation / End -->

    </div>
    <!-- Left Side Content / End -->


    <!-- Right Side Content / End -->
    <div class="right-side">
        <div class="header-widget">
            {% if user.is_authenticated %}
                <!-- User Menu -->
                <div class="user-menu">
                    <div class="user-name"><span><img src="/uploads/{{ profile.image }}"
                                                      alt=""></span>{{ request.user.first_name }}</div>
                    <ul>
                        <li><a href="{% url 'dashboard' %}"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
                        <li><a href="#"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
                        <li><a href="{% url 'profile:user-detail' %}"><i class="sl sl-icon-user"></i> My Profile</a>
                        </li>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button class="button margin-left-10 margin-top-10" type="submit">
                                <i class="sl sl-icon-power"></i> Logout
                            </button>
                        </form>
                    </ul>
                </div>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'account_login' %}" class="sign-in">
                    <i class="sl sl-icon-login"></i> Sign In</a> {% endif %} {% if not user.has_business %}
            <a href="{% url 'get-listed' %}" class="button border with-icon">Get listed
                <i class="sl sl-icon-plus"></i>
            </a>
        {% endif %} {% if user.has_business %}
            <a href="{% url 'activities:create' %}" class="button border with-icon">Add an activity
                <i class="sl sl-icon-plus"></i>
            </a> {% endif %}
        </div>
    </div>
</div>
<!-- Right Side Content / End -->
{% if not user.is_authenticated %}
    <!-- Sign In Popup -->
    <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

        <div class="small-dialog-header">
            <h3>Sign In</h3>
        </div>

        <!--Tabs -->
        <div class="sign-in-form style-1">

            <ul class="tabs-nav">
                <li class="">
                    <a href="#tab1">Log In</a>
                </li>
                <li>
                    <a href="#tab2">Register</a>
                </li>
            </ul>

            <div class="tabs-container alt">

                <!-- Login -->
                <div class="tab-content" id="tab1" style="display: none;">
                    <form method="post" class="login" action="{% url 'home' %}">
                        {% csrf_token %}
                        <p class="form-row form-row-wide">
                            <label for="username">Username:
                                <i class="im im-icon-Male"></i>
                                <input type="email" class="input-text" name="login" id="username" value="" required/>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password">Password:
                                <i class="im im-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="password" id="password" required/>
                            </label>
                            <span class="lost_password">
											<a href="#">Lost Your Password?</a>
										</span>
                        </p>
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/> {% endif %}
                        <div class="form-row">
                            <button type="submit" class="button border margin-top-5" name="login" value="Login">
                                <i class="fa fa-sign-in"></i> {% trans "Sign In" %}
                            </button>
                            <div class="checkboxes margin-top-10">
                                <input id="remember-me" type="checkbox" name="check">
                                <label for="remember-me">Remember Me</label>
                            </div>
                        </div>

                    </form>
                </div>

                <!-- Register -->
                <div class="tab-content" id="tab2" style="display: none;">

                    <form method="post" class="register">

                        <p class="form-row form-row-wide">
                            <label for="username2">First name:
                                <i class="im im-icon-Male"></i>
                                <input type="text" class="input-text" name="first_name" id="username1" value=""/>
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="username2">Last name:
                                <i class="im im-icon-Male"></i>
                                <input type="text" class="input-text" name="last_name" id="username2" value=""/>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="email2">Email Address:
                                <i class="im im-icon-Mail"></i>
                                <input type="text" class="input-text" name="email" id="email2" value=""/>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password1">Password:
                                <i class="im im-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="password1" id="password1"/>
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password2">Repeat Password:
                                <i class="im im-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="password2" id="password2"/>
                            </label>
                        </p>

                        <input type="submit" class="button border fw margin-top-10" name="register" value="Register"/>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Sign In Popup / End -->
{% endif %}
</div>
<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->