{% extends "base.html" %} {% load static %}


{% comment %}

=== TO DO ===

-Rework the text

-mobile
    -Fix odd looking between 991px and 1024px width

{% endcomment %}

{% block content %}


    <!-- Category Boxes -->



    <div id="things-todo" class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="right-side-icon col-lg-5 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span href="#" class="display-1 ">
                <i class="im im-icon-Pantheon"></i>
                <h4>Discovering</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Discover something new, be curious and find a different way of visiting any city. Bicycle, segway,
                    horse carriage or on foot,
                    whichever you prefer. With Spotimist, find the perfect way to have a look around!</p>
            </div>
        </div>

    </div>

    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="col-lg-5 col-md-12 col-sm-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im im-icon-Cookie-Man"></i>
                <h4>Kids</h4>
            </span>
            </div>

            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Find activities specifically for your kids and the whole family!
                    We will make it easy for you to search by age and type of activity. No more struggle finding
                    something to do with your little ones this weekend!</p>
            </div>
        </div>
    </div>
    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="right-side-icon col-lg-5 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im im-icon-Student-MaleFemale"></i>
                <h4>Classes</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Learn a new skill! Either you want to learn how to play an instrument, speak a new language, cook
                    mexican food or anything else, Spotimist is the place to find your new spot.</p>
            </div>
        </div>
    </div>

    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="col-lg-5 col-md-12 col-sm-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im im-icon-Cocktail"></i>
                <h4>Nightlife</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Want to go for a gig? After work group run? Pub quizz or after dark pool tournament? We got you
                    covered for tonight!</p>
            </div>
        </div>

    </div>
    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="right-side-icon col-lg-5 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im im-icon-Eye-Scan"></i>
                <h4>Experiences</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Experience the local life and meet new people, whether you are traveling or in your own city.
                    Can't find an activity? Become the organiser and create your own. Find a group to play indoor
                    soccer, volleyball or other activity. </p>
            </div>
        </div>

    </div>

    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="col-lg-5 col-md-12 col-sm-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im im-icon-Dumbbell"></i>
                <h4>Fitness</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>Want to discover a new way to break a sweat and stay in shape? From yoga classes to boxing or outdoor
                    bootcamp find your next place to get moving. *changed to get into two words.</p>
            </div>
        </div>

    </div>

    <div class="container  margin-top-50">

        <div class="row centered-content ">
            <div class="right-side-icon col-lg-5 col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bottom-5">
                <!-- Box -->
                <span class="display-1 ">
                <i class="im fa-plus-circle"></i>
                <h4>More</h4>
            </span>
            </div>


            <div class="col-lg-7 col-md-12 col-sm-12 margin-top-30  margin-bottom-50">
                <p>More will be coming! But while you're browsing your next activity, nothing stops you from mixing
                    categories. </p>
            </div>
        </div>

    </div>


    <!-- Category Boxes / End -->



{% endblock content %}

<!-- Scripts
    ================================================== -->

{% block javascripts %} {{ block.super }} {% endblock javascripts %}