{% extends "base.html" %} {% load static %}

<!-- === TO DO === 
    -Get review numbers 
    -Use or remove site tag 
    -display category 
    -Get city geolocation 
    -Link categories to search list
    -Link categories dropdown and location to search button 
    -Link blog feed 
-->
{% block content %}
    <!-- Banner
    ================================================== -->
    <div class="main-search-container" data-background-image="{% static 'images/main-search-background-01.jpg' %}">
        <div class="main-search-inner">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Find all you can do in your city</h2>
                        <h4>Learn, Experience, Discover.</h4>
                        <form method="get" action="{% url 'businesses-list' %}" class="search_form">
                            <input type="hidden" value="" id="ajax_key" name="ajax_key">
                            <input type="hidden" value="" id="home_lat" name="home_lat">
                            <input type="hidden" value="" id="home_lng" name="home_lng">
                            <div class="main-search-input">

                                <div class="main-search-input-item">
                                    <input type="text" placeholder="What are you looking for?" name="data_search"
                                           class="data_search" value=""/>
                                </div>

                                <div class="main-search-input-item location">
                                    <input type="text" placeholder="Location" name="location_search" id="autocomplete"
                                           value=""/>
                                    <a>
                                        <i class="fa fa-map-marker"></i>
                                    </a>
                                </div>

                                <div class="main-search-input-item">
                                    <select data-placeholder="Choose Categories" class="chosen-select"
                                            name="listing_categories">
                                        <option value="">Choose Categories</option>
                                        {% for cat in categories %}
                                            <option value="{{ cat.slug }}"> {{ cat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button class="button sub_btn" type="submit">Search</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Content
    ================================================== -->
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h3 class="headline centered margin-top-75">
                    Browse Categories
                </h3>
            </div>

        </div>
    </div>

    <!-- Category Boxes -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="categories-boxes-container margin-top-5 margin-bottom-30">

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=discovery" class="category-small-box">
                        <i class="im im-icon-Pantheon"></i>
                        <h4>Discovery</h4>
                    </a>

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=kids" class="category-small-box">
                        <i class="im  im-icon-Cookie-Man"></i>
                        <h4>Kids</h4>
                    </a>

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=classes" class="category-small-box">
                        <i class="im im-icon-Student-MaleFemale"></i>
                        <h4>Classes</h4>
                    </a>

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=nightlife" class="category-small-box">
                        <i class="im im-icon-Cocktail"></i>
                        <h4>Nightlife</h4>
                    </a>

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=experiences" class="category-small-box">
                        <i class="im im-icon-Eye-Scan"></i>
                        <h4>Experiences</h4>
                    </a>

                    <!-- Box -->
                    <a href="{% url 'businesses-list' %}?listing_categories=fitness" class="category-small-box">
                        <i class="im im-icon-Dumbbell"></i>
                        <h4>Fitness</h4>
                    </a>


                </div>
            </div>
        </div>
    </div>
    <!-- Category Boxes / End -->

    <!-- Fullwidth Section -->
    <section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-45">
                        Most Visited Places
                        <span>Discover top-rated local businesses</span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="simple-fw-slick-carousel dots-nav">

            {% for activity in object_list %}
                <!-- Listing Item -->
                <div class="fw-carousel-item">
                    <a href="{{ activity.get_absolute_url }}" class="listing-item-container compact">
                        <div class="listing-item">
                            <img src="{{ activity.get_image_url }}" alt="">

                            <div class="listing-item-content">

                                <h3>{{ activity.name }}</h3>
                                <span>{{ activity.city }}</span>
                            </div>
                            <!-- <span class="like-icon"></span> -->
                        </div>
                    </a>
                </div>
                <!-- Listing Item / End -->
            {% endfor %}
        </div>

    </section>
    <!-- Fullwidth Section / End -->

    <!-- Recent Blog Posts -->
    <section class="fullwidth margin-top-0 padding-top-75 padding-bottom-75" data-background-color="#fff">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="headline centered margin-bottom-45">
                        From The Blog
                    </h3>
                </div>
            </div>


            <div class="row">
                <!-- Blog Post Item -->
                <div class="col-md-4 col-md-offset-4">
                    <a href="{% url 'blog_post' %}" class="blog-compact-item-container">
                        <div class="blog-compact-item">
                            <img src="{% static 'images/Spotimist.jpg' %}" alt="">
                            <span class="blog-item-tag">About Us</span>
                            <div class="blog-compact-item-content">
                                <ul class="blog-post-tags">
                                    <li>August 2018</li>
                                </ul>
                                <h3>Spotimist first steps</h3>
                                <p>After years of thinking and months of development, Spotimist is now ready to take its
                                    first steps...
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Blog post Item / End -->


                <div class="col-md-12 centered-content">
                    <a href="{% url 'blog' %}" class="button border margin-top-10">View Blog</a>
                </div>

            </div>

        </div>
    </section>
    <!-- Recent Blog Posts / End -->

    <!-- Flip banner -->
    <a href="{% url 'businesses-list' %}" class="flip-banner parallax margin-top-65"
       data-background="{% static 'images/main-search-background-01.jpg' %}"
       data-color="#f26f28" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
        <div class="flip-banner-content">
            <h2 class="flip-visible">Explore top-rated activities nearby</h2>
            <h2 class="flip-hidden">Browse Listings
                <i class="sl sl-icon-arrow-right"></i>
            </h2>
        </div>
    </a>
    <!-- Flip banner / End -->
{% endblock content %}

<!-- Scripts
    ================================================== -->

{% block javascripts %} {{ block.super }}
    <script type="text/javascript"
            src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&libraries=places"></script>
    <script>


        $(".search_form").submit(function (e) {
            e.preventDefault();
            setTimeout(function () {
                $('.search_form')[0].submit();
            }, 1000);
        });

        $(document).ready(function () {
            geolocate();
        });

        <!--$(".main-search-input-item.location a").click(function(e){-->
        <!--e.preventDefault();-->
        <!--geolocation();-->
        <!--});-->

        var input = document.getElementById('autocomplete');
        var autocomplete = new google.maps.places.Autocomplete(input);

        google.maps.event.addListener(autocomplete, 'place_changed', function (e) {
            var place = autocomplete.getPlace();
            $('#home_lat').val(place.geometry.viewport.f.b);
            $('#home_lng').val(place.geometry.viewport.b.b);
            $('#ajax_key').val('filter_key');
        });

        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition, showError);
            }
        }

        <!--function geolocation() {-->
        <!--if (navigator.geolocation) {-->
        <!--navigator.geolocation.getCurrentPosition(currPos, showError);-->
        <!--}-->
        <!--}-->

        function showPosition(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;
            var pos = new google.maps.LatLng(lat, lng);
            $('#home_lat').val(lat);
            $('#home_lng').val(lng);
            $('#ajax_key').val('filter_key');
        }

        <!--function currPos(position) {-->
        <!--var lat = position.coords.latitude;-->
        <!--var lng = position.coords.longitude;-->
        <!--var pos = new google.maps.LatLng(lat, lng);-->
        <!--$('#home_lat').val(lat);-->
        <!--$('#home_lng').val(lng);-->
        <!--$('#ajax_key').val('filter_key');-->
        <!--var geocoder = new google.maps.Geocoder();-->
        <!--if (geocoder) {-->
        <!--geocoder.geocode({ 'latLng': pos}, function (results, status) {-->
        <!--if (status == google.maps.GeocoderStatus.OK) {-->
        <!--$('#autocomplete').val(results[0].formatted_address);-->
        <!--}else {-->
        <!--$('#autocomplete').val('Geocoding failed: '+status);-->
        <!--}-->
        <!--});-->
        <!--}-->
        <!--}-->

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    $('#ajax_key').val('filter_key');
                    break;
                case error.POSITION_UNAVAILABLE:
                    $('#ajax_key').val('filter_key');
                    break;
                case error.TIMEOUT:
                    $('#ajax_key').val('filter_key');
                    break;
                case error.UNKNOWN_ERROR:
                    $('#ajax_key').val('filter_key');
                    break;
            }
        }
    </script>
{% endblock javascripts %}