{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	-Pull upcoming bookings information

-->
{% block content %}

<!-- Content
	================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Get Mobile App</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        </li>
                        <li>Get Mobile App</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">

                <p>Download the mobile app that will help your business validating customer bookings through our dedicated QR scanner</p>
                
                <div class="col-md-6">
                    <a href="https://goo.gl/3jgV6J" target="_blank">
                        <img src="{% static 'images/android-store.png' %}" style="width: 50%" alt="" />
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="https://goo.gl/4DkqRp" target="_blank">
                        <img src="{% static 'images/apple-store.png' %}" style="width: 50%" alt="" />
                    </a>
                </div>
                
            </div>
        </div>

    </div>

</div>
<!-- Content / End -->

{% endblock content %}