{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock %} {% block content %}
    <div id="container" class="container">
        <div>
            <h1 class="page-title ui-title" role="heading" aria-level="1">Spotimist's Terms and Policies</h1>
        </div>
        <div class="info-title">
            <span class="last_update">Last updated March 2017</span>
        </div>
        <div class="info-policy">
            <p>
                <b>Please read these Terms and Policies carefully before you start to use our Website or our Apps and
                    before booking
                    any third party goods or services through our Website or our Apps. We recommend that you print a
                    copy of
                    these for future reference.</b>
            </p>
            <p>
                <b>By using our Website or our Apps, you confirm that you accept these Terms and Policies and that you
                    agree to
                    comply with them regardless of whether you choose to register with us. If you do not agree to these
                    Terms
                    and Policies, you must not use our Website or our Apps in any way.</b>
            </p>
            <ol>
                <li>Welcome to our website,
                    <a class="tandclink" href="https://www.spotimist.com" rel="nofollow"
                       title="https://www.spotimist.com">www.spotimist.com</a> ("
                    <b>Website</b>") and to the Spotimist mobile application. The Website and our Apps are provided by
                    Spotimist, a branch registered in Ireland under number
                    <<INSERT_NUMBER_HERE>> being a branch of KMzero Limited, a company registered in Ireland under
                        company number
                        <<INSERT_NUMBER_HERE>> and whose registered office is at Castle Gate, Lord Edward Street (c/o
                            Calder &amp; Co), Dublin, Ireland, with
                            VAT registration number<<INSERT_NUMBER_HERE>> ("
                                <b>Spotimist</b>", "
                                <b>us</b>", "
                                <b>we</b>" or "
                                <b>our</b>" for short). "You" and "your" means you as the user of our Website or our
                                App.
                </li>
                <li>The Website and our Apps have two main functions:
                    <ol>
                        <li>aggregating of information and providing a centralized booking point for selected third
                            party goods and
                            services providers who wish to offer their goods and services for sale via our Website and
                            our Apps
                            ("
                            <b>Partners</b>").
                    </ol>
                </li>
                <li>We have set out the terms under which we are providing you with access to our Website and our Apps
                    and any products
                    or services we offer from our Website or our Apps. These include the terms and conditions that
                    govern:
                    <ol>
                        <li>your rights to use and link to our Website and our Apps (our
                            "Website &amp; App Terms of Use");
                        </li>
                        <li>how we will use and protect information about you (our
                            <a class="tandclink" href="{% url 'privacy' %}"
                               rel="nofollow" title="Privacy Policy">"Privacy &amp; Cookies Policy"</a>);
                        </li>
                        <li>our booking terms and conditions in relation to the third party products or services we
                            offer from the
                            Website or our Customer mobile application (our
                            <a class="tandclink" href="{% url 'btandc' %}"
                               rel="nofollow" title="Booking Terms and Conditions">"Booking Terms and Conditions"</a>);
                            and
                        </li>
                        <li>your obligations when uploading comments or other contributions and content to our Website
                            or our Apps
                            (our
                            "User Generated Content Policy"),
                            <br>(together or individually these may be referred to as our "
                            <b>Terms and Policies</b>").
                        </li>
                    </ol>
                </li>
                <li>Please note that the Terms and Policies do not govern the relationship as between Spotimist and our
                    Partners.
                    If you are an existing Partner, please check the “Partner Terms of Business” provided to you upon
                    sign up.
                    If you are not yet a Partner but would like to apply to Spotimist to become one of our Partners,
                    please see
                    <a class="tandclink" href="{% url 'get-listed' %}" rel="nofollow" title="Register your Business">here</a>.
                </li>
                <li>If you enter any prize competitions or other promotions on the Website or our Apps, separate terms
                    and conditions
                    may also apply in addition to our Terms and Policies. In the event of a conflict between any
                    additional terms
                    and conditions and our Terms and Policies, such additional terms shall prevail to the extent of the
                    conflict.
                </li>
                <li>We may change our Terms and Policies from time to time, in which case up to date versions of such
                    Terms and Policies
                    will be available via the Website and our Apps. You should check these Terms and Policies regularly
                    to ensure
                    that you are happy with any changes. You will be deemed to have accepted any changes to the Terms
                    and Policies
                    after you have been notified of the changes on our Website or our Apps and/ or if you continue to
                    access
                    or use the Website or our Apps, where the updated Terms and Policies will be available for you to
                    view.
                </li>
            </ol>
            <h3>
                <b>WEBSITE &amp; APP TERMS OF USE</b>
            </h3>
            <p>
                <b>Please read these Website &amp; App Terms of Use carefully before you start to use our Website or our
                    Apps, as
                    they apply to your use of our Website and our Apps. We recommend that you print a copy of these for
                    future
                    reference.</b>
            </p>
            <p>
                <b>These Website &amp; App Terms of Use refer to the following additional terms which also apply to your
                    use of
                    our Website and our Apps:</b>
            </p>
            <dl>
                <dd>
                    <ul>
                        <li>
                            <b>Our
                                <a class="tandclink" href="{% url 'privacy' %}" rel="nofollow"
                                   title="Privacy and Cookie Policy">Privacy and Cookie Policy</a>;</b>
                        </li>
                        <!-- <li>
                            <b>Our
                                <a class="tandclink" href="https://www.spotimist.com/info/user-generated-content-policy/"
                                    rel="nofollow" title="https://www.spotimist.com/info/user-generated-content-policy/">User Generated Content Policy</a>.</b>
                        </li> -->
                    </ul>
                </dd>
            </dl>
            <p>
                <b>By using our Website or our Apps, you confirm that you accept these Website &amp; App Terms of Use
                    and that you
                    agree to comply with them. If you do not agree to these Website &amp; App Terms of Use, you must not
                    use
                    our Website or our Apps.</b>
            </p>
            <p>
                <b>Please note: these Website &amp; App Terms of Use only cover your use of our Website and our Apps,
                    they DO NOT
                    apply to the third party goods and services which are available for booking on our Website or our
                    Customer
                    mobile application. Please see our
                    <a class="tandclink" href="{% url 'btandc' %}"
                       rel="nofollow" title="Booking Terms and Conditions">Booking Terms and Conditions</a> for the
                    terms and conditions which apply when you make any bookings or purchase
                    any vouchers from our Website or our Customer mobile application.</b>
            </p>
            <p>
                <b>Within these Website &amp; App Terms of Use, the phrase “Terms and Policies” refers to any or all of
                    the following
                    policies: our Privacy and Cookie Policy, our User Generated Content Policy, these Website Terms and
                    Conditions
                    and our Booking Terms and Conditions.</b>
            </p>
            <ol>
                <li>
                    <b>Use of the Website and our Apps</b>
                    <ol>
                        <li>These Website &amp; App Terms of Use set out how you may use our Website and our Apps. By
                            accessing the
                            Website or our Apps, you agree to these Website &amp; App Terms of Use. These Website &amp;
                            App Terms
                            of Use apply to whatever method you have used to access the Website or our Apps, including
                            but not
                            limited to the internet, digital television services and mobile phone.
                        </li>
                        <li>If you do not agree to these Website &amp; App Terms of Use, you should not use the Website
                            or our Apps.
                            You should read all of the Website &amp; App Terms of Use prior to using the Website or our
                            Apps.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Accessing our Website and our Apps</b>
                    <ol>
                        <li>Access to our Website and our Apps is permitted on a temporary basis. We reserve the right
                            to withdraw
                            or amend our Website or our Apps (and any products or services offered on them) without
                            notice. We
                            will not be liable if for any reason our Website, our Apps or any part of it or them is
                            unavailable
                            at any time or for any period.
                        </li>
                        <li>We update our Website and our Apps from time to time and so may change the content at any
                            time without
                            notice to you. We reserve the right to withdraw, vary or suspend the Website or our Apps (or
                            any
                            part of them) at any time without notice.
                        </li>
                        <li>Materials and information posted on our Website or our Apps are not intended as advice and
                            should not
                            be relied upon as such. We therefore disclaim all liability and responsibility arising from
                            any reliance
                            placed on such information to the fullest extent permissible by all applicable laws.
                        </li>
                        <li>You are responsible for making all arrangements necessary to access and view this Website
                            and our Apps
                            and should ensure you have up to date anti-virus software on any device from which your
                            access our
                            Website or our App.
                        </li>
                        <li>You are responsible for ensuring that all persons accessing our Website or our Apps through
                            your internet
                            connection are aware of these Website &amp; App Terms of Use.
                        </li>
                        <li>We specifically reserve the right to withdraw access to our Website and/or our App and/or
                            cancel any
                            order in the event that you fail any credit or fraud prevention check or where we reasonably
                            suspect
                            fraud or money laundering by you or someone using your account.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Password and Account Security</b>
                    <ol>
                        <li>You are responsible for the safety and security of your password and log in details. To help
                            protect
                            against unauthorised access to your account you are advised to store your username(s) and
                            password(s)
                            safely and securely. Please ensure that your password is not one you have used before, that
                            it is
                            eight characters or more and, ideally, not one that you use on other sites. We recommend
                            that you
                            refrain from disclosing your username(s) and password(s) to anyone. We also recommend that
                            you sign
                            out of your account at the end of each session. You may also wish to close your browser
                            window when
                            you have finished your session, especially if you share a computer with someone else or if
                            you are
                            using a computer in a public place.
                        </li>
                        <li>If you suspect that unauthorised access has been made to your account you must notify us
                            immediately
                            through the
                            <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                               title="Contact Form">contact form</a>. We will investigate any alleged unauthorised
                            account activity. Notwithstanding
                            any other terms pertaining to our right to disable or block access to your account, we
                            reserve the
                            right to disable or block your account at any time where it is suspected that unauthorised
                            access
                            has been made to your account.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Misuse of our Website or our App</b>
                    <ol>
                        <li>You must not misuse our Website or our Apps by:
                            <ol>
                                <li>knowingly introducing viruses, trojans, worms, logic bombs, time bombs, keystroke
                                    loggers, spyware,
                                    adware or other material, programme or code which adversely affects the operation of
                                    any
                                    computer software or hardware (or is designed to do so); and/or
                                </li>
                                <li>gaining or attempting to gain unauthorised access to the server on which our Website
                                    or our Apps
                                    is stored or any server, computer or database connected to our Website or our App;
                                    and/or
                                </li>
                                <li>attacking our Website or our Apps via a denial-of-service attack or a distributed
                                    denial-of service
                                    attack.
                                </li>
                            </ol>
                        </li>
                        <li>Breach of this clause might constitute a criminal offence under the Irish Criminal Damage
                            Act 1991 and/or
                            the UK’s Computer Misuse Act 1990. We will report any such breach to the relevant law
                            enforcement
                            authorities and we will co-operate with those authorities by disclosing your identity to
                            them. In
                            the event of such a breach, your right to use our Website and our Apps will cease
                            immediately.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Users</b>
                    <ol>
                        <li>If you are aged 18 years old or over, you may create an account and become a registered user
                            of the Website
                            and our Apps ("
                            <b>User</b>").
                        </li>
                        <li>As a User you may have access to additional products or services and/or functionality, for
                            example, the
                            ability to create an account, save contact information, post user generated content (“
                            <b>UGC</b>”) onto the Website or via our Apps, and receive information about promotions and
                            special
                            offers which are restricted to Users, if any.
                        </li>
                        <li>Any personal information that you provide to us in the course of becoming a User or after
                            registration
                            will be held and used in accordance with any consent obtained from you and the terms of our
                            Privacy
                            and Cookies Policy.
                        </li>
                        <li>We also have the right to disable any user identification code or password, whether chosen
                            by you or
                            allocated by us, at any time, if in our reasonable opinion you have failed to comply with
                            any of
                            the provisions of any of our Terms and Policies.
                        </li>
                        <li>If you know or suspect that anyone other than you knows your username or password, you must
                            promptly
                            notify us <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                                         title="Contact Form">here</a>.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Posting UGC</b>
                    <ol>
                        <li>If and where the functionality of the Website or our Apps allows, Users or other visitors to
                            the Website
                            or our Apps that log into a social media account via any widget or interface available on or
                            off
                            the Website may post UGC to the Website or via our App.
                        </li>
                        <li>Any UGC posted will be attributed to the username you provide or the username of the social
                            media account
                            you log in with but we will not publish your email address on the Website or via our App.
                        </li>
                        <li>We reserve the right to refuse to publish any UGC (or remove without notice any previously
                            published
                            UGC) if it does not adhere to our User Generated Content Policy. We shall not be liable for
                            any loss
                            or damages whatsoever arising from such decision to refuse to publish (or to remove
                            previously published)
                            UGC.
                        </li>
                        <li>We also reserve the right to close the User accounts and/or ban particular users from being
                            able to post
                            UGC to the Website or via our Apps if they persistently and/or seriously breach the terms of
                            the
                            User Generated Content Policy.
                        </li>
                        <li>Views and opinions expressed in UGC submitted by Users or other members of the public are
                            those of the
                            individual submitting the UGC, not those of Spotimist and we accept no responsibility for
                            the content
                            of such UGC.
                        </li>
                        <li>However, if you find any UGC on the Website to be in any way offensive, obscene, defamatory,
                            racist,
                            harmful, inaccurate, unlawful, illegal or deceptive in any way, please notify us by emailing
                            us at
                            <a class="tandclink" href="mailto://customer.care@spotimist.com" rel="nofollow"
                               title="mailto://customer.care@spotimist.com">customer.care@spotimist.com</a> with the
                            subject heading "Objectionable Content". On receipt of your
                            complaint we may remove or block access to the UGC complained of.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Intellectual property</b>
                    <ol>
                        <li>You may access, view and print out one copy of this Website and all information, images, and
                            other content
                            (except for UGC) displayed on the Website or via our Apps ("
                            <b>Materials</b>") strictly in accordance with these Website &amp; App Terms of Use.
                        </li>
                        <li>You may only view, print out, use, quote from and cite the Website and the Materials for
                            your own personal,
                            non-commercial use and on the condition that you give appropriate acknowledgement to
                            Spotimist.
                        </li>
                        <li>Nothing in the above licence impairs or restricts any author's moral rights in respect of
                            the Materials.
                        </li>
                        <li>We expressly reserve all intellectual property rights in and to the Website, our Apps and
                            the Materials
                            and your use of the Website, our App and the Materials is subject to the following
                            restrictions.
                            You must not:
                            <ol>
                                <li>remove any copyright or other proprietary notices contained in the Materials;
                                    and/or
                                </li>
                                <li>use any Materials from the Website or our Apps in any manner that may infringe any
                                    copyright,
                                    intellectual property right or proprietary right of us or any third parties; and/or
                                </li>
                                <li>use, or cause others to use, any automated system or software to extract content or
                                    data from
                                    this Website or via our Apps ("screen scraping"), except in cases where you or any
                                    applicable
                                    third party has entered into a written licence agreement directly with us that
                                    expressly
                                    permits such activity; and/or
                                </li>
                                <li>reproduce, modify, display, perform, publish, distribute, disseminate, broadcast,
                                    frame (or use
                                    any other browser or border environment), communicate to the public or circulate to
                                    any third
                                    party or exploit this Website, our Apps and/or the Materials for any commercial
                                    purpose,
                                    without our prior written consent by way of a licence agreement.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Trade marks</b>
                    <br>We expressly reserve all rights in and to the
                    <a class="tandclink" href="https://www.spotimist.com" rel="nofollow"
                       title="https://www.spotimist.com">https://www.spotimist.com/</a> domain name and all related
                    domains and sub-domains, the name "Spotimist",
                    our logo device, service marks, trading names and/or trade marks. Other trade marks, products and
                    company
                    names mentioned on the Website or via our Apps may be trademarks of their respective owners or
                    licensors
                    and the rights in such marks are reserved to their respective owners or licensors.
                </li>
                <li>
                    <b>Linking to our Website</b>
                    <ol>
                        <li>You may link to any page of the Website, for non-commercial purposes provided that you do so
                            in a way
                            that is fair and legal and which does not damage our reputation or take unfair advantage of
                            it. For
                            the avoidance of doubt, the linking site must not contain any adult or illegal material or
                            any material
                            that is offensive, harassing or otherwise objectionable.
                        </li>
                        <li>You must not link to our Website in such a way as to suggest any form of association,
                            approval or endorsement
                            on our part where none exists. You must not remove or obscure by framing or otherwise,
                            advertisements,
                            any copyright notice, or other information published on the Website.
                        </li>
                        <li>Our Website must not be framed or be subjected to any other browser or border environment on
                            any other
                            site.If you would like to link to our Website for commercial purposes or any purpose not
                            included
                            above, or if you would like to become a Partner, please
                            <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                               title="Contact Form">contact us here</a>.
                        </li>
                        <li>We reserve the right to withdraw linking permission at any time and without notice.</li>
                    </ol>
                </li>
                <li>
                    <b>Privacy, your personal data and cookies</b>
                    <br>The privacy of your personal data is important to us. Please see our Privacy &amp; Cookies
                    Policy for details
                    of how we will process your personal data, where it is provided to us, and how we use cookies.
                </li>
                <li>
                    <b>Third party content and third party websites</b>
                    <ol>
                        <li>Our Website and our Apps may contain advertising submitted by third parties. Such third
                            parties are solely
                            responsible for the content of such advertising and for ensuring that it complies with all
                            relevant
                            legislation and regulations. We do not accept any responsibility for the content of any
                            third party
                            advertising.
                        </li>
                        <li>Our Website, our Apps and/or the Materials may contain links to third party websites
                            (including those
                            of our Partners). If you decide to visit any third party site, you do so at your own risk.
                            We are
                            not responsible or liable directly or indirectly for the content, accuracy or opinions
                            expressed
                            in such websites or the standard of goods or services available through or on such websites.
                            Unless
                            expressly stated otherwise, links do not imply that we are, or our Website or our Apps are,
                            affiliated
                            to or associated with such sites.
                        </li>
                        <li>Our communications with you may contain information sourced from third party websites.
                            Material from
                            a third party site will be marked as such and a link to the source website may be provided.
                            We accept
                            no responsibility or liability for any material supplied by or contained on any third party
                            website
                            which is linked from our communications with you, or any use of personal data by such a
                            third party.
                        </li>
                        <li>The inclusion of any link in our communications with you does not imply endorsement by us of
                            the linked
                            site. If you decide to access linked third party websites, you do so at your own risk.
                        </li>
                        <li>Please remember that when you use a link to go from our Website or our Apps to another
                            website, our Terms
                            and Polices (including our Privacy &amp; Cookies Policy) will no longer be applicable. Your
                            browsing
                            and interaction on any other website, including websites which are linked to ours, is
                            subject to
                            that website’s own terms and policies. Please read those terms and policies before
                            proceeding.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Our liability</b>
                    <ol>
                        <li>To the fullest extent permissible by law, we exclude and disclaim all warranties, terms,
                            conditions and
                            representations that might otherwise be implied by law in relation to this Website or our
                            Apps. In
                            particular, we do not represent or warrant that the Website or our Apps will be error-free,
                            free
                            of viruses or other harmful components, or that defects will be corrected. You must take
                            your own
                            precautions in this respect. In any event, we will not be liable for any loss or damage
                            caused by
                            a distributed denial-of-service attack, viruses or other technologically harmful material
                            that may
                            infect your computer equipment, computer programs, data or other proprietary material due to
                            your
                            use of our Website or our Apps.
                        </li>
                        <li>We do not accept liability for any failure to maintain the Website or our Apps and/or late
                            or failed
                            delivery of any Materials.
                        </li>
                        <li>Please note that we only provide our Website and our Apps for domestic and private use, and
                            you agree
                            not to use our Website or our App for any commercial or business purposes unless we have
                            approved
                            you as a Partner.
                        </li>
                        <li>We do not accept any liability for the following types of loss, even if the loss is
                            foreseeable: loss
                            of income or revenue, loss of business, loss of profits, loss of anticipated savings, loss
                            of data
                            or waste of management of office time.
                        </li>
                        <li>The Materials may contain inaccuracies and typographical errors. We do not warrant the
                            accuracy or completeness
                            of the Materials.
                        </li>
                        <li>We shall not be liable for any loss caused as a result of your actions or inactions based on
                            the Materials
                            available on this Website or via our Apps. However, nothing in these Website &amp; App Terms
                            of Use
                            shall affect your statutory rights, and nothing in these Website &amp; App Terms of Use
                            shall exclude
                            our liability for death or personal injury arising through negligence, for fraud or
                            fraudulent misrepresentation
                            and/or anything else that cannot be excluded or limited by us under applicable law.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Disclaimer</b>
                    <ol>
                        <li>The information contained on the Treatment Files is for general information purposes only.
                            The information
                            is provided by
                            <a class="tandclink" href="https://www.spotimist.com" rel="nofollow"
                               title="https://www.spotimist.com">www.spotimist.com</a> and whilst we endeavour to keep
                            the information up to date and correct, we
                            make no representations or warranties of any kind, express or implied, about the
                            completeness, accuracy,
                            reliability, suitability or availability with respect to the information, products, services
                            or images
                            contained on
                            <a class="tandclink" href="https://www.spotimist.com" rel="nofollow"
                               title="https://www.spotimist.com">www.spotimist.com</a>. Your use of any or all
                            information, products and/or services must be based
                            on your own due diligence and you should consult an appropriate professional for specific
                            advice
                            tailored to your needs and situation. Any reliance you place on such information is strictly
                            at your
                            own risk.
                        </li>
                        <li>Through this website you are able to link to other websites which are not under the control
                            of
                            <a class="tandclink"
                               href="https://www.spotimist.com" rel="nofollow" title="https://www.spotimist.com">www.spotimist.com</a>.
                            We have no control over the nature, content and availability of those sites
                            and will not be responsible for them. The inclusion of links does not necessarily imply a
                            recommendation
                            or endorse the views expressed within them.
                        </li>
                        <li>In no event shall we be liable for direct, indirect, punitive, incidental, special,
                            consequential or
                            any damages whatsoever arising out of or in any way connected with the use of or performance
                            of information,
                            products, services or reliance on the contents of
                            <a class="tandclink" href="https://www.spotimist.com"
                               rel="nofollow" title="https://www.spotimist.com">www.spotimist.com</a>.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>Serviced countries</b>
                    <br>This Website and our Apps are provided for users in Ireland only. Whilst access may be possible
                    from outside
                    Ireland, neither this Website nor our Apps are intended for such use and such users access the
                    Website and
                    our Apps at their own risk.
                </li>
                <li>
                    <b>Changes to our Website &amp; App Terms of Use</b>
                    <br>We may change these Website &amp; App Terms of Use from time to time, in which case an up to
                    date version
                    will be available via the Website and our Apps. You should check these Website &amp; App Terms of
                    Use regularly
                    to ensure that you are happy with any changes. You will be deemed to have accepted any changes to
                    these Website
                    &amp; App Terms of Use after you have been notified of the changes on our Website or our Apps and/
                    or if
                    you continue to access or use the Website or our Apps, where the updated Website &amp; App Terms of
                    Use will
                    be available for you to view.
                </li>
                <li>
                    <b>Legal compliance and applicable law</b>
                    <br>The Irish Courts will have non-exclusive jurisdiction over any claim, dispute or non-contractual
                    obligation
                    arising from or related to a visit to this Website or use of our Apps. Irish Law will apply to these
                    Website
                    &amp; App Terms of Use.
                </li>
                <li>
                    <b>Contact us</b>
                    <br>If you have any concerns or queries about material which appears on our Website or our Apps or
                    if you have
                    questions about your use of this Website, our Apps or these Website &amp; App Terms of Use please
                    <a class="tandclink" href="{% url 'contact' %}" rel="nofollow"
                       title="Contact Form">contact us here</a>. Our postal address for correspondence is Spotimist, 23
                    CASTLE GATE, LORD EDWARD STREET, DUBLIN 2
                </li>
            </ol>
        </div>
    </div>

    <!-- <div class="columns small-12 medium-4 sidebar-wrapper">
        <div class="info-navbox">
            <h2>Related information</h2>
            <ul class="links">
                <li>############# Fix links here ##########
                    <a href="https://www.spotimist.com/info/privacy-policy/">Privacy Policy</a>
                </li>
                <li>
                    <a href="https://www.spotimist.com/info/user-generated-content-policy/">User Generated Content Policy</a>
                </li>
                <li>
                    <a href="https://www.spotimist.com/info/booking-terms-and-conditions/">Booking Terms</a>
                </li>
                <li>
                    <a href="https://www.spotimist.com/info/supplier-terms-and-conditions/">Partner Terms and Conditions</a>
                </li>
            </ul>

        </div> -->
{% endblock content %}