{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media='all' />
    
    
    <style>
        .img-center {
            display: block;
            margin: 40px auto;
        }
    </style>
</head>

<body>
    {% block content %} {% endblock %}
</body>

</html>