{% extends "lockdown/base.html" %} {% load static %} {% block title %}Coming soon...{% endblock %} {% block content %}

    </style>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <img src="{% static 'images/spotimist-v2.png' %}" class="img-center"/>

            <p style="text-align: center;">This is not yet available to the public.</p>
            <p>
            {% if form %}

            <form action="" method="post">
                {{ form.as_p }}
                <p><input type="submit" class="btn btn-lg btn-primary btn-block" style="background-color:#f26f28; border-color:#f05a09;" value="Preview"></p>
                
            </form>
            </p>
            {% endif %}

            </form>
        </div>
    </div>

</div>
{% endblock %}