{% extends "base-dashboard.html" %} {% load i18n %} {% load static %}
<!-- TODO

	-Pull upcoming bookings information

-->
{% block content %}

<!-- Content
	================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Bookings</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        </li>
                        <li>Bookings</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-list-box margin-top-0">

                <!-- Sort by -->
                <div class="sort-by">
                    <div class="sort-by-select">
                        <select data-placeholder="Default order" class="chosen-select-no-single">
                            <option>Any Status</option>
                            <option>Approved</option>
                            <option>Pending</option>
                            <option>Canceled</option>
                        </select>
                    </div>
                </div>


                <!-- Reply to review popup -->
                <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                    <div class="small-dialog-header">
                        <h3>Send Message</h3>
                    </div>
                    <div class="message-reply margin-top-0">
                        <textarea cols="40" rows="3" placeholder="Your Message to Kathy"></textarea>
                        <button class="button">Send</button>
                    </div>
                </div>

                <h4>Bookings List</h4>
                <ul>
                    {% for booking in object_list %}

                    {% comment %}
                    <li><a href="{% url " booking_detail" pk=booking.pk %}">{{ booking }}</a></li>
                    {% endcomment %}

                    <li class="pending-booking">
                        <div class="list-box-listing bookings">

                            <div class="list-box-listing-content">
                                <div class="inner">
                                    <h3>
                                        {{booking.get_booked_activity}}
                                    </h3>

                                    <div class="inner-booking-list">
                                        <h5>Booking ID:</h5>
                                        <ul class="booking-list">
                                            <li class="highlighted">#{{ booking.booking_id }}</li>
                                        </ul>
                                    </div>

                                    <div class="inner-booking-list">
                                        <h5>Booking Date:</h5>
                                        <ul class="booking-list">
                                            <li class="highlighted">{{booking.date_from|date:"d F y"}}</li>
                                        </ul>
                                    </div>

                                    <div class="inner-booking-list">
                                        <h5>Booking Details:</h5>
                                        <ul class="booking-list">
                                            {% for item in booking.get_booking_items %}
                                            {{item.booked_item}}
                                            {% endfor %}
                                        </ul>
                                    </div>

                                    <div class="inner-booking-list">
                                        <h5>Client:</h5>
                                        <ul class="booking-list">
                                            <li>{{booking.forename}} {{booking.surname}}</li>
                                            <li>{{booking.email}}</li>
                                            <li>{{booking.phone}}</li>
                                        </ul>
                                    </div>

                                    {% comment %} <a href="#small-dialog" class="rate-review popup-with-zoom-anim">
                                    <i class="sl sl-icon-envelope-open"></i> Send Message</a> {% endcomment %}

                                </div>
                            </div>
                        </div>
                        {% comment %}
                        <div class="buttons-to-right">
                            <a href="#" class="button gray reject">
                                <i class="sl sl-icon-close"></i> Cancel</a>
                            <a href="#" class="button gray approve">
                                <i class="sl sl-icon-check"></i> Approve</a>
                        </div>
                        {% endcomment %}
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>

</div>
<!-- Content / End -->

{% endblock content %}