{% extends "base-dashboard.html" %} {% load i18n %} {% load static %} {% block content %}

<!-- Content
	================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">
                <h2>Bookings</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li>Transactions History</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- Listings -->

        <div class="col-lg-12 col-md-12">
            <div class="notification notice">
                <p> You can withdraw
                    <strong>€{{total}}</strong>
                </p>
            </div>
            <div class="dashboard-list-box margin-top-0">

                <!-- Reply to review popup -->
                <!--<div id="small-dialog" class="zoom-anim-dialog mfp-hide">-->
                <!--<div class="small-dialog-header">-->
                <!--<h3>Send Message</h3>-->
                <!--</div>-->
                <!--<div class="message-reply margin-top-0">-->
                <!--<textarea cols="40" rows="3" placeholder="Your Message to Kathy"></textarea>-->
                <!--<button class="button">Send</button>-->
                <!--</div>-->
                <!--</div>-->

                <div id="small-dialog" class="zoom-anim-dialog mfp-hide alert-boxes">
                    <div class="small-dialog-header">
                        <h3>Are You Sure ?</h3>
                    </div>
                    <div class="message-reply text-center margin-top-0">
                        <a class="button" id="refund"> Refund</a>
                        <a class="button" id="cancel"> Cancel</a>
                    </div>
                </div>

                <h4>Transactions History</h4>
                <input type="hidden" id="transaction_charge" name="transaction_charge">
                <ul>

                    {% for booking in transaction %}
                    <li class="padding-top-5 padding-bottom-5">
                        <div class="list-box-listing bookings">

                            <div class="list-box-listing-content">
                                <!--  <h3></h3>-->
                                <div class="inner">

                                    <div class="text-center col-lg-3 col-md-3 padding-left-0 padding-right-0 margin-top-5">
                                        <div class="pending-booking">
                                            <div class="inner-booking-list tran-id">
                                                <ul>
                                                    <li class="highlighted">
                                                       {{booking.transaction_booking.get_booked_activity}}
                                                    </li>
                                                </ul>
                                                <br>
                                                <b>Booking:</b> #{{ booking.transaction_booking.booking_id }}
                                                <br>
                                                <b>TX:</b> {{booking.transaction_id}}
                                            </div>
                                        </div>
                                    </div>



                                    <div class="text-center col-lg-2 col-md-2 padding-left-0 padding-right-0 margin-top-5">
                                        <div class="">
                                            <div class="inner-booking-list tran-id ">
                                                <h5>
                                                    <u>Transaction</u>
                                                </h5>
                                                <div class="canceled-booking ">
                                                    <div class=" inner-booking-list">
                                                        <h5>Amount:</h5>
                                                        <ul class="booking-list">
                                                            <li class="highlighted"> €{{booking.transaction_amount}}</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="approved-booking ">
                                                    <div class="inner-booking-list">
                                                        <h5>Available:</h5>
                                                        <ul class="booking-list">
                                                            <li class="highlighted"> €{{booking.transaction_withdraw}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="text-center col-lg-2 col-md-2 padding-left-0 padding-right-0 margin-top-5">
                                        <div class="">
                                            <div class="inner-booking-list tran-id">
                                                <h5>
                                                    <u>Date</u>
                                                </h5>
                                                <br> {{booking.transaction_booking.date_from}}
                                            </div>
                                        </div>
                                    </div>




                                    <div class="text-center col-lg-2 col-md-2 padding-left-0 padding-right-0 margin-top-5">
                                        <div class="">
                                            <div class="inner-booking-list tran-id">
                                                <h5>
                                                    <u>Customer details</u>
                                                </h5>
                                                <br> {{booking.transaction_booking.forename}} {{booking.transaction_booking.surname}}
                                                <br> <a href="mailto:{{booking.transaction_booking.email}}">{{booking.transaction_booking.email}}</a>
                                                <br> {{booking.transaction_booking.phone}}
                                            </div>
                                        </div>
                                    </div>






                                    {% comment %}
                                    <a href="#small-dialog" class="rate-review popup-with-zoom-anim">
                                        <i class="sl sl-icon-envelope-open"></i> Send Message</a> {% endcomment %}

                                </div>
                            </div>
                        </div>

                        {% if booking.transaction_withdraw %}
                        <div class="buttons-to-right" style="opacity: 1;">
                            <a href="#small-dialog" class="button gray popup-with-zoom-anim">
                                <i class="sl sl-icon-close"></i> Refund Booking</a>
                            <!--<a href="#" class="button gray approve">-->
                            <!--<i class="sl sl-icon-check"></i> Approve</a>-->
                        </div>
                        {% else %}
                        <div class="buttons-to-right" style="opacity: 1;">
                            <a class="button gray">
                                <i class="sl sl-icon-close"></i> Cancelled Booking</a>
                            <!--<a href="#" class="button gray approve">-->
                            <!--<i class="sl sl-icon-check"></i> Approve</a>-->
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>

</div>
<!-- Content / End -->

{% endblock content %} {% block javascripts %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/plugins/timedropper.css' %}">

<script type="text/javascript" src="{% static 'scripts/spotimist.js' %}"></script>
<script>
    $(document).on("click", ".gray", function () {
        var charge = $(this).closest('li').find('li.highlighted.charge').html();
        $('#transaction_charge').val(charge);
    });


    $(document).on("click", '#refund', function () {
        var transaction_charge = $('#transaction_charge').val();
        $.ajax({
            type: "POST",
            url: window.location.href,
            async: true,
            data: {
                "ajax_key": 'key',
                "transaction_charge": transaction_charge,
                "csrfmiddlewaretoken": "{{csrf_token}}"
            },
            success: function (data) {
                $('.mfp-close').trigger("click");
                location.reload();
            }
        });
    });

    $(document).on("click", '#cancel', function () {
        $('.mfp-close').trigger("click");
    });
</script>


{% endblock javascripts %}