{% extends "base.html" %}
{% load static %}
{% block banner %}

<script type="text/javascript">
    var map;

    function initialize() {

        var lat = '{{ activity.latitude }}';
        var long = '{{ activity.longitude }}';

        var myLatlng = new google.maps.LatLng(lat, long)
        //Define some map options
        var mapOptions = {
            center: new google.maps.LatLng(lat, long),
            zoom: 15,
            scrollwheel: false,
            streetViewControl: false
        };

        // Create the map
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });

        marker.setIcon( /** @type {google.maps.Icon} */ ({
            url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
    }
    // [END region_fillform]
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="detail-banner" data-background-image="{{ activity.get_image_url}}">
    <div class="detail-banner-shadow"></div>
    <div class="container">
        <div class="detail-banner-left">
            <div class="detail-banner-info">
                <div class="detail-label"><a href="#">Category 1</a><span class="separator">,</span>
                <a href="#">Category 2</a></div>
            </div>
            <!-- /.detail-banner-info -->
            <h1 class="detail-title">
                {{ activity.name }}
                
            </h1>
            <div class="detail-banner-address">
                <i class="fa fa-map-marker"></i>{{ activity.address }}<span
                    class="separator"> / </span> {{ activity.country }}</div>
            <!-- /.detail-banner-address -->
            <div class="detail-banner-after">
                <div class="inventor-reviews-rating ">
                    <span class="review-rating-total" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o"
                        data-path="http://preview.byaviators.com/theme/superlist/wp-content/plugins/inventor-reviews/libraries/raty/images"
                        data-score="{{ activity.get_rating }}"></span>
                        <span class="review-rating-number">4.00 <span class="separator">/</span> 5</span>
                        <!-- /.review-rating-number -->
                </div>
                <!-- /.inventor-reviews-rating -->
                <a href="#" class="share-listing">
                    <i class="fa fa-share-alt"></i>
                    <span>Share</span>
                </a>
                
                <!-- /.modal-inner -->
                <a href="#" class="inventor-favorites-btn-toggle heart" data-listing-id="1043" data-ajax-url="http://preview.byaviators.com/theme/superlist/wp-admin/admin-ajax.php">
                    <i class="fa fa-heart-o"></i> <span data-toggle="I Love It">Add to favorites</span>
                </a>
                <!-- /.inventor-favorites-btn-toggle -->
                <a href="#" class="inventor-compare-btn-toggle" data-listing-id="1043" data-ajax-url="http://preview.byaviators.com/theme/superlist/wp-admin/admin-ajax.php">
                    <i class="fa fa-exchange"></i> <span data-toggle="Remove from comparison">Compare</span>
                </a>
                <!-- /.inventor-compare-btn-toggle -->
                <a href="#" class="print-listing" onclick="window.print(); return false;">
                    <i class="fa fa-print"></i> Print</a>
                <!-- /.print-listing-->
            </div>
            <!-- /.detail-banner-after -->
        </div>
        <!-- /.detail-banner-left -->
        <div class="detail-banner-right">
            <div class="detail-banner-price ">
                <span class="detail-banner-price-label">Price:</span>
                <span class="detail-banner-price-value">from $7 per class</span>
            </div>
        </div>
        <!-- /.detail-banner-right -->
    </div>
    <!-- /.container -->
</div>
<!-- /.detail-banner -->
<div class="listing-detail-menu-wrapper">
    <div class="listing-detail-menu">
        <div class="container">
            <ul class="nav nav-pills"></ul>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.listing-detail-menu -->
</div>
<!-- /.listing-detail-menu-wrapper -->
{% endblock banner %}
{% block content %}
<div class="container ">
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div id="primary">
            <div class="content">
                <div class="listing-detail">
                    <div class="listing-detail-section" id="listing-detail-section-description">
                        <h2 class="page-header">Description</h2>
                        <div class="listing-detail-description-wrapper">
                            <p>{{ activity.description|linebreaks }}</p>
                        </div>
                    </div>
                    <!-- /.listing-detail-section -->
                    <div class="listing-detail-section" id="listing-detail-section-attributes">
                        <h2 class="page-header">Details</h2>
                        <div class="listing-detail-attributes">
                            <ul>
                                <li class="price">
                                    <strong class="key">Price</strong>
                                    <span class="value">from $300 per night</span>
                                </li>
                                <li class="listing_hotel_class">
                                    <strong class="key">Hotel class</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/hotel-class/2-stars-standard/">2 stars - Standard</a></span>
                                </li>
                                <li class="listing_hotel_rooms">
                                    <strong class="key">Rooms</strong>
                                    <span class="value">1</span>
                                </li>
                                <li class="listing_locations">
                                    <strong class="key">Location / Region</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/location/long-island/">Long Island</a><span class="separator"> / </span>                                    <a href="http://preview.byaviators.com/theme/superlist/location/long-island/nassau/">Nassau County</a></span>
                                </li>
                                <li class="listing_listing_category">
                                    <strong class="key">Listing categories</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/listing-category/hotels/">Hotels</a><span class="separator"> / </span>                                    <a href="http://preview.byaviators.com/theme/superlist/listing-category/bed-and-breakfast/">Bed and breakfast</a></span>
                                </li>
                            </ul>
                        </div>
                        <!-- /.listing-detail-attributes -->
                    </div>
                    <!-- /.listing-detail-section -->
                    <div class="listing-detail-section" id="listing-detail-section-location">
                        <h2 class="page-header">Location</h2>
                        <div class="listing-detail-location-wrapper">
                            <!-- Nav tabs -->
                            <ul id="listing-detail-location" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item active">
                                    <a href="#simple-map-panel" aria-controls="simple-map-panel" role="tab" data-toggle="tab" class="nav-link">
                                        <i class="fa fa-map"></i>Map </a>
                                </li>
                                <li class="nav-item directions">
                                    <a href="https://maps.google.com?daddr={{ activity.latitude }},{{ activity.longitude }}" class="nav-link" target="_blank">
                                        <i class="fa fa-level-down"></i>Directions </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="simple-map-panel">
                                    <div class="detail-map">
                                        <div class="map-position">
                                             <div id="map" style="width:100%;height:450px;"></div>
                                        <!-- /#map-property -->
                                    </div>
                                    <!-- /.map-property -->
                                </div>
                                <!-- /.detail-map -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.listing-detail-section -->
                <div class="listing-detail-section" id="listing-detail-section-contact">
                    <h2 class="page-header">Contact</h2>
                    <div class="listing-detail-contact">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li class="email">
                                        <strong class="key">E-mail</strong>
                                        <span class="value">
                                        <a href="mailto:{{ activity.email }}">{{ activity.email }}</a>
                                    </span>
                                    </li>
                                    <li class="website">
                                        <strong class="key">Website</strong>
                                        <span class="value">
                                        <a href="{{ activity.website }}" target="_blank">{{ activity.website }}</a>
                                    </span>
                                    </li>
                                    <li class="phone">
                                        <strong class="key">Phone</strong>
                                        <span class="value"><a href="tel:{{ activity.phone }}">{{ activity.phone }}</a></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-* -->
                            <div class="col-md-6">
                                <ul>
                                    <li class="address">
                                        <strong class="key">Address</strong>
                                        <span class="value">{{ activity.address }}</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.listing-detail-contact -->
                </div>
                <!-- /.listing-detail-section -->
                <div id="listing-detail-section-reviews" class="listing-detail-section">
                    <h2 class="page-header review-title">
                        One review on &ldquo;{{ activity.name }}&rdquo;
                    </h2>
                    
                    <ul class="review-list">
                        {% for review in reviews %}
                        <li>
                            <div class="review clearfix">
                                <div class="review-image" data-background-image="http://preview.byaviators.com/theme/superlist/wp-content/uploads/2015/09/user-1.jpg">
                                    <img src="http://preview.byaviators.com/theme/superlist/wp-content/uploads/2015/09/user-1.jpg" alt="">
                                </div>
                                <!-- /.review-image -->
                                <div class="review-inner">
                                    <div class="review-header">
                                        <h2>{{ review.user.get_full_name}}</h2> <br />
                                        <h4>{{ review.title }}</h4>
                                        <div class="review-rating-wrapper">
                                            <span class="review-rating" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o"
                                                data-path="http://preview.byaviators.com/theme/superlist/wp-content/plugins/inventor-reviews/libraries/raty/images"
                                                data-score="{{ review.rating }}"></span>
                                                <span class="review-rating-number">
                            <strong>Rating:</strong>  <span class="separator">/</span>
                                                </span>
                                        </div>
                                        <!-- /.review-rating-wrapper -->
                                    </div>
                                    <!-- /.review-header -->
                                    <div class="review-content-wrapper">
                                        <div class="review-content">
                                            <div class="review-pros">
                                                <div class="review-comment-subtitle">
                                                    <strong>Pros</strong>
                                                </div>
                                                <!-- /.review-comment-subtitle -->
                                                <p>
                                                    {{ review.content_positive|linebreaks}}
                                                </p>
                                            </div>
                                            <!-- /.review-pros -->
                                            <div class="review-cons">
                                                <div class="review-comment-subtitle">
                                                    <strong>Cons</strong>
                                                </div>
                                                <!-- /.review-comment-subtitle -->
                                                <p>
                                                    {{ review.content_negative|linebreaks}}
                                                </p>
                                            </div>
                                            <!-- /.review-cons -->
                                        </div>
                                        <!-- /.review-content -->
                                    </div>
                                    <!-- /.review-content-wrapper -->
                                </div>
                                <!-- /.review-inner -->
                            </div>
                            <!-- /.review -->
                        </li>
                        {% endfor %}
                        <!-- #comment-## -->
                    </ul>
                    <!-- /.comment-list -->
                    <div class="review-form">
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title">Post New Review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/theme/superlist/hotels/white-time-hotel/#respond" style="display:none;">Cancel reply</a></small></h3>
                            <form  method="post" id="commentform" class="comment-form">
                                {% csrf_token %}
                                
                                <div class="form-group review-form-author">
                                    {{ form.title.errors }}
                                    {{ form.title.label_tag }}
                                    {{ form.title }}
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group review-form-pros">
                                    {{ form.content_positive.errors }}
                                    {{ form.content_positive.label_tag }}
                                    {{ form.content_positive }}
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group review-form-cons">
                                    {{ form.content_negative.errors }}
                                    {{ form.content_negative.label_tag }}
                                    {{ form.content_negative }}
                                </div>
                                <div class="form-group review-form-rating" data-path="{% static 'libraries/plugins/inventor-reviews/libraries/raty/images/' %}">
                                    {{ form.rating.errors }}
                                    {{ form.rating.label_tag }}
                                    {{ form.rating }}
                                </div>
                                <!-- /.form-group -->
                                {% comment %}<div class="form-group review-form-rating" >
                                    <label for="rating">
                                        Rating    
                                    </label>
                                    <div class="rating-wrapper">
                                        <input class="hidden" type="number" id="rating" name="rating" value="" size="30">
                                    </div>
                                </div>{% endcomment %}
                                <!-- /.form-group -->
                                <p class="form-submit">
                                    <input name="submit" type="submit" id="submit" class="rating-form-submit" value="Submit Review" /> 
                                </p>
                            </form>
                        </div>
                        <!-- #respond -->
                    </div>
                    <!-- /.review-form -->
                </div>
                <!-- #review -->
                <div class="listing-report">
                    <a href="http://preview.byaviators.com/theme/superlist/report-spam-abuse-or-inappropriate-content/?id=1043" class="listing-report-btn">
                        <i class="fa fa-flag-o"></i>
                        <span>Report spam, abuse, or inappropriate content</span>
                    </a>
                    <!-- /.listing-report-btn-->
                </div>
                <!-- /.listing-report -->
            </div>
            <!-- /.listing-detail -->
        </div>
        <!-- /.content -->
    </div>
    <!-- #primary -->
</div>
<!-- /.col-* -->
<div class="col-sm-4 col-lg-3">
    <div id="secondary" class="secondary sidebar">
        <div id="listing_author-2" class="widget widget_listing_author">
            <div class="widget-inner">
                <div class="listing-author">
                    
                    <a href="http://preview.byaviators.com/theme/superlist/author/user1/" class="listing-author-image" data-background-image="#">
                        <img src="#" alt="">
                    </a>
                    <!-- /.listing-author-image -->
                    <div class="listing-author-name">
                        <a href="http://preview.byaviators.com/theme/superlist/author/user1/">
                        {{ activity.user.firstname }} {{ activity.user.lastname }}</a>
                    </div>
                    <!-- /.listing-author-name -->
                    <div class="listing-author-contact">
                        <a href="#" target="_blank">Website</a>
                        <a href="mailto:#">Message</a>
                    </div>
                    <!-- /.listing-author-contact -->
                    <div class="listing-author-social">
                        <a href="#dribbble" target="_blank"><i class="fa fa-dribbble"></i></a>
                        <a href="skype:#skype?call" target="_blank"><i class="fa fa-skype"></i></a>
                        <a href="#foursquare" target="_blank"><i class="fa fa-foursquare"></i></a><a href="#behance" target="_blank"><i class="fa fa-behance"></i></a>                        </div>
                    <!-- /.listing-author-social -->
                </div>
                <!-- /.listing-author -->
        </div>
        <!-- /.widget-inner -->
    </div>
    <div id="listing_details-2" class="widget widget_listing_details">
        <div class="widget-inner">
            <div class="inventor-favorites-total">
                <i class="fa fa-heart-o"></i>
                <strong>0</strong> people love it</div>
            <div class="inventor-statistics-total-post-views">
                <i class="fa fa-eye"></i>
                <strong>2907</strong> views</div>
            <div class="inventor-reviews-total-rating">
                <i class="fa fa-star"></i>
                <strong>{{activity.get_rating}} / 5 </strong> from <a href="#listing-detail-section-reviews">{{activity.get_reviews_count}} review</a>
                <script type="application/ld+json">
                    {
                        "@context": "http://schema.org",
                        "@type": "Product",
                        "name": "White Time Hotel",
                        "url": "http://preview.byaviators.com/theme/superlist/hotels/white-time-hotel/",
                        "aggregateRating": {
                            "@type": "AggregateRating",
                            "worstRating": "0",
                            "bestRating": "5",
                            "ratingValue": "4.00",
                            "reviewCount": "1"
                        }
                    }
                </script>
            </div>
            <!-- /.inventor-reviews-total-rating -->
        </div>
        <!-- /.widget-inner -->
    </div>
    
    {% for hours in opening_hours %}
        <strong>{{hours.get_weekday_display}} </strong>
        {{hours.from_hour}} - {{hours.to_hour}} <br />
    {% endfor %}

    <div id="listing_inquire-2" class="widget widget_listing_inquire">
        <div class="widget-inner">
            <h2 class="widgettitle"> Inquire Form </h2>
            <form method="post">
                
                <div class="form-group">
                    <input class="form-control" name="name" type="text" placeholder="Name" value="" required="required">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input class="form-control" name="email" type="email" placeholder="E-mail" value="" required="required">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input class="form-control" name="phone" type="text" placeholder="Phone" value="" required="required">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input class="form-control" name="subject" type="text" placeholder="Subject" value="" required="required">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <input class="form-control" name="date" type="date" placeholder="Date" value="" required="required">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <textarea class="form-control" name="message" required="required" placeholder="Message" rows="4"></textarea>
                </div>
                <!-- /.form-group -->
                <div id="recaptcha-listing_inquire-2" class="g-recaptcha" data-sitekey="6LdlcBwTAAAAAAmdt0er4Z4tIPfe3I3la6g_1vsM"></div>
                <div class="button-wrapper">
                    <button type="submit" class="button" name="inquire_form">Send Message</button>
                </div>
                <!-- /.button-wrapper -->
            </form>
        </div>
        <!-- /.widget-inner -->
    </div>
</div>
<!-- /#secondary -->
</div>
<!-- /.col-* -->
</div>
<!-- /.row -->
</div>


{% endblock content %}