{% extends "base.html" %} {% block content %}
<div class="container ">
<script type="text/javascript">
    var map;
    var geocoder = new google.maps.Geocoder();
    var placeSearch, autocomplete;

    function initialize() {

        var lat = '{{ activity.latitude }}';
        var long = '{{ activity.longitude }}';

        var $latitude = document.getElementById('id_latitude');
        var $longitude = document.getElementById('id_longitude');

        var myLatlng = new google.maps.LatLng(lat, long)
        //Define some map options
        var mapOptions = {
            center: new google.maps.LatLng(lat, long),
            zoom: 15,
            scrollwheel: false,
            streetViewControl: false
        };

        // Create the map
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!',
            draggable: true
        });

         marker.setIcon(/** @type {google.maps.Icon} */({
                        url: 'https://maps.gstatic.com/mapfiles/place_api/icons/geocode-71.png',
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(35, 35)
                    }));

                    if (map.getZoom() < 15)
                        map.setZoom(15);

                    google.maps.event.addListener(marker, 'dragend', function (marker) {
                        var latLng = marker.latLng;
                        $latitude.value = latLng.lat();
                        $longitude.value = latLng.lng();
                    });

        //Autocomplete input map address
        var defaultBounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(lat, long)
        );
        var input = /** @type {HTMLInputElement} */ (
            document.getElementById('pac-input'));
        var options = {
            bounds: defaultBounds
        };
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        autocomplete = new google.maps.places.Autocomplete(input);
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            fillInAddress();
        });
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
            map: map,
            draggable: true,
            anchorPoint: new google.maps.Point(0, -29)
        });
        google.maps.event.addListener(marker, 'dragend', function (marker) {
            var latLng = marker.latLng;
            $latitude.value = latLng.lat();
            $longitude.value = latLng.lng();
        });
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            marker.setVisible(false);
            var place = autocomplete.getPlace();
            if (!place.geometry) {
                window.alert("Autocomplete's returned place contains no geometry");
                return;
            }

            // If the place has a geometry, then present it on a map.
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
                map.setZoom(15);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(15);
            }
            console.log(place.icon);
            marker.setIcon( /** @type {google.maps.Icon} */ ({
                url: place.icon,
                size: new google.maps.Size(71, 71),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(17, 34),
                scaledSize: new google.maps.Size(35, 35)
            }));
            marker.setPosition(place.geometry.location);
            marker.setVisible(true);
            var latLng = place.geometry.location;
            $latitude.value = latLng.lat();
            $longitude.value = latLng.lng();
        });
    }
    // [END region_fillform]
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div id="primary">
            <div class="document-title">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Edit Listing</li>
                </ol>
                <h1>Edit Listing</h1>
            </div>
            <div class="posts post-detail">
                <div class="post-content">

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="cmb2-wrap form-table">

                            <div class="form-group">
                                {{ form.name.errors }}
                                {{ form.name.label_tag }}
                                {{ form.name }}
                            </div>

                            <div class="form-group">
                                {{ form.description.errors }}
                                {{ form.description.label_tag }}
                                {{ form.description }}
                            </div>

                            <div class="form-group">
                                {{ form.image.errors }}
                                {{ form.image.label_tag }}
                                <img src="/uploads/{{form.image.value}}" />
                                {{ form.image }}
                                
                            </div>
                            
                            <!-- <input style="margin: 10px;width: 25%" id="pac-input" type="text" onkeydown ="return (event.keyCode != 13)" placeholder="Locate...">
                            <div id="map" style="width:100%;height:450px;"></div> -->

                            <div class="form-group">
                                {{ form.email.errors }}
                                {{ form.email.label_tag }}
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.website.errors }}
                                {{ form.website.label_tag }}
                                {{ form.website }}
                            </div>
                            
                            <div class="form-group">
                                {{ form.phone.errors }}
                                {{ form.phone.label_tag }}
                                {{ form.phone }}
                            </div>

                            <div class="form-group">
                                {{form.categories.label_tag}}
                                {{ form.categories.errors }}
                                {% for category in form.categories %}
                                    {{ category }}
                                {% endfor %}
                            </div>
                            
                            {{ form.latitude }}
                            {{ form.longitude }}

                        </div>
                        <div class="input-group submit-group">
                            <input type="submit" name="submit-submission" value="Save" class="button">
                            <span class="input-group-addon"><i class="done"></i></span>
                        </div>
                    </form>
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.post -->
        </div>
        <!-- /#primary -->
    </div>
    <!-- /.col-* -->
    <div class="col-sm-4 col-lg-3">
        <div class="sidebar sidebar_dashboard">
            <div class="widget widget_nav_menu" id="nav_menu-7">
                <h2 class="widgettitle">Navigation</h2>
                <div class="menu-dashboard-menu-container">
                    <ul class="menu" id="menu-dashboard-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3444" id="menu-item-3444">
                            <a href="{{activity.get_services_url}}"><i class="fa fa-fw fa-list"></i>{{activity.name}} - Services</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-674 current_page_item menu-item-3445"
                            id="menu-item-3445">
                            <a href=""><i class="fa fa-fw fa-user"></i>My Profile</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3446" id="menu-item-3446">
                            <a href="#"><i class="fa fa-fw fa-list"></i>My Listings</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3447" id="menu-item-3447">
                            <a href="#"><i class="fa fa-fw fa-heart"></i>My Favorites</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449" id="menu-item-3449">
                            <a href="#"><i class="fa fa-fw fa-file-text-o"></i>My Invoices</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450" id="menu-item-3450">
                            <a href="#"><i class="fa fa-fw fa-money"></i> Transactions</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451" id="menu-item-3451">
                            <a href="#"><i class="fa fa-fw fa-key"></i>Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.sidebar -->
    </div>
    <!-- /.sidebar -->
</div>
<!-- /.col-* -->
</div>
<!-- /.col-* -->

{% endblock content %}