<div class="infobox">
    <div class="infobox-inner">
        <a href="[[link]]" class="infobox-image" style="background-image: url('[[image]]');"></a>
        <div class="infobox-title">
            <h2><a href="[[link]]">[[name]]</a></h2>
            <div class="infobox-category">
                <i class="inventor-poi inventor-poi-house"></i>
                <a href="#">[[name]]</a>
            </div>
            <!-- /.infobox-category -->
        </div>
        <!-- /.infobox-title-->

        <a href="#" class="inventor-favorites-btn-toggle heart">
        <i class="fa fa-heart-o"></i> <span data-toggle="I Love It">Add to favorites</span> </a>
        <!-- /.inventor-favorites-btn-toggle -->
        <a class="close">x</a></div>
</div>