{% extends "base.html" %} {% load static %} {% block content %} {{ block.super }}
<div class="container ">
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div id="primary">
            <div class="document-title">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>Listing</li>
                </ol>
                <h1>Listing</h1>
            </div>
            <div class="posts post-detail">
                <div class="post-content">
                    <a class="listing-create" href="#">Create</a>
                    <div class="listings-system">
                        {% for activity in object_list %}
                            <div class="listing-system">
                                <div class="listing-system-row">
                                    <div class="listing-system-row-image">
                                        <a href="#" style="background-image: url('{{ activity.get_image_url}}')">
                                            <div class="ribbon warning">
                                                Pending </div>
                                            <!-- /.ribbon -->
                                        </a>
                                    </div>
                                    <!-- /.listing-system-row-image -->
                                    <div class="listing-system-row-info">
                                        <div class="listing-system-row-title">
                                            <a href="#">{{ activity.name }}</a>
                                        </div>
                                        <!-- /.listing-system-row-title -->
                                        <div class="listing-system-row-listing-type business">
                                            <i class="inventor-poi inventor-poi-condominium"></i>Category Here
                                        </div>
                                        <!-- /.listing-system-row-listing-type -->
                                    </div>
                                    <!-- /.listing-system-row-info -->
                                    <div class="listing-system-row-submission-actions">
                                        <!-- FEATURED -->
                                        <!-- PAY PER POST -->
                                    </div>
                                    <!-- /.listing-system-row-actions-submission -->
                                    <div class="listing-system-row-actions">
                                        <a href="{{ activity.get_edit_url }}" class="listing-table-action">
                                            <i class="fa fa-pencil"></i> Edit </a>
                                        <a href="{{ activity.get_delete_url }}" onclick="return confirm('Are you sure you want to delete this?')" class="listing-table-action listing-button-delete">
                                            <i class="fa fa-trash"></i> Remove </a>
                                        

                                    </div>
                                    <!-- /.listing-system-row-actions -->
                                </div>
                                <!-- /.listing-system-row -->
                            </div>
                        <!-- /.listing-system -->
                        {% endfor %}
                    </div>
                </div>
                <!-- /.post-content -->
            </div>
            <!-- /.post -->
        </div>
        <!-- /#primary -->
    </div>
    <!-- /.col-* -->
    <div class="col-sm-4 col-lg-3">
        <div class="sidebar sidebar_dashboard">
            <div class="widget widget_nav_menu" id="nav_menu-7">
                <h2 class="widgettitle">Navigation</h2>
                <div class="menu-dashboard-menu-container">
                    <ul class="menu" id="menu-dashboard-menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3444" id="menu-item-3444">
                            <a href="#"><i class="fa fa-fw fa-plus"></i>New Submission</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-674 current_page_item menu-item-3445"
                            id="menu-item-3445">
                            <a href=""><i class="fa fa-fw fa-user"></i>My Profile</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3446" id="menu-item-3446">
                            <a href="#"><i class="fa fa-fw fa-list"></i>My Listings</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3447" id="menu-item-3447">
                            <a href="#"><i class="fa fa-fw fa-heart"></i>My Favorites</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449" id="menu-item-3449">
                            <a href="#"><i class="fa fa-fw fa-file-text-o"></i>My Invoices</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450" id="menu-item-3450">
                            <a href="#"><i class="fa fa-fw fa-money"></i> Transactions</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451" id="menu-item-3451">
                            <a href="#"><i class="fa fa-fw fa-key"></i>Change Password</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.sidebar -->
    </div>
    <!-- /.col-* -->
    <!-- /.col-* -->
</div>

{% comment %}
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ contaobject_listcts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span> {% if object_list.has_next %}
    <a href="?{{page_request_var}}={{ object_list.next_page_number }}">next</a> {% endif %}
    </span>
</div>
{% endcomment %} 
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}

<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/infobox.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/markerclusterer.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/js-cookie.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/jquery-google-map.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/assets/js/inventor-google-map.js' %}"></script>

{% endblock javascripts %}