{% extends "base-dashboard.html" %} {% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
{{ block.super }}
<!-- <link rel="stylesheet" href="{% static 'calendar/fullcalendar.min.css' %}"  /> -->
<link rel="stylesheet" href="{% static 'css/plugins/bootstrap-datepicker3.min.css' %}"/>
{% endblock stylesheets %}

{% block content %}


<!-- Content
================================================== -->
<div class="dashboard-content">

    <!-- Titlebar -->
    <div id="titlebar">
        <div class="row">
            <div class="col-md-12">

                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul><li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>                                
                        <li><a href="{% url 'activities:my-list' %}">My listings</a></li>
                        <li>Services</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <div id="add-listing">

                <!-- Section -->
                <div class="add-listing-section">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <!-- Headline -->
                        <div class="add-listing-headline">
                            <h3>
                                <i class="sl sl-icon-doc"></i> {{activity.name}} Service</h3>
                        </div>

                        <!-- Title -->
                        <div class="row with-forms">
                            <div class="col-md-12">
                                <h5>Name
                                    <i class="tip"
                                       data-tip-content="Name of the service (e.g.'Beginner class', 'Private class'"></i> <i class="info-required">*</i>
                                </h5>
                                <div class="form-group">
                                    {{ form.name.errors }}
                                    {{ form.name }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h5>Start date <i class="info-required">*</i> </h5>
                                <div class="form-group">
                                    {{ form.start_date.errors }}
                                    {{ form.start_date }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h5>Start time <i class="info-required">*</i> </h5>
                                <div class="form-group">
                                    {{ form.start_time.errors }}
                                    {{ form.start_time }}
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h5>Duration ( in hours ) <i class="info-required">*</i></h5>
                                <div class="form-group">
                                    {{ form.duration.errors }}
                                    {{ form.duration }}
                                </div>
                            </div>

                            <!--<div class="col-md-3">-->
                                <!--<h5>End date-->
                                <!--</h5>-->
                                <!--<div class="form-group">-->
                                    <!--{{ form.end_date.errors }}-->
                                    <!--{{ form.end_date }}-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-md-3">-->
                                <!--<h5>End time-->
                                <!--</h5>-->
                                <!--<div class="form-group">-->
                                    <!--{{ form.end_time.errors }}-->
                                    <!--{{ form.end_time }}-->
                                <!--</div>-->
                            <!--</div>-->

                            <div class="col-md-6">
                                <h5>Repeat <i class="info-required">*</i>
                                </h5>
                                <div class="form-group">
                                    {{ form.repeat.errors }}
                                    {{ form.repeat }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h5 class="repeat_day">End repeat <i class="info-required">*</i>
                                </h5>
                                <div class="form-group">
                                    {{ form.end_repeat.errors }}
                                    {{ form.end_repeat }}
                                </div>
                            </div>
                        </div>

                        <div class="row with-forms">
                            <div class="col-md-6">
                                <h5>Spaces
                                </h5>
                                <div class="form-group">
                                    {{ form.spaces.errors }}
                                    {{ form.spaces }}
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h5>Price<i class="tip"
                                    data-tip-content="0 will show the service as FREE"></i> <i class="info-required">*</i>
                                </h5>
                                <div class="form-group">
                                    {{ form.price.errors }}
                                    <!--{{ form.price }}-->
                                    <input type="text" name="price" required="" id="id_price" value="{{form.price.value}}">
                                </div>
                            </div>
                        </div>

                        <!-- Section / End -->

                        <input type="submit" name="submit-submission" value="Save" class="button margin-top-30"/>

                    </form>
                </div>
            </div>

        </div>

    </div>
    <!-- Content / End -->

    <!-- Change repeat type popup -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide alert-boxes">
        <div class="small-dialog-header">
            <h3>Do You Really Want To Change Repeat Type ?</h3>
        </div>
        <div class="message-reply text-center margin-top-0">
            <a href="#" class="button" data-attr="yes"> Yes</a>
            <a href="" class="button cancel" data-attr="no" id="noo"> No</a>
        </div>
    </div>


    <button hidden><a href="#small-dialog" class="rate-review popup-with-zoom-anim "> </a></button>

    {% endblock content %}

</div>
<!-- Dashboard / End -->


<!-- Wrapper / End -->

{% block footer %}
<!-- No Footer
================================================== -->
{% endblock footer %}

<!-- Scripts
================================================== -->

{% block javascripts %}

{{ block.super }}
<link rel="stylesheet" href="{% static 'css/plugins/jquery.timepicker.css' %}">
<script src="{% static 'scripts/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'scripts/jquery.timepicker.js' %}"></script>
<script>

		$('#id_start_time').timepicker({ 'timeFormat': 'H:i:s'});

		var todayDate = new Date();
		var day = todayDate.getDate();
		var month = todayDate.getMonth() + 1;
		var year = todayDate.getFullYear();
		var today_formatted = day + "/" + month + "/" + year;

		$('.booking-date').datepicker({
            format: "dd/mm/yyyy",
            startDate: today_formatted,
            autoclose: true
        });

        function test(){
            $('.booking-end-date').datepicker('remove');
            $('.booking-date').datepicker({
                format: "dd/mm/yyyy",
                startDate: today_formatted,
                autoclose: true
            });
        }
        function tezt(){
            $('.booking-date').datepicker('remove');
            $('.booking-end-date').datepicker({
                multidate: true,
                format: "dd/mm/yyyy",
                startDate: today_formatted,
                autoclose: false
            });
        }

		$(document).on("focus", '#id_start_date', function(){
		    $(this).data('attr',$(this).val());
		    test();
		});

		$(document).on("click", '#id_end_repeat', function(){
		    $(this).data('attr',$(this).val());
		});

		$(document).on("blur", '#id_start_date', function(){
		    $(this).val($(this).data('attr'));
		});

		$(document).on("click", '#id_end_repeat', function(){
            if ($(this).data('attr'))
                $(this).val($(this).data('attr'));
		});


		$( document ).on("focus", '#id_end_repeat', function() {
			var repeat_val = $('#id_end_repeat').val().split(',');
			var select = $('#id_repeat').val();
			if (repeat_val.length > 1 && select == 7){
		    	$('#id_end_repeat').addClass('booking-end-date');
		    	$('.booking-end-date').datepicker('setDate',repeat_val);
		    	tezt();
		    	$('.repeat_day').html("Specify date")
			}
		});

        $(document).on("change", '#id_repeat', function(){
            var tt = $('#id_repeat').val()
            $('.rate-review').trigger("click");
            $('.mfp-close').hide();
            $('a').click(function(e){
                if ($(this).attr("data-attr") == 'yes'){
                    e.preventDefault();
                    $('.mfp-close').trigger("click");
                    $('#id_end_repeat').val('');
                    var select = $('#id_repeat').val();
                    if (select == 7){
                        $('#id_end_repeat').addClass('booking-end-date');
                        tezt();

                        $('.repeat_day').html("Specify date")
                    }else{
                        $('#id_end_repeat').addClass('booking-date');
                        test();
                        $('.repeat_day').html("End repeat")
                    }
                }else{
                    $('#id_repeat').html("<option value="+2+" selected='selected'>"+kk +"</option>");
                }
            });
        });

        $(document).on("click", '.cancel', function(){
            $('.mfp-close').trigger("click");
        })
</script>
<!-- <link href="{% static 'css/plugins/datedropper.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'scripts/datedropper.js' %}"></script>
<script>$('.booking-date').dateDropper();</script>  -->
{% endblock javascripts %}