{% extends "base-dashboard.html" %} {% load static %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'calendar/fullcalendar.min.css' %}"/>
{% endblock stylesheets %}

{% block headerStyle %}
<header id="header-container" class="fixed fullwidth dashboard">

    <!-- Header -->
    <div id="header" class="not-sticky">
        {% endblock headerStyle %} {% block logo %}
        <!-- Logo -->
        <div id="logo">
            <a href="{% url 'home' %}" class="dashboard-logo"><img src="{% static 'images/spotimist-v2-white.png' %}"
                                                                   alt=""></a>
        </div>
        {% endblock logo%} {% block headerNav %}
        <!-- No Header Navt
================================================== -->
        {% endblock headerNav %} {% block dashboardNav %}
        {{ block.super }}
        {% endblock dashboardNav %} {% block content %}
        <!-- Content
    ================================================== -->
        <div class="dashboard-content">

            <!-- Titlebar -->
            <div id="titlebar">
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{activity.name}} - Services</h2>
                        <!-- Breadcrumbs -->
                        <nav id="breadcrumbs">
							<ul><li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>                                
								<li><a href="{% url 'activities:my-list' %}">My listings</a></li>
                                <li>Services</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Listings -->
                <div class="col-lg-12 col-md-12">
                    <div class="action-buttons">
                        <!--<a href="{% url 'services-add' activity.slug %}"-->
                           <!--title="Recurring Service that needs to be booked" class="button border recurring">-->
                            <!--Create Recurring Service</a>-->

                        <!--<a href="#" class="button border create">Create Drop-in</a>-->
                        <!--<a href="#" class="button border course">Create Course</a>-->

                        {% for i in type_service %}
                            <a class="button border service" data-attr="{{i.name_code}}">Create {{i}}</a>
                        {% endfor %}
                    </div>

                    <div class="dashboard-list-box margin-top-20 ">
                        <!-- <h4>New recurring service - New Course</h4> -->

                        <ul class="margin-bottom-50">
                            {% for service in services %}


                            <!-- Remove service popup -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide alert-boxes">
                                <div class="small-dialog-header">
                                    <h3>Are You Sure ?</h3>
                                </div>
                                <div class="message-reply text-center margin-top-0">
                                    <a href="{% url 'services-delete' slug=activity.slug id=service.id %}"
                                       class="button"> Remove</a>
                                    <a class="button cancel"> Cancel</a>
                                </div>
                            </div>

                            <li>
                                <div class="list-box-listing">                                    
                                    <div class="list-box-listing-content">
                                        <!-- No idea how to fix that with a class :'( but looks prettier \o/ -->
                                        <div class="inner" id="top0">
                                            <h3>
                                                <a href="{% url 'services-edit' slug=activity.slug id=service.id %}">
                                                    {{service.name}}
                                                </a>
                                            </h3>
                                            {% if service.price == 0 %}
                                                FREE
                                            {% else %}
                                                <span>€{{service.price|stringformat:'g'}}</span>
                                            {% endif %}    
                                        </div>
                                    </div>
                                </div>
                                <div class="buttons-to-right no-opacity">
                                    <a href="{% url 'services-edit' slug=activity.slug id=service.id %}"
                                       class="button gray"><i class="sl sl-icon-note"></i> Edit</a>
                                    <a href="#small-dialog" class="button red popup-with-zoom-anim">
                                        <i class="sl sl-icon-close"></i>
                                        Remove
                                    </a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        </div>
                    <div id='calendar'></div>
                </div>

            </div>

        </div>
        <!-- Content / End -->


        {% endblock content %}

    </div>
    <!-- Dashboard / End -->
</header>

<!-- Wrapper / End -->

{% block footer %}
<!-- No Footer
================================================== -->
{% endblock footer %}

<!-- Scripts
================================================== -->

{% block javascripts %}

{{ block.super }}
<script type="text/javascript" src="{% static 'calendar/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'calendar/fullcalendar.min.js' %}"></script>


<script>
			
    $(document).ready(function() {
        var today = new Date().toJSON().slice(0,10);
        $('#calendar').fullCalendar({
            defaultView: $(window).width() < 765 ? 'agendaWeek':'month',
            defaultDate: today,
            firstDay: 1,
            editable: false,
            eventLimit: false, // allow "more" link when too many events
            events: {
                url: "{% url 'occurences-json' %}"

            }
        });

    });

    $(document).on("click", '.cancel', function(){
        $('.mfp-close').trigger("click");
    })

    $(document).on('click', ".service", function(){
        var curr_service = $(this).data('attr');
        localStorage['type'] = curr_service;
        if(curr_service == "recurring"){
            var url = "{% url 'services-add' activity.slug %}";
            window.location.href = url;
        }
    });


</script>

{% endblock javascripts %}