{% extends "base.html" %}
{% load static %}
{% block banner %}

<script type="text/javascript">
    var map;

    function initialize() {

        var lat = '{{ business.latitude }}';
        var long = '{{ business.longitude }}';

        var myLatlng = new google.maps.LatLng(lat, long)
        //Define some map options
        var mapOptions = {
            center: new google.maps.LatLng(lat, long),
            zoom: 15,
            scrollwheel: false,
            streetViewControl: false
        };

        // Create the map
        map = new google.maps.Map(document.getElementById("map"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: ''
        });

        marker.setIcon( /** @type {google.maps.Icon} */ ({
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
    }
    // [END region_fillform]
    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="detail-banner" data-background-image="{{ business.get_image_url}}">
    <div class="container">
        <div class="detail-banner-wrapper">
            <div class="detail-banner-info">
                <div class="detail-label"><i class="inventor-poi inventor-poi-university"></i>Category
                </div>
            </div>
            <h1 class="detail-title">
                {{ business.name }} 
            </h1>
            <div class="inventor-reviews-rating">
                    <span class="review-rating" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o" data-path="static/libraries/plugins/inventor-reviews/libraries/raty/images" data-score="4.00"></span>
                    <span class="review-rating-number">5.00 <span class="separator">/</span> 5</span>
                    <!-- /.review-rating-number -->
                </div>
            <div class="detail-banner-meta">
                 <div class="detail-banner-meta-info">
                     <i class="fa fa-fw fa-map-marker"></i>
                     <a href="#">{{ business.city }}</a>
                     <span class="separator"> / </span>
                      <a href="#">{{ business.country }}</a>
                </div>
            <div class="detail-banner-meta-info">
                <i class="fa fa-fw fa-folder-o"></i>
                <a href="#">Category</a>
                <span class="separator">,</span>
                <a href="#">Category</a>
            </div> 
            </div>
            <div class="detail-banner-actions">
                <a href="#" class="share-listing">
                <i class="fa fa-share-alt"></i>
                <span>Share</span>
                </a>
                <div class="modal-inner">
                    <h2>Share "{{ business.name }}"</h2>
                    <ul>
                        <li>
                        <a class="mail" href="#">
                        <i class="fa fa-envelope"></i>
                        </a>
                        </li>
                        <li>
                        <a class="facebook" href="#">
                        <i class="fa fa-facebook"></i>
                        </a>
                        </li>
                        <li>
                        <a class="google-plus" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <i class="fa fa-google"></i>
                        </a>
                        </li>
                        <li>
                        <a class="twitter" href="#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                        <i class="fa fa-twitter"></i>
                        </a>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="listing-detail-menu-wrapper">
    <div class="listing-detail-menu">
        <div class="container">
            <ul class="nav nav-pills"></ul>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.listing-detail-menu -->
</div>
<!-- /.listing-detail-menu-wrapper -->
{% endblock banner %}
{% block content %}
<div class="container ">
<div class="row">
    <div class="col-sm-8 col-lg-9">
        <div id="primary">
            <div class="content">
                <div class="listing-detail">
                    <div class="listing-detail-section" id="listing-detail-section-description">
                        <h2 class="page-header">Description</h2>
                        <div class="listing-detail-description-wrapper">
                            <p>{{ business.description|linebreaks }}</p>
                        </div>
                    </div>
                    <!-- /.listing-detail-section -->
                    <div class="listing-detail-section" id="listing-detail-section-attributes">
                        <h2 class="page-header">Activities</h2>
                        <div class="listing-detail-attributes">
                            {% for activity in activities %}
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                {{ activity.name }}
                                            </a>
                                        </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <ul class="list-group">
                                                {% for service in activity.get_services_list %}
                                                <li>{{service.name}}</li>
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            
                            <!-- <ul>
                                <li class="price">
                                    <strong class="key">Price</strong>
                                    <span class="value">from $300 per night</span>
                                </li>
                                <li class="listing_hotel_class">
                                    <strong class="key">Hotel class</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/hotel-class/2-stars-standard/">2 stars - Standard</a></span>
                                </li>
                                <li class="listing_hotel_rooms">
                                    <strong class="key">Rooms</strong>
                                    <span class="value">1</span>
                                </li>
                                <li class="listing_locations">
                                    <strong class="key">Location / Region</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/location/long-island/">Long Island</a><span class="separator"> / </span>                                    <a href="http://preview.byaviators.com/theme/superlist/location/long-island/nassau/">Nassau County</a></span>
                                </li>
                                <li class="listing_listing_category">
                                    <strong class="key">Listing categories</strong>
                                    <span class="value"><a href="http://preview.byaviators.com/theme/superlist/listing-category/hotels/">Hotels</a><span class="separator"> / </span>                                    <a href="http://preview.byaviators.com/theme/superlist/listing-category/bed-and-breakfast/">Bed and breakfast</a></span>
                                </li>
                            </ul> -->
                        </div>
                        <!-- /.listing-detail-attributes -->
                    </div>
                    <!-- /.listing-detail-section -->
                    <div class="listing-detail-section" id="listing-detail-section-location">
                        <h2 class="page-header">Location</h2>
                        <div class="listing-detail-location-wrapper">
                            <!-- Nav tabs -->
                            <ul id="listing-detail-location" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="nav-item active">
                                    <a href="#simple-map-panel" aria-controls="simple-map-panel" role="tab" data-toggle="tab" class="nav-link">
                                        <i class="fa fa-map"></i>Map </a>
                                </li>
                                <li class="nav-item directions">
                                    <a href="https://maps.google.com?daddr={{ business.latitude }},{{ business.longitude }}" class="nav-link" target="_blank">
                                        <i class="fa fa-level-down"></i>Directions </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="simple-map-panel">
                                    <div class="detail-map">
                                        <div class="map-position">
                                             <div id="map" style="width:100%;height:350px;"></div>
                                        <!-- /#map-property -->
                                    </div>
                                    <!-- /.map-property -->
                                </div>
                                <!-- /.detail-map -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.listing-detail-section -->
                <div class="listing-detail-section" id="listing-detail-section-contact">
                    <h2 class="page-header">Contact</h2>
                    <div class="listing-detail-contact">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li class="email">
                                        <strong class="key">E-mail</strong>
                                        <span class="value">
                                        <a href="mailto:{{ business.email }}">{{ business.email }}</a>
                                    </span>
                                    </li>
                                    <li class="website">
                                        <strong class="key">Website</strong>
                                        <span class="value">
                                        <a href="{{ business.website }}" target="_blank">{{ business.website }}</a>
                                    </span>
                                    </li>
                                    <li class="phone">
                                        <strong class="key">Phone</strong>
                                        <span class="value"><a href="tel:{{ business.phone }}">{{ business.phone }}</a></span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-* -->
                            <div class="col-md-6">
                                <ul>
                                    <li class="address">
                                        <strong class="key">Address</strong>
                                        <span class="value">{{ business.address }}</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.listing-detail-contact -->
                </div>
                <!-- /.listing-detail-section -->
                <div id="listing-detail-section-reviews" class="listing-detail-section">
                    <h2 class="page-header review-title">
                        One review on &ldquo;{{ business.name }}&rdquo;
                    </h2>
                    
                    <ul class="review-list">
                        {% for review in reviews %}
                        <li>
                            <div class="review clearfix">
                                <div class="review-image" data-background-image="">
                                    <img src="" alt="">
                                </div>
                                <!-- /.review-image -->
                                <div class="review-inner">
                                    <div class="review-header">
                                        <h2>{{ review.user.get_full_name}}</h2> <br />
                                        <h4>{{ review.title }}</h4>
                                        <div class="review-rating-wrapper">
                                            <span class="review-rating" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o"
                                                data-path=""
                                                data-score="{{ review.rating }}"></span>
                                                <span class="review-rating-number">
                            <strong>Rating:</strong>  <span class="separator">/</span>
                                                </span>
                                        </div>
                                        <!-- /.review-rating-wrapper -->
                                    </div>
                                    <!-- /.review-header -->
                                    <div class="review-content-wrapper">
                                        <div class="review-content">
                                            <div class="review-pros">
                                                <div class="review-comment-subtitle">
                                                    <strong>Pros</strong>
                                                </div>
                                                <!-- /.review-comment-subtitle -->
                                                <p>
                                                    {{ review.content_positive|linebreaks}}
                                                </p>
                                            </div>
                                            <!-- /.review-pros -->
                                            <div class="review-cons">
                                                <div class="review-comment-subtitle">
                                                    <strong>Cons</strong>
                                                </div>
                                                <!-- /.review-comment-subtitle -->
                                                <p>
                                                    {{ review.content_negative|linebreaks}}
                                                </p>
                                            </div>
                                            <!-- /.review-cons -->
                                        </div>
                                        <!-- /.review-content -->
                                    </div>
                                    <!-- /.review-content-wrapper -->
                                </div>
                                <!-- /.review-inner -->
                            </div>
                            <!-- /.review -->
                        </li>
                        {% endfor %}
                        <!-- #comment-## -->
                    </ul>
                    <!-- /.comment-list -->
                   
                </div>
                <!-- #review -->
                <div class="listing-report">
                    <a href="" class="listing-report-btn">
                        <i class="fa fa-flag-o"></i>
                        <span>Report spam, abuse, or inappropriate content</span>
                    </a>
                    <!-- /.listing-report-btn-->
                </div>
                <!-- /.listing-report -->
            </div>
            <!-- /.listing-detail -->
        </div>
        <!-- /.content -->
    </div>
    <!-- #primary -->
</div>
<!-- /.col-* -->
<div class="col-sm-4 col-lg-3">
    <div id="secondary" class="secondary sidebar">
        <div id="listing_author-2" class="widget widget_listing_author">
            <div class="widget-inner">
                <div class="listing-author">
                    
                    <a href="#" class="listing-author-image" data-background-image="#">
                        <img src="#" alt="">
                    </a>
                    <!-- /.listing-author-image -->
                    <div class="listing-author-name">
                        <a href="#">
                        {{ business.user.firstname }} {{ business.user.lastname }}</a>
                    </div>
                    <!-- /.listing-author-name -->
                    <div class="listing-author-contact">
                        <a href="mailto:#">Message</a>
                    </div>
                    <!-- /.listing-author-contact -->
                    <div class="listing-author-social">
                        <a href="#facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="#twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                    </div>
                    <!-- /.listing-author-social -->
                </div>
                <!-- /.listing-author -->
        </div>
        <!-- /.widget-inner -->
    </div>
    <div id="listing_details-2" class="widget widget_listing_details">
        <div class="widget-inner">
            <div class="inventor-reviews-total-rating">
                <i class="fa fa-star"></i>
                <strong>{{activity.get_rating}} / 5 </strong> from <a href="#listing-detail-section-reviews">{{activity.get_reviews_count}} review</a>

            </div>
            <!-- /.inventor-reviews-total-rating -->
        </div>
        <!-- /.widget-inner -->
    </div>
    
    {% for hours in opening_hours %}
        <strong>{{hours.get_weekday_display}} </strong>
        {{hours.from_hour}} - {{hours.to_hour}} <br />
    {% endfor %}

   
</div>
<!-- /#secondary -->
</div>
<!-- /.col-* -->
</div>
<!-- /.row -->
</div>

{% endblock content %}