{% extends "base.html" %} {% load static %} {% block map %}
<div id="google-map-4" class="widget widget_google-map">
    <div class="widget-inner">
        <div class="map-wrapper">
            <div class="map-inner " data-height="340px">
                <div class="map-google">
                    <div class="map-google-inner" style="height: 340px">

                        <div class="map" id="map" data-transparent-marker-image="{% static 'img/transparent-marker-image.png' %}" data-marker-style="thumbnail"
                            data-max-pins="" data-orderby="on" data-latitude="40.716775" data-longitude="-73.997580" data-grid-size="60"
                            data-ajax-action="{{ api_url }}" data-show-all-markers="on" data-filter-query="q=/listings/&sort-by=title"
                            data-geolocation="false" data-zoom="12" data-fit-bounds="true" data-styles='[{"featureType":"water","stylers":[{"saturation":43},{"lightness":-11},{"hue":"#0088ff"}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"},{"saturation":-100},{"lightness":99}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#aaaaaa"},{"lightness":54}]},{"featureType":"landscape.man_made","elementType":"geometry.fill","stylers":[{"color":"#f0ece9"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#ccdca1"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#767676"}]},{"featureType":"road","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"landscape.natural","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#b8cb93"}]},{"featureType":"poi.park","stylers":[{"visibility":"on"}]},{"featureType":"poi.sports_complex","stylers":[{"visibility":"on"}]},{"featureType":"poi.medical","stylers":[{"visibility":"on"}]},{"featureType":"poi.business","stylers":[{"visibility":"simplified"}]}]'>

                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <!-- /.map -->
                    </div>
                    <!-- /.map-google-inner -->

                    <div class="map-switch">Toggle Map</div>
                    <!-- /.map-switch -->
                </div>
                <!-- /.map-google -->

                <div class="map-content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="map-actions">
                                    <div class="map-actions-group">
                                        <a id="map-control-type-roadmap"><span>Roadmap</span></a>
                                        <a id="map-control-type-terrain"><span>Terrain</span></a>
                                        <a id="map-control-type-satellite"><span>Satellite</span></a>
                                    </div>
                                    <!-- /.map-actions-group -->

                                    <div class="map-actions-group">
                                        <a id="map-control-zoom-in">
													<span>Zoom In</span>
												</a>

                                        <a id="map-control-zoom-out">
													<span>Zoom Out</span>
												</a>
                                    </div>
                                    <!-- /.map-actions-group -->

                                    <div class="map-actions-group">
                                        <a id="map-control-current-position">
					                                <span>Current Position</span>
					                            </a>
                                    </div>
                                    <!-- /.map-actions-group -->
                                </div>
                                <!-- /.map-actions -->
                            </div>
                            <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </div>
                <!-- /.map-content -->
            </div>
            <!-- /.map-inner -->
        </div>
        <!-- /.map-wrapper -->
    </div>
    <!-- /.widget-inner -->

</div>
{% endblock map %} {% block content %} {{ block.super }}
<div class="container ">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <div id="primary">
                <div class="document-title">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li>Listing</li>
                    </ol>
                    <h1>Listings</h1>
                </div>
                <div id="filter-3" class="widget widget_filter">
                    <div class="widget-inner widget-pb">
                        <form method="get" action="#" class="filter-form ">
                            <div class="form-group form-group-keyword">
                                <input type="text" name="keyword" placeholder="Keyword" class="form-control" value="" id="filter-3_keyword">
                            </div>
                            <!-- /.form-group -->
                            <div class="form-group form-group-geolocation">

                                <input type="text" name="geolocation" placeholder="Location" class="form-control form-control-geolocation" value="" id="filter-3_geolocation">

                                <input type="hidden" name="latitude" value="">
                                <input type="hidden" name="longitude" value="">
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group form-group-listing-categories">
                                <select class="form-control" name="listing_categories" data-size="10" data-live-search="true" id="inventor_cover-2_listing_categories">
                                <option value="">Category</option>
                                
                                {% for cat in categories %}
                                    <option {% if cat.slug == selected_category %} selected=selected {% endif %} value="{{cat.slug}}" > {{cat.name}}</option>
                                {% endfor %}
                            </select>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group form-group-button">
                                <button class="button" type="submit">Filter</button>
                            </div>
                            <!-- /.form-group -->

                            <div class="filter-sorting-options clearfix">
                                <div class="filter-sorting-inner">
                                    <div class="filter-sorting-inner-group filter-sorting-inner-group-types">
                                        <strong>Sort:</strong>
                                        <ul>
                                            <li>
                                                <a class="filter-sort-by-price ">
                                            Price                            <input type="hidden" name="sort-by" value="price" disabled>
                                        </a>
                                            </li>
                                            <li>
                                                <a class="filter-sort-by-title active">
                                            Title                            <input type="hidden" name="sort-by" value="title" >
                                        </a>
                                            </li>
                                            <li>
                                                <a class="filter-sort-by-published ">
                                            Published                            <input type="hidden" name="sort-by" value="published" disabled>
                                        </a>
                                            </li>
                                            <li>
                                                <a class="filter-sort-by-rating ">
                                            Rating                            <input type="hidden" name="sort-by" value="rating" disabled>
                                        </a>
                                            </li>
                                            <li>
                                                <a class="filter-sort-by-popularity ">
                                            Popularity                            <input type="hidden" name="sort-by" value="popularity" disabled>
                                        </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.filter-sorting-inner-group -->

                                    <div class="filter-sorting-inner-group filter-sorting-inner-group-order">
                                        <strong>Order:</strong>
                                        <ul>
                                            <li>
                                                <a class="filter-sort-order-asc ">
                                                <input type="hidden" name="order" value="asc" disabled> Asc </a>
                                            </li>
                                            <li>
                                                <a class="filter-sort-order-desc active">
                                                <input type="hidden" name="order" value="desc" disabled> Desc </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.filter-sorting-inner-group -->

                                    <div class="filter-sorting-inner-styles">
                                        <ul>
                                            <li>
                                                <a class="listing-display-rows active">
                                                <span>Rows</span>
                                                <input type="hidden" name="listing-display" value="rows" disabled>
                                            </a>
                                            </li>

                                            <li>
                                                <a class="listing-display-grid ">
                                                <span>Grid</span>
                                                <input type="hidden" name="listing-display" value="grid" disabled>
                                            </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /.filter-sorting-inner -->
                            </div>
                            <!-- /.filter-sorting-options -->
                        </form>


                        <h3 class="filter-result-numbers">
                            <span class="match">{{activities_count}}</span> listings found </h3>

                    </div>
                    <!-- /.widget-inner -->

                </div>
                <div class="listings-row">
                    {% for activity in object_list %}
                    <div class="listing-container">
                        <div class="listing-container">
                            <div class="listing-row ">
                                <div class="listing-row-image" style="background-image: url('{{ activity.get_image_url}}');">
                                    <a href="{{activity.get_absolute_url}}" class="listing-row-image-link"></a>

                                    <div class="listing-row-actions">
                                        <a href="#" class="inventor-favorites-btn-toggle heart" data-ajax-url="#">
                                        <i class="fa fa-heart-o"></i> <span data-toggle="I Love It">Add to favorites</span>
                                    </a>
                                        <!-- /.inventor-favorites-btn-toggle -->
                                        <a href="#" class="share-listing">
                                        <i class="fa fa-share-alt"></i>
                                        <span>Share</span>
                                    </a>

                                        <div class="modal-inner">
                                            <h2>Share "{{activity.name}}"</h2>

                                            <ul>
                                                <li>
                                                    <a class="mail" href="mailto:?subject=Light+Heaven+Hotel&amp;body=#">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                                </li>

                                                <li>
                                                    <a class="facebook" href="https://www.facebook.com/share.php?u=#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                                </li>

                                                <li>
                                                    <a class="google-plus" href="https://plus.google.com/share?url=#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                                </li>

                                                <li>
                                                    <a class="twitter" href="https://twitter.com/home?status=Light%20Heaven%20Hotel+#" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- /.modal-inner -->
                                    </div>
                                    <!-- /.listing-row-actions -->
                                    <div class="listing-row-label-bottom"> Category </div>
                                    <!-- /.listing-row-label-bottom -->
                                </div>
                                <!-- /.listing-row-image -->


                                <div class="listing-row-body">
                                    <h2 class="listing-row-title"><a href="{{activity.get_absolute_url}}">{{activity.name}}</a></h2>
                                    <div class="listing-row-content">
                                        <p>{{activity.description|truncatechars:110}}</p>
                                        <p>
                                            <a class="read-more-link" href="{{activity.get_absolute_url}}">Read More<i class="fa fa-chevron-right"></i></a>
                                        </p>
                                    </div>
                                    <!-- /.listing-row-content -->
                                </div>
                                <!-- /.listing-row-body -->

                                <div class="listing-row-properties">
                                    <dl>
                                        <dt>Price</dt>
                                        <dd>from $350 per night</dd>
                                        <dt>Location</dt>
                                        <dd><a href="#">Suffolk County</a></dd>
                                        <dt>Rating</dt>
                                        <dd class="">
                                            <span class="review-rating" data-fontawesome data-starOn="fa fa-star" data-starHalf="fa fa-star-half-o" data-starOff="fa fa-star-o"
                                                data-path="#" data-score="{{activity.get_rating}}"></span>
                                            <span class="review-rating-number">5.00 <span class="separator">/</span> 5</span>
                                            <!-- /.review-rating-number -->
                                        </dd>



                                        <dt>Views</dt>
                                        <dd>
                                            7813 </dd>
                                    </dl>
                                </div>
                                <!-- /.listing-row-properties -->
                            </div>
                            <!-- /.listing-row -->
                        </div>
                        <!-- /.listing-container -->
                    </div>
                    <!-- /.listing-container -->
                    {% endfor %}
                </div>
                <!-- /.listings-row -->
            </div>
            <!-- /#primary -->
        </div>
        <!-- /.col-* -->
        <div class="col-sm-4 col-lg-3">
            <div class="sidebar sidebar_dashboard">
                <div class="widget widget_nav_menu" id="nav_menu-7">
                    <h2 class="widgettitle">Navigation</h2>
                    <div class="menu-dashboard-menu-container">
                        <ul class="menu" id="menu-dashboard-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3444" id="menu-item-3444">
                                <a href="#"><i class="fa fa-fw fa-plus"></i>New Submission</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-674 current_page_item menu-item-3445"
                                id="menu-item-3445">
                                <a href=""><i class="fa fa-fw fa-user"></i>My Profile</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3446" id="menu-item-3446">
                                <a href="#"><i class="fa fa-fw fa-list"></i>My Listings</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3447" id="menu-item-3447">
                                <a href="#"><i class="fa fa-fw fa-heart"></i>My Favorites</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3449" id="menu-item-3449">
                                <a href="#"><i class="fa fa-fw fa-file-text-o"></i>My Invoices</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3450" id="menu-item-3450">
                                <a href="#"><i class="fa fa-fw fa-money"></i> Transactions</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3451" id="menu-item-3451">
                                <a href="#"><i class="fa fa-fw fa-key"></i>Change Password</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.sidebar -->
        </div>
        <!-- /.col-* -->
        <!-- /.col-* -->
    </div>

    {% comment %}
    <div class="pagination">
        <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{page_request_var}}={{ contaobject_listcts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span> {% if object_list.has_next %}
        <a href="?{{page_request_var}}={{ object_list.next_page_number }}">next</a> {% endif %}
        </span>
    </div>
    {% endcomment %}
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}

<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/infobox.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/markerclusterer.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/js-cookie.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/libraries/jquery-google-map/jquery-google-map.js' %}"></script>
<script type='text/javascript' src="{% static 'libraries/plugins/inventor-google-map/assets/js/inventor-google-map.js' %}"></script>

{% endblock javascripts %}