{% extends "base.html" %} {% load static %}
{% load i18n %}

 {% block map %}
<div id="inventor_cover-2" class="widget widget_inventor_cover">

    <div id="video-outer-wrap" class="inventor-cover" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/photo-1441484295955-db07de1fdbad.jpeg');height: 700px">
        <div id="video-wrap"></div>
        <!-- /#video-wrap -->

        <div class="video-wrapper-overlay" style="opacity:0.5;background-color:#242424;"></div>
        <!-- /.video-wrapper-overlay -->
    </div>
    <!-- /#video-outer-cover -->

    <div class="inventor-cover-title">
        <h1>Register your Business and start get bookings</h1>

        <h2>Quisque efficitur mauris nec placerat pulvinar. Nam vel magna orci. Vestibulum pretium posuere diam</h2>
    </div>
    <!-- /.inventor-cover-title -->
</div>
<script>
    var videoCanvas = jQuery('#inventor-cover');
</script>
{% endblock map %}

{% block content %} 
<div class="container ">


{{ block.super }}

<div class="widget widget_listings" id="listings-2">
    <div class="widget-inner widget-border-top widget-pt widget-pb">
        <h2 class="widgettitle"><strong>SOME MORE</strong> CONTENT</h2>
        <div class="description">
            Why you should join etc..
        </div>
        <!-- /.description -->
        <div class="type-box items-per-row-4">
            <div class="listings-row">
                <div class="listing-container">

                    
                    <!-- /.listing-box -->
                </div>
                <!-- /.listing-container -->
            </div>
        </div>
        <!-- /.type-* -->
    </div>
    <!-- /.widget-inner -->
</div>

<div id="inventor_boxes-2" class="widget widget_inventor_boxes">
    <div class="widget-inner background-dark widget-pt widget-pb" style="background-color: #212121;">
        <div class="row">
            <div class="boxes-title-description col-md-4">
                <h2 class="widgettitle">
                    WHAT WE <strong>OFFER</strong></h2>
                <!-- /.widgettitle -->

                <div class="description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales lectus ut tellus pharetra, ac pretium urna pharetra.
                    Ut in odio varius, posuere dolor nec, auctor erat. </div>
                <!-- /.description -->

                <a class="btn btn-primary" href="http://themeforest.net/item/superlist-directory-wordpress-theme/13507181?ref=aviators">Full features</a>
                <!-- /.btn -->
            </div>
            <div class="boxes-condensed col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="box box-number-1 ">
                            <div class="box-inner">
                                <div class="box-icon">
                                    <i class="fa fa-life-ring"></i> </div>
                                <!-- /.box-icon -->

                                <div class="box-body">
                                    <h4 class="box-title">
                                        For customers </h4>
                                    <!-- /.box-title -->

                                    <div class="box-content">
                                        We are always ready to answer all of your questions. Don't hesitate to contact us. </div>
                                    <!-- /.box-content -->

                                    <a href="http://themeforest.net/item/superlist-directory-wordpress-theme/13507181?ref=aviators" class="box-read-more">Read More</a>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-inner -->

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-sm-12 col-md-4">
                        <div class="box box-number-2 ">
                            <div class="box-inner">
                                <div class="box-icon">
                                    <i class="fa fa-flask"></i> </div>
                                <!-- /.box-icon -->

                                <div class="box-body">
                                    <h4 class="box-title">
                                        For Your Business </h4>
                                    <!-- /.box-title -->

                                    <div class="box-content">
                                        Our dedicated team of developers are implementing awesome features. </div>
                                    <!-- /.box-content -->

                                    <a href="http://themeforest.net/item/superlist-directory-wordpress-theme/13507181?ref=aviators" class="box-read-more">Read More</a>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-inner -->

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col-* -->
                    <div class="col-sm-12 col-md-4">
                        <div class="box box-number-3 ">
                            <div class="box-inner">
                                <div class="box-icon">
                                    <i class="fa fa-thumbs-up"></i> </div>
                                <!-- /.box-icon -->

                                <div class="box-body">
                                    <h4 class="box-title">
                                        Best Quality </h4>
                                    <!-- /.box-title -->

                                    <div class="box-content">
                                        We do our best to follow best practices, optimize page performance and maximize security. </div>
                                    <!-- /.box-content -->

                                    <a href="http://themeforest.net/item/superlist-directory-wordpress-theme/13507181?ref=aviators" class="box-read-more">Read More</a>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box-inner -->

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.widget-inner -->

</div>


<div id="faq-2" class="widget widget_faq">
    <div class="widget-inner condensed widget-border-bottom widget-pt widget-pb" style="background-color: #f3f3f3;">

        <h2 class="widgettitle"> <strong>FAQ</strong>s </h2>

        <div class="description">
            Frequently Asked Questions </div>
        <!-- /.description -->

        <div class="faq">
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-3442">Can I change colors of the theme?</a>
                        </h2>
                    </div>
                    <div id="faq-3442" class="faq-item-answer collapse">
                        <p>You can either choose one of the predefined color variations or you can compile your own CSS file.
                            Read more in our <a href="http://inventorwp.com/documentation/user-guide/custom-colors.html"
                                target="_blank">documentation</a>.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-3441">Do you offer theme installation service?</a>
                        </h2>
                    </div>
                    <div id="faq-3441" class="faq-item-answer collapse">
                        <p>If you need help with the theme installation, contact us regarding custom work, we will talk about
                            it.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-3440">What payment gateways are implemented?</a>
                        </h2>
                    </div>
                    <div id="faq-3440" class="faq-item-answer collapse">
                        <p>You can choose PayPal, Stripe or basic wire transfer. If you need other payment gateway, feel free
                            to ask us for <a href="http://byaviators.com/en/custom-work/">custom development</a>.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-3439">How can I translate it to my language?</a>
                        </h2>
                    </div>
                    <div id="faq-3439" class="faq-item-answer collapse">
                        <p>You can do it easily using translatable .pot files. Read more in our <a href="http://inventorwp.com/documentation/user-guide/translations.html"
                                target="_blank">documenation</a>.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-3438">
                                Is it PHP 7 ready?                            </a>
                        </h2>
                    </div>
                    <div id="faq-3438" class="faq-item-answer collapse">
                        <p>Yes it is. Enjoy the performance of the PHP7 version.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-538">
                                Are there any hidden fees?                            </a>
                        </h2>
                    </div>
                    <div id="faq-538" class="faq-item-answer collapse">
                        <p>Absolutely not. All features are included in the plugins bundled inside. You don&#8217;t need to
                            pay for any extra third party plugins. </p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-537">
                                Is it difficult to build content like in this demo?                            </a>
                        </h2>
                    </div>
                    <div id="faq-537" class="faq-item-answer collapse">
                        <p>You don&#8217;t need to build it from scratch. You can use our One-Click installation tool to import
                            whole demo content. </p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-536">
                                Can I define my own fields?                            </a>
                        </h2>
                    </div>
                    <div id="faq-536" class="faq-item-answer collapse">
                        <p>Yes of course. You can do it either using our field mnanager or you can follow our guide for developers
                            in our <a href="http://inventorwp.com/documentation/" target="_blank">online documentation</a>.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-535">
                                Is there an online user documentation?                            </a>
                        </h2>
                    </div>
                    <div id="faq-535" class="faq-item-answer collapse">
                        <p>Yes there is. It is available at <a href="http://inventorwp.com/documentation/" target="_blank">http://inventorwp.com/documentation/</a>                            and we do our best to keep our online documentation always up to date.</p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
            <div class="faq-item-wrapper panel">
                <div class="faq-item">
                    <div class="faq-item-question">
                        <h2>
                            <a data-toggle="collapse" class="collapsed" href="#faq-534">
                                I don&#8217;t need some features, can I disable them?                            </a>
                        </h2>
                    </div>
                    <div id="faq-534" class="faq-item-answer collapse">
                        <p>Sure, you don&#8217;t need to use any of the included features. Just deactivate the specific plugin
                            or switch it off in the customizer. </p>
                    </div>
                </div>
                <!-- /.faq-item -->
            </div>
            <!-- /.faq-item-wrapper -->
        </div>
        <!-- /.faq -->


    </div>
    <!-- /.widget-inner -->

</div>

<div id="inventor_boxes-4" class="widget widget_inventor_boxes">
    <div class="widget-inner boxes-centered background-primary background-dark boxes-numbers background-semitransparent	widget-pt widget-pb">

        <div class="row">
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="box box-number-1 ">
                    <div class="box-inner">
                        <div class="box-icon">
                            <i class="fa fa-file"></i> </div>
                        <!-- /.box-icon -->

                        <div class="box-body">
                            <h4 class="box-title">
                                LISTINGS </h4>
                            <!-- /.box-title -->

                            <div class="box-number" data-value="108">
                                108 </div>
                            <!-- /.box-number -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box-inner -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="box box-number-2 ">
                    <div class="box-inner">
                        <div class="box-icon">
                            <i class="fa fa-user"></i> </div>
                        <!-- /.box-icon -->

                        <div class="box-body">
                            <h4 class="box-title">
                                USERS </h4>
                            <!-- /.box-title -->

                            <div class="box-number" data-value="626">
                                626 </div>
                            <!-- /.box-number -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box-inner -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="box box-number-3 ">
                    <div class="box-inner">
                        <div class="box-icon">
                            <i class="fa fa-list"></i> </div>
                        <!-- /.box-icon -->

                        <div class="box-body">
                            <h4 class="box-title">
                                LISTING TYPES </h4>
                            <!-- /.box-title -->

                            <div class="box-number" data-value="13">
                                13 </div>
                            <!-- /.box-number -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box-inner -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-* -->
            <div class="col-sm-12 col-lg-3 col-md-6">
                <div class="box box-number-4 ">
                    <div class="box-inner">
                        <div class="box-icon">
                            <i class="fa fa-folder-open"></i> </div>
                        <!-- /.box-icon -->

                        <div class="box-body">
                            <h4 class="box-title">
                                CATEGORIES </h4>
                            <!-- /.box-title -->

                            <div class="box-number" data-value="77">
                                77 </div>
                            <!-- /.box-number -->
                        </div>
                        <!-- /.box-body -->

                    </div>
                    <!-- /.box-inner -->

                </div>
                <!-- /.box -->
            </div>
            <!-- /.col-* -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.widget-inner -->

</div>

<div id="testimonials-3" class="widget widget_testimonials">
    <div class="widget-inner widget-pt widget-pb" style="background-color: #ffffff;">
        <h2 class="widgettitle"> HAPPY <strong>CUSTOMERS</strong> </h2>

        <div class="description">
            Read testimonials about our directory services and products. </div>
        <!-- /.description -->

        <div class="testimonials">
            
            <div class="testimonial">

                <div class="testimonial-image" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/user-1.jpg');"></div>
                <!-- /.testimonial-image -->

                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>Exactly What I Need</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- /.testimonial-rating -->

                    </div>
                    <!-- /.testimonial-title -->

                    <div class="testimonial-content">
                        <p>Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus
                            elit. Donec vel enim sit amet lorem vulputate condimentum. Duis et magna vel est tempus vehicula
                            vitae sit amet enim. Sed vitae ligula congue, luctus mauris eu, scelerisque felis.</p>
                    </div>

                    <div class="testimonial-sign">
                        - Fiona Wilson </div>
                    <!-- /.testimonial-sign -->
                </div>
                <!-- /.testimonial-inner -->
            </div>
            <!-- /.testimonial -->


            <div class="testimonial">

                <div class="testimonial-image" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/user-6.jpg');"></div>
                <!-- /.testimonial-image -->

                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>Totally Impressed</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- /.testimonial-rating -->

                    </div>
                    <!-- /.testimonial-title -->

                    <div class="testimonial-content">
                        <p>Curabitur scelerisque nulla consequat elit semper, vitae lobortis velit tempor. Sed purus eros, pellentesque
                            non maximus scelerisque, aliquam id magna. Integer in metus ante. Integer faucibus mi quis rhoncus
                            cursus.</p>
                    </div>

                    <div class="testimonial-sign">
                        - Richard Peterson </div>
                    <!-- /.testimonial-sign -->
                </div>
                <!-- /.testimonial-inner -->
            </div>
            <!-- /.testimonial -->


            <div class="testimonial">

                <div class="testimonial-image" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/user-5.jpg');"></div>
                <!-- /.testimonial-image -->

                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>Awesome Directory</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- /.testimonial-rating -->

                    </div>
                    <!-- /.testimonial-title -->

                    <div class="testimonial-content">
                        <p>Donec finibus consectetur nunc, quis viverra nisi iaculis a. Donec non eros vel turpis bibendum sodales.
                            Curabitur scelerisque nulla consequat elit semper, vitae lobortis velit tempor. Sed purus eros,
                            pellentesque non maximus scelerisque, aliquam id magna. Integer in metus ante. Integer faucibus
                            mi quis rhoncus cursus. Aliquam malesuada eleifend tellus, sit amet eleifend lacus aliquam in.
                            Etiam a neque ut augue mattis gravida vel vel purus. Nullam bibendum viverra enim, in pretium
                            purus. Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue, luctus
                            mauris eu, scelerisque felis. Integer faucibus mi quis rhoncus cursus. Curabitur scelerisque
                            nulla consequat elit semper.</p>
                    </div>

                    <div class="testimonial-sign">
                        - Rachel Fast </div>
                    <!-- /.testimonial-sign -->
                </div>
                <!-- /.testimonial-inner -->
            </div>
            <!-- /.testimonial -->


            <div class="testimonial">

                <div class="testimonial-image" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/user-2.jpg');"></div>
                <!-- /.testimonial-image -->

                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>Best Support Ever</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- /.testimonial-rating -->

                    </div>
                    <!-- /.testimonial-title -->

                    <div class="testimonial-content">
                        <p>Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue, luctus mauris
                            eu, scelerisque felis.</p>
                    </div>

                    <div class="testimonial-sign">
                        - Natasha Samson </div>
                    <!-- /.testimonial-sign -->
                </div>
                <!-- /.testimonial-inner -->
            </div>
            <!-- /.testimonial -->


            <div class="testimonial">

                <div class="testimonial-image" style="background-image: url('http://superlist.byaviators.com/wp-content/uploads/2015/09/photo-1427097886142-1fd181454991-300x300.jpeg');"></div>
                <!-- /.testimonial-image -->

                <div class="testimonial-inner">
                    <div class="testimonial-title">
                        <h2>Best Directory</h2>

                        <div class="testimonial-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- /.testimonial-rating -->

                    </div>
                    <!-- /.testimonial-title -->

                    <div class="testimonial-content">
                        <p>Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue, luctus mauris
                            eu, scelerisque felis.</p>
                    </div>

                    <div class="testimonial-sign">
                        - Kim Glove </div>
                    <!-- /.testimonial-sign -->
                </div>
                <!-- /.testimonial-inner -->
            </div>
            <!-- /.testimonial -->


        </div>
        <!-- /.faq -->
    </div>
    <!-- /.widget-inner -->

</div>
<div id="apply-3" class="widget ">
    <div class="widget-inner widget-pt widget-pb" style="background-color: #ffffff;">
        <h2 class="widgettitle"> <strong>APPLY</strong> NOW</h2>

        <div class="description">
            Read testimonials about our directory services and products.</div>
            
            <div class="row registration-page">
                <form class="signup" id="signup_form" method="post">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="registration-note">
                            <div class="registration-icon">
                            </div>
                            <div class="registration-content">
                                <h3 class="registration-title">About your business</h3>
                                
                            </div>
                            <p></p>
                        </div>
                            {% csrf_token %}

                            {{ form.as_p }}
                            
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button type="submit">{% trans "Sign Up" %} &raquo;</button> 
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="registration-note">
                            <div class="registration-icon">
                            </div>
                            <div class="registration-content">
                                <h3 class="registration-title">About you</h3>
                                
                            </div>
                            <p></p>
                        </div>
                        
                        {% if user.is_authenticated %}
                        
                        Logged in as {{request.user.get_full_name}}

                        {% endif %}
                        
                        {% if not user.is_authenticated %}
                        
                        {% comment %} <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}"> {% endcomment %}
                                {% csrf_token %}
                                {{ uform.as_p }}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
                            {% comment %} </form> {% endcomment %}

                        {% endif %}

                    </div>
                </form>
            </div>
    </div>
</div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super }}

<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/comment-reply.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/themes/superlist/assets/libraries/owl.carousel/owl.carousel.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor/assets/js/inventor.js?ver=20170131'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/imagesloaded.min.js?ver=3.2.0'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/masonry.min.js?ver=3.3.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor/libraries/fullcalendar-3.0.1/lib/moment.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor/libraries/fullcalendar-3.0.1/fullcalendar.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-boxes/assets/js/inventor-boxes.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-boxes/assets/libraries/jquery.animateNumber.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-claims/assets/js/inventor-claims.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-compare/assets/js/inventor-compare.js?ver=20170107'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-coupons/assets/js/inventor-coupons.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-favorites/assets/js/inventor-favorites.js?ver=20161119'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-google-map/libraries/jquery-google-map/infobox.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-google-map/libraries/jquery-google-map/markerclusterer.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-google-map/libraries/js-cookie.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-google-map/libraries/jquery-google-map/jquery-google-map.js?ver=20161208'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-google-map/assets/js/inventor-google-map.js?ver=20161206'></script>
<script type='text/javascript' async defer src='http://superlist.byaviators.com/wp-content/plugins/inventor-recaptcha/assets/js/inventor-recaptcha.js?ver=1'></script>
<script type='text/javascript' async defer src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&#038;render=explicit&#038;ver=1'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-reviews/assets/script.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-reviews/libraries/raty/jquery.raty.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/underscore.min.js?ver=1.8.3'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/shortcode.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/backbone.min.js?ver=1.2.3'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpUtilSettings = {
        "ajax": {
            "url": "\/wp-admin\/admin-ajax.php"
        }
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/wp-util.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/wp-backbone.min.js?ver=4.7.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var _wpMediaModelsL10n = {
        "settings": {
            "ajaxurl": "\/wp-admin\/admin-ajax.php",
            "post": {
                "id": 0
            }
        }
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/media-models.min.js?ver=4.7.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var pluploadL10n = {
        "queue_limit_exceeded": "You have attempted to queue too many files.",
        "file_exceeds_size_limit": "%s exceeds the maximum upload size for this site.",
        "zero_byte_file": "This file is empty. Please try another.",
        "invalid_filetype": "This file type is not allowed. Please try another.",
        "not_an_image": "This file is not an image. Please try another.",
        "image_memory_exceeded": "Memory exceeded. Please try another smaller file.",
        "image_dimensions_exceeded": "This is larger than the maximum size. Please try another.",
        "default_error": "An error occurred in the upload. Please try again later.",
        "missing_upload_url": "There was a configuration error. Please contact the server administrator.",
        "upload_limit_exceeded": "You may only upload 1 file.",
        "http_error": "HTTP error.",
        "upload_failed": "Upload failed.",
        "big_upload_failed": "Please try uploading this file with the %1$sbrowser uploader%2$s.",
        "big_upload_queued": "%s exceeds the maximum upload size for the multi-file uploader when used in your browser.",
        "io_error": "IO error.",
        "security_error": "Security error.",
        "file_cancelled": "File canceled.",
        "upload_stopped": "Upload stopped.",
        "dismiss": "Dismiss",
        "crunching": "Crunching\u2026",
        "deleted": "moved to the trash.",
        "error_uploading": "\u201c%s\u201d has failed to upload."
    };
    var _wpPluploadSettings = {
        "defaults": {
            "runtimes": "html5,flash,silverlight,html4",
            "file_data_name": "async-upload",
            "url": "\/wp-admin\/async-upload.php",
            "flash_swf_url": "http:\/\/superlist.byaviators.com\/wp-includes\/js\/plupload\/plupload.flash.swf",
            "silverlight_xap_url": "http:\/\/superlist.byaviators.com\/wp-includes\/js\/plupload\/plupload.silverlight.xap",
            "filters": {
                "max_file_size": "5242880b",
                "mime_types": [{
                    "extensions": "jpg,jpeg,jpe,gif,png,bmp,tiff,tif,ico,asf,asx,wmv,wmx,wm,avi,divx,flv,mov,qt,mpeg,mpg,mpe,mp4,m4v,ogv,webm,mkv,3gp,3gpp,3g2,3gp2,txt,asc,c,cc,h,srt,csv,tsv,ics,rtx,css,vtt,dfxp,mp3,m4a,m4b,ra,ram,wav,ogg,oga,mid,midi,wma,wax,mka,rtf,js,pdf,class,tar,zip,gz,gzip,rar,7z,psd,xcf,doc,pot,pps,ppt,wri,xla,xls,xlt,xlw,mdb,mpp,docx,docm,dotx,dotm,xlsx,xlsm,xlsb,xltx,xltm,xlam,pptx,pptm,ppsx,ppsm,potx,potm,ppam,sldx,sldm,onetoc,onetoc2,onetmp,onepkg,oxps,xps,odt,odp,ods,odg,odc,odb,odf,wp,wpd,key,numbers,pages"
                }]
            },
            "multipart_params": {
                "action": "upload-attachment",
                "_wpnonce": "08e0980be6"
            }
        },
        "browser": {
            "mobile": false,
            "supported": true
        },
        "limitExceeded": false
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/plupload/wp-plupload.min.js?ver=4.7.2'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mejsL10n = {
        "language": "en-US",
        "strings": {
            "Close": "Close",
            "Fullscreen": "Fullscreen",
            "Turn off Fullscreen": "Turn off Fullscreen",
            "Go Fullscreen": "Go Fullscreen",
            "Download File": "Download File",
            "Download Video": "Download Video",
            "Play": "Play",
            "Pause": "Pause",
            "Captions\/Subtitles": "Captions\/Subtitles",
            "None": "None",
            "Time Slider": "Time Slider",
            "Skip back %1 seconds": "Skip back %1 seconds",
            "Video Player": "Video Player",
            "Audio Player": "Audio Player",
            "Volume Slider": "Volume Slider",
            "Mute Toggle": "Mute Toggle",
            "Unmute": "Unmute",
            "Mute": "Mute",
            "Use Up\/Down Arrow keys to increase or decrease volume.": "Use Up\/Down Arrow keys to increase or decrease volume.",
            "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds."
        }
    };
    var _wpmejsSettings = {
        "pluginPath": "\/wp-includes\/js\/mediaelement\/"
    };
    /* ]]> */
</script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.22.0'></script>
<script type='text/javascript' src='http://superlist.byaviators.com/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=4.7.2'></script>
<script type='text/javascript'>
    /* <![CDATA[ */

    /* ]]> */
</script>

<script type='text/javascript' src='http://superlist.byaviators.com/wp-content/plugins/inventor-testimonials/assets/js/script.js?ver=4.7.2'></script>


<script type="text/javascript">
    
    var lat = '53.35';
    var long = '-6.27';
    var latitude = document.getElementById('id_latitude');
    var longitude = document.getElementById('id_longitude');
    var address = document.getElementById('id_address');
    var postCode = document.getElementById('id_postCode');
    var city = document.getElementById('id_city');
    var country = document.getElementById('id_country');

    var placeSearch, autocomplete;

    //Autocomplete input map address
    
    autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')));

    autocomplete.addListener('place_changed', fillInAddress);

    
    function fillInAddress() {
        
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        console.log(place);
        // GMap address component types
        var street_number = "";
        var route = "";
        var locality = "";
        var postal_town = "";
        var countryGmap = "";

        if (place.address_components) {
            console.log(place.address_components);
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                
                switch (addressType){
                    case "street_number": street_number = place.address_components[i]["long_name"];
                        break;
                    case "route": route = place.address_components[i]["long_name"];
                        break;
                    case "locality": locality = place.address_components[i]["long_name"];
                        break;
                    case "postal_town": postal_town = place.address_components[i]["long_name"];
                        console.log(place.address_components[i]);
                        console.log(postal_town);
                        break;
                    case "country": countryGmap = place.address_components[i]["long_name"];
                        break;
                }
            }
        
        address.value = [street_number, route].join(' ');
        postCode.value = postal_town;
        console.log(postCode.value);
        city.value = locality;
        country.value = countryGmap;
        latitude.value = place.geometry.location.lat();
        longitude.value = place.geometry.location.lng();
        
        }
    }

      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
</script>
{% endblock javascripts %}

