#map img {
    max-width: none;
}

.background-white {
    background-color: #fff;
}

.background-primary {
    background-color: $color-primary;
    color: #fff;
}

.background-primary-semitransparent {
    background-color: transparentize($color-primary, 0.5);
}

.background-primary-adjusted {
    background-color: change-color($color-primary, $saturation: 24%, $lightness: 45%);
}

.background-primary-tint {
    background-color: tint($color-primary, 20%);
}

.background-primary-shade {
    background-color: shade($color-primary, 20%);
}

.background-secondary {
    background-color: $color-primary;
    color: #fff;
}

.background-transparent-image {
    background-image: url('../img/tmp/bg-transparent.jpg');
    background-size: cover;
    background-position: center center;
}

.background-black-light {
    background-color: $color-black-light;
    color: #fff;
}

.fullwidth {
    margin-left: -750px;
    margin-right: -750px;
    padding-left: 750px;
    padding-right: 750px;
}

.color-style-background-blue-light {
    background-color: $color-style-blue-light !important;
}

.color-style-background-blue {
    background-color: $color-style-blue !important;
}

.color-style-background-blue-dark {
    background-color: $color-style-blue-dark !important;
}

.color-style-background-blue-gray {
    background-color: $color-style-blue-gray !important;
}

.color-style-background-brown {
    background-color: $color-style-brown !important;
}

.color-style-background-green {
    background-color: $color-style-green !important;
}

.color-style-background-green-dark {
    background-color: $color-style-green-dark !important;
}

.color-style-background-lime {
    background-color: $color-style-lime !important;
}

.color-style-background-magenta {
    background-color: $color-style-magenta !important;
}

.color-style-background-mint {
    background-color: $color-style-mint !important;
}

.color-style-background-orange {
    background-color: $color-style-orange !important;
}

.color-style-background-pink {
    background-color: $color-style-pink !important;
}

.color-style-background-purple {
    background-color: $color-style-purple !important;
}

.color-style-background-purple-dark {
    background-color: $color-style-purple-dark !important;
}

.color-style-background-red {
    background-color: $color-style-red !important;
}

.color-style-background-turquoise {
    background-color: $color-style-turquoise !important;
}

.box-shadow {
    @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px 0px);
}

.contact-info {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: -10px;
    margin-top: -10px;

    .fa {
        border: 2px solid rgba(#fff, .3);
        border-radius: 50%;
        color: rgba(#fff, .8);
        font-size: 22px;
        height: 50px;
        line-height: 46px;
        text-align: center;
        width: 50px;
    }

    span {
        font-weight: 300;
        margin: 0px 20px;
    }
}

.page-header {
    border-bottom: 1px solid $color-gray-medium;
    color: lighten($color-black, 10%);
    font-weight: 500;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
    text-align: left;

    h1 {
        color: $color-black;
        font-size: 36px;
        font-weight: 300;
        margin: 0px;
        padding: 0px;
    }

    p {
        color: rgba($color-black, .6);
        font-size: 15px;
        margin: 30px 0px 0px 0px;
        padding: 0px;

        a {
            border-bottom: 1px solid $color-primary;

            &:hover {
                border-color: darken($color-primary, 5%);
            }
        }
    }

    &.left {
        text-align: left;
    }
}

.page-title {
    color: $color-black;
    font-size: 36px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

.taxonomy-description p {
    margin-top: 15px;
}

.background-dark {
    color: #fff;

    .widgettitle, .box-title {
        color: #fff !important;
    }
}

.background-gray {
    @extend .background-black-light;
    @extend .background-dark;

    .box-body {
        .box-title {
            color: #fff;
        }

        .box-content {
            color: rgba(#fff, .8);
        }

        .box-read-more {
            color: lighten($color-primary, 20%);
        }
    }

    .box-icon {
        background-color: transparent;
        border: 2px solid rgba(#fff, .4);
        color: lighten($color-primary, 20%);
    }
}

.badge {
    background-color: #fff;

    .btn.btn-primary & {
        color: $color-primary;
    }

    .btn.btn-secondary & {
        color: $color-primary;
    }
}

.document-title {
    h1 {
        border-bottom: 1px solid $color-gray-medium;
        color: $color-black-light;
        font-size: 30px;
        font-weight: 300;
        margin: 0px 0px 30px 0px;
        padding: 0px 0px 20px 0px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.8;
        max-width: 65%;
        margin: 0px 0px 60px 0px;

        a {
            color: $color-black;
            border-bottom: 1px solid rgba($color-black, .4);
        }
    }
}

.tooltip {
    &.in {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    & > .tooltip-inner {
        opacity: 1;
        word-wrap: none;
        background-color: $color-black-light;
        white-space: nowrap;
    }

    &.top .tooltip-arrow {
        border-top-color: $color-black-light !important;
    }

    &.left .tooltip-arrow {
        border-left-color: $color-black-light !important;
    }

    &.bottom .tooltip-arrow {
        border-bottom-color: $color-black-light !important;
    }

    &.right .tooltip-arrow {
        border-right-color: $color-black-light !important;
    }

}

.alignnone, .aligncenter, .alignright, .alignleft {
    max-width: 100%;
}

img.alignleft {
    margin: 0px 30px 18px 0px;
}

img.alignright {
    margin: 0px 0px 18px 30px;
}

.separator {
    padding: 0 5px;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    padding: 10px 0px 5px 0px;
}

.widget .lang_sel_list_horizontal ul {
    li {
        border: 0px;
        display: inline-block;
        margin: 0px 0px 0px 10px;
        padding: 0px;

        a {
            padding: 0px;
        }
    }
}

.title-border-bottom {
    margin-top: -10px;
    line-height: 1.3;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-medium;
}

.currency-switch {
    display: inline-block;
    margin-left: 0px;

    &.center {
        text-align: center;
    }

    li {
        border-bottom: none !important;
        display: inline-block;
        line-height: 20px;
        margin: 0px 12px 0px 0px;
        padding: 0 !important;

        .currency-symbol {
            color: transparentize(#fff, 0.6);
            font-weight: bold;
            margin-right: 2px;
            padding: 2px 0px !important;
            transition: all linear .12s;
        }

        a, a:focus, a:active {
            //color: $color-gray-darker;
            color: transparentize(#fff, 0.6);
            text-decoration: none;
        }

        &.active, &:hover {
            .currency-symbol {
                color: #fff;
            }

            a, a:focus, a:active {
                color: #fff;
            }
        }
    }
}

.not-found {
    text-align: center;

    p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .number {
        color: $color-primary;
        font-size: 230px;
        margin: 80px 0px;
        text-shadow: 7px 7px 0px $color-gray-medium;
    }

    .number-description {
        color: $color-gray-darker;
        font-size: 34px;
        margin: -30px 0px 0px 0px;
        text-shadow: none;
    }
}

.read-more-link {
    display: block;
    margin-bottom: -15px;
    margin-top: 10px;

    .fa {
        font-size: 10px;
        margin-left: 5px;
    }
}

.registration-note {
    margin: 30px 0px 0px 0px;
}

.registration-icon {
    color: rgba(black, .3);
    float: left;
    font-size: 40px;
    margin: -18px 30px 0px 0px;
    text-align: center;
    width: 80px;
}

h3.registration-title {
    color: $color-primary;
    margin: 0px !important;
    font-size: 20px;
}

.registration-content {
    display: table-cell;
}

.ribbon {
    background-color: $color-green;
    box-shadow: 0px 2px 4px rgba(black, .12);
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    left: 0;    
    padding: 6px 15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    z-index: 100;

    .fa {
        transform: rotate(45deg);
    }

    &.warning {
        background-color: $color-yellow;
    }

    &.draft {
        background-color: $color-red;
    }
}
