.widget_inventor_slider {
  position: relative;

  .inventor-slider-append-top & {
    margin-top: -106px;
  }

  .owl-carousel .owl-stage:after {
    display: none;
  }

  .layout-boxed & {
    .owl-carousel {
      .owl-stage-outer{
        &:first-child {
          position:absolute;
        }
      }
    }
  }

  .owl-controls {
    height: 100%;
    pointer-events: none;

    .owl-dots {
      bottom: 0;
      position: absolute;
      text-align: center;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      width: 100%;
      z-index: 10;
    }
    
    .owl-dot {
      display: inline-block;
      pointer-events: auto;

      &.active span {
        opacity: 1;
      }

      span {
        background: none repeat scroll 0 0 #fff;
        border-radius: 20px;
        display: block;
        height: 12px;
        margin: 5px 7px;
        opacity: 0.5;
        width: 12px;

        .active & {
          opacity: 1;
        }
      }
    }
  }
}

.inventor-slider-list {
  overflow: hidden;

  &.inventor-slider-fullscreen {
    height: 100vh !important;

    .admin-bar & {
      height: calc(100vh - 32px) !important;
    }

    .owl-stage {
      height: 100vh;

      .admin-bar & {
        height: calc(100vh - 32px) !important;
      }
    }
  }

  .owl-controls {
    left: 0px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  .owl-prev, .owl-next {
    background-color: #fff;
    color: $color-black;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    padding: 13px 0px;
    pointer-events: auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: background-color .15s linear;
    width: 70px;
    z-index: 10;

    @media (max-width: $screen-sm-max) {
      display: none !important;
    }

    span {
      color: rgba($color-black, .8);
      display: block;
      font-size: 11px;
      font-weight: 400;
      margin: 0px 0px 10px 0px;
      text-transform: none;
    }

    &:hover {
      background-color: $color-gray;
    }
  }

  .owl-next {
    right: 0px;
    top: 50%;
  }
}

.inventor-slider-item-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .inventor-slider-fullscreen & {
    height: 100vh !important;

    .admin-bar & {
      height: calc(100vh - 32px) !important;
    }
  }
}

.inventor-slider-item {
  position: relative;

  &:after {
    background-color: rgba($color-black, .55);
    bottom: 0px;
    content: '';
    display: block;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
  }
}

.inventor-slider-item-info-wrapper {
  left: 50%;
  padding: 0 100px 0 100px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 100%;
  z-index: 2;

  @media (max-width: $screen-sm-max) {
    padding: 0 20px 0 20px;
  }
}

.inventor-slider-item-info-heading {
  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(black, .45);

    .alignment-left & {
      text-align: left;
    }

    .alignment-right & {
      text-align: right;
    }

    a {
      color: #fff;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 28px;
    }
  }
}

.inventor-slider-item-info-subtitle {
  font-size: 20px;
  text-align: center;

  .alignment-left & {
    text-align: left;
  }

  .alignment-right & {
    text-align: right;
  }

  h2 {
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    text-shadow: 1px 1px 1px rgba(black, .45);

    @media (max-width: $screen-sm-max) {
      font-size: 18px;
    }
  }
}

.inventor-slider-item-info-text {
  font-size: 15px;
  text-align: center;

  .alignment-left & {
    text-align: left;
  }

  .alignment-right & {
    text-align: right;
  }

  p {
    color: #fff;
    font-weight: 200;
  }
}

.inventor-slider-item-info-button {
  margin: 50px 0px 0px 0px;
  text-align: center;

  .alignment-left & {
    text-align: left;
  }

  .alignment-right & {
    text-align: right;
  }

  a {
    @extend .btn, .btn-primary;
    font-size: 15px;
    padding: 14px 44px;
  }
}

.inventor-slider-dot {
  background-color: $color-black-light;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  display: block;
  float: left;
  height: 80px;
  margin: 0px 4px 0px 0px;
  opacity: .7;
  width: 120px;

  &:last-child {
    margin: 0px;
  }

  &.active {
    opacity: 1;
  }
}