{% extends "base.html" %} 
{% load static %} 
 {% block content %}
<!-- TO DO

	-Get the contact form to work

-->

<!-- Content
================================================== -->

<!-- Map Container -->
<div class="contact-map margin-bottom-60">

	<!-- Google Maps -->
	<div id="singleListingMap-container">
		<div id="singleListingMap" data-latitude="53.3498053" data-longitude="-6.260309699999993" data-map-icon="im im-icon-Map2"></div>
	</div>
	<!-- Google Maps / End -->

	<!-- Office -->
	<div class="address-box-container">
		<div class="address-container" data-background-image="images/our-office.jpg">
			<div class="office-address">
				<h3>Our Office</h3>
				<ul>
					<li>Dublin</li>
					<li>Ireland</li>
					<li>info@spotimist.com </li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Office / End -->

</div>
<div class="clearfix"></div>
<!-- Map Container / End -->


<!-- Container / Start -->
<div class="container">

	<div class="row">

		<!-- Contact Details -->
		<div class="col-md-4">

			<h4 class="headline margin-bottom-30">Get in touch!</h4>

			<!-- Contact Details -->
			<div class="sidebar-textbox">
				<p>We appreciate any feeback to make spotimist better! Do no hesitate to send us a message if you have any question or need any kind of support.</p>

				<ul class="contact-details">
					<li><i class="im im-icon-Globe"></i> <strong>Web:</strong> <span><a href="https://spotimist.com">spotimist.com</a></span></li>
					<li><i class="im im-icon-Envelope"></i> <strong>E-Mail:</strong> <span><a href="#">info@spotimist.com</a></span></li>
				</ul>
			</div>

		</div>

		<!-- Contact Form -->
		<div class="col-md-8 margin-bottom-35">

			<section id="contact">
				<h4 class="headline margin-bottom-35">Contact Form</h4>

				<div id="contact-message"></div> 

					{% if messages %}
            
						{% for message in messages %}
							{% ifequal message.tags "support_added success" %}
							
							<div class="notification success closeable">
								<p> {{message}}</p>
								<a class="close"></a>
							</div>
							
							
							{% endifequal %}
							
						{% endfor %}
					{% endif %}
					<form method="post">
						{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div>
								{{form.name}}
							</div>
						</div>

						<div class="col-md-6">
							<div>
								{{form.email}}
								<!-- <input name="email" type="email" id="email" placeholder="Email Address" pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$" required="required" /> -->
							</div>
						</div>
					</div>

					<div>
						<!-- <input name="subject" type="text" id="subject" placeholder="Subject" required="required" /> -->
						{{form.subject}}
					</div>

					<div>
						<!-- <textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message" spellcheck="true" required="required"></textarea> -->
						{{form.message}}
					</div>

					<input type="submit" class="submit button" id="submit" value="Submit Message" />

					</form>
			</section>
		</div>
		<!-- Contact Form / End -->

	</div>

</div>
<!-- Container / End -->





{% endblock content %}  {% block javascripts %} {{ block.super }}
<!-- Maps -->
<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyCYuzvsF3ua5KjDFAVGXpNTYLrx1vvZVM4&#038;?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="{% static 'scripts/infobox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/markerclusterer.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/maps.js' %}"></script>
{% endblock javascripts %}